<div id="techManage-add" lay-title="添加课程管理">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>个人信息 > 修改个人信息</span>
        </div>
    </div>
    <div class="course-add-content">
        <form action="" class="layui-form">
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">个人头像</label>
                    <img src="" width="120" height="120" />
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label require">账号</label>
                    <input type="text" require name="techManageCode" class="common-form-input" />
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label require">教师(学生)号</label>
                    <input type="text" require name="techManageCode" class="common-form-input" />
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">联系电话(手机)</label>
                    <input type="text" require name="techManageCode" class="common-form-input" />
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">电子邮箱</label>
                    <input type="text" require name="techManageCode" class="common-form-input" />
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <input type="text" require name="techManageCode" class="common-form-input" />
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <input type="radio" name="sex" value="nan" title="男" />
                    <input type="radio" name="sex" value="nv" title="女" />
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">旧密码</label>
                    <input type="password" require name="techManageCode" class="common-form-input" value="123456" />
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <input type="password" require name="techManageCode" class="common-form-input" />
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">密码确认</label>
                    <input type="password" require name="techManageCode" class="common-form-input" />
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-form-item layui-col-md12">
                    <label class="layui-form-label"></label>
                    <div>
                        <button class="layui-btn primary-btn" lay-submit lay-filter="submit">
                            提交
                        </button>
                        <button class="layui-btn layui-btn-primary cancel-btn" id="source-add-cancle">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['form', 'layedit'], function () {
        var form = layui.form,
            layedit = layui.layedit,
            $ = layui.jquery

        form.render()
        layedit.build('techManage-intro-edit', {
            tool: [
                'strong', //加粗
                'italic', //斜体
                'underline', //下划线
                'del', //删除线

                '|', //分割线

                'left', //左对齐
                'center', //居中对齐
                'right', //右对齐
                'link', //超链接
                'image' //插入图片
            ]
        })

        //监听提交
        form.on('submit(submit)', function (data) {
            layer.msg(JSON.stringify(data.field))
            return false
        })

        $('#source-add-cancle').on('click', function () {
            location.href = 'index.html#/personalInfo/personalInfo'
        })

        // form.on('submit(back)', function () {
        //     window.history.back(-1);
        // })
    })
</script>

<style>
    #techManage-add {}

    #techManage-add .techManage-add-content {
        padding: 15px 0;
    }

    #techManage-add .techManage-good-at>li {
        float: left;
        margin-right: 20px;
    }

    #techManage-add .pre-techManage {
        float: left;
        width: calc(100 - 230px);
    }

    #techManage-add .pre-techManage .pre-techManage-checkbox {
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-top: 10px;
        padding: 10px;
    }

    #techManage-add .layui-layedit {
        width: 83%;
        float: left;
        background: #fff;
    }

    .ploy-title {
        width: 90%;
        padding: 15px;
        color: #126093;
        background: rgba(244, 245, 250, 1);
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .common-form-input.short {
        width: 100px;
    }

    .short .layui-form-select {
        width: 100px;
    }

    .short {
        display: inline-block;
    }

    .short .layui-input,
    .layui-textarea {
        width: 100px;
    }
</style>