<div id="checked-course-list">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>选课 > 个人选课单</span>
        </div>
    </div>

    <div class="checked-course-content">
        <table id="checked-list-table" lay-filter="checked-list-table"></table>
    </div>

    <script type="text/html" id="checked_course_opt">
        <button class="layui-btn layui-btn-primary" lay-event="getDetail">课程内容</button>
    </script>
</div>

<script>
    layui.use(['table', 'jquery', 'form', 'admin'], function (table) {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            tableFilter = 'checked-list-table',
            table = layui.table,
            admin = layui.admin,
            pageLimit = 20,

            layPageOption = {
                elem: 'checked-list-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: [
                    'first',
                    'prev',
                    'page',
                    'next',
                    'last',
                    'count',
                    'currLimit',
                    'curr',
                    'pageCount'
                ],
                jump: function (obj, first) {
                    //首次不执行
                    if (!first) {
                        getList(obj.curr)
                    }
                }
            },
            tableOption = {
                page: true,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [{
                        title: '序号',
                        field: 'id',
                        width: 80,
                        align: 'center',
                        type: 'numbers'
                    },
                        {
                            title: '开课名称',
                            field: 'courseName',
                            align: 'center'
                        },
                         {
                             title: '开课编码',
                             field: 'courseNumber',
                             align: 'center'
                         },
                         {
                             title: '学分',
                             field: 'creditHour',
                             align: 'center'
                         },
                        {
                            title: '课程类型',
                            field: 'school',
                            align: 'center'
                        },{
                             title: '上课时间',
                             field: 'time',
                             align: 'center'
                         },
                         {
                             title: '上课地点',
                             field: 'classroomName',
                             align: 'center'
                         },
                        {
                            title: '状态',
                            field: 'publish',
                            align: 'center'
                        },
                        {
                            title: '操作',
                            align: 'center',
                            templet: '#checked_course_opt',
                            fixed: 'right',
                            width: 200
                        }
                    ]
                ]
            }

        getList(1)

        table.on('tool(checked-list-table)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event,
                type = '';
            if (layEvent === 'getDetail') {
                //应该是跳转页面
//                formData = data;
                console.log(data)
                getDetail(data.id)
            }

            layer.open(layerOption);
            form.render();
        })

        function getList(page) {
            var data = {
                page: page,
                rows: pageLimit,
                userId: layui.data('userInfo').userInfo.id
            }
            admin.post({
                url: '/selectedCourse/getList',
                data: JSON.stringify(data),
                success: function (res) {
                    tableOption.data = (res.data && res.data.items) || [];
                    layPageOption.count = (res.data && res.data.total) || 0;
                    table.render(tableOption)
                    // laypage.render(layPageOption)
                },
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        };

        function getDetail(id) {
//            admin.get({
//                url: '/introduction/queryById?id=' + id,
//                success: function (res) {
//
//                },
//                error: function (err) {
//                    layer.msg(err && err.msg || '数据请求失败');
//                }
//            })
            window.location.href = 'index.html#/checkCourse/preintro/id='+id
        }
    })
</script>

<style>
    #checked-course-list .checked-course-content {
        padding: 20px;
    }
</style>