<div id="course-details" lay-title="课程管理详情">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>课程管理 > 查看课程详细信息</span>
        </div>
    </div>
    <div class="course-add-content">
        <form action="" class="layui-form">
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">课程名称</label>
                    <span id="curriculumName">铁路信号</span>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">课程代码</label>
                    <span id="curriculumCode">0101</span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">学时</label>
                    <span id="period">8周</span>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">学分</label>
                    <span id="creditHour">24</span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">满分</label>
                    <span id="fullMark">100</span>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">课程负责人</label>
                    <span id="userName">王小虎</span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">适合专业</label>
                    <span id="profession">所有专业</span>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">实验室名称</label>
                    <span id="labName"></span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">选修课程</label>
                    <span id="prerequisiteCourse">铁路信号</span>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">适合开课年级</label>
                    <span id="gradeId">所有年级</span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">适合开课学期</label>
                    <span id="semester">所有学期</span>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">课程介绍</label>
                    <span id="presentation"></span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item layui-col-md12">
                    <label class="layui-form-label"></label>
                    <div>
                        <button class="layui-btn layui-btn-primary cancel-btn " id="source-add-cancle">
                            返回
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['form', 'layedit'], function () {
        var form = layui.form,
            $ = layui.jquery,
            admin = layui.admin,
            router = layui.router(),
            id = router.search.id;

        getDetails()

        function getDetails() {
            admin.get({
                url: '/vsMpCurriculum/get?id=' + id,
                success: function (res) {
                    var data = res.data
                    $('#curriculumName').html(data.curriculumName)
                    $('#curriculumCode').html(data.curriculumCode)
                    $('#period').html(data.period)
                    $('#creditHour').html(data.creditHour)
                    $('#fullMark').html(data.fullMark)
                    $('#userName').html(data.userName)
                    $('#profession').html(data.profession==0?'所有专业':data.profession)
                    $('#labName').html(data.labName)
                    $('#prerequisiteCourse').html(data.prerequisiteCourse)
                    $('#gradeId').html(data.gradeId)
                    $('#semester').html(data.semester)
                    $('#presentation').html(data.presentation)
                    // $('#').html(data)
                    // $('#').html(data)
                }
            })
        }

        form.render()

        $('#source-add-cancle').on('click', function () {
            window.history.back(-1)
        })
    })
</script>

<style>
    #course-add {}

    #course-details .course-add-content {
        padding: 15px 0;
    }

    #course-details .course-add-content .layui-form-label {
        font-size: 16px;
        font-weight: bold;
        width: 120px;
        display: inline-block;
    }

    #course-details .layui-form-item {
        clear: none;
    }

    #course-details .layui-form-item span {
        display: inline-block;
        padding: 9px 15px;
        font-size: 16px;
    }

    #course-details .pre-course {
        float: left;
        width: calc(100 - 230px);
    }

    #course-details .pre-course .pre-course-checkbox {
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-top: 10px;
        padding: 10px;
    }

    #course-details .layui-layedit {
        width: 83%;
        float: left;
        background: #fff;
    }
</style>