<div class="layui-fluid" id="course" lay-title="课程管理">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>课程管理 > 课程库</span>
        </div>
        <div class="course-title-search">
            <span class="search-project">课程名称</span>
            <input type="text" />
            <select name="" id="">
                <option value="">所有年级</option>
            </select>
            <select name="" id="">
                <option value="">请选择学期</option>
            </select>
            <button class="search-confirm">
                <img src="src/images/search.png" />
            </button>
        </div>
    </div>
    <div class="course-add">
        <button class="add-btn" id="add-cource">添加</button>
    </div>
    <table id="course-list-table" lay-filter="course-list-table"></table>
    <script type="text/html" id="course-opt">
        <button class="course-set-btn" lay-event="edit">修改</button>
            <button class="course-set-btn" lay-event="delete">删除</button>
            <button class="course-set-btn" lay-event="check">查看</button>
    </script>
    <div class="app-table-page" id="course-table-page"></div>
</div>

<script>
    layui.use(['table', 'jquery'], function(table, $) {
        var tableFilter = 'course-list-table',
            laypage = layui.laypage,
            $ = layui.jquery,
            table = layui.table,
            admin = layui.admin,
            pageLimit = 20,
            layPageOption = {
                elem: 'course-table-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: [
                    'first',
                    'prev',
                    'page',
                    'next',
                    'last',
                    'count',
                    'currLimit',
                    'curr',
                    'pageCount'
                ],
                jump: function(obj, first) {
                    //首次不执行
                    if (!first) {
                        getList(obj.curr)
                    }
                }
            },
            tableOption = {
                page: false,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [
                        {
                            title: '序号',
                            field: 'id',
                            width: 80,
                            align: 'center',
                            type: 'numbers'
                        },
                        {
                            title: '课程名称',
                            field: 'curriculumName',
                            align: 'center'
                        },
                        {
                            title: '课程代码',
                            field: 'curriculumCode',
                            align: 'center'
                        },
                        {
                            title: '负责人',
                            field: 'userName',
                            align: 'center',
                            field: 'userName',
                            align: 'center'
                        },
                        {
                            title: '学时',
                            align: 'center',
                            field: 'period',
                            width: 80
                        },
                        {
                            title: '学分',
                            align: 'center',
                            field: 'creditHour',
                            width: 80
                        },
                        {
                            field: 'gradeId',
                            title: '年级',
                            align: 'center'
                        },
                        {
                            field: 'semester',
                            title: '学期',
                            align: 'center'
                        },
                        {
                            field: 'profession',
                            title: '适合所有专业',
                            align: 'center',
                            width: 140,
                            templet: function(d) {
                                return d ? '是' : '否'
                            }
                        },
                        {
                            title: '操作',
                            align: 'center',
                            templet: '#course-opt',
                            width: 180
                        }
                    ]
                ]
            }

        getList(1)

        table.on('tool(course-list-table)', function(obj) {
            var data = obj.data //获得当前行数据
            var layEvent = obj.event

            if (layEvent === 'delete') {
                layer.open({
                    type: 1,
                    offset: 'auto',
                    title: '系统提示',
                    content: '该信息为重要信息，是否删除？',
                    area: ['300px', '200px'],
                    shade: 0.4,
                    skin: 'system-modal',
                    shadeClose: true,
                    btn: ['确定', '取消'],
                    yes: function(index, layero) {
                        layer.close(index)
                        deleteData(data.id)
                    },
                    cancel: function(index) {
                        layer.close(index)
                    }
                })
                return
            }
            if (layEvent === 'edit') {
                location.href = 'index.html#/course/update/id=' + data.id
            } else if (layEvent === 'check') {
                location.href = 'index.html#/course/details/id=' + data.id
            }
        })

        function getList(page) {
            var data = {
                page: page,
                rows: pageLimit,
                key: '||'
            }
            admin.post({
                url: '/vsMpCurriculum/getList',
                data: JSON.stringify(data),
                success: function(res) {
                    tableOption.data = (res.data && res.data.items) || []
                    layPageOption.count = (res.data && res.data.total) || 0
                    table.render(tableOption)
                    laypage.render(layPageOption)
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function deleteData(id) {
            admin.delete({
                url: '/vsMpCurriculum/delete?id=' + id,
                success: function(res) {
                    layer.msg('删除成功！')
                    getList(1)
                }
            })
        }

        $('#add-cource').on('click', function() {
            location.href = 'index.html#/course/update'
        })
    })
</script>

<style>
    .layui-table {
        width: 100%;
    }

    .course-title .course-title-location {
        float: left;
    }

    .course-title .course-title-search {
        float: right;
        text-align: right;
    }

    .course-title .course-title-search select,
    .course-title .course-title-search input {
        width: 118px;
        height: 30px;
        padding: 0 4px;
        border-radius: 0;
    }

    .course-title .course-title-search .search-project {
        line-height: 30px;
    }

    .course-title .course-title-search .search-confirm {
        width: 51px;
        height: 30px;
        background: #ff6600;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .course-add {
        text-align: right;
        padding: 20px 0 10px;
    }

    .course-add .add-btn {
        width: 70px;
        height: 30px;
        background: #ff6600;
        color: #fff;
        font-size: 16px;
    }

    #course-opt {
        width: 200px;
    }

    .course-set-btn {
        padding: 4px 10px;
        border: 1px solid #ccc;
        cursor: pointer;
    }
</style>
