<div id="course_update" lay-title="课程管理">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>课程管理 > 修改课程</span>
        </div>
    </div>
    <div class="course-add-content">
        <form action="" class="layui-form">
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">课程名称</label>
                    <input
                        class="common-form-input"
                        type="text"
                        name="curriculumName"
                        id="curriculumName"
                        placeholder="请输入课程名称"
                    />
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">课程代码</label>
                    <input
                        type="text"
                        require
                        name="curriculumCode"
                        id="curriculumCode"
                        class="common-form-input"
                    />
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">学时</label>
                    <input
                        class="common-form-input"
                        type="text"
                        name="period"
                        id="period"
                        placeholder="请输入学时"
                    />
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">学分</label>
                    <input
                        type="text"
                        name="creditHour"
                        id="creditHour"
                        class="common-form-input"
                    />
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">满分</label>
                    <input
                        class="common-form-input"
                        type="text"
                        name="fullMark"
                        id="fullMark"
                        placeholder="请输入分数"
                    />
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">课程负责人</label>
                    <input
                        type="text"
                        name="userName"
                        class="common-form-input"
                        id="userName"
                        disabled
                    />
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">适合专业</label>
                    <div class="layui-input-block">
                        <input
                            type="checkbox"
                            name="profession"
                            lay-skin="primary"
                            lay-filter="checkedAll"
                            id="allProfession"
                            value="0"
                            title="所有专业"
                        />
                    </div>
                    <ul
                        class="course-good-at layui-col-md8"
                        id="course_gooda_at"
                    ></ul>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">实验室名称</label>
                    <select name="labId" id="labId" lay-verify="">
                        <option value="">请选择实验室</option>
                    </select>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">选修课程</label>
                    <div class="pre-course layui-col-md9">
                        <!-- <div>
                            <span>搜索</span>
                            <input class="common-form-input" type="text" name="preSourceSearch" placeholder="请输入名称">
                        </div> -->
                        <div
                            class="pre-course-checkbox"
                            name="noNeed_course"
                            id="noNeed_course"
                        ></div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">适合开课年级</label>
                    <div
                        class="layui-col-md9"
                        id="gradeId"
                        name="gradeId"
                    ></div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">适合开课学期</label>
                    <div class="layui-col-md9">
                        <input
                            type="radio"
                            name="semester"
                            value="1"
                            title="第一学期"
                        />
                        <input
                            type="radio"
                            name="semester"
                            value="2"
                            title="第二学期"
                        />
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">课程介绍</label>
                    <div
                        class="layui-col-md9"
                        id="course-intro-edit"
                        name="presentation"
                    ></div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item layui-col-md12">
                    <label class="layui-form-label"></label>
                    <div>
                        <div
                            class="layui-btn primary-btn"
                            id="experiment_submit"
                        >
                            提交
                        </div>
                        <div
                            class="layui-btn layui-btn-primary cancel-btn"
                            id="source-add-cancle"
                        >
                            取消
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layedit'], function() {
        var form = layui.form,
            layedit = layui.layedit,
            $ = layui.jquery,
            admin = layui.admin,
            route = layui.router(),
            id = route.search.id,
            courseInfo = {}
        form.render()
        $('#userName').val(layui.sessionData('userInfo').userInfo.userName)
        var index = layedit.build('course-intro-edit', {
            tool: [
                'strong', //加粗
                'italic', //斜体
                'underline', //下划线
                'del', //删除线
                '|', //分割线
                'left', //左对齐
                'center', //居中对齐
                'right', //右对齐
                'link', //超链接
                'image' //插入图片
            ]
        })

        $('#experiment_submit').click(function(data) {
            var data = {
                curriculumName: $('#curriculumName').val(),
                curriculumCode: $('#curriculumCode').val(),
                period: $('#period').val(),
                creditHour: $('#creditHour').val(),
                fullMark: $('#fullMark').val(),
                userName: $('#userName').val(),
                profession: $('#allProfession').val(),
                labId: $('#labId').val(),
                gradeId: $('input[name=gradeId]:checked').val(),
                presentation: $('#course-intro-edit').val(),
                semester: $('input[name=semester]:checked').val()
            }
            var noNeedCpurseList = []
            $('#noNeed_course li').each(function(index) {
                var item = $(this).find('input[type=checkbox]')

                if ($(this).find('.layui-form-checked').length > 0) {
                    noNeedCpurseList.push(item.val())
                }
            })
            data.prerequisiteCourse = noNeedCpurseList.join(',')
            if (!data.curriculumName) {
                layer.msg('课程名称不能为空！')
                return
            }
            if (!data.curriculumCode) {
                layer.msg('课程代码不能为空！')
                return
            }
            if (!data.semester) {
                layer.msg('请选择开课学期！')
                return
            }
            id ? updateData(data) : addData(data)
            return false
        })
        $('#source-add-cancle').on('click', function() {
            admin.navigate('/course/index')
        })
        getAllCourses(function() {
            getExperimentRoomList(function() {
                getAllProfess(function() {
                    if (id) {
                        getDetails()
                    }
                })
            })
        })
        form.on('checkbox(checkedAll)', function(data) {
            var a = data.elem.checked
            if (a == true) {
                $('.checked-forcess').prop('checked', true)
                form.render('checkbox')
            } else {
                $('.checked-forcess').prop('checked', false)
                form.render('checkbox')
            }
        })
        getGradeList()

        function addData(data) {
            var professionList = []
            data.creditHour = Number(data.creditHour)
            data.fullMark = Number(data.fullMark)
            data.userId = layui.sessionData('userInfo').userInfo.id
            data.period = Number(data.period)
            data.presentation = layedit.getContent(index)
            data.semester = Number(data.semester)

            var flag = false
            if (
                $('#allProfession')
                    .parent()
                    .find('.layui-form-checked').length > 0
            ) {
                flag = true
            } else {
                $('#course_gooda_at li').each(function(index) {
                    var item = $(this).find('input[type=checkbox]')
                    if ($(this).find('.layui-form-checked').length > 0) {
                        professionList.push(item.val())
                    }
                })
            }

            data.profession = flag ? '0' : professionList.join(',')

            admin.post({
                url: '/vsMpCurriculum/add',
                data: JSON.stringify(data),
                success: function(res) {
                    if (res.code == 200) {
                        layer.msg('添加成功')
                    } else {
                        layer.msg(res.msg || '添加失败')
                    }
                   admin.navigate('/course/index')
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function updateData(data) {
            var formData = data,
                professionList = []
            formData.id = id
            formData.creditHour = Number(data.creditHour)
            formData.fullMark = Number(data.fullMark)
            formData.userId = layui.sessionData('userInfo').userInfo.id
            formData.period = Number(data.period)
            formData.curriculumName = data.curriculumName
            formData.presentation = layedit.getContent(index)
            formData.semester = Number(data.semester)
            var flag = false
            if (
                $('#allProfession')
                    .parent()
                    .find('.layui-form-checked').length > 0
            ) {
                flag = true
            } else {
                $('#course_gooda_at li').each(function(index) {
                    var item = $(this).find('input[type=checkbox]')
                    if ($(this).find('.layui-form-checked').length > 0) {
                        professionList.push(item.val())
                    }
                })
            }

            formData.profession = flag ? '0' : professionList.join(',')
            formData.labId = Number(data.labId)
            formData.gradeId = $('input[name=gradeId]:checked').val()
            admin.put({
                url: '/vsMpCurriculum/update',
                data: JSON.stringify(formData),
                success: function(res) {
                    layer.msg('修改成功')
                    admin.navigate('/course/index')                    
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getAllProfess(callback) {
            admin.post({
                url: '/vsMpProfession/getList',
                data: JSON.stringify({
                    page: 1,
                    rows: 100
                }),
                success: function(res) {
                    $('#course_gooda_at').html('')
                    res.data.items.forEach(function(item) {
                        $('#course_gooda_at').append(
                            '<li><input type="checkbox" class="checked-forcess" lay-skin="primary" name="profession" value="' +
                                item.id +
                                '" title="' +
                                item.professionName +
                                '"></li>'
                        )
                        form.render()
                    })
                    callback && typeof callback === 'function' && callback()
                }
            })
        }

        function getExperimentRoomList(callback) {
            admin.post({
                url: '/mpLab/vsMpLabListInfo',
                data: JSON.stringify({
                    page: 1,
                    rows: 100
                }),
                success: function(res) {
                    res.data.items &&
                        res.data.items.forEach(function(item) {
                            $('#labId').append(
                                '<option value="' +
                                    item.id +
                                    '">' +
                                    item.labName +
                                    '</option>'
                            )
                        })
                    form.render()
                    callback()
                }
            })
        }

        function getGradeList() {
            var data = {
                page: 1,
                rows: 10000
            }
            admin.post({
                url: '/grade/queryGradeList',
                data: JSON.stringify(data),
                success: function(res) {
                    $('#gradeId').html('')
                    res.data &&
                        res.data.items &&
                        res.data.items.forEach(function(item) {
                            $('#gradeId').append(
                                '<input\n' +
                                    'type="radio"\n' +
                                    'name="gradeId"\n' +
                                    'value="' +
                                    item.id +
                                    '"\n' +
                                    'title="' +
                                    item.gradeName +
                                    '"\n' +
                                    '/>'
                            )
                        })
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getAllCourses(callback) {
            admin.post({
                url: '/vsMpCurriculum/getList',
                data: JSON.stringify({
                    page: 1,
                    rows: 100,
                    key: '||'
                }),
                success: function(res) {
                    res.data &&
                        res.data.items &&
                        res.data.items.forEach(function(item) {
                            $('#noNeed_course').append(
                                '<li style="float: left;margin-right: 20px;"><input type="checkbox" lay-skin="primary" name="prerequisiteCourse" value="' +
                                    item.id +
                                    '" title="' +
                                    item.curriculumName +
                                    '"></li>'
                            )
                            form.render()
                        })
                    callback(res)
                }
            })
        }

        function getDetails() {
            admin.get({
                url: '/vsMpCurriculum/get?id=' + id,
                success: function(res) {
                    var data = res.data
                    courseInfo = data
                    $('#curriculumName').val(data.curriculumName)
                    $('#curriculumCode').val(data.curriculumCode)
                    $('#period').val(data.period)
                    $('#creditHour').val(data.creditHour)
                    $('#fullMark').val(data.fullMark)
                    $('#userId').val(data.userId)
                    $('#labId').val(data.labId)
                    $('input[name=gradeId][value=' + data.gradeId + ']').attr(
                        'checked',
                        'checked'
                    )
                    $('input[name=semester][value=' + data.semester + ']').attr(
                        'checked',
                        'checked'
                    )
                    var professionList = !res.data.profession
                        ? []
                        : res.data.profession === '0'
                        ? ['0']
                        : res.data.profession.split(',')
                    $('input[name=profession]').each(function(index) {
                        if (professionList.indexOf($(this).val()) > -1) {
                            $(this).attr('checked', true)
                        }
                    })
                    var prerequisiteCourse = data.prerequisiteCourse.split(',')
                    $('input[name=prerequisiteCourse]').each(function(index) {
                        if (prerequisiteCourse.indexOf($(this).val()) > -1) {
                            $(this).attr('checked', true)
                        }
                    })
                    layedit.setContent(index, data.presentation, false)
                    form.render()
                }
            })
        }
    })
</script>
<style>
    #course_update {
    }

    #course_update .course-add-content {
        padding: 15px 0;
    }

    #course_update .course-good-at > li {
        float: left;
        margin-right: 20px;
    }

    #course_update .pre-course {
        float: left;
        width: calc(100 - 230px);
    }

    #course_update .pre-course .pre-course-checkbox {
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-top: 10px;
        padding: 10px;
        clear: both;
        overflow: hidden;
    }

    #course_update .layui-layedit {
        width: 83%;
        float: left;
        background: #fff;
    }
</style>
