<div id="course_update" lay-title="课程管理">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>课程管理 > 增加课程</span>
        </div>
    </div>
    <div class="course-add-content">
        <form action="" class="layui-form">
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">课程名称</label>
                    <input class="common-form-input" type="text" name="curriculumName" id="curriculumName" placeholder="请输入课程名称">
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">课程代码</label>
                    <input type="text" require name="curriculumCode" id="curriculumCode" class="common-form-input">
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">学时</label>
                    <input class="common-form-input" type="text" name="period" id="period" placeholder="请输入课程名称">
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">学分</label>
                    <input type="text" name="creditHour" id="creditHour" class="common-form-input">
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">满分</label>
                    <input class="common-form-input" type="text" name="fullMark" id="fullMark" placeholder="请输入课程名称">
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">课程负责人</label>
                    <input type="text" name="userName" class="common-form-input" id="userName" disabled>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">适合专业</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="profession" lay-skin="primary" lay-filter="checkedAll" value=""
                            title="所有专业">
                    </div>
                    <ul class="course-good-at" id="course_gooda_at">
                    </ul>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">实验室名称</label>
                    <select name="labId" id="labName" lay-verify="">
                        <option value="">请选择实验室</option>
                    </select>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">选修课程</label>
                    <div class="pre-course layui-col-md10">
                        <!-- <div>
                            <span>搜索</span>
                            <input class="common-form-input" type="text" name="preSourceSearch" placeholder="请输入名称">
                        </div> -->
                        <div class="pre-course-checkbox" id="noNeed_course">

                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">适合开课年级</label>
                    <div class="layui-col-md10">
                        <input type="radio" name="gradeId" value="" title="所有年级">
                        <input type="radio" name="gradeId" value="1" title="一年级">
                        <input type="radio" name="gradeId" value="2" title="二年级">
                        <input type="radio" name="gradeId" value="3" title="三年级">
                        <input type="radio" name="gradeId" value="4" title="四年级">
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">适合开课学期</label>
                    <div class="layui-col-md10">
                        <input type="radio" name="semester" value="1" title="第一学期">
                        <input type="radio" name="semester" value="2" title="第二学期">
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">课程介绍</label>
                    <div class="layui-col-md10" id="course-intro-edit" name="presentation"></div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item layui-col-md12">
                    <label class="layui-form-label"></label>
                    <div>
                        <button class="layui-btn primary-btn" lay-submit lay-filter="submit">提交</button>
                        <button class="layui-btn layui-btn-primary cancel-btn" id="source-add-cancle">取消</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['form', 'layedit'], function () {
        var form = layui.form,
            layedit = layui.layedit,
            $ = layui.jquery,
            admin = layui.admin,
            route = layui.router(),
            id = route.search.id,
            courseInfo = {};


        form.render();
        $('#userName').val(layui.data('userInfo').userInfo.userName);

        var inndex = layedit.build('course-intro-edit', {
            tool: [
                'strong' //加粗
                , 'italic' //斜体
                , 'underline' //下划线
                , 'del' //删除线
                , '|' //分割线
                , 'left' //左对齐
                , 'center' //居中对齐
                , 'right' //右对齐
                , 'link' //超链接
                , 'image' //插入图片
            ]
        })

        //监听提交
        form.on('submit(submit)', function (data) {
            console.log(888, data.field)
            id ? updateData(data.field) : addData(data.field)
            return false;
        });


        $('#source-add-cancle').on('click', function () {
            window.history.back(-2);
        })


        getAllCourses(function () {
            getExperimentRoomList(function () {
                getAllProfess(function () {
                    if (id) {
                        getDetails()
                    }
                });
            });
        });

        form.on('checkbox(checkedAll)', function (data) {
            var a = data.elem.checked;
            if (a == true) {
                $(".checked-forcess").prop("checked", true);
                form.render('checkbox');
            } else {
                $(".checked-forcess").prop("checked", false);
                form.render('checkbox');
            }

        });

        function addData(data) {
            data.creditHour = Number(data.creditHour)
            data.fullMark = Number(data.fullMark)
            data.userId = layui.data('userInfo').userInfo.id
            data.period = Number(data.period)
            data.presentation = layedit.getContent(inndex)
            data.semester = Number(data.semester)
            data.profession = Number(data.profession)
            // data.labId = Number()

            admin.post({
                url: '/vsMpCurriculum/add',
                data: JSON.stringify(data),
                success: function (res) {
                    layer.msg('添加成功');
                    window.history.back(-1);
                },
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        }

        function updateData(data) {
            var formData = courseInfo
            formData.creditHour = Number(data.creditHour)
            formData.fullMark = Number(data.fullMark)
            formData.userId = layui.data('userInfo').userInfo.id
            formData.period = Number(data.period)
            formData.presentation = layedit.getContent(inndex)
            formData.semester = Number(data.semester)
            formData.profession = Number(data.profession)
            formData.labId = Number()

            admin.put({
                url: '/vsMpCurriculum/update',
                data: JSON.stringify(formData),
                success: function (res) {
                    layer.msg('添加成功');
                    window.history.back(-1);
                },
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        }

        function getAllProfess(callback) {
            admin.post({
                url: '/vsMpProfession/getList',
                data: JSON.stringify({
                    page: 1,
                    rows: 100
                }),
                success: function (res) {
                    $("#course_gooda_at").html('')
                    res.data.items.forEach(item => {
                        $("#course_gooda_at").append(
                            '<li><input type="checkbox" class="checked-forcess" lay-skin="primary" name="profession" value="' +
                            item.id + '" title="' +
                            item.professionName +
                            '"></li>'
                        );
                        form.render()
                    })
                    callback()
                }
            })
        }

        function getExperimentRoomList(callback) {
            admin.post({
                url: '/mpLab/vsMpLabListInfo',
                data: JSON.stringify({
                    page: 1,
                    rows: 100
                }),
                success: function (res) {
                    res.data.items && res.data.items.forEach(item => {
                        $('#labName').append('<option value="' + item.id + '">' + item
                            .labName + '</option>')
                    })
                    form.render()
                    callback()
                }
            })
        }

        function getAllCourses(callback) {
            admin.post({
                url: '/vsMpCurriculum/getList',
                data: JSON.stringify({
                    page: 1,
                    rows: 100,
                    key: '||'
                }),
                success: function (res) {
                    res.data && res.data.items && res.data.items.forEach(item => {
                        $('#noNeed_course').append(
                            '<input type="checkbox" lay-skin="primary" name="prerequisiteCourse" value="' +
                            item.id + '" title="' +
                            item.curriculumName +
                            '">')
                        form.render()
                    })
                    callback(res)
                }
            })
        }


        function getDetails() {
            admin.get({
                url: '/vsMpCurriculum/get?id=' + id,
                success: function (res) {
                    var data = res.data
                    courseInfo = data;
                    $('#curriculumName').val(data.curriculumName)
                    $('#curriculumCode').val(data.curriculumCode)
                    $('#period').val(data.period)
                    $('#creditHour').val(data.creditHour)
                    $('#fullMark').val(data.fullMark)
                    $('#userId').val(data.userId)
                    $('#labName').val(data.labId)
                    $('#prerequisiteCourse').val(data.prerequisiteCourse)
                    $('#gradeId').val(data.gradeId)
                    $('#semester').val(data.semester)
                    $('input[name=profession][value=' + data.profession + ']').attr('checked',
                        'checked')

                    form.render()
                    // $('#').html(data)
                    // $('#').html(data)
                }
            })
        }


    })
</script>

<style>
    #course_update {}

    #course_update .course-add-content {
        padding: 15px 0;
    }

    #course_update .course-good-at>li {
        float: left;
        margin-right: 20px;
    }

    #course_update .pre-course {
        float: left;
        width: calc(100 - 230px);
    }

    #course_update .pre-course .pre-course-checkbox {
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-top: 10px;
        padding: 10px;
    }

    #course_update .layui-layedit {
        width: 83%;
        float: left;
        background: #fff;
    }
</style>