<div id="source-manage-details">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>资源管理 > 我的资源库 > 查看资源</span>
        </div>
    </div>
    <div class="source-details-inner">
        <div class="source-display"
             id="fileUrl">
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">资源名称</label>
                <span id="resourceName"></span>
            </div>
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">所属课程</label>
                <span id="courseName"></span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">负责教师</label>
                <span id="teacherName"></span>
            </div>
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">使用权限</label>
                <span id="accessAuthority"></span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">资源描述</label>
                <div class="layui-col-md9">
                    <textarea name="desc"
                              class="layui-textarea"
                              id="resourceDes"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">点击量</label>
                <span id="clickNum"></span>
            </div>
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">下载量</label>
                <span id="downloadNum"></span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">资源评分</label>
                <span>没有字段</span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label "></label>
                <div>
                    <!--<button class="layui-btn primary-btn"
                            lay-submit
                            id="collect"> 收藏 </button>
                    <button class="layui-btn primary-btn"
                            lay-submit
                            id="canclecollect"> 取消收藏 </button>-->
                    <button class="layui-btn primary-btn"
                            lay-submit
                            id="download"> 下载 </button>
                    <button class="layui-btn layui-btn-primary cancel-btn"
                            id="sourmanage_add_cancle"> 返回 </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'admin'], function () {
        var $ = layui.jquery,
            admin = layui.admin,
            conf = layui.conf,
            route = layui.router(),
            id = route.search.id,
            details = {}
        getDetails()
        $('#collect').on('click', function () {
            collect()
        })
        $('#canclecollect').on('click', function () {
            cancleCollect()
        })
        $('#download').on('click', function () {
            download()
        })
        $('#sourmanage_add_cancle').on('click', function () {
            window.history.go(-1)
        })

        function getDetails() {
            admin.get({
                url: '/dataBank/queryOne?id=' + id,
                success: function (res) {
                    var data = res.data
                    details = data
                    $('#resourceName').html(data.resourceName)
                    $('#teacherName').html(data.teacherName)
                    $('#accessAuthority').html(data.accessAuthority)
                    $('#clickNum').html(data.clickNum)
                    $('#downloadNum').html(data.downloadNum)
                    $('#courseName').html(data.courseName)
                    $('#courseName').html(data.courseName)
                    $('#resourceDes').val(data.resourceDes)

                    fileUrl = 'http://39.104.97.6:8001/' + data.fileUrl
                    if (data.type == 1) {
                        debugger
                        // 文档
                        // window.open(fileUrl)
                        $('#fileUrl').hide();
                    } else if (data.type == 2) {
                        // 图片
                        $('#fileUrl').html('<img src="' + fileUrl +
                            '" style="width: 100%; height: 100%;">')
                    } else if (data.type == 3) {
                        // 视频
                        $('#fileUrl').html('<video src="' + fileUrl + '" controls="controls" style="width: 100%; height: 100%;">')
                    } else if (data.type == 4) {
                        // flash
                        // $('#fileUrl').html('<video width="320" height="240" controls="controls">' +
                        //     '<object data="'+fileUrl+'" width="320" height="240">'+
                        //     '<embed src="'+fileUrl+'" style="width: 100%; height: 100%;" />'+
                        //     '</object></video>')
                        $('#fileUrl').html('<embed src="'+fileUrl+'" type="application/x-shockwave-flash" style="width: 100%; height: 100%;" quality="high" />')
                    } else if (data.type == 5) {
                        // exe
                        $('#fileUrl').hide();
                    } else if (data.type == 6) {
                        // U3D
                        // @TODO
                    } else if (data.type == 7) {
                        // scorm课件
                        // @TODO
                    }
                }
            })
        }

        function collect() {
            var data = {
                id: Number(id)
            }
            admin.put({
                url: '/resCollect/add?id=' + id,
                // data: JSON.stringify(data),
                success: function (res) {
                    layer.msg('收藏成功')
                    getDetails()
                }
            })
        }

        function cancleCollect() {
            admin.delete({
                url: '/resCollect/del?id=' + id,
                success: function (res) {
                    layer.msg('取消收藏成功')
                    getDetails()
                }
            })
        }

        function download() {
            window.open(conf.requestUrl + '/dataBank/downloadFile?filePath=' + details.fileUrl)
            // admin.get({
            //     url: '/dataBank/downloadFile?filePath=' + details.fileUrl,
            //     success: function (res) {
            //         layer.msg('下载成功')
            //     },
            //     error: function (err) {
            //         layer.msg((err && err.msg) || '下载失败')
            //     }
            // })
        }
    })
</script>
<style>
    #source-manage-details {}

    .source-details-inner {
        padding: 20px 0;
    }

    .source-display {
        width: 100%;
        height: 415px;
        background: rgba(0, 0, 0, 0.2);
    }

    #source-manage-details .layui-form-item span {
        display: inline-block;
        padding: 9px 0px;
        font-size: 16px;
    }

    .layui-textarea {
        width: 100%;
    }
</style>