<div id="source-manage-mylist-add">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>资源管理 > 我的资源库 > 添加资源</span>
        </div>
    </div>
    <form action="" class="layui-form mylist-add-form">
        <div class="layui-row ">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label require">资源名称</label>
                <input
                    class="common-form-input"
                    type="text"
                    name="name"
                    id="name"
                    placeholder="请输入资源名称"
                />
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label require">资源类型</label>
                <select name="type" id="type" lay-filter="typeChange">
                    <option value="">选择资源类型</option>
                    <option value="1">文档</option>
                    <option value="2">图片</option>
                    <option value="3">视频</option>
                    <option value="4">flash</option>
                    <option value="5">exe</option>
                    <option value="6">U3D</option>
                    <option value="7">scorm课件</option>
                </select>
            </div>
        </div>
        <div class="layui-row ">
            <div
                class="layui-col-md12 layui-form-item show-other-upload"
                id="single_upload"
            >
                <label class="layui-form-label">选择文件</label>
                <span style="display: inline-block;" id="upload-file-wrapper">
                    <button
                        type="button"
                        class="layui-btn"
                        id="upload-file"
                        name="file"
                    >
                        <i class="layui-icon">&#xe67c;</i>选择文件
                    </button>
                </span>
                <span id="file_path" style=" display: none;"></span>
                <span style="margin-left: 50px; color: red;"
                      id="typeTip"></span>
                <!-- <input
                    type="text"
                    id="upload_wrapper"
                    class="layui-upload-file"
                /> -->
            </div>
            <div
                class="layui-col-md12 layui-form-item show-scorm-upload"
                id="scorm_upload"
            >
                <label class="layui-form-label">选择文件</label>
                <div class="layui-col-md10">
                    <div class="layui-tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this" data-id="1">自定义添加</li>
                            <li data-id="2">批量添加</li>
                            <li>
                                <span
                                    style="width: 100px; margin-left: 10px; color: red;"
                                    >说明：1.目录节点无资源，无需添加；2.时长最大不超过10分钟；3.请上传zip格式的压缩包, 且文件大小不得超过1G
                                </span>
                            </li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <table
                                    class="layui-table"
                                    id="single_upload_table"
                                    lay-filter="single_upload_table"
                                ></table>
                                <script type="text/html" id="resourceName">
                                    <input class="common-form-input resource-name"
                                           type="text" />
                                </script>
                                <script type="text/html" id="resourceTime">
                                    <input class="common-form-input resource-time"
                                           type="text">
                                </script>
                                <script type="text/html" id="resourceHtm">
                                    <div class="course-set-btn">选择</div>
                                    <span class="resourceHtm_path"></span>
                                    <input type="file"
                                           accept="file"
                                           name="file"
                                           class="course-set-btn upload-html"
                                           lay-event="htmUpload" />
                                </script>
                                <script type="text/html" id="resourceSwt">
                                    <div class="course-set-btn">选择</div>
                                    <span class="resourceSwf_path"></span>
                                    <input type="file"
                                           accept="file"
                                           name="file"
                                           class="course-set-btn upload-swt"
                                           lay-event="swtUpload" />
                                </script>
                                <script
                                    type="text/html"
                                    id="resource_single_opt"
                                >
                                    <li class="course-set-btn"
                                        lay-event="delete">移除</li>
                                    <li class="course-set-btn"
                                        lay-event="add">添加</li>
                                    <!-- <li class="course-set-btn upload" lay-event="upload">上传</li> -->
                                    <div class="add-level">
                                        <div class="level-item"
                                             lay-event="sameLevel">同级</div>
                                        <div class="level-item"
                                             lay-event="nextLevel">下级</div>
                                    </div>
                                </script>
                            </div>
                            <div class="layui-tab-item">
                                <div class="scorm-multiple">
                                    <li
                                        class="layui-btn"
                                        id="download_template"
                                    >
                                        下载目录模版
                                    </li>
                                    <li
                                        class="layui-btn"
                                        id="check_upload_template"
                                    >
                                        查看举例文件
                                    </li>
                                    <li
                                        class="layui-btn"
                                        id="scorm_multiple_upload"
                                    >
                                        上传
                                    </li>
                                </div>
                                <table
                                    class="layui-table"
                                    lay-filter="multiple_upload_table"
                                    id="multiple_upload_table"
                                ></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label require">所属课程</label>
                <select name="curriculumId" id="curriculumId" lay-verify="">
                    <option value="">请选择所属课程</option>
                </select>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label">对外访问</label>
                <div class="layui-input-block">
                    <input
                        type="radio"
                        name="accessAuthority"
                        value="1"
                        title="公开"
                        checked
                    />
                    <input
                        type="radio"
                        name="accessAuthority"
                        value="2"
                        title="私有"
                    />
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">资源描述</label>
                <div class="layui-col-md9">
                    <textarea
                        id="description"
                        name="description"
                        placeholder="请输入内容"
                        class="layui-textarea"
                    ></textarea>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label require">是否下载</label>
                <div class="layui-input-block">
                    <input
                        type="radio"
                        name="canDownload"
                        value="1"
                        title="是"
                        checked
                    />
                    <input
                        type="radio"
                        name="canDownload"
                        value="0"
                        title="否"
                    />
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-block avoidReponseWrapper">
                    <input style="margin-top: 0;" type="checkbox" name="avoidReponse" lay-skin="primary">
                    <span style="cursor: pointer" id="avoidReponseCheck">同意并阅读</span>
                    <span style="color: rgba(18, 96, 147, 1);cursor:pointer;" id="avoidReponse">《免责声明》</span>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label"></label>
                <div>
                    <div
                        class="layui-btn primary-btn"
                        lay-submit
                        id="addSource"
                        lay-filter="submit"
                    >
                        提交
                    </div>
                    <div
                        class="layui-btn layui-btn-primary cancel-btn"
                        id="sourmanage-add-cancle"
                    >
                        返回
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="avoidReponseContent" style="display: none;word-break: break-all;">
        <div class="my-dialog-content">
            <p style="font-weight: bold; font-size: 16px;">免责声明：</p>
            <p style="font-size: 14px; margin: 20px 0;">本平台只提供在线服务，用户行为由用户自己本身承担责任，一切违反法律法规行为，平台会配合处理，但不承担对应责任。</p>
            <p style="font-size: 14px; margin: 20px 0;">1、请勿上传违反国家法律法规的资源文件；</p>
            <p style="font-size: 14px; margin: 20px 0;">2、请勿上传任何未经授权及涉及版权问题的资源；</p>
            <p style="font-size: 14px; margin: 20px 0;">3、如果您上传的资源涉及版权、内容等原因被举报并审核确认，将会移除您上传的资源；</p>
            <p style="font-size: 14px; margin: 20px 0;">4、严禁任何涉及商业盈利目的的均不得使用，否则产生的一切后果将由上传者自己承担！</p>
        </div>
    </div>
</div>

<script>
    layui.use(['form', 'upload', 'table', 'tree'], function(table) {
        var form = layui.form,
            upload = layui.upload,
            $ = layui.jquery,
            admin = layui.admin,
            table = layui.table,
            tree = layui.tree,
            conf = layui.conf,
            resourceType = '',
            scormSign = '',
            tableData = [
                {
                    id: 1,
                    parentId: 0,
                    floor: 1,
                    name: '',
                    sign: scormSign,
                    resourceName: '',
                    sourceName: '',
                    countTime: ''
                }
            ],
            scormUrl = '',
            route = layui.router(),
            id = route.search.id,
            singlUploadOption = {
                page: false,
                // limit: 200,
                elem: '[lay-filter="single_upload_table"]',
                data: JSON.parse(JSON.stringify(tableData)),
                cols: [
                    [
                        {
                            title: '序号',
                            width: 80,
                            align: 'center',
                            type: 'numbers'
                        },
                        {
                            title: '编号',
                            field: 'id',
                            align: 'center',
                            width: 80
                        },
                        {
                            title: '上级编号',
                            field: 'parentId',
                            align: 'center',
                            width: 100
                        },
                        {
                            title: '层级',
                            field: 'floor',
                            align: 'center',
                            width: 80
                        },
                        {
                            title: '目录名称',
                            field: 'name',
                            align: 'center',
                            width: 140,
                            templet: '#resourceName',
                            edit: 'text'
                        },
                        {
                            title: '展示资源文件',
                            field: 'resourceName',
                            align: 'center',
                            width: 140,
                            templet: '#resourceHtm',
                            style: 'white-space: nowrap;overflow: hidden;'
                        },
                        {
                            title: '资源文件',
                            field: 'sourceName',
                            align: 'center',
                            width: 140,
                            templet: '#resourceSwt',
                            style: 'white-space: nowrap;overflow: hidden;'
                        },
                        {
                            title: '时长',
                            field: 'countTime',
                            align: 'center',
                            width: 120,
                            templet: '#resourceTime',
                            edit: 'number'
                        },
                        {
                            title: '操作',
                            align: 'center',
                            style: 'overflow: visible',
                            templet: '#resource_single_opt'
                        }
                    ]
                ]
            },
            multipleUploadOption = {
                page: false,
                limit: 200,
                elem: '[lay-filter="multiple_upload_table"]',
                data: [],
                cols: [
                    [
                        {
                            title: '序号',
                            width: 80,
                            align: 'center',
                            type: 'numbers'
                        },
                        {
                            title: '编号',
                            field: 'id',
                            align: 'center',
                            width: 80
                        },
                        {
                            title: '上级编号',
                            field: 'parentId',
                            align: 'center',
                            width: 100
                        },
                        {
                            title: '层级',
                            field: 'floor',
                            align: 'center',
                            width: 80
                        },
                        {
                            title: '目录名称',
                            field: 'name',
                            align: 'center'
                        },
                        {
                            title: '展示资源文件',
                            field: 'resourceName',
                            align: 'center'
                        },
                        {
                            title: '资源文件',
                            field: 'sourceName',
                            align: 'center'
                        },
                        {
                            title: '时长',
                            field: 'countTime',
                            align: 'center'
                        }
                    ]
                ]
            };
            
        form.render()
        $('#upload-file').click(function() {
            resourceType = $("#type").val()
            if (!resourceType) {
                layer.msg('请先选择上传文件类型')
                return false
            }
        })
        $('#download_template').on('click', function() {
            window.open(conf.requestUrl + '/dataBank/exportExcelTemplete')
        })
        $('#check_upload_template').on('click', function() {
            layer.open({
                type: 1,
                offset: 'auto',
                title: '查看示例',
                content:
                    '<div class="upload-template">' +
                    '<div>注： 批量添加仅支持上传压缩包。如：a.zip/a.rar</div>' +
                    '<div id="upload_template_tree"></div>' +
                    '</div>',
                area: ['700px', '70%'],
                shade: 0.4,
                shadeClose: true
            })
            tree.render({
                elem: '#upload_template_tree',
                data: [
                    {
                        spread: true,
                        title: 'resource(文件夹)',
                        children: [
                            {
                                title: 'a.swf'
                            },
                            {
                                title: 'b.co'
                            }
                        ]
                    },
                    {
                        title: 'a.html',
                        children: []
                    },
                    {
                        title: 'b.html',
                        children: []
                    }
                ]
            })
        })
        form.on('select(typeChange)', function(obj) {
            if (obj.value == 7) {
                $('.show-scorm-upload').css({
                    display: 'block'
                })
                $('.show-other-upload').css({
                    display: 'none'
                })
                uploadFile(function() {}, '#scorm_multiple_upload', 7)
            } else {
                uploadFile(function() {}, '#upload-file', obj.value)
                $('.show-scorm-upload').css({
                    display: 'none'
                })
                $('.show-other-upload').css({
                    display: 'block'
                })
            }

            if (obj.value == 1) {
                // 文档
                $('#typeTip').html('请上传pdf、docx、doc格式的文档, 且文件大小不得超过1G')
            } else if (obj.value == 2) {
                // 图片
                $('#typeTip').html('请上传png、jpeg、jpg、tiff、raw、bmp、gif格式的图片, 且文件大小不得超过1G')
            } else if (obj.value == 3) {
                // 视频
                $('#typeTip').html('请上传mp4、flv格式的视频, 且文件大小不得超过1G')
            } else if (obj.value == 4) {
                // flash
                $('#typeTip').html('请上传flash、swf格式的flash文件, 且文件大小不得超过1G')
            } else if (obj.value == 5) {
                // exe
                $('#typeTip').html('请上传exe、zip、rar格式的文件, 且文件大小不得超过1G。老师可以在此添加实验需要的插件供学生下载。')
            } else if (obj.value == 6 || obj.value == 7) {
                // u3d
                $('#typeTip').html('请上传zip格式的压缩包, 且文件大小不得超过1G')
            }
        })
        var singleTable = table.render(singlUploadOption)
        table.on('edit(single_upload_table)', function(obj) {
            var field = obj.field
            var line = $(obj.tr.selector).data(index)
            var index = line.index
            var list = JSON.parse(JSON.stringify(singleTable.config.data))
            if (field === 'name') {
                list[index].name = obj.value.trim()
            } else if (field === 'countTime') {
                list[index].countTime = obj.value.trim()
            }
            singlUploadOption.data = list
            singleTable = table.render(singlUploadOption)
             $('.resourceHtm_path').each(function(index) {
                $(this).html(list[index].resourceName)
            })
            $('.resource-name').each(function(index) {
                $(this).val(list[index].name)
                form.render()
            })
            $('.resource-time').each(function(index) {
                $(this).val(list[index].countTime)
                form.render()
            })
            $('.resourceSwf_path').each(function(index) {
                $(this).html(list[index].sourceName)
            })
            form.render()
        })
        table.on('tool(single_upload_table)', function(obj) {
            var data = obj.data
            var layEvent = obj.event
            var line = $(obj.tr.selector).data(index)
            var index = line.index
            var list = JSON.parse(JSON.stringify(singleTable.config.data))
            var lastData = list[index - 1]
            if (layEvent === 'add') {
                $(obj.tr.selector)
                    .find('.add-level')
                    .css({
                        display: 'block'
                    })
            } else if (layEvent === 'delete') {
                if (list.length === 1) {
                    layer.msg('至少保留一个')
                    return
                }
                var reg = new RegExp('^' + data.id)
                for (var i = 0; i < list.length; i++) {
                    if (list[i].parentId == data.id || reg.test(list[i].id)) {
                        list.splice(i, 1)
                    }
                }
                list.splice(index, 1)
                singlUploadOption.data = list
                singleTable = table.render(singlUploadOption)
            } else if (layEvent === 'sameLevel') {
                var idList = String(data.id).split('.')
                var curFloorList = [],
                    idTmp = 0
                for (var i = 0; i < list.length; i++) {
                    if (list[i].floor == data.floor) {
                        curFloorList.push(list[i])
                    }
                }
                for (var j = 0; j < curFloorList.length; j++) {
                    var idListTmp = String(curFloorList[j].id).split('.')
                    var last = Number(idListTmp[idListTmp.length - 1])
                    idTmp = last > idTmp ? last : idTmp
                }
                idList[idList.length - 1] = idTmp + 1
                // 添加同级
                list.splice(index + 1, 0, {
                    id: idList.join('.'),
                    parentId: data.parentId,
                    floor: data.floor,
                    name: '',
                    resourceName: '',
                    sourceName: '',
                    countTime: ''
                })
                singlUploadOption.data = list
                singleTable = table.render(singlUploadOption)
            } else if (layEvent === 'nextLevel') {
                var curFloorList = []
                var item = {
                    id: 0,
                    parentId: data.id,
                    floor: data.floor + 1,
                    name: '',
                    resourceName: '',
                    sourceName: '',
                    countTime: ''
                }
                // 找到下级列表
                for (var i = 0; i < list.length; i++) {
                    if (
                        list[i].floor == data.floor + 1 &&
                        list[i].parentId == data.id
                    ) {
                        curFloorList.push(list[i])
                    }
                }
                if (curFloorList.length === 0) {
                    item.id = data.id + '.1'
                } else {
                    var idTmp = 0
                    for (var j = 0; j < curFloorList.length; j++) {
                        var idList = String(curFloorList[j].id).split('.')
                        var last = Number(idList[idList.length - 1])
                        idTmp = last > idTmp ? last : idTmp
                    }
                    item.id = data.id + '.' + (idTmp + 1)
                }
                list.splice(index + 1, 0, item)
                singlUploadOption.data = list
                singleTable = table.render(singlUploadOption)
            } else if (layEvent === 'htmUpload') {
                // 获取自定义上传的所有值 singleTable.config.data
                scormUpload(function(fileData) {
                    var fileData = JSON.parse(fileData)
                    scormSign = fileData.sign
                    list[index].resourceName = fileData.filePath
                    list[index].sign = fileData.sign
                    singlUploadOption.data = list
                    singleTable = table.render(singlUploadOption)
                    $('.resourceHtm_path').each(function(index) {
                        $(this).html(list[index].resourceName)
                    })
                    $('.resource-name').each(function(index) {
                        $(this).val(list[index].name)
                        form.render()
                    })
                    $('.resource-time').each(function(index) {
                        $(this).val(list[index].countTime)
                        form.render()
                    })
                    $('.resourceSwf_path').each(function(index) {
                        $(this).html(list[index].sourceName)
                    })
                }, $(obj.tr).find('.upload-html'))
            } else if (layEvent === 'swtUpload') {
                scormUpload(function(fileData) {
                    debugger
                    var fileData = JSON.parse(fileData)
                    scormSign = fileData.sign
                    list[index].sourceName = fileData.filePath
                    list[index].sign = fileData.sign
                    singlUploadOption.data = list
                    singleTable = table.render(singlUploadOption)
                    $('.resourceHtm_path').each(function(index) {
                        $(this).html(list[index].resourceName)
                    })
                    $('.resource-name').each(function(index) {
                        $(this).val(list[index].name)
                        form.render()
                    })
                    $('.resource-time').each(function(index) {
                        $(this).val(list[index].countTime)
                        form.render()
                    })
                    $('.resourceSwf_path').each(function(index) {
                        $(this).html(list[index].sourceName)
                    })
                }, $(obj.tr).find('.upload-swt'))
            }
            $('.resourceHtm_path').each(function(index) {
                $(this).html(list[index].resourceName)
            })
            $('.resource-name').each(function(index) {
                $(this).val(list[index].name)
                form.render()
            })
            $('.resource-time').each(function(index) {
                $(this).val(list[index].countTime)
                form.render()
            })
            $('.resourceSwf_path').each(function(index) {
                $(this).html(list[index].sourceName)
            })
        })

        function scormChooseFile(callback, elem) {
            upload.render({
                elem: elem,
                auto: false,
                choose: function(obj) {
                    obj.preview(function(index, file, result) {
                        callback &&
                            typeof callback === 'function' &&
                            callback(file)
                    })
                }
            })
        }

        function scormUpload(callback, elem) {
            upload.render({
                elem: elem, //绑定元素
                // url: 'http://47.105.130.130:8100/dataBank/oneFileUpload', //上传接口
                url: conf.requestUrl + '/dataBank/sigleFileUpload', //上传接口
                method: 'post',
                field: 'file',
                data: {
                    type: 7,
                    sign: scormSign
                },
                before: function(obj) {
                    layer.load()
                },
                done: function(res) {
                    if (res.code === 401) {
                        admin.logout()
                    } else if (res.code === 200) {
                        layer.msg('上传成功')
                        callback &&
                            typeof callback === 'function' &&
                            callback(res.data)
                    } else {
                        layer.msg(res.msg || '上传失败')
                    }
                    layer.closeAll('loading')
                },
                error: function(err) {
                    layer.closeAll('loading')
                }
            })
        }

        function uploadFile(callback, elem, rType) {
            // debugger
            if(rType == 7) {
                $('#scorm_multiple_upload')
            } else {
                $('#upload-file').remove()
                $('#upload-file-wrapper').html('<button\n' +
    '                        type="button"\n' +
    '                        class="layui-btn"\n' +
    '                        id="upload-file"\n' +
    '                        name="file"\n' +
    '                    >\n' +
    '                        <i class="layui-icon">&#xe67c;</i>选择文件\n' +
    '                    </button>')
            }
            var type = rType
            upload.render({
                elem: elem, //绑定元素
                url: conf.requestUrl + '/dataBank/oneFileUpload', //上传接口
                method: 'post',
                field: 'file',
                accept: 'file',
                exts: type == 7 || type == 6 ? 'zip|rar|7z' : '',
                data: {
                    type: type
                },
                before: function(obj) {
                    layer.load()
                },
                done: function(res) {
                    if (res.code === 401) {
                        admin.logout()
                    } else if (res.code === 200) {
                        if (type == 7) {
                            var data = JSON.parse(res.data)
                            multipleUploadOption.data = data
                            table.render(multipleUploadOption)
                            scormUrl = res.data
                        } else {
                            $('#file_path').html(res.data)
                            $('#typeTip').html(res.data)
                        }
                        layer.msg('上传成功')
                        callback &&
                            typeof callback === 'function' &&
                            callback(res.data)
                    } else {
                        layer.msg(res.msg || '上传失败')
                    }
                    layer.closeAll('loading') //关闭loading
                },
                error: function(err) {
                    layer.closeAll('loading') //关闭loading
                }
            })
        }
        //监听提交
        $('#addSource').on('click', function() {
            var data = {};
            data.name = $('#name').val().trim();
            data.type = Number($('#type').val());
            data.curriculumId = Number($('#curriculumId').val());
            data.fileUrl = Number(data.type) === 7 ? scormUrl : $('#file_path').html();
            data.accessAuthority = $('input[name=accessAuthority]:checked').val();
            data.canDownload = Number($('input[name=canDownload]:checked').val());
            data.description = $('#description').val();

            if(!data.name) {
                layer.msg('请输入资源名称')
                return;
            }
            if(!data.type) {
                layer.msg('请选择资源类型')
                return;
            }
            if(!data.curriculumId) {
                layer.msg('请选择所属课程')
                return;
            }
            if (!$('.avoidReponseWrapper').find('.layui-form-checked') || $('.avoidReponseWrapper').find('.layui-form-checked').length === 0) {
                layer.msg('请同意免责声明')
                return;
            }


            admin.post({
                url: '/dataBank/add',
                data: JSON.stringify(data),
                success: function(res) {
                    if (res.code === 200) {
                        layer.msg('添加成功')
                        admin.navigate('/sourceManage/myList')
                    } else {
                        layer.msg(res.msg || '添加失败')
                    }
                }
            })
            return false;
        })
        $('#avoidReponse').on('click', function() {
            layer.closeAll()
            $('#avoidReponseContent').show()
            layer.open({
                maxWidth: '512px',
                type: 1,
                title: '免责声明',
                content: $('#avoidReponseContent'),
                btn: [],
                end: function() {
                    $('#avoidReponseContent').hide()
                }
            });   
        })
        $('#avoidReponseCheck').on('click', function() {
            var parent = $(this).parent('.avoidReponseWrapper')
            var checkbox = parent.find('.layui-form-checked')

            if (!checkbox || checkbox.length === 0) {
                $('.avoidReponseWrapper input[name=avoidReponse]').prop("checked", true)
            } else {
                $('.avoidReponseWrapper input[name=avoidReponse]').prop("checked", false)
            }
            form.render()
        })
        $('#sourmanage-add-cancle').on('click', function() {
            window.history.back(-1)
        })
        getAllCourses()

        function getAllCourses(callback) {
            admin.post({
                url: '/vsMpCurriculum/getList',
                data: JSON.stringify({
                    page: 1,
                    rows: 10000
                }),
                success: function(res) {
                    $('#curriculumId').html('<option value="">请选择</option>')
                    if (res.data && res.data.items) {
                        for (var i = 0; i < res.data.items.length; i++) {
                            var item = res.data.items[i];
                            $('#curriculumId').append(
                                '<option value="' +
                                res.data.items[i].id +
                                    '" name="curriculumId">' +
                                res.data.items[i].curriculumName +
                                    '</option>'
                            )
                            form.render()
                        }
                    }
                    callback && typeof callback === 'function' && callback(res)
                }
            })
        }
        // table 操作超出时的tool
        $(document)
            .off('mousedown', '.layui-table-grid-down')
            .on('mousedown', '.layui-table-grid-down', function(event) {
                table._tableTrCurr = $(this).closest('td')
            })
        $(document)
            .off('click', '.layui-table-tips-main [lay-event]')
            .on('click', '.layui-table-tips-main [lay-event]', function(event) {
                var elem = $(this)
                var tableTrCurr = table._tableTrCurr
                if (!tableTrCurr) {
                    return
                }
                var layerIndex = elem.closest('.layui-table-tips').attr('times')
                // 关闭当前这个显示更多的tip
                layer.close(layerIndex)
                table._tableTrCurr
                    .find('[lay-event="' + elem.attr('lay-event') + '"]')
                    .first()
                    .click()
            })
    })
</script>
<style>
    #source-manage-mylist-add {
    }

    #source-manage-mylist-add .mylist-add-form {
        padding: 20px 0;
    }

    #source-manage-mylist-add .layui-textarea {
        width: 100%;
    }

    .add-level {
        display: none;
        position: absolute;
        top: 28px;
        left: 40px;
        background: #fff;
        z-index: 999;
    }

    .add-level .level-item {
        width: 100px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #fff;
        border: 1px solid #eee;
    }

    .add-level .level-item:hover {
        background: #5a8bff;
        color: #fff;
        cursor: pointer;
    }

    #source-manage-mylist-add .scorm-multiple {
        text-align: right;
    }

    #source-manage-mylist-add .upload-template {
        padding: 20px;
    }

    #source-manage-mylist-add .resource-name {
        width: 110px;
        height: 28px;
    }

    #source-manage-mylist-add .resource-time {
        width: 90px;
        height: 28px;
    }

    #source-manage-mylist-add .layui-table-edit {
        width: 120px;
    }

    #source-manage-mylist-add .course-set-btn {
        /* height: 28px; */
        padding: 0 10px;
        /* line-height: 28px; */
    }

    /* #source-manage-mylist-add .layui-table-cell, */
    .layui-table-cell {
        overflow: visible;
    }

    #source-manage-mylist-add .layui-table-box,
    #source-manage-mylist-add .layui-table-body {
        overflow: visible;
    }

    #source-manage-mylist-add .upload-html,
    #source-manage-mylist-add .upload-swt {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        width: 140px;
    }

    #source-manage-mylist-add .show-scorm-upload {
        display: none;
    }
    #source-manage-mylist-add .layui-form-item .layui-form-checkbox[lay-skin=primary] {
        margin-top: 0;
    }
    #source-manage-mylist-add .my-dialog-content {
        padding: 10px 30px;
    }
    #source-manage-mylist-add .layui-layer {
        width: 512px;
    }
</style>
