<div id="source-manage-mylist"
     class="layui-fluid"
     lay-title="我的资源库">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>资源管理 > 我的资源库</span>
        </div>
        <div class="course-title-search">
            <span class="search-project">资源名称</span>
            <input type="text"
                   id="resourceName" placeholder="请输入资源名称"/>
            <select name=""
                    id="course">
                <option value="">选择课程</option>
            </select>
            <!--1.文档，2.图片，3.视频，4.flash，5.EXE，6.U3D，7.scorm课件-->
            <select name=""
                    id="source">
                <option value="">请选择资源类型</option>
                <option value="1">文档</option>
                <option value="2">图片</option>
                <option value="3">视频</option>
                <option value="4">flash</option>
                <option value="5">EXE</option>
                <option value="6">U3D</option>
                <option value="7">scorm课件</option>
            </select>
            <button class="search-confirm" id="source-search">
                <img src="src/images/search.png" />
            </button>
        </div>
    </div>
    <div class="course-add">
        <div class="layui-btn primary-btn"
                id="add_source">添加资源</div>
    </div>
    <table id="sourcemanage-mylist-table"
           lay-filter="sourcemanage-mylist-table"></table>
    <script type="text/html"
            id="sourcelist-opt">
        <button class="course-set-btn" lay-event="check">查看</button>
        <button class="course-set-btn" lay-event="edit">修改</button>
        {{#if(d.isShare == 0) { }}
        <button class="course-set-btn share-btn" lay-event="share">共享</button>
        {{# } }}
    </script>
    <div class="app-table-page"
         id="sourcemanage-mylist-page"></div>
         
    <div id="dialog-wrapper" style="display: none">
        <div class="layui-layer-shade" id="layui-layer-shade" style="z-index: 19891014; background-color: rgb(0, 0, 0); opacity: 0.4;"></div>
        <div class="layui-layer layui-layer-page" style="z-index: 19891015; width: 700px; top: 76px; left: 411px;">
            <div class="layui-layer-title" style="cursor: move;" id="title">老师列表</div>
            <span class="layui-layer-setwin" id="close">
                <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:void(0);"></a>
            </span>
            <div id="" class="layui-layer-content" style="width: 100%; height: 500px; overflow: auto; padding: 20px; box-sizing: border-box">
                <table id="teacher_list"
                    lay-filter="teacher_list"></table>
            </div>
            <div>
                <div class="layui-layer-btn layui-layer-btn-">
                    <a class="layui-layer-btn0" id="confirm">下一步</a>
                </div>
                <span class="layui-layer-resize"></span>
            </div>
        </div>
    </div>
    <div id="course_list_wrapper" style="display: none">
        <div class="layui-layer-shade" id="layui-layer-shade" style="z-index: 19891014; background-color: rgb(0, 0, 0); opacity: 0.4;"></div>
        <div class="layui-layer layui-layer-page" style="z-index: 19891015; width: 700px; top: 76px; left: 411px;">
            <div class="layui-layer-title" style="cursor: move;">课程列表</div>
            <span class="layui-layer-setwin" id="course_close">
                <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:void(0);"></a>
            </span>
            <div id="" class="layui-layer-content" style="width: 100%; height: 500px; overflow: auto; padding: 20px; box-sizing: border-box">
                <table id="course_list"
                    lay-filter="course_list"></table>
            </div>
            <div>
                <div class="layui-layer-btn layui-layer-btn-">
                    <a class="layui-layer-btn0" id="course_confirm">确定</a>
                </div>
                <span class="layui-layer-resize"></span>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['table', 'jquery', 'form', 'admin'], function (table) {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            tableFilter = 'sourcemanage-mylist-table',
            table = layui.table,
            admin = layui.admin,
            pageLimit = 20,
            teacherId = '',
            courseId = '',
            teacherList= [],
            courseList = [],
            checkedSourceId = '',
            isShare = layui.sessionData('userInfo').userInfo.isShare,
            layPageOption = {
                elem: 'sourcemanage-mylist-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: ['first', 'prev', 'page', 'next', 'last', 'count', 'currLimit', 'curr', 'pageCount'],
                jump: function (obj, first) {
                    //首次不执行
                    if (!first) {
                        getList(obj.curr)
                    }
                }
            },
            tableOption = {
                page: false,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [{
                        title: '序号',
                        field: 'id',
                        width: 80,
                        align: 'center',
                        type: 'numbers'
                    }, {
                        title: '资源名称',
                        field: 'resourceName',
                        align: 'center'
                    }, {
                        title: '类型',
                        field: 'resourceType',
                        align: 'center'
                    }, {
                        title: '所属课程',
                        field: 'courseName',
                        align: 'center'
                    }, {
                        title: '上传日期',
                        field: 'createTime',
                        align: 'center',
                        templet: function (d) {
                            return d.createTime
                        }
                    }, {
                        title: '上传老师',
                        field: 'teacherName',
                        align: 'center'
                    }, {
                        title: '点击',
                        field: 'clickNum',
                        align: 'center'
                    }, {
                        title: '下载',
                        field: 'downloadNum',
                        align: 'center'
                    }, {
                        title: '操作',
                        align: 'center',
                        templet: '#sourcelist-opt',
                        fixed: 'right',
                        width: 200
                    }]
                ]
            },
            teacherOption = {
                page: false,
                elem: '[lay-filter="teacher_list"]',
                cols: [[
                    {type:'radio', width: 80,},
                    {field:'id', width: 100, title: 'ID'},
                    {field:'userName', width: 300, title: '老师名称'}
                ]]
            },
            courseOption= {
                page: false,
                elem: '[lay-filter="course_list"]',
                cols: [[
                    {type:'radio', width: 80,},
                    {field:'id', width: 100, title: '课程ID'},
                    {field:'curriculumName', width: 300, title: '课程名称'}
                ]]
            }
        getList(1)
        getCourseList(function(res) {
        })
        getTeacherList()
        $('#add_source').click(function () {
            admin.navigate('/sourceManage/myListAdd')
        })
        $('#close').click(function() {
            $('#dialog-wrapper').hide()
        })
        $('#course_close').click(function() {
            $('#course_list_wrapper').hide()
        })
        $('#source-search').click(function() {
            getList(1)
        })
        $('#confirm').click(function() {
            $('#dialog-wrapper').hide()
            $('#course_list_wrapper').show()  
            $('#dialog-wrapper .layui-table tr').each(function(index) {
                var list = $(this).find('.layui-form-radioed') || []
                if (list.length > 0) {
                    teacherId = teacherList[index].id
                }
            })
            getCourseListByTid(teacherId)       
        })
        $('#course_confirm').click(function() {
            if (!teacherId) {
                layer.msg('请选择分享资源的老师！')
                return;
            }
            $('#course_list_wrapper').hide()   
            $('#course_list_wrapper .layui-table tr').each(function(index) {
                var list = $(this).find('.layui-form-radioed') || []
                if (list.length > 0) {
                    courseId = courseList[index].id
                }
            }) 
            shareSource()    
        })
        table.on('tool(sourcemanage-mylist-table)', function (obj) {
            var data = obj.data //获得当前行数据
            var layEvent = obj.event
            if (layEvent === 'check') {
                admin.navigate('/sourceManage/details/id=' + data.id)
            } else if (layEvent === 'edit') {
                admin.navigate('/sourceManage/update/id=' + data.id)
            } else if (layEvent == 'share') {
                checkedSourceId = data.id
                $('#dialog-wrapper').css({
                    'display': 'block'
                })
            } else if (layEvent === 'cancelCollect') {
                layer.open({
                    type: 1,
                    offset: 'auto',
                    title: '系统提示',
                    content: '是否取消收藏？',
                    area: ['300px', '200px'],
                    shade: 0.4,
                    skin: 'system-modal',
                    shadeClose: true,
                    btn: ['确定', '取消'],
                    yes: function (index) {
                        layer.close(index)
                        cancleCollect(data.id)
                    },
                    cancel: function (index) {
                        layer.close(index)
                    }
                })
            }
        })
        function cancleCollect(id) {
            admin.delete({
                url: '/resCollect/del?id=' + id,
                success: function (res) {
                    layer.msg('取消收藏成功')
                    getList(1)
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '失败')
                }
            })
        }

        function getList(page) {
            var course = $('#course').val(),
                source = $('#source').val(),
                resourceName = $('#resourceName').val(),
                data = {
                    page: page,
                    rows: pageLimit,
                    curriculumId: course,
                    type: source,
                    resourceName: resourceName
                }
            admin.post({
                url: '/dataBank/queryList',
                data: JSON.stringify(data),
                success: function (res) {
                    if(res.data && res.data.items) {
                        for(var i = 0; i <res.data.items.length; i++) {
                            var item = res.data.items[i];
                            item.isShare = isShare;
                        }  
                    }
                    tableOption.data = (res.data && res.data.items) || []
                    layPageOption.count = (res.data && res.data.total) || 0
                    table.render(tableOption)
                    laypage.render(layPageOption)
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        // 课程计划列表
        function getCourseList(callback) {
            var data = {
                page: 1,
                rows: 1000
            }
            admin.post({
                url: '/vsMpCurriculum/getList',
                data: JSON.stringify(data),
                success: function(res) {
                    if (
                        res.data &&
                        res.data.items &&
                        res.data.items.length > 0
                    ) {
                        var options = ''
                        for(var i = 0; i < res.data.items.length; i++) {
                            var item = res.data.items[i];
                            options +=
                                '<option value="' +
                                item.id +
                                '">' +
                                item.curriculumName +
                                '</option>'
                        }
//                        res.data.items &&
//                        res.data.items.forEach(item => {
//                            options +=
//                                '<option value="' +
//                                item.id +
//                                '">' +
//                                item.curriculumName +
//                                '</option>'
//                        })
                        $('#course').html(
                            '<option value="">请选择课程</option>'
                        )
                        $('#course').append(options)
                        callback && typeof callback === 'function' && callback(res)
                    }
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getTeacherList() {
            admin.get({
                url: '/dataBank/teacherList',
                success: function(res) {
                    teacherList = res.data || [];
                    teacherOption.data = res.data || []
                    table.render(teacherOption)
                }
            })
        }

        function getCourseListByTid(id) {
            admin.get({
                url: '/dataBank/curriculumList?teacherId='+id,
                success: function(res) {
                    courseList = res.data || []
                    courseOption.data = res.data || []
                    table.render(courseOption)
                }
            })
        }

        function shareSource() {
            admin.get({
                url: '/dataBank/shareResource?teacherId='+teacherId + '&resourceId='+checkedSourceId + '&curriculmId='+courseId,
                success: function(res) {
                    if (res.code == 200) {
                        layer.msg('分享成功！');
                        $('#course_list_wrapper').hide()
                    } else {
                        layer.msg(res.msg || '分享失败！');
                    }
                }
            })
        }
        
    })
</script>
<style>
    #source-manage-mylist {}
    #dialog-wrapper .layui-table{
        width: 100%;
    }
    #course_list_wrapper .layui-table{
        width: 100%;
    }
</style>