<div id="source-manage-mylist-add">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>资源管理 > 我的资源库 > 添加资源</span>
        </div>
    </div>
    <form action="" class="layui-form mylist-add-form">
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label require">资源类型</label>
                <select name="type" id="type">
                    <option value="">选择资源类型</option>
                    <option value="1">文档</option>
                    <option value="2">图片</option>
                    <option value="3">视频</option>
                    <option value="4">flash</option>
                    <option value="5">exe</option>
                    <option value="6">U3D</option>
                    <option value="7">scorm课件</option>
                </select>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">选择文件</label>
                <button
                    type="button"
                    class="layui-btn"
                    id="upload-file"
                    name="file"
                >
                    <i class="layui-icon">&#xe67c;</i>选择文件
                </button>
                <span style="margin-left: 50px; color: red;"
                    >注：U3D上传zip、rar文件包； exe上传压缩包</span
                >
                <!-- <input
                    type="text"
                    id="upload_wrapper"
                    class="layui-upload-file"
                /> -->
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label require">资源名称</label>
                <input
                    class="common-form-input"
                    type="text"
                    name="name"
                    id="name"
                    placeholder="请输入资源名称"
                />
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label require">所属课程</label>
                <select name="curriculumId" id="curriculumId" lay-verify="">
                    <option value="">请选择所属课程</option>
                </select>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label">对外访问</label>
                <div class="layui-input-block">
                    <input
                        type="radio"
                        name="accessAuthority"
                        value="1"
                        title="公开"
                        checked
                    />
                    <input
                        type="radio"
                        name="accessAuthority"
                        value="2"
                        title="私有"
                    />
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label require">资源描述</label>
                <div class="layui-col-md9">
                    <textarea
                        id="description"
                        name="description"
                        placeholder="请输入内容"
                        class="layui-textarea"
                    ></textarea>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label require">是否下载</label>
                <div class="layui-input-block">
                    <input
                        type="radio"
                        name="canDownload"
                        value="1"
                        title="是"
                        checked
                    />
                    <input
                        type="radio"
                        name="canDownload"
                        value="0"
                        title="否"
                    />
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label"></label>
                <div>
                    <button
                        class="layui-btn primary-btn"
                        lay-submit
                        lay-filter="submit"
                    >
                        提交
                    </button>
                    <button
                        class="layui-btn layui-btn-primary cancel-btn"
                        id="sourmanage-add-cancle"
                    >
                        返回
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'upload'], function() {
        var form = layui.form,
            upload = layui.upload,
            $ = layui.jquery,
            admin = layui.admin,
            type = ''

        form.render()

        $('#upload-file').click(function() {
            if (Number($('#type').val()) === 0) {
                layer.msg('请先选择上传文件类型')
                return false
            }
        })

        uploadFile()

        function uploadFile() {
            upload.render({
                elem: '#upload-file', //绑定元素
                url: 'http://39.104.97.6:8080/dataBank/oneFileUpload', //上传接口
                method: 'post',
                field: 'file',
                data: {
                    type: 2
                },
                before: function(obj) {
                    // var _this = this
                    // layer.load()
                },
                done: function(res) {
                    if (res.code === 401) {
                        admin.logout()
                    } else if (res.code === 200) {
                        layer.msg('上传成功')
                    }
                    layer.closeAll('loading') //关闭loading
                },
                error: function(err) {
                    layer.closeAll('loading') //关闭loading
                }
            })
        }

        //监听提交
        form.on('submit(submit)', function(data) {
            layer.msg(JSON.stringify(data.field))
            data.field.type = Number(data.field.type)
            data.field.accessAuthority = Number(data.field.accessAuthority)
            data.field.canDownload = Number(data.field.canDownload)
            data.field.curriculumId = Number($('#curriculumId').val())

            admin.post({
                url: '/dataBank/add',
                data: JSON.stringify(data.field),
                success: function() {}
            })
            return false
        })

        $('#sourmanage-add-cancle').on('click', function() {
            window.history.back(-1)
        })

        getAllCourses()

        function extra_data(data) {
            var item = []
            $.each(data, function(k, v) {
                item.push(
                    '<input type="hidden" name="' + k + '" value="' + v + '">'
                )
            })
            $('.layui-upload-file').after(item.join(''))
        }

        function getAllCourses(callback) {
            admin.post({
                url: '/vsMpCurriculum/getList',
                data: JSON.stringify({
                    page: 1,
                    rows: 10000
                }),
                success: function(res) {
                    $('#curriculumId').html('<option value="">请选择</option>')
                    res.data &&
                        res.data.items &&
                        res.data.items.forEach(item => {
                            $('#curriculumId').append(
                                // '<input type="checkbox" lay-skin="primary" name="prerequisiteCourse" value="' +
                                //     item.id +
                                //     '" title="' +
                                //     item.curriculumName +
                                //     '">'
                                '<option value="' +
                                    item.id +
                                    '" name="curriculumId">' +
                                    item.curriculumName +
                                    '</option>'
                            )
                            form.render()
                        })
                    callback && typeof callback === 'function' && callback(res)
                }
            })
        }
    })
</script>

<style>
    #source-manage-mylist-add {
    }

    #source-manage-mylist-add .mylist-add-form {
        padding: 20px 0;
    }

    #source-manage-mylist-add .layui-textarea {
        width: 100%;
    }
</style>
