<div class="layui-fluid" id="evaluate" lay-title="开课管理">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>开课管理 > 铁路信号知识 > 课程评价 > 课程评价列表</span>
        </div>
        <div class="course-title-search">
            <input type="text" value="请输入关键字" />
            <button class="search-confirm">
                <img src="src/images/search.png" />
            </button>
        </div>
    </div>
    <table id="evaluate-list-table" lay-filter="evaluate-list-table"></table>
    <script type="text/html" id="evaluate-opt">
        <button class="course-set-btn" id="evaluate-add-delete">删除</button>
        <button class="course-set-btn" id="evaluate-add-edit">回复</button>
    </script>
    <div class="app-table-page" id="evaluate-table-page"></div>
</div>

<script>
    layui.use(['table', 'jquery', 'form', 'admin'], function (table, $) {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            tableFilter = 'evaluate-list-table',
            table = layui.table,
            admin = layui.admin,
            pageLimit = 20,
            layPageOption = {
                elem: 'evaluate-table-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: [
                    'first',
                    'prev',
                    'page',
                    'next',
                    'last',
                    'count',
                    'currLimit',
                    'curr',
                    'pageCount'
                ],
                jump: function (obj, first) {
                    //首次不执行
                    if (!first) {
                        getList(obj.curr)
                    }
                }
            },
            tableOption = {
                page: true,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [{
                        title: '序号',
                        field: 'id',
                        width: 80,
                        align: 'center',
                        type: 'numbers'
                    },
                        {
                            title: '实验名称',
                            field: 'experimentName',
                            align: 'center'
                        },
                        {
                            title: '开课名称',
                            field: 'courseName',
                            align: 'center'
                        },
                        {
                            title: '实验类型',
                            field: 'typeName',
                            align: 'center'
                        },
                        {
                            title: '开始/结束时间',
                            field: 'startTime',
                            align: 'center',
                            templet: function (d) {
                                console.log(d)
                                return admin.dateFormat(new Date(d.startTime).getTime() / 1000)+"至"+admin.dateFormat(new Date(d.endTime).getTime() / 1000);
                            }
                        },
                        {
                            title: '操作',
                            align: 'center',
                            templet: '#readyTest-opt',
                            fixed: 'right',
                            width: 200
                        }
                    ]
                ]
            }


        table.on('tool(evaluate-list-table)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event,
                type = '';

            if (layEvent === 'evaluate-add-edit') {
                formData = data;
                type = 'check';
                window.location.href = 'index.html#/techSet/readyPlan'
            }
            else if (layEvent === 'delete') {
                layer.open({
                    type: 1,
                    offset: 'auto',
                    title: '系统提示',
                    content: '该信息为重要信息，是否删除？',
                    area: ['300px', '200px'],
                    shade: 0.4,
                    skin: 'system-modal',
                    shadeClose: true,
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        // 提交
                        layer.close(index)
                        deleteData(data.id)
                    },
                    cancel: function (index) {
                        layer.close(index)
                    }
                })
                return;
            }
        })

        getList(1)

        function getList(page) {
            var data = {
                page: page,
                rows: pageLimit,
                key:1
            }
            admin.post({
                url: '/coursre/getList',
                data: JSON.stringify(data),
                success: function (res) {
                    tableOption.data = (res.data && res.data.items) || [];
                    layPageOption.count = (res.data && res.data.total) || 0;
                    table.render(tableOption)
                    // laypage.render(layPageOption)
                },
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        };

        function deleteData(id) {
            admin.delete({
                url: '/coursre/del?id=' + id,
                success: function (res) {
                    getList(1)
                },
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        }
    })

    //    layui.use(['table', 'jquery'], function(table, $) {
//        var tableFilter = 'evaluate-list-table',
//            laypage = layui.laypage,
//            $ = layui.jquery
//
//        table.render({
//            page: true,
//            data: [
//                {
//                    id: 1,
//                    courceName: '发电机哈哈',
//                    evaluateCode: 20190101,
//                    responsor: '王小虎',
//                    time: '第一学期',
//                    class: '所有年级',
//                    isCommon: false,
//                    score: 1
//                }
//            ],
//            elem: '[lay-filter="' + tableFilter + '"]',
//            height: 'full-300',
//            cols: [
//                [
//                    {
//                        title: '序号',
//                        field: 'id',
//                        width: 80,
//                        align: 'center'
//                    },
//                    {
//                        title: '课程名称',
//                        field: 'evaluateCode',
//                        align: 'center'
//                    },
//                    {
//                        title: '学生名称',
//                        field: 'courceName',
//                        align: 'center'
//                    },
//                    {
//                        title: '内容',
//                        align: 'center',
//                        field: 'times',
//                        width: 200
//                    },
//                    {
//                        title: '发布时间',
//                        field: 'responsor',
//                        align: 'center'
//                    },
//                    {
//                        title: '操作',
//                        align: 'center',
//                        templet: '#evaluate-opt',
//                        width: 80
//                    }
//                ]
//            ]
//        })
//
//        //执行一个laypage实例
//        laypage.render({
//            elem: 'evaluate-table-page', //注意，这里的 test1 是 ID，不用加 # 号
//            count: 50, //数据总数，从服务端得到
//            limit: 10,
//            first: '首页',
//            last: '尾页',
//            hash: 'page',
//            curr: location.hash.replace('#!page=', ''),
//            layout: [
//                'first',
//                'prev',
//                'page',
//                'next',
//                'last',
//                'count',
//                'currLimit',
//                'curr',
//                'pageCount'
//            ]
//        })
//
//        $('#evaluate-add-edit').on('click', function() {
//            location.href = 'index.html#/techSet/resultUpdate'
//        })
//
//        $('#evaluate-add-delete').on('click', function() {
//            layer.confirm(
//                '您确定要删除么?',
//                {
//                    icon: 3,
//                    title: '提示',
//                    shade: 0.5,
//                    maxWidth: 500,
//                    maxHeight: 500
//                },
//                function(confirm) {
//                    // 用户点击确定
//                    layer.close(confirm)
//                },
//                function(cancel) {
//                    // 用户点击取消
//                    layer.close(cancel)
//                }
//            )
//        })
</script>

<style>
    .layui-table {
        width: 100%;
    }

    .evaluate-title .evaluate-title-location {
        float: left;
    }

    .evaluate-title .evaluate-title-search {
        float: right;
        text-align: right;
    }

    .evaluate-title .evaluate-title-search select,
    .evaluate-title .evaluate-title-search input {
        width: 118px;
        height: 30px;
        padding: 0 4px;
        border-radius: 0;
    }

    .evaluate-title .evaluate-title-search .search-project {
        line-height: 30px;
    }

    .evaluate-title .evaluate-title-search .search-confirm {
        width: 51px;
        height: 30px;
        background: #ff6600;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .evaluate-add {
        text-align: right;
        padding: 20px 0 10px;
    }

    .evaluate-add .add-btn {
        width: 70px;
        height: 30px;
        background: #ff6600;
        color: #fff;
        font-size: 16px;
    }

    #evaluate-opt {
        width: 200px;
    }

    .evaluate-set-btn {
        padding: 4px 10px;
        border: 1px solid #ccc;
        cursor: pointer;
    }
</style>
