<div id="techset_paperdetails" lay-title="添加课程管理">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>开课管理 > 铁路信号知识 > 试卷管理 > 添加试卷</span>
        </div>
    </div>
    <div class="course-add-content">
        <form action="" class="layui-form">
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">试卷名称</label>
                    <input
                        type="text"
                        require
                        name="name"
                        class="common-form-input"
                    />
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">所属策略</label>
                    <select name="strategyId" id="strategyId">
                        <option value="">请选择策略</option>
                    </select>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">所属开课</label>
                    <select name="curriculumId" id="curriculumId">
                        <option value="">请选择课程</option>
                    </select>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">考试时长</label>
                    <input
                        type="text"
                        name="testTime"
                        class="common-form-input"
                    />
                    <span>分钟</span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">考试开始时间</label>
                    <input
                        type="text"
                        name="startTime"
                        id="startTime"
                        class="layui-input common-form-input"
                    />
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-input layui-form-label require"
                        >考试结束时间</label
                    >
                    <input
                        type="text"
                        name="endTime"
                        id="endTime"
                        class="layui-input common-form-input"
                    />
                </div>
            </div>

            <button class="layui-btn" id="submit">保存</button>
            <button class="layui-btn" id="source-add-cancle">取消</button>

            <!--<div class="layui-row">-->
            <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">是否发布试卷</label>-->
            <!--<div class="layui-input-block">-->
            <!--<input-->
            <!--type="radio"-->
            <!--name="sex"-->
            <!--value="是"-->
            <!--title="是"-->
            <!--checked-->
            <!--/>-->
            <!--<input type="radio" name="sex" value="否" title="否" />-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </form>
    </div>
</div>

<script>
    layui.use(['form', 'laydate'], function() {
        var form = layui.form,
            $ = layui.jquery,
            admin = layui.admin,
            laydate = layui.laydate

        form.render()
        //监听提交
        form.on('submit(submit)', function(data) {
            layer.msg(JSON.stringify(data.field))
            return false
        })

        $('#source-add-cancle').on('click', function() {
            window.history.back(-2)
        })

        laydate.render({
            elem: '#startTime', //指定元素
            type: 'datetime'
        })

        laydate.render({
            elem: '#endTime', //指定元素
            type: 'datetime'
        })

        getPloyList()
        getCourseList()

        function addData() {
            var data = {}
            admin.post({
                url: '/examinationPaper/add',
                data: JSON.stringify(data),
                success: function(res) {}
            })
        }

        function getPloyList() {
            var data = {
                page: 1,
                rows: 100000
            }
            admin.post({
                url: '/strategy/list',
                data: JSON.stringify(data),
                success: function(res) {
                    $('#strategyId').html('')
                    res.data &&
                        res.data.items &&
                        res.data.items.forEach(item => {
                            $('#strategyId').append(
                                '<option value="' +
                                    item.id +
                                    '">' +
                                    item.strategyName +
                                    '</option>'
                            )
                        })
                    form.render()
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getCourseList() {
            var data = {
                page: 1,
                rows: 1000000
            }
            admin.post({
                url: '/vsMpCurriculum/getList',
                data: JSON.stringify(data),
                success: function(res) {
                    res.data &&
                        res.data.items &&
                        res.data.items.forEach(item => {
                            $('#curriculumId').append(
                                '<option value="' +
                                    item.id +
                                    '">' +
                                    item.curriculumName +
                                    '</option>'
                            )
                        })
                    form.render()
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }
    })
</script>

<style>
    #techset_paperdetails .course-add-content {
        padding: 20px 0;
    }
</style>
