<div id="course-details"
     lay-title="课程管理详情">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>开课管理 > <span id="courseName"></span> > 试卷管理 > 查看试卷</span>
        </div>
    </div>
    <div class="course-add-content">
        <form action=""
              class="layui-form">
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">试卷名称</label>
                    <span class="paper-info"
                          id="name"></span>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">所属策略</label>
                    <span class="paper-info"
                          id="strategyId"></span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">所属开课</label>
                    <span class="paper-info"
                          id="curriculumId"></span>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">考试时长</label>
                    <span class="paper-info"
                          id="testTime"></span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">安排教师</label>
                    <span class="paper-info"
                          id="userName"></span>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">编辑时间</label>
                    <span class="paper-info"
                          id="updateTime"></span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">考试开始时间</label>
                    <span class="paper-info"
                          id="startTime"></span>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">考试结束时间</label>
                    <span class="paper-info"
                          id="endTime"></span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">是否发布试卷</label>
                    <span class="paper-info"
                          id="publish"></span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item layui-col-md12">
                    <label class="layui-form-label"></label>
                    <div>
                        <div class="layui-btn layui-btn-primary cancel-btn "
                             id="source-add-cancle"> 返回 </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layedit'], function () {
        var form = layui.form,
            layedit = layui.layedit,
            $ = layui.jquery,
            admin = layui.admin,
            route = layui.router(),
            id = route.search.id || layui.sessionData('techSet').techSetId,
            courseName = layui.sessionData('techSet').techSetName;
        form.render()
        layedit.build('techManage-intro-edit', {
            tool: ['strong', //加粗
                'italic', //斜体
                'underline', //下划线
                'del', //删除线
                '|', //分割线
                'left', //左对齐
                'center', //居中对齐
                'right', //右对齐
                'link', //超链接
                'image' //插入图片
            ]
        })
        $('#courseName').html(courseName)
        //监听提交
        form.on('submit(submit)', function (data) {
            layer.msg(JSON.stringify(data.field))
            return false
        })
        $('#source-add-cancle').on('click', function () {
            admin.navigate('/techSet/paperManage')
        })
        getDetails()

        function getDetails() {
            admin.get({
                url: '/examinationPaper/queryById?id=' + id,
                success: function (res) {
                    $('#publish').html(res.data.publish == 0 ? '否' : '是')
                    $('#name').html(res.data.name)
                    $('#strategyId').html(res.data.strategyName)
                    $('#curriculumId').html(res.data.curriculumName)
                    $('#testTime').html(res.data.testTime)
                    $('#userName').html(res.data.userName)
                    $('#startTime').html(res.data.startTime)
                    $('#endTime').html(res.data.endTime)
                    $('#updateTime').html(res.data.updateTime)
                }
            })
        }
    })

</script>
<style>
    #course-details .paper-info {
        line-height: 38px;
    }

    #course-details .course-add-content {
        padding: 20px 0;
    }

</style>
