<div class="layui-fluid"
     id="paperManage"
     lay-title="开课管理">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>开课管理 > <span id="courseName"></span> > 试卷管理列表</span>
        </div>
    </div>
    <div class="course-add">
        <button class="add-btn"
                id="add_paper">添加试卷</button>
    </div>
    <table id="paperManage-list-table"
           lay-filter="paperManage-list-table"></table>
    <script type="text/html"
            id="paperManage-opt">
        <button class="course-set-btn" lay-event="edit">编辑</button>
        <button class="course-set-btn" lay-event="delete">删除</button>
        <button class="course-set-btn" lay-event="check">查看</button>
    </script>
    <div class="app-table-page"
         id="paperManage-table-page"></div>
</div>
<script>
    layui.use(['table', 'jquery', 'form', 'admin'], function (table, $) {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            tableFilter = 'paperManage-list-table',
            table = layui.table,
            admin = layui.admin,
            route = layui.router(),
            courseName = layui.data('techSet').techSetName,
            pageLimit = 20,
            layPageOption = {
                elem: 'paperManage-table-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: ['first', 'prev', 'page', 'next', 'last', 'count', 'currLimit', 'curr', 'pageCount'],
                jump: function (obj, first) {
                    if (!first) {
                        getList(obj.curr)
                    }
                }
            },
            tableOption = {
                page: false,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [{
                        title: '序号',
                        field: 'id',
                        width: 80,
                        align: 'center',
                        type: 'numbers'
                    }, {
                        title: '试卷名称',
                        field: 'examinationPaperName',
                        align: 'center'
                    }, {
                        title: '所属课程',
                        field: 'courseName',
                        align: 'center'
                    }, {
                        title: '编辑时间',
                        field: 'endTime',
                        align: 'center',
                        templet: function (d) {
                            return admin.dateFormat(new Date(d.endTime).getTime() / 1000)
                        }
                    }, {
                        title: '考试时长',
                        field: 'testTime',
                        align: 'center'
                    }, {
                        title: '安排教师',
                        field: 'userName',
                        align: 'center'
                    }, {
                        title: '操作',
                        align: 'center',
                        templet: '#paperManage-opt',
                        fixed: 'right',
                        width: 200
                    }]
                ]
            },
            formData = {
                lastOrg: '',
                collegeName: '',
                collegeNumber: '',
                type: '',
                remark: ''
            }
        getList(1)
        $('#courseName').html(courseName)
        table.on('tool(paperManage-list-table)', function (obj) {
            var data = obj.data //获得当前行数据
            var layEvent = obj.event
            if (layEvent === 'delete') {
                layer.open({
                    type: 1,
                    offset: 'auto',
                    title: '系统提示',
                    content: '该信息为重要信息，是否删除？',
                    area: ['300px', '200px'],
                    shade: 0.4,
                    skin: 'system-modal',
                    shadeClose: true,
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        // 提交
                        layer.close(index)
                        deleteData(data.id)
                    },
                    cancel: function (index) {
                        layer.close(index)
                    }
                })
                return
            }
            if (layEvent === 'edit') {
                window.location.href = 'index.html#/techSet/paperUpdate/id=' + data.id
            } else if (layEvent === 'check') {
                window.location.href = 'index.html#/techSet/paperDetails/id=' + data.id
            }
        })
        $('#add_paper').on('click', function () {
            window.location.href = 'index.html#/techSet/paperUpdate'
        })

        function getList(page) {
            var data = {
                page: page,
                rows: pageLimit,
                key: 1
            }
            admin.post({
                url: '/examinationPaper/stuList',
                data: JSON.stringify(data),
                success: function (res) {
                    tableOption.data = (res.data && res.data.items) || []
                    layPageOption.count = (res.data && res.data.total) || 0
                    table.render(tableOption)
                    laypage.render(layPageOption)
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function deleteData(id) {
            admin.delete({
                url: '/examinationPaper/del?id=' + id,
                success: function (res) {
                    if (res.code === 200) {
                        layer.msg('删除成功')
                        getList(1)
                    }
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function updateData(data) {
            var data = {
                id: data.id,
                collegeName: data.collegeName
            }
            admin.put({
                url: '/college/updateCollege',
                data: JSON.stringify(data),
                success: function (res) {
                    getList(1)
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getData(id) {
            admin.get({
                url: '/college/queryCollege?id=' + id,
                success: function (res) {},
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function addData(data) {
            var data = {
                collegeName: data.collegeName
            }
            admin.post({
                url: '/college/addCollege',
                data: JSON.stringify(data),
                success: function (res) {
                    getList(1)
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getFormData() {
            formData = {
                lastOrg: $('#last-org').val(),
                collegeName: $('#college-name').val(),
                collegeNumber: $('#college-number').val(),
                type: $('#college-type').val(),
                remark: $('#college-remark').val()
            }
        }
    })
</script>
<style>
    .layui-table {
        width: 100%;
    }

    .paperManage-title .paperManage-title-location {
        float: left;
    }

    .paperManage-title .paperManage-title-search {
        float: right;
        text-align: right;
    }

    .paperManage-title .paperManage-title-search select,
    .paperManage-title .paperManage-title-search input {
        width: 118px;
        height: 30px;
        padding: 0 4px;
        border-radius: 0;
    }

    .paperManage-title .paperManage-title-search .search-project {
        line-height: 30px;
    }

    .paperManage-title .paperManage-title-search .search-confirm {
        width: 51px;
        height: 30px;
        background: #ff6600;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .paperManage-add {
        text-align: right;
        padding: 20px 0 10px;
    }

    .paperManage-add .add-btn {
        width: 70px;
        height: 30px;
        background: #ff6600;
        color: #fff;
        font-size: 16px;
    }

    #paperManage-opt {
        width: 200px;
    }

    .paperManage-set-btn {
        padding: 4px 10px;
        border: 1px solid #ccc;
        cursor: pointer;
    }
</style>