<div id="techset_paperdetails">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span
                >开课管理 > <span id="courseName"></span> > 试卷管理 >
                <span id="tile_manage">添加试卷</span></span
            >
        </div>
    </div>
    <div class="course-add-content">
        <form action="" class="layui-form">
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">试卷名称</label>
                    <input
                        type="text"
                        require
                        name="name"
                        id="name"
                        class="common-form-input"
                    />
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">所属策略</label>
                    <select name="strategyId" id="strategyId">
                        <option value="">请选择策略</option>
                    </select>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">所属开课</label>
                    <!--<select name="curriculumId" id="curriculumId">
                        <option value="">请选择课程</option>
                    </select>-->
                    <input
                            type="text"
                            name="curriculumId"
                            id="curriculumId"
                            class="common-form-input"
                            readonly="readonly"
                    />
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">考试时长</label>
                    <input
                        type="text"
                        name="testTime"
                        id="testTime"
                        class="common-form-input"
                    />
                    <span>分钟</span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">考试开始时间</label>
                    <input
                        type="text"
                        name="startTime"
                        id="startTime"
                        class="layui-input common-form-input"
                    />
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">考试结束时间</label>
                    <input
                        type="text"
                        name="endTime"
                        id="endTime"
                        class="layui-input common-form-input"
                    />
                </div>
            </div>
            <!-- <div class="layui-row">-->
            <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">是否发布试卷</label>-->
            <!--<div class="layui-input-block">-->
            <!--<input-->
            <!--type="radio"-->
            <!--name="sex"-->
            <!--value="是"-->
            <!--title="是"-->
            <!--checked-->
            <!--/>-->
            <!--<input type="radio" name="sex" value="否" title="否" />-->
            <!--</div>-->
            <!--</div>-->
            <!--</div> -->
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-btn primary-btn" id="submit">
                        保存
                    </div>
                    <button
                        class="layui-btn layui-btn-primary cancel-btn"
                        id="source-add-cancle"
                    >
                        取消
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'laydate'], function() {
        var form = layui.form,
            $ = layui.jquery,
            admin = layui.admin,
            laydate = layui.laydate,
            route = layui.router(),
            courseId = layui.data('techSet').techSetId,
            id = route.search.id || '',
            courseName = layui.data('techSet').techSetName
        form.render()
        debugger
        $('#courseName').html(courseName)
        $('#tile_manage').html(id ? '修改试卷' : '添加试卷')
        //监听提交
        $('#submit').on('click', function() {
            var data = {
                name: $('#name').val(),
                strategyId: $('#strategyId').val(),
                curriculumId: courseId,
                testTime: $('#testTime').val(),
                startTime: new Date($('#startTime').val()).getTime(),
                endTime: new Date($('#endTime').val()).getTime()
            }
            if (id) {
                data.id = id
                updateData(data)
            } else {
                addData(data)
            }
        })
        $('#source-add-cancle').on('click', function() {
            window.location.href = 'index.html#/techSet/paperManage'
            location.reload()
        })
        laydate.render({
            elem: '#startTime', //指定元素
            type: 'datetime'
        })
        laydate.render({
            elem: '#endTime', //指定元素
            type: 'datetime'
        })
        getPloyList()
        // 设置开课
        // getCourseList()
        $('#curriculumId').val(courseName)
        if (id) {
            getDetails()
        }

        function getDetails() {
            admin.get({
                url: '/examinationPaper/queryById?id=' + id,
                success: function(res) {
                    $('#name').val(res.data.name)
                    $('#strategyId').val(res.data.strategyId)
                    $('#curriculumId').val(res.data.curriculumId)
                    $('#testTime').val(res.data.testTime)
                    $('#startTime').val(
                        admin.dateFormat(
                            new Date(res.data.startTime).getTime() / 1000
                        )
                    )
                    $('#endTime').val(
                        admin.dateFormat(
                            new Date(res.data.endTime).getTime() / 1000
                        )
                    )
                }
            })
        }

        function updateData(data) {
            admin.put({
                url: '/examinationPaper/update',
                data: JSON.stringify(data),
                success: function(res) {
                    if (res.code === 200) {
                        layer.msg('修改成功')
                        admin.prev()
                    } else {
                        layer.msg(res.msg || '修改失败')
                    }
                }
            })
        }

        function addData(data) {
            data.publish = 1
            admin.post({
                url: '/examinationPaper/add',
                data: JSON.stringify(data),
                success: function(res) {
                    if (res.code === 200) {
                        layer.msg('添加成功')
                        admin.prev()
                    } else {
                        layer.msg(res.msg || '添加失败')
                    }
                }
            })
        }

        function getPloyList() {
            var data = {
                page: 1,
                rows: 100000
            }
            admin.post({
                url: '/strategy/list',
                data: JSON.stringify(data),
                success: function(res) {
                    $('#strategyId').html('')
                    res.data &&
                        res.data.items &&
                        res.data.items.forEach(item => {
                            $('#strategyId').append(
                                '<option value="' +
                                    item.id +
                                    '">' +
                                    item.strategyName +
                                    '</option>'
                            )
                        })
                    form.render()
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        // function getCourseList() {
        //     var data = {
        //         page: 1,
        //         rows: 1000000
        //     }
        //     admin.post({
        //         url: '/vsMpCurriculum/getList',
        //         data: JSON.stringify(data),
        //         success: function(res) {
        //             res.data &&
        //                 res.data.items &&
        //                 res.data.items.forEach(item => {
        //                     $('#curriculumId').append(
        //                         '<option value="' +
        //                             item.id +
        //                             '">' +
        //                             item.curriculumName +
        //                             '</option>'
        //                     )
        //                 })
        //             form.render()
        //         },
        //         error: function(err) {
        //             layer.msg((err && err.msg) || '数据请求失败')
        //         }
        //     })
        // }
    })
</script>
<style>
    #techset_paperdetails .course-add-content {
        padding: 20px 0;
    }
</style>
