<div class="layui-fluid"
     id="processTest"
     lay-title="开课管理">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>开课管理 > <span id="courseName"></span> > 实验过程 > 实验统计</span>
        </div>
        <div class="course-title-search">
            <input type="text"
                   placeholder="请输入关键字"
                   id="experimentName" />
            <button class="search-confirm"
                    id="searchProcessTestList">
                <img src="src/images/search.png" />
            </button>
        </div>
    </div>
    <table id="processTest-list-table"
           lay-filter="processTest-list-table"></table>
    <script type="text/html"
            id="processTest-opt">
        <div class="layui-btn btn-sm"
             id="processTest-add-check"
             lay-event="check">查看</div>

    </script>
    <div class="app-table-page"
         id="processTest-table-page"></div>
</div>

<script>
    layui.use(['table', 'jquery', 'form', 'admin'], function (table, $) {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            tableFilter = 'processTest-list-table',
            table = layui.table,
            admin = layui.admin,
            pageLimit = 20,
            courseId = layui.sessionData('techSet').techSetId,
            courseName = layui.sessionData('techSet').techSetName,
            layPageOption = {
                elem: 'processTest-table-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: [
                    'first',
                    'prev',
                    'page',
                    'next',
                    'last',
                    'count',
                    'currLimit',
                    'curr',
                    'pageCount'
                ],
                jump: function (obj, first) {
                    //首次不执行
                    if (!first) {
                        getList(obj.curr)
                    }
                }
            },
            tableOption = {
                page: false,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [{
                            title: '序号',
                            field: 'id',
                            width: 80,
                            align: 'center',
                            type: 'numbers'
                        },
                        {
                            title: '实验名称',
                            field: 'experimentName',
                            align: 'center'
                        },
                        {
                            title: '实验类型',
                            field: 'typeName',
                            align: 'center'
                        },
                        {
                            title: '开始时间',
                            field: 'startTime',
                            align: 'center'
                        }, {
                            title: '开始/结束时间',
                            field: 'startTime',
                            align: 'center',
                            templet: function (d) {
                                return (d.startTime)+ "至" + d.endtTime
                            }
                        },
                        {
                            title: '操作',
                            align: 'center',
                            templet: '#processTest-opt',
                            fixed: 'right',
                            width: 200
                        }
                    ]
                ]
            }

        table.on('tool(processTest-list-table)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event,
                type = '';

            if (layEvent === 'evaluate-add-edit') {
                formData = data;
                type = 'check';
                admin.navigate('/techSet/readyPlan')
            } else if (layEvent === 'check') {
                admin.navigate('/techSet/processDetails/id=' + data.id)
            }
        })

        $('#courseName').html(courseName)
        getList(1)
        $("#searchProcessTestList").click(function () {
            getList(1)
        })

        function getList(page) {
            var experimentName = $("#experimentName").val(),
                data = {
                    page: page,
                    rows: pageLimit,
                    curriculumId: courseId,
                    name: experimentName
                }
            admin.post({
                url: '/curriculumExperiment/queeyCurriculumExperimentListForEnd',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.data && res.data.items) {
                        for(var i = 0; i < res.data.items.length; i++) {
                            var item = res.data.items[i];
                        }
                    }
                    tableOption.data = (res.data && res.data.items) || [];
                    layPageOption.count = (res.data && res.data.total) || 0;
                    table.render(tableOption)
                    laypage.render(layPageOption)
                },
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        };
    })

</script>

<style>
    .layui-table {
        width: 100%;
    }

    .processTest-title .processTest-title-location {
        float: left;
    }

    .processTest-title .processTest-title-search {
        float: right;
        text-align: right;
    }

    .processTest-title .processTest-title-search select,
    .processTest-title .processTest-title-search input {
        width: 118px;
        height: 30px;
        padding: 0 4px;
        border-radius: 0;
    }

    .processTest-title .processTest-title-search .search-project {
        line-height: 30px;
    }

    .processTest-title .processTest-title-search .search-confirm {
        width: 51px;
        height: 30px;
        background: #ff6600;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .processTest-add {
        text-align: right;
        padding: 20px 0 10px;
    }

    .processTest-add .add-btn {
        width: 70px;
        height: 30px;
        background: #ff6600;
        color: #fff;
        font-size: 16px;
    }

    #processTest-opt {
        width: 200px;
    }

    .processTest-set-btn {
        padding: 4px 10px;
        border: 1px solid #ccc;
        cursor: pointer;
    }

</style>
