<div class="layui-fluid"
     id="processDetail"
     lay-title="开课管理">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>开课管理 > <span id="courseName"></span> > 实验过程 > 实验统计</span>
        </div>
    </div>
    <table id="processDetail-list-table"
           lay-filter="processDetail-list-table"></table>
    <div class="app-table-page"
         id="processDetail-table-page"></div>
    <div class="layui-row">
        <div class="layui-form-item layui-col-md12">
            <label class="layui-form-label"></label>
            <div>
                <div class="layui-btn layui-btn-primary cancel-btn "
                     id="source-add-cancle"> 返回 </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['table', 'jquery'], function (table, $) {
        var tableFilter = 'processDetail-list-table',
            laypage = layui.laypage,
            $ = layui.jquery,
            route = layui.router(),
            admin = layui.admin,
            courseName = layui.data('techSet').techSetName,
            pageLimit = 20;

        $('#courseName').html(courseName);

        tableOption = {
            page: false,
            elem: '[lay-filter="' + tableFilter + '"]',
            cols: [
                [{
                        title: '序号',
                        field: 'id',
                        width: 80,
                        align: 'center',
                        templet: d => d.LAY_TABLE_INDEX + 1
                    },
                    {
                        title: '学生姓名',
                        field: 'userName',
                        align: 'center',
                        width: 120
                    },
                    {
                        title: '班级',
                        field: 'className',
                        align: 'center',
                        width: 200
                    },
                    {
                        title: '开始时间/结束时间',
                        align: 'center',
                        field: 'times',
                        width: 400,
                        templet: function (d) {
                            return admin.dateFormat(new Date(d.startTime).getTime() / 1000) +
                                "-" + admin.dateFormat(new Date(d.endTime).getTime() / 1000);
                        }
                    },
                    {
                        title: '次数',
                        field: 'countSize',
                        align: 'center',
                        width: 80
                    },
                    {
                        title: '累计时长',
                        align: 'totleTime',
                        width: 120,
                        templet: d => Math.floor(d.totleTime / 3600) + ":" + Math.floor(d
                            .totleTime % 3600 / 60) + ":" + d.totleTime % 60
                    }
                ]
            ]
        };

        //执行一个laypage实例
        layPageOption = {
            elem: 'processDetail-table-page', //注意，这里的 test1 是 ID，不用加 # 号
            first: '首页',
            last: '尾页',
            layout: [
                'first',
                'prev',
                'page',
                'next',
                'last',
                'count',
                'currLimit',
                'curr',
                'pageCount'
            ],
            jump: function (obj, first) {
                //首次不执行
                if (!first) {
                    getList(obj.curr)
                }
            }
        }

        getList = page => {
            admin.post({
                url: '/curriculumExperiment/queryTestResult',
                data: JSON.stringify({
                    page: page,
                    rows: pageLimit,
                    curriculumExperimentId: route.search.id || 0
                }),
                success: function (res) {

                    // 测试数据
                    // test = {
                    //     "msg": "成功",
                    //     "code": 200,
                    //     "data": {
                    //         "total": 3,
                    //         "items": [
                    //             {
                    //                 "countSize": 2,
                    //                 "totleTime": 15,
                    //                 "className": "一年级二班",
                    //                 "startTime": "2019-05-29T20:08:50.000+0000",
                    //                 "endTime": "2019-06-26T08:44:21.000+0000",
                    //                 "userName": "jack"
                    //             },
                    //             {
                    //                 "countSize": 1,
                    //                 "totleTime": 1000,
                    //                 "className": "二年级一班",
                    //                 "startTime": "2019-06-26T08:46:05.000+0000",
                    //                 "endTime": "2019-06-26T08:46:07.000+0000",
                    //                 "userName": "李四"
                    //             },
                    //             {
                    //                 "countSize": 1,
                    //                 "totleTime": 100,
                    //                 "className": "一年级一班",
                    //                 "startTime": "2019-06-26T08:46:46.000+0000",
                    //                 "endTime": "2019-06-26T08:46:45.000+0000",
                    //                 "userName": "王五"
                    //             }
                    //         ]
                    //     }
                    // }
                    // res = test

                    tableOption.data = (res.data && res.data.items) || [];
                    layPageOption.count = (res.data && res.data.total) || 0;
                    table.render(tableOption)
                    laypage.render(layPageOption)
                },
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        };

        getList(1)

        $('#source-add-cancle').on('click', function () {
            location.href = 'index.html#/techSet/processTest'
        })

    })

</script>

<style>
    .layui-table {
        width: 100%;
    }

    .processDetail-title .processDetail-title-location {
        float: left;
    }

    .processDetail-title .processDetail-title-search {
        float: right;
        text-align: right;
    }

    .processDetail-title .processDetail-title-search select,
    .processDetail-title .processDetail-title-search input {
        width: 118px;
        height: 30px;
        padding: 0 4px;
        border-radius: 0;
    }

    .processDetail-title .processDetail-title-search .search-project {
        line-height: 30px;
    }

    .processDetail-title .processDetail-title-search .search-confirm {
        width: 51px;
        height: 30px;
        background: #ff6600;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .processDetail-add {
        text-align: right;
        padding: 20px 0 10px;
    }

    .processDetail-add .add-btn {
        width: 70px;
        height: 30px;
        background: #ff6600;
        color: #fff;
        font-size: 16px;
    }

    #processDetail-opt {
        width: 200px;
    }

    .processDetail-set-btn {
        padding: 4px 10px;
        border: 1px solid #ccc;
        cursor: pointer;
    }

</style>
