<div id="ready-check" layui-title="选择实验">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span
                >开课管理 > <span id="courseName"></span> > 实验准备 >
                选择实验</span
            >
        </div>
    </div>
    <div class="ready-new-step">
        <div class="new-step-inner">
            <!-- <button class="layui-btn layui-btn-primary"
                    style="background-color: rgba(0, 102, 102, 1) !important; color: #fff">选择开课</button>
            <img src="src/images/arrow-right.svg"> -->
            <button class="layui-btn layui-btn-primary" style="color: red;">
                选择实验
            </button>
            <img src="src/images/arrow-right.svg" />
            <button class="layui-btn layui-btn-primary">设置安排属性</button>
            <img src="src/images/arrow-right.svg" />
            <button class="layui-btn layui-btn-primary">安排成功</button>
        </div>
    </div>
    <form action="" class="layui-form ready-new-title">
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">当前开课</label>
                <span style="line-height: 38px;" id="current_course"></span>
            </div>
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">实验名称</label>
                <select name="" id="">
                    <option value="">请选择实验名称</option>
                    <option value="">信号灯</option>
                    <option value="">转辙机</option>
                </select>
                <button class="search-confirm">
                    <img src="src/images/search.png" />
                </button>
            </div>
        </div>
    </form>
    <table id="ready-check-table" lay-filter="ready-check-table"></table>
    <script type="text/html" id="ready-check-opt">
        <button class="course-set-btn" lay-event="ready-check-detail">查看</button>
        <button class="course-set-btn" lay-event="ready-check-check">选择</button>
    </script>
    <div class="app-table-page" id="ready-check-page"></div>
</div>
<script>
    layui.use(['table', 'jquery', 'form', 'admin'], function(table, $) {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            tableFilter = 'ready-check-table',
            table = layui.table,
            admin = layui.admin,
            route = layui.router(),
            id = route.search.id || layui.sessionData('techSet').techSetId,
            courseName = layui.sessionData('techSet').techSetName,
            pageLimit = 20,
            layPageOption = {
                elem: 'ready-check-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: [
                    'first',
                    'prev',
                    'page',
                    'next',
                    'last',
                    'count',
                    'currLimit',
                    'curr',
                    'pageCount'
                ],
                jump: function(obj, first) {
                    //首次不执行
                    if (!first) {
                        getList(obj.curr)
                    }
                }
            },
            tableOption = {
                page: false,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [
                        {
                            title: '序号',
                            field: 'id',
                            width: 80,
                            align: 'center',
                            type: 'numbers'
                        },
                        {
                            title: '实验名称',
                            field: 'experimentName',
                            align: 'center'
                        },
                        {
                            title: '所属课程',
                            field: 'courseName',
                            align: 'center'
                        },
                        {
                            title: '实验类型',
                            field: 'typeName',
                            align: 'center'
                        },
                        {
                            title: '时长',
                            field: 'countTime',
                            align: 'center'
                        },
                        {
                            title: '创建者',
                            field: 'userName',
                            align: 'center'
                        },
                        {
                            title: '操作',
                            align: 'center',
                            templet: '#ready-check-opt',
                            fixed: 'right',
                            width: 200
                        }
                    ]
                ]
            }
        table.on('tool(ready-check-table)', function(obj) {
            var data = obj.data //获得当前行数据
            var layEvent = obj.event,
                type = ''
            if (layEvent === 'ready-check-check') {
                formData = data
                type = 'check'
                admin.navigate('/techSet/readyPlan')
            }
        })
        getList(1)
        $('#courseName').html(courseName)
        $('#current_course').html(courseName)

        function getList(page) {
            var data = {
                page: page,
                rows: pageLimit,
                curriculumId: 1,
                experimentId: 1
            }
            admin.post({
                url: '/curriculumExperiment/queryExpListByCurriculumId',
                data: JSON.stringify(data),
                success: function(res) {
                    tableOption.data = (res.data && res.data.items) || []
                    layPageOption.count = (res.data && res.data.total) || 0
                    table.render(tableOption)
                    laypage.render(layPageOption)
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getData(id) {
            admin.get({
                url: '/college/queryCollege?id=' + id,
                success: function(res) {},
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }
    })
</script>
<style>
    .ready-new-step {
        padding: 25px 0;
    }

    .new-step-inner {
        width: 60%;
        margin: 0 auto;
    }

    .ready-new-title {
        background: rgba(244, 245, 250, 1);
    }

    .ready-new-title .layui-form-item {
        margin-bottom: 0;
        padding: 8px 0;
    }

    .search-confirm {
        width: 60px;
        height: 38px;
        line-height: 38px;
        padding: 0 4px;
        margin-left: 10px;
    }
</style>
