<div id="ready-new" layui-title="布置新实验">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>开课管理 > 铁路信号知识 > 实验准备 > 布置新实验</span>
        </div>
    </div>
    <div class="ready-new-step">
        <div class="new-step-inner">
            <button class="layui-btn layui-btn-primary" style="color: red;">选择开课</button>
            <img src="src/images/arrow-right.svg">
            <button class="layui-btn layui-btn-primary">选择实验</button>
            <img src="src/images/arrow-right.svg">
            <button class="layui-btn layui-btn-primary">设置安排属性</button>
            <img src="src/images/arrow-right.svg">
            <button class="layui-btn layui-btn-primary">安排成功</button>
        </div>
    </div>

    <table id="ready-new-table" lay-filter="ready-new-table"></table>
    <script type="text/html" id="ready-new-opt">
        <button class="course-set-btn" id="sourcemanage-mylist-check">选择</button>
    </script>

</div>

<script>
    layui.use(['table', 'jquery'], function (table, $) {

        var $ = layui.jquery,
            laypage = layui.laypage,
            tableFilter = 'ready-new-table',
            table = layui.table;

        table.render({
            page: true,
            data: [{
                id: 1,
                courceName: '发电机哈哈',
                courseCode: 20190101,
                responsor: '王小虎',
                time: '第一学期',
                class: '所有年级',
                isCommon: false,
                score: 1
            }],
            elem: '[lay-filter="' + tableFilter + '"]',
            height: 'full-300',
            cols: [
                [{
                        title: '序号',
                        field: 'id',
                        width: 80,
                        align: 'center'
                    },
                    {
                        title: '开课代码',
                        field: 'courseCode',
                        align: 'center'
                    },
                    {
                        title: '开课名称',
                        field: 'courceName',
                        align: 'center'

                    },
                    {
                        title: '学时',
                        field: 'courseCode',
                        align: 'center'
                    },
                    {
                        title: '学分',
                        field: 'responsor',
                        align: 'center',
                    },
                    {
                        title: '上课地点',
                        field: 'responsor',
                        align: 'center',
                    },
                    {
                        title: '任课老师',
                        field: 'responsor',
                        align: 'center',
                    },
                    {
                        title: '操作',
                        align: 'center',
                        templet: '#ready-new-opt',
                    }
                ]
            ]
        })


        $('#sourcemanage-mylist-check').on('click', function () {
            location.href = 'index.html#/techset/readyCheck'
        })

    })
</script>

<style>
    .ready-new-step {
        padding: 25px 0;
    }

    .new-step-inner {
        width: 60%;
        margin: 0 auto;
    }
</style>