<div class="layui-fluid" id="readyTest" lay-title="开课管理">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span
                >开课管理 > <span id="coursePlanName"></span> 实验准备 >
                已安排实验</span
            >
        </div>
    </div>
    <table id="readyTest-list-table" lay-filter="readyTest-list-table"></table>
    <script type="text/html" id="readyTest-opt">
        <button class="course-set-btn" lay-event="edit">编辑</button>
        <button class="course-set-btn" lay-event="delete">删除</button>
         <button class="course-set-btn" lay-event="check">查看</button>
        {{#  if (d.state == 0) {}}
        <button class="course-set-btn" lay-event="publish">发布并邮件通知学生</button>
        {{#}  }}
    </script>
    <div class="app-table-page" id="readyTest-table-page"></div>
    <!--<div class="layui-btn" style="text-align: center"
         id="go_back"> 返回 </div>-->
</div>

<script>
    layui.use(['table', 'jquery', 'form', 'admin'], function(table, $) {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            tableFilter = 'readyTest-list-table',
            table = layui.table,
            admin = layui.admin,
            pageLimit = 20,
            courseId = Number(layui.sessionData('techSet').techSetId),
            courseName = layui.sessionData('techSet').techSetName,
            layPageOption = {
                elem: 'readyTest-table-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: [
                    'first',
                    'prev',
                    'page',
                    'next',
                    'last',
                    'count',
                    'currLimit',
                    'curr',
                    'pageCount'
                ],
                jump: function(obj, first) {
                    //首次不执行
                    if (!first) {
                        getList(obj.curr)
                    }
                }
            },
            tableOption = {
                page: false,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [
                        {
                            title: '序号',
                            field: 'id',
                            width: 80,
                            align: 'center',
                            type: 'numbers'
                        },
                        {
                            title: '实验名称',
                            field: 'experimentName',
                            align: 'center'
                        },
                        {
                            title: '开课名称',
                            field: 'courseName',
                            align: 'center'
                        },
                        {
                            title: '实验类型',
                            field: 'typeName',
                            align: 'center'
                        },
                        {
                            title: '开始/结束时间',
                            field: 'startTime',
                            align: 'center',
                            templet: function(d) {
                                return (
                                    d.startTime+
                                    '至' +
                                    d.endtTime
                                )
                            }
                        },
                        {
                            title: '操作',
                            align: 'center',
                            templet: '#readyTest-opt',
                            fixed: 'right',
                            width: 200
                        }
                    ]
                ]
            }

        $('#coursePlanName').html(courseName + ' >')
        table.on('tool(readyTest-list-table)', function(obj) {
            var data = obj.data //获得当前行数据
            var layEvent = obj.event,
                type = ''

            if (layEvent === 'edit' || layEvent === 'check') {
                admin.navigate('/techSet/readyDone/id=' + data.id)
            } else if (layEvent === 'delete') {
                layer.open({
                    type: 1,
                    offset: 'auto',
                    title: '系统提示',
                    content: '该信息为重要信息，是否删除？',
                    area: ['300px', '200px'],
                    shade: 0.4,
                    skin: 'system-modal',
                    shadeClose: true,
                    btn: ['确定', '取消'],
                    yes: function(index, layero) {
                        layer.close(index)
                        deleteData(data.id)
                    },
                    cancel: function(index) {
                        layer.close(index)
                    }
                })
            } else if (layEvent == 'publish') {
                layer.open({
                    type: 1,
                    offset: 'auto',
                    title: '系统提示',
                    content: '是否发布并邮件通知学生？',
                    area: ['300px', '200px'],
                    shade: 0.4,
                    skin: 'system-modal',
                    shadeClose: true,
                    btn: ['确定', '取消'],
                    yes: function(index, layero) {
                        layer.close(index)
                        publish(data.id)
                    },
                    cancel: function(index) {
                        layer.close(index)
                    }
                })
            }
        })

        getList(1)

        function publish(id) {
            admin.get({
                url: '/curriculumExperiment/publishAndSendMail?id=' + id,
                success: function(res) {
                    if (res.code == 200) {
                        layer.msg('发布并邮件通知学生成功')
                        getList(1)
                    }
                }
            })
        }

        function deleteData(id) {
            admin.delete({
                url: '/curriculumExperiment/delete?id=' + id,
                success: function(res) {
                    if (res.code == 200) {
                        layer.msg('删除成功')
                        getList(1)
                    } else {
                        layer.msg(res.msg || '删除失败')
                    }
                }
            })
        }

        function getList(page) {
            var data = {
                page: page,
                rows: pageLimit,
                curriculumId: courseId
                // experimentId: null
            }
            admin.post({
                url:
                    '/curriculumExperiment/queeyCurriculumExperimentListForAP',
                data: JSON.stringify(data),
                success: function(res) {
                    tableOption.data = (res.data && res.data.items) || []
                    layPageOption.count = (res.data && res.data.total) || 0
                    table.render(tableOption)
                    laypage.render(layPageOption)
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getData(id) {
            admin.get({
                url: '/college/queryCollege?id=' + id,
                success: function(res) {},
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        $(document)
            .off('mousedown', '.layui-table-grid-down')
            .on('mousedown', '.layui-table-grid-down', function(event) {
                table._tableTrCurr = $(this).closest('td')
            })
        $(document)
            .off('click', '.layui-table-tips-main [lay-event]')
            .on('click', '.layui-table-tips-main [lay-event]', function(event) {
                var elem = $(this)
                var tableTrCurr = table._tableTrCurr
                if (!tableTrCurr) {
                    return
                }
                var layerIndex = elem.closest('.layui-table-tips').attr('times')
                // 关闭当前这个显示更多的tip
                layer.close(layerIndex)
                table._tableTrCurr
                    .find('[lay-event="' + elem.attr('lay-event') + '"]')
                    .first()
                    .click()
            })
        $("#go_back").click(function () {
            window.history.go(-1)
            // 
        })
    })
</script>

<style>
    .layui-table {
        width: 100%;
    }

    .readyTest-title .readyTest-title-location {
        float: left;
    }

    .readyTest-title .readyTest-title-search {
        float: right;
        text-align: right;
    }

    .readyTest-title .readyTest-title-search select,
    .readyTest-title .readyTest-title-search input {
        width: 118px;
        height: 30px;
        padding: 0 4px;
        border-radius: 0;
    }

    .readyTest-title .readyTest-title-search .search-project {
        line-height: 30px;
    }

    .readyTest-title .readyTest-title-search .search-confirm {
        width: 51px;
        height: 30px;
        background: #ff6600;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .readyTest-add {
        text-align: right;
        padding: 20px 0 10px;
    }

    .readyTest-add .add-btn {
        width: 70px;
        height: 30px;
        background: #ff6600;
        color: #fff;
        font-size: 16px;
    }

    #readyTest-opt {
        width: 200px;
    }

    .readyTest-set-btn {
        padding: 4px 10px;
        border: 1px solid #ccc;
        cursor: pointer;
    }
</style>
