<div id="ready-new"
     layui-title="布置新实验">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>开课管理 > <span id="courseName"></span> 实验准备 > 布置新实验</span>
        </div>
    </div>
    <div class="ready-new-step">
        <div class="new-step-inner">
            <button class="layui-btn layui-btn-primary"
                    style="color: red;">选择开课</button>
            <img src="src/images/arrow-right.svg">
            <button class="layui-btn layui-btn-primary">选择实验</button>
            <img src="src/images/arrow-right.svg">
            <button class="layui-btn layui-btn-primary">设置安排属性</button>
            <img src="src/images/arrow-right.svg">
            <button class="layui-btn layui-btn-primary">安排成功</button>
        </div>
    </div>
    <table id="ready-new-table"
           lay-filter="ready-new-table"></table>
    <script type="text/html"
            id="ready-new-opt">
        <button class="course-set-btn" lay-event="check">查看</button>
        <button class="course-set-btn" lay-event="choose">选择</button>
    </script>
    <div class="app-table-page"
         id="ready-new-page"></div>
</div>
<script>
    layui.use(['table', 'jquery', 'form', 'admin'], function (table, $) {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            tableFilter = 'ready-new-table',
            table = layui.table,
            admin = layui.admin,
            pageLimit = 20,
            courseId = layui.data('techSet').techSetId,
            courseName = layui.data('techSet').techSetName,
            layPageOption = {
                elem: 'ready-new-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: ['first', 'prev', 'page', 'next', 'last', 'count', 'currLimit', 'curr', 'pageCount'],
                jump: function (obj, first) {
                    //首次不执行
                    if (!first) {
                        getList(obj.curr)
                    }
                }
            },
            tableOption = {
                page: false,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [{
                        title: '序号',
                        field: 'id',
                        width: 80,
                        align: 'center',
                        type: 'numbers'
                    }, {
                        title: '实验名称',
                        field: 'experimentName',
                        align: 'center'
                    }, {
                        title: '所属课程',
                        field: 'courseName',
                        align: 'center'
                    }, {
                        title: '实验类型',
                        field: 'typeName',
                        align: 'center'
                    }, {
                        title: '实验时长',
                        field: 'countTime',
                        align: 'center'
                    }, {
                        title: '创建者',
                        field: 'userName',
                        align: 'center'
                    }, {
                        title: '操作',
                        align: 'center',
                        templet: '#ready-new-opt',
                        fixed: 'right',
                        width: 200
                    }]
                ]
            },
            formData = {
                lastOrg: '',
                collegeName: '',
                collegeNumber: '',
                type: '',
                remark: ''
            };
        table.on('tool(ready-new-table)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event,
                type = '';
            if (layEvent === 'check') {
                location.href = 'index.html#/experiment/myDetails/id=' + data.id
            } else if (layEvent === 'choose') {
                layui.data('course', {
                    key: 'experimentId',
                    value: data.id
                })
                location.href = 'index.html#/experiment/readyPlan'
            }
            form.render();
        })
        getList(1)
        $('#courseName').html(courseName + ' >')

        function getList(page) {
            var data = {
                page: page,
                rows: pageLimit,
                curriculumId: Number(layui.data('techSet').techSetId)
            }
            admin.post({
                url: '/curriculumExperiment/queryExpListByCurriculumId',
                data: JSON.stringify(data),
                success: function (res) {
                    tableOption.data = (res.data && res.data.items) || [];
                    layPageOption.count = (res.data && res.data.total) || 0;
                    table.render(tableOption)
                    laypage.render(layPageOption)
                },
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        };

        function deleteData(id) {
            admin.delete({
                url: '/college/deleteCollege?id=' + id,
                success: function (res) {
                    getList(1)
                },
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        }

        function updateData(data) {
            var data = {
                id: data.id,
                collegeName: data.collegeName
            }
            admin.put({
                url: '/college/updateCollege',
                data: JSON.stringify(data),
                success: function (res) {
                    getList(1)
                },
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        }

        function getData(id) {
            admin.get({
                url: '/college/queryCollege?id=' + id,
                success: function (res) {},
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        }

        function addData(data) {
            var data = {
                collegeName: data.collegeName
            }
            admin.post({
                url: '/college/addCollege',
                data: JSON.stringify(data),
                success: function (res) {
                    getList(1)
                },
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        }

        function getFormData() {
            formData = {
                lastOrg: $('#last-org').val(),
                collegeName: $('#college-name').val(),
                collegeNumber: $('#college-number').val(),
                type: $('#college-type').val(),
                remark: $('#college-remark').val()
            }
        }
    })
</script>
<style>
    .ready-new-step {
        padding: 25px 0;
    }

    .new-step-inner {
        width: 60%;
        margin: 0 auto;
    }
</style>