<div>
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span
                >开课管理 > <span id="coursePlanName"></span> 实验准备 >
                布置新实验</span
            >
        </div>
    </div>
    <div class="ready-new-step">
        <div class="new-step-inner">
            <button
                class="layui-btn layui-btn-primary"
                style="background-color: rgba(0, 102, 102, 1) !important; color: #fff"
            >
                选择开课
            </button>
            <img src="src/images/arrow-right.svg" />
            <button
                class="layui-btn layui-btn-primary"
                style="background-color: rgba(0, 102, 102, 1) !important; color: #fff"
            >
                选择实验
            </button>
            <img src="src/images/arrow-right.svg" />
            <button class="layui-btn layui-btn-primary" style="color: red;">
                设置安排属性
            </button>
            <img src="src/images/arrow-right.svg" />
            <button class="layui-btn layui-btn-primary">安排成功</button>
        </div>
    </div>
    <form action="" class="layui-form">
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label ">实验名称</label>
                <input
                    type="text"
                    class="common-form-input"
                    id="experimentName"
                />
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">所属开课名称</label>
                <span class="info-details" id="courseName"></span>
            </div>
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">选课人数</label>
                <span class="info-details" id="countStudent"></span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">必做/选做</label>
                <input
                    type="radio"
                    name="experimentType"
                    value="1"
                    title="必做"
                />
                <input
                    type="radio"
                    name="experimentType"
                    value="2"
                    title="选做"
                    checked
                />
            </div>
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">实验类型</label>
                <span class="info-details" id="typeName"></span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label ">成绩比重</label>
                <span>实验成绩比例：</span>
                <input
                    type="text"
                    class="common-form-input"
                    style="width: 120px"
                    id="reportRatio"
                />%
                <span>报告成绩比例：</span>
                <input
                    type="text"
                    class="common-form-input"
                    style="width: 120px"
                    id="experimentRatio"
                />%
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label require">实验地点</label>
                <select name="sourceType" lay-verify="" id="experimentLab">
                    <option value="">选择实验地点</option>
                </select>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label ">实验报告批改类型</label>
                <input
                    type="radio"
                    name="correctType"
                    value="0"
                    title="在线编辑模式"
                />
                <input
                    type="radio"
                    name="correctType"
                    value="1"
                    title="上传pdf模式"
                    checked
                />
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">周次</label>
                <select name="labTime" lay-verify="" id="labTime">
                    <option value="">选择周次</option>
                </select>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label require">开始时间</label>
                <input
                    type="text"
                    class="common-form-input"
                    style="width: 230px;"
                    id="startTime"
                />
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label require">截止时间</label>
                <input
                    type="text"
                    class="common-form-input"
                    style="width: 230px;"
                    id="endTime"
                />
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-btn primary-btn" id="ready-plan">
                    安排
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    layui.use(['form', 'laydate'], function() {
        var form = layui.form,
            $ = layui.jquery,
            laydate = layui.laydate,
            router = layui.router(),
            id = router.search.id,
            courseId = layui.data('techSet').techSetId,
            courseName = layui.data('techSet').techSetName,
            admin = layui.admin,
            details = {}

        $('#coursePlanName').html(courseName + ' >')

        form.render()

        laydate.render({
            elem: '#startTime',
            type: 'datetime'
        })
        laydate.render({
            elem: '#endTime',
            type: 'datetime'
        })

        $('#ready-plan').on('click', function() {
            addData()
            return false
        })

        getList()
        getWeekList()
        getExperimentRoomList()

        function addData() {
            var data = {
                curriculumId: Number(courseId),
                experimentId: Number(id),
                experimentLab: Number($('#experimentLab').val()),
                correctType: Number($('input[name=correctType]:checked').val()),
                labTime: Number($('#labTime').val()),
                countStu: details.countStudent,
                reportRatio: $('#reportRatio').val(),
                experimentRatio: $('#experimentRatio').val(),
                startTime: new Date($('#startTime').val()).getTime(),
                endTime: new Date($('#endTime').val()).getTime(),
                experimentName: $('#experimentName').val(),
                experimentType: Number(
                    $('input[name=experimentType]:checked').val()
                )
            }

            admin.post({
                url: '/curriculumExperiment/teacherAdd',
                data: JSON.stringify(data),
                success: function(res) {
                    if (res.code === 200) {
                        layer.msg('添加成功')
                        window.location.href =
                            'index.html#/techSet/readyDone/id=' + res.data.id
                        window.location.reload()
                    } else {
                        layer.msg(res.msg || '添加失败')
                    }
                }
            })
        }

        function getList() {
            var data = {
                page: 1,
                rows: 100,
                curriculumId: Number(layui.data('techSet').techSetId),
                experimentId: Number(id)
            }
            admin.post({
                url: '/curriculumExperiment/queryExpListByCurriculumId',
                data: JSON.stringify(data),
                success: function(res) {
                    details = res.data && res.data.items && res.data.items[0]
                    $('#courseName').html(details.courseName)
                    $('#countStudent').html(details.countStudent)
                    $('#typeName').html(details.typeName)
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getWeekList() {
            admin.get({
                url: '/cycle/queryCycleList',
                success: function(res) {
                    if (res.data) {
                        var list = res.data,
                            opt = ''
                        for (var i = 0; i < list.length; i++) {
                            opt +=
                                '<option value="' +
                                list[i].id +
                                '">' +
                                list[i].name +
                                '</option>'
                        }
                        $('#labTime').append(opt)
                        form.render()
                    }
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getExperimentRoomList(callback) {
            admin.post({
                url: '/mpLab/vsMpLabListInfo',
                data: JSON.stringify({
                    page: 1,
                    rows: 100
                }),
                success: function(res) {
                    res.data.items &&
                        res.data.items.forEach(function(item) {
                            $('#experimentLab').append(
                                '<option value="' +
                                    item.id +
                                    '">' +
                                    item.labName +
                                    '</option>'
                            )
                        })
                    form.render()
                    callback && typeof callback === 'function' && callback()
                }
            })
        }
    })
</script>

<style>
    .ready-new-step {
        padding: 25px 0;
    }

    .new-step-inner {
        width: 60%;
        margin: 0 auto;
    }

    .common-form-input {
        line-height: 38px;
        height: 38px;
        /* width: 80%; */
    }

    .info-details {
        line-height: 38px;
    }
</style>
