<div class="layui-fluid" id="resultUpdate" lay-title="开课管理">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>开课管理 > <span id="coursePlanName"></span> > 实验结果 > 实验批改</span>
        </div>
        <div class="course-title-search">
            <span class="search-project">学生姓名</span>
            <input type="text" id="userName"/>
            <span class="search-project">学号</span>
            <input type="text"  id="userNum"/>
            <!--<span class="search-project">提交状态</span>
            <select name="submit"  id="submit">
                <option value="">请选择</option>
                <option value="">已提交</option>
                <option value="">未提交</option>
            </select>-->
            <button class="search-confirm" id="searchResultTestList">
                <img src="src/images/search.png" />
            </button>
        </div>
    </div>
    <div class="course-add">
        <button class="add-btn" id="publish-score">发布成绩</button>
        <button class="add-btn" id="export-score">成绩导出</button>
        <!--<button class="add-btn" id="import-report">报告导出</button>-->
    </div>
    <table
        id="resultUpdate-list-table"
        lay-filter="resultUpdate-list-table"
    ></table>
    <script type="text/html" id="resultUpdate-opt">
        <button class="course-set-btn" id="resultUpdate-add-edit">手动批改</button>
    </script>
    <div class="app-table-page" id="resultUpdate-table-page"></div>
</div>

<script>
    layui.use(['table', 'jquery'], function(table, $) {
        var tableFilter = 'resultUpdate-list-table',
            laypage = layui.laypage,
            admin = layui.admin,
            $ = layui.jquery,
            conf = layui.conf,
            route = layui.router(),
            curriculumExperimentId = route.search.id,
            type = route.search.type,
            hasPublishScore = false;
        $('#coursePlanName').html(layui.sessionData('techSet').techSetName)
        if(type == 'check') {
            $('#publish-score').hide()
        }

        tableOption = {
            page: false,
            data: [
                {
                    id: 1,
                    courceName: '留存发',
                    resultUpdateCode: 20190101,
                    responsor: '13000000000',
                    time: '土木工程',
                    class: '已提交',
                    isCommon: 88,
                    score: 88,
                    score: 88
                }
            ],
            elem: '[lay-filter="' + tableFilter + '"]',
            cols: [
                [
                    {
                        title: '序号',
                        field: 'id',
                        width: 80,
                        align: 'center',
                        type: 'numbers'
                    },
                    {
                        title: '学生姓名',
                        field: 'userName',
                        align: 'center'
                    },
                    {
                        title: '学号',
                        field: 'snoOrJno',
                        align: 'center'
                    },
                    {
                        title: '手机',
                        field: 'mobile',
                        align: 'center'
                    },
                    {
                        title: '班级',
                        align: 'center',
                        field: 'classes',
                        width: 80
                    },
                    {
                        title: '是否批改',
                        align: 'center',
                        field: 'state',
                        width: 80,
                        templet: function(d) {
                            if(d.state == 2) return '已批改';
                            else if(d.state == 3) return '已发布成绩';
                            else return '未批改'
                        }
                    },
                    {
                        field: 'experimentRatio',
                        title: '实验成绩',
                        align: 'center'
                    },
                    {
                        field: 'reportRatio',
                        title: '报告成绩',
                        align: 'center'
                    },
                    {
                        field: 'isCommon',
                        title: '总成绩',
                        align: 'center',
                        templet: function(d) {
                            return (d.experimentRatio || 0) + (d.reportRatio || 0)
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        templet: '#resultUpdate-opt',
                        width: 180,
                        templet: function(d) {
                            return  '<button class="course-set-btn" lay-event="resultUpdate-add-edit"  '+(hasPublishScore || type =='check'?'disabled="disabled"':'')+'>手动批改</button>'
                        }
                    }
                ]
            ]
        }
        pageOption = {
            elem: 'resultUpdate-table-page', //注意，这里的 test1 是 ID，不用加 # 号
            count: 50, //数据总数，从服务端得到
            limit: 10,
            first: '首页',
            last: '尾页',
            hash: 'page',
            curr: location.hash.replace('#!page=', ''),
            layout: [
                'first',
                'prev',
                'page',
                'next',
                'last',
                'count',
                'currLimit',
                'curr',
                'pageCount'
            ]
        }
        function getTableList(page) {
            admin.post({
                url: '/vsMpTestRecord/queryCorrectionExperimentListForStu',
                data: JSON.stringify({
                    curriculumExperimentId: curriculumExperimentId,
                    userName: $('#userName').val(),
                    userNum: $('#userNum').val(),
                    submit: $('#submit').val(),
                    rows: 10,
                    page: page
                }),
                success: function(res) {
                    tableOption.data = (res.data && res.data.items) || []
                    pageOption.count = (res.data && res.data.total) || 0
                    table.render(tableOption)
                    laypage.render(pageOption)
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }
        getTableList(1)

        $('#searchResultTestList').click(function() {
            getTableList(1)
        })

        table.on('tool(resultUpdate-list-table)', function(obj) {
            var data = obj.data //获得当前行数据
            var layEvent = obj.event;

            if (layEvent === 'resultUpdate-add-edit') {
                // 手动批改
                formData = data
                admin.navigate('/techSet/teacherScoring/id=' + data.id)
            }
        })

        // 发布成绩
        $('#publish-score').click(function() {
            publishScore()
            // layer.confirm(
            //     '您确定要发布么?',
            //     {
            //         icon: 3,
            //         title: '提示',
            //         shade: 0.5,
            //         maxWidth: 500,
            //         maxHeight: 500
            //     },
            //     function(confirm) {
            //         publishScore()
            //     },
            //     function(cancel) {
            //         layer.close(cancel)
            //     }
            // )
        })
        function publishScore() {
            admin.get({
                url: '/vsMpTestRecord/release?curriculumExperimentId=' + curriculumExperimentId,
                success: function(res) {
                    if (res.code === 200) {
                        $('#publish-score').hide()
                        hasPublishScore = true;
                        getTableList(pageOption.curr)
                        layer.msg('发布成功！')
                    } else {
                        layer.msg((res && res.msg) || '发布失败')
                    }
                }
            })
        }

        // 成绩导出
        $('#export-score').click(function() {
            admin.get({
                url: '/vsMpTestRecord/isDownload?curriculumExperimentId=' + curriculumExperimentId,
                success: function (res) {
                    if (res.code == 200){
                        window.open(conf.requestUrl + '/vsMpTestRecord/downloadResult?curriculumExperimentId=' + curriculumExperimentId);
                    }else{
                        layer.msg(res.msg || '导出失败')
                    }
                },error:function (err) {
                    layer.msg(err.msg || '导出失败')
                }
            })
//            window.open(conf.requestUrl + '/vsMpTestRecord/downloadResult?curriculumExperimentId=' + curriculumExperimentId);

            // admin.get({
            //     url: '/vsMpTestRecord/downloadResult?curriculumExperimentId=' + curriculumExperimentId,
            //     success: function (res)  {
            //         if (res.code === 200) {
            //         } else {
            //             layer.msg((res && res.msg) || '导出失败')
            //         }
            //     }
            // })
        })

        $('#resultUpdate-add-edit').on('click', function() {
            admin.navigate('/techSet/teacherScoring')
        })

    })
</script>

<style>
    .layui-table {
        width: 100%;
    }

    .resultUpdate-title .resultUpdate-title-location {
        float: left;
    }

    .resultUpdate-title .resultUpdate-title-search {
        float: right;
        text-align: right;
    }

    .resultUpdate-title .resultUpdate-title-search select,
    .resultUpdate-title .resultUpdate-title-search input {
        width: 118px;
        height: 30px;
        padding: 0 4px;
        border-radius: 0;
    }

    .resultUpdate-title .resultUpdate-title-search .search-project {
        line-height: 30px;
    }

    .resultUpdate-title .resultUpdate-title-search .search-confirm {
        width: 51px;
        height: 30px;
        background: #ff6600;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .resultUpdate-add {
        text-align: right;
        padding: 20px 0 10px;
    }

    .resultUpdate-add .add-btn {
        width: 70px;
        height: 30px;
        background: #ff6600;
        color: #fff;
        font-size: 16px;
    }

    #resultUpdate-opt {
        width: 200px;
    }

    .resultUpdate-set-btn {
        padding: 4px 10px;
        border: 1px solid #ccc;
        cursor: pointer;
    }
</style>
