<div id="techset-techPre"
     layui-title="课程导读">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>开课管理 > <span id="preCourseName"></span> > 课程导读</span>
        </div>
    </div>
    <form action=""
          class="layui-form my-form">
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">课程导读名称</label>
                <span id="name"
                      class="info-details"></span>
                <div class="layui-btn layui-btn-primary"
                     style="margin-left: 60px;"
                     id="tech-pre-check"> 查看其他导师导读 </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">原创者</label>
                <span id="userName"
                      class="info-details"></span>
            </div>
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">是否可被引用</label>
                <span id="cited"
                      class="info-details"></span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">建议分数</label>
                <span id="recommendedScores"
                      class="info-details"></span>
            </div>
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">创建时间</label>
                <span id="createTime"
                      class="info-details"></span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label ">课程导读内容</label>
                <div class="layui-col-md9">
                    <textarea name="content"
                              id="content"
                              class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label "></label>
                <!-- todo: 缺少修改页面 -->
                <!-- <button class="layui-btn primary-btn"
                        id="tech-pre-save"> 修改 </button> -->
                <div class="layui-btn "
                        id="tech-pre-back"> 返回首页 </div>
            </div>
        </div>
    </form>
</div>
<script>
    var checkDetails = {},
        preDetailsTemp = ''
    layui.use([], function () {
        var $ = layui.jquery,
            admin = layui.admin,
            route = layui.router(),
            id = route.search.id || layui.data('techSet').techSetId,
            courseName = layui.data('techSet').techSetName;
        $('#tech-pre-back').on('click', function () {
            location.href = '/index.html#/'
            location.reload()
        })
        getDetails()
        getOtherList()
        getTemplate()

        function getDetails() {
            admin.get({
                url: '/introduction/queryById?id=' + id,
                success: function (res) {
                    var data = res.data || {}
                    $('#preCourseName').html(data.name || courseName)
                    $('#userName').html(data.userName)
                    $('#name').html(data.name)
                    $('#cited').html(data.cited === 0 ? '引用' : '未引用')
                    $('#recommendedScores').html(data.recommendedScores)
                    $('#content').val(data.content)
                    $('#createTime').html(data.createTime)
                }
            })
        }

        function getOtherList() {
            var data = {
                page: 1,
                rows: 1000
            }
            admin.post({
                url: '/introduction/list',
                data: JSON.stringify(data),
                success: function (res) {
                    var list = ''
                    for (var i = 0; i < res.data.length; i++) {
                        var item = res.data[i]
                        list += '<tr>' + '<td>' + (i + 1) + '</td>' + '<td>' + item.name + '</td>' +
                            '<td>' + item.userName + '</td>' + '<td>' + admin.dateFormat(new Date(
                                item.createTime).getTime() / 1000) + '</td>' + '<td>' + item.recommendedScores +
                            '</td>' + '<td>' +
                            '<button class="layui-btn layui-btn-primary pre-check-detail" data-index="' +
                            i + '">查看</button>' + '</td>' + '</tr>'
                    }
                    $('#tech-pre-check').on('click', function () {
                        layer.open({
                            type: 1,
                            offset: 'auto',
                            title: '教师课程导读列表',
                            content: getTemplate(list),
                            area: ['700px'],
                            shade: 0.4,
                            shadeClose: true
                        })
                        $('.pre-check-detail').click(function () {
                            var index = $(this).data('index')
                            check(res.data[index])
                        })
                    })
                }
            })
        }

        function getTemplate(list) {
            return ('<table class="layui-table">' + '<thead>' + '<tr>' + '<th>序号</th>' + '<th>资源名称</th>' +
                '<th>原创者</th>' + '<th>引用时间</th>' + '<th>建议分数</th>' + '<th>操作</th>' + '</tr>' + '</thead>' +
                '<tbody>' + list + '</tbody>' + '</table>')
        }

        function check(data) {
            preDetailsTemp = '<div class="pre-details">' + '<div class="details-item">' +
                '<span class="details-item-label">课程导读名称</span>' + '<span class="details-item-text">' + data.name +
                '</span>' + '</div>' + '<div class="details-item">' + '<div class="details-item-inner">' +
                '<span class="details-item-label">原创者</span>' + '<span class="details-item-text">' + data.userName +
                '</span>' + '</div>' + '<div class="details-item-inner">' +
                '<span class="details-item-label">是否可被引用</span>' + '<span class="details-item-text">' + (data.cited ===
                    0 ? '引用' : '未引用') + '</span>' + '</div>' + '</div>' + '<div class="details-item">' +
                '<div class="details-item-inner">' + '<span class="details-item-label">建议分数</span>' +
                '<span class="details-item-text">' + data.recommendedScores + '</span>' + '</div>' +
                '<div class="details-item-inner">' + '<span class="details-item-label">创建时间</span>' +
                '<span class="details-item-text">' + admin.dateFormat(new Date(data.createTime).getTime() /
                    1000) + '</span>' + '</div>' + '</div>' + '<div class="details-item details-item-content">' +
                '<span class="details-item-label">课程导读内容</span>' + '<div class="details-item-text">' + data.content +
                '</div>' + '</div>' + '</div>'
            layer.open({
                type: 1,
                offset: 'auto',
                title: '教师课程导读查看',
                content: preDetailsTemp,
                area: ['700px'],
                btn: ['返回列表'],
                shade: 0.4,
                shadeClose: true
            })
        }
    })
</script>
<style>
    #techset-techPre {}

    #techset-techPre .my-form {
        padding: 25px 0;
    }

    #techset-techPre .info-details {
        display: inline-block;
        line-height: 38px;
    }

    .pre-details,
    .details-item {
        width: 100%;
        font-size: 14px;
        clear: both;
        overflow: hidden;
    }

    .details-item {
        height: 39px;
        border-bottom: 1px solid #999;
    }

    ::-webkit-scrollbar-track {
        background-color: none;
    }

    .details-item-inner {
        width: 50%;
        height: 38px;
    }

    .details-item-label {
        display: block;
        width: 100px;
        text-align: right;
        font-weight: bold;
        height: 38px;
        line-height: 38px;
        padding: 0 8px;
        background: #ededed;
    }

    .details-item-text {
        height: 38px;
        line-height: 38px;
        padding: 0 8px;
    }

    .details-item-inner,
    .details-item-label,
    .details-item-text {
        float: left;
    }

    .details-item-content {
        height: 100px;
    }

    .details-item-content .details-item-text {
        width: 500px;
        word-break: break-all;
        word-wrap: break-word;
        height: 100%;
    }

    .details-item-content .details-item-label {
        height: 100%;
    }
</style>