<div id="techset-techPre-edit"
     layui-title="课程导读">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>开课管理 > <span id="preCourseName"></span> 课程导读</span>
        </div>
    </div>
    <form class="layui-form my-form">
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">课程导读名称</label>
                <input class="common-form-input"
                       type="text"
                       id="name"
                       placeholder="请输入课程导读名称" />
            </div>
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">参考导读</label>
                <div class="layui-btn layui-btn-primary"
                     style=""
                     id="tech-pre-check"> 查看其他导师导读 </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label ">是否可被引用</label>
                <div class="layui-input-block">
                    <input type="radio"
                           name="cited"
                           value="1"
                           title="是" />
                    <input type="radio"
                           name="cited"
                           value="0"
                           title="否" />
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label ">建议分数</label>
                <input class="common-form-input"
                       type="text"
                       id="recommendedScores"
                       placeholder="请输入建议分数" />
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label ">课程导读内容</label>
                <div class="layui-col-md9">
                    <div id="techSet_content"></div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label "></label>
                <div class="layui-btn primary-btn"
                     id="tech-edit-save"> 提交 </div>
                <div class="layui-btn "
                     id="tech-edit-back"> 取消 </div>
            </div>
        </div>
    </form>
</div>
<script>
    var checkDetails = {},
        preDetailsTemp = ''
    layui.use(['layedit'], function () {
        var $ = layui.jquery,
            admin = layui.admin,
            form = layui.form,
            layedit = layui.layedit,
            route = layui.router(),
            id = route.search.id || layui.data('techSet').techSetId,
            type = route.search.type,
            courseName = layui.data('techSet').techSetName;
            courserId = '';
        var index = layedit.build('techSet_content', {
            tool: ['strong', //加粗
                'italic', //斜体
                'underline', //下划线
                'del', //删除线
                '|', //分割线
                'left', //左对齐
                'center', //居中对齐
                'right', //右对齐
                'link', //超链接
                'image' //插入图片
            ]
        })
        form.render()
        $('#tech-edit-back').on('click', function () {
            // location.href = '/index.html#/techSet/techPre/id=' + id
            // location.reload()
            admin.navigate('/techSet/techPre/id='+id)
            admin.setSideNav()
        })
        $('#tech-edit-save').click(function () {
            if (type === 'edit') {
                updateData()
            } else {
                addData()
            }
        })
        type === 'edit' && getDetails()
        getOtherList()
        getTemplate()

        function addData() {
            var data = {
                name: $('#name').val(),
                cited: Number($('input[name=cited]:checked').val()),
                recommendedScores: Number($('#recommendedScores').val()),
                content: layedit.getContent(index),
                coursePlanId: Number(id)
            }
            admin.post({
                url: '/introduction/add',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.code === 200) {
                        layer.msg('添加成功！')
                        location.href = '/index.html#/techSet/techPre/id=' + id
                        location.reload()
                    } else {
                        layer.msg(res.msg || '添加失败')
                    }
                }
            })
        }

        function updateData() {
            var data = {
                id: courserId,
                name: $('#name').val(),
                cited: $('input[name=cited]:checked').val(),
                recommendedScores: Number($('#recommendedScores').val()),
                content: layedit.getContent(index),
                coursePlanId: Number(id)
            }
            admin.put({
                url: '/introduction/update',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.code === 200) {
                        layer.msg('修改成功！')
                        location.href = '/index.html#/techSet/techPre/id=' + id
                        location.reload()
                    } else {
                        layer.msg(res.msg || '修改失败')
                    }
                }
            })
        }

        function getDetails() {
            admin.get({
                url: '/introduction/queryById?id=' + id,
                success: function (res) {
                    if (!res.data) return
                    var data = res.data || {}
                    $('#preCourseName').html((courseName) + ' > ')
                    $('#userName').val(data.userName)
                    $('#name').val(data.name)
                    $('input[name=cited]').each(function (index) {
                        if ($(this).val() == data.cited) {
                            $(this).attr('checked', true)
                            form.render()
                        }
                    })
                    courserId = data.id
                    $('#cited').val(data.cited === 0 ? '引用' : '未引用')
                    $('#recommendedScores').val(data.recommendedScores)
                    layedit.setContent(index, data.content)
                    form.render()
                }
            })
        }

        function getOtherList() {
            var data = {
                page: 1,
                rows: 1000
            }
            admin.post({
                url: '/introduction/list',
                data: JSON.stringify(data),
                success: function (res) {
                    var list = ''
                    for (var i = 0; i < res.data.length; i++) {
                        var item = res.data[i]
                        list += '<tr>' + '<td>' + (i + 1) + '</td>' + '<td>' + item.name + '</td>' +
                            '<td>' + item.userName + '</td>' + '<td>' + admin.dateFormat(new Date(
                                item.createTime).getTime() / 1000) + '</td>' + '<td>' + item.recommendedScores +
                            '</td>' + '<td>' +
                            '<button class="layui-btn layui-btn-primary pre-check-detail" data-index="' +
                            i + '">查看</button>' + '</td>' + '</tr>'
                    }
                    $('#tech-pre-check').on('click', function () {
                        layer.open({
                            type: 1,
                            offset: 'auto',
                            title: '教师课程导读列表',
                            content: getTemplate(list),
                            area: ['700px'],
                            shade: 0.4,
                            shadeClose: true
                        })
                        $('.pre-check-detail').click(function () {
                            var index = $(this).data('index')
                            check(res.data[index])
                        })
                    })
                }
            })
        }

        function getTemplate(list) {
            return ('<table class="layui-table">' + '<thead>' + '<tr>' + '<th>序号</th>' + '<th>资源名称</th>' +
                '<th>原创者</th>' + '<th>引用时间</th>' + '<th>建议分数</th>' + '<th>操作</th>' + '</tr>' + '</thead>' +
                '<tbody>' + list + '</tbody>' + '</table>')
        }

        function check(data) {
            preDetailsTemp = '<div class="pre-details">' + '<div class="details-item">' +
                '<span class="details-item-label">课程导读名称</span>' + '<span class="details-item-text">' + data.name +
                '</span>' + '</div>' + '<div class="details-item">' + '<div class="details-item-inner">' +
                '<span class="details-item-label">原创者</span>' + '<span class="details-item-text">' + data.userName +
                '</span>' + '</div>' + '<div class="details-item-inner">' +
                '<span class="details-item-label">是否可被引用</span>' + '<span class="details-item-text">' + (data.cited ===
                    0 ? '引用' : '未引用') + '</span>' + '</div>' + '</div>' + '<div class="details-item">' +
                '<div class="details-item-inner">' + '<span class="details-item-label">建议分数</span>' +
                '<span class="details-item-text">' + data.recommendedScores + '</span>' + '</div>' +
                '<div class="details-item-inner">' + '<span class="details-item-label">创建时间</span>' +
                '<span class="details-item-text">' + admin.dateFormat(new Date(data.createTime).getTime() /
                    1000) + '</span>' + '</div>' + '</div>' + '<div class="details-item details-item-content">' +
                '<span class="details-item-label">课程导读内容</span>' + '<div class="details-item-text">' + data.content +
                '</div>' + '</div>' + '</div>'
            layer.open({
                type: 1,
                offset: 'auto',
                title: '教师课程导读查看',
                content: preDetailsTemp,
                area: ['700px'],
                btn: ['返回列表'],
                shade: 0.4,
                shadeClose: true
            })
        }
    })
</script>
<style>
    #techset-techPre-edit .my-form {
        padding: 25px 0;
    }

    #techset-techPre-edit .info-details {
        display: inline-block;
        line-height: 38px;
    }

    .pre-details,
    .details-item {
        width: 100%;
        font-size: 14px;
        clear: both;
        overflow: hidden;
    }

    .details-item {
        height: 39px;
        border-bottom: 1px solid #999;
    }

    ::-webkit-scrollbar-track {
        background-color: none;
    }

    .details-item-inner {
        width: 50%;
        height: 38px;
    }

    .details-item-label {
        display: block;
        width: 100px;
        text-align: right;
        font-weight: bold;
        height: 38px;
        line-height: 38px;
        padding: 0 8px;
        background: #ededed;
    }

    .details-item-text {
        height: 38px;
        line-height: 38px;
        padding: 0 8px;
    }

    .details-item-inner,
    .details-item-label,
    .details-item-text {
        float: left;
    }

    .details-item-content {
        height: 100px;
    }

    .details-item-content .details-item-text {
        width: 500px;
        word-break: break-all;
        word-wrap: break-word;
        height: 100%;
    }

    .details-item-content .details-item-label {
        height: 100%;
    }
</style>