<div id="checkcourse-preintro">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>铁路信号知识 > 课程评价 > 学生评价</span>
        </div>
    </div>
    <form action="" class="layui-form my-form">
        <div class="layui-row">
            <div class="ploy-title" id="coursePlanName" name="curriculumId">课程</div>
        </div>
        <hr />
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <div class="layui-col-md6" style="float: left">
                    学生: <span id="userName"></span>
                </div>
                <div class="layui-col-md6" style="float: right">
                    2019-05-20 11:45
                </div>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label ">评价</label>
                <div class="layui-col-md9">
                    <textarea name="desc" class="layui-textarea" id="evaluate">
                    </textarea>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-form-item layui-col-md12">
                <label class="layui-form-label"></label>
                <div>
                    <button
                        class="layui-btn primary-btn"
                        lay-submit
                        lay-filter="submit"
                    >
                        提交
                    </button>
                    <button
                        class="layui-btn layui-btn-primary cancel-btn"
                        id="source-add-cancle"
                    >
                        取消
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    layui.use(['jquery','form'], function() {
        var $ = layui.jquery,
            form = layui.form
            admin = layui.admin,
        $("#coursePlanName").html(layui.data('course').coursePlanName),
        $("#coursePlanName").val(layui.data('course').coursePlanId),
        $("#userName").html(layui.data('userInfo').userInfo.userName)

        form.on('submit(submit)', function(data){
            debugger

            var param = {
                curriculumId: layui.data('course').coursePlanId,
                content: data.field.desc
            }
            admin.post({
                url: '/coursre/add',
                data: JSON.stringify(param),
                success: function(res) {
                    debugger
                    if (res.code === 200) {
                        layer.msg('评论成功！')
                    }
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
            return false;
        });
        $('#source-add-cancle').on('click', function() {
            window.history.go(-1)
        })

    })
</script>

<style>
    #checkcourse-preintro {
    }
    .ploy-title {
        width: 90%;
        padding: 15px;
        color: #126093;
        background: rgba(244, 245, 250, 1);
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }
</style>
