<div class="layui-fluid" id="virtualTest" lay-title="开课管理">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>铁路信号知识 > 实物实验列表</span>
        </div>
        <div class="course-title-search">
            <span class="search-project">实验名称</span>
            <input type="text" />
            <select name="" id="">
                <option value="">2018-2019学年</option>
            </select>
            <select name="" id="">
                <option value="">第一学期</option>
            </select>
            <select name="" id="">
                <option value="">选择实验类型</option>
            </select>
            <button class="search-confirm">
                <img src="src/images/search.png" />
            </button>
        </div>
    </div>
    <table
        id="virtualTest-list-table"
        lay-filter="virtualTest-list-table"
    ></table>
    <div class="app-table-page" id="virtualTest-table-page"></div>
</div>

<script>
    layui.use(['table', 'jquery'], function(table, $) {
        var tableFilter = 'virtualTest-list-table',
            laypage = layui.laypage,
            $ = layui.jquery

        table.render({
            page: false,
            data: [
                {
                    id: 1,
                    courceName: '发电机哈哈',
                    virtualTestCode: 20190101,
                    responsor: '王小虎',
                    time: '第一学期',
                    class: '所有年级',
                    isCommon: false,
                    score: 1
                }
            ],
            elem: '[lay-filter="' + tableFilter + '"]',
            height: 'full-300',
            cols: [
                [
                    {
                        title: '序号',
                        field: 'id',
                        width: 80,
                        align: 'center'
                    },
                    {
                        title: '实验名称',
                        field: 'courceName',
                        align: 'center'
                    },
                    {
                        title: '开课名称',
                        field: 'virtualTestCode',
                        align: 'center'
                    },
                    {
                        title: '任课老师',
                        field: 'responsor',
                        align: 'center'
                    },
                    {
                        title: '实验类型',
                        align: 'center',
                        field: 'times',
                        width: 80
                    },
                    {
                        title: '开始/结束时间',
                        align: 'center',
                        field: 'score',
                        width: 80
                    },
                    {
                        field: '必做/选做',
                        title: '学分',
                        align: 'center'
                    },
                    {
                        title: '成绩',
                        align: 'center',
                        field: 'score',
                        width: 80
                    },
                    {
                        field: '实验状态',
                        title: '学分',
                        align: 'center'
                    },
                    {
                        title: '操作',
                        align: 'center',
                        templet: '#virtualTest-opt',
                        width: 280
                    }
                ]
            ]
        })

        //执行一个laypage实例
        laypage.render({
            elem: 'virtualTest-table-page', //注意，这里的 test1 是 ID，不用加 # 号
            count: 50, //数据总数，从服务端得到
            limit: 10,
            first: '首页',
            last: '尾页',
            hash: 'page',
            curr: location.hash.replace('#!page=', ''),
            layout: [
                'first',
                'prev',
                'page',
                'next',
                'last',
                'count',
                'currLimit',
                'curr',
                'pageCount'
            ]
        })

        $('#virtualTest-edit').on('click', function() {
            admin.navigate('/techSet/techPre')
            admin.setSideNav()
        })
    })
</script>

<style>
    .layui-table {
        width: 100%;
    }

    .virtualTest-title .virtualTest-title-location {
        float: left;
    }

    .virtualTest-title .virtualTest-title-search {
        float: right;
        text-align: right;
    }

    .virtualTest-title .virtualTest-title-search select,
    .virtualTest-title .virtualTest-title-search input {
        width: 118px;
        height: 30px;
        padding: 0 4px;
        border-radius: 0;
    }

    .virtualTest-title .virtualTest-title-search .search-project {
        line-height: 30px;
    }

    .virtualTest-title .virtualTest-title-search .search-confirm {
        width: 51px;
        height: 30px;
        background: #ff6600;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .virtualTest-add {
        text-align: right;
        padding: 20px 0 10px;
    }

    .virtualTest-add .add-btn {
        width: 70px;
        height: 30px;
        background: #ff6600;
        color: #fff;
        font-size: 16px;
    }

    #virtualTest-opt {
        width: 200px;
    }

    .virtualTest-set-btn {
        padding: 4px 10px;
        border: 1px solid #ccc;
        cursor: pointer;
    }
</style>
