<div id="checkcourse-preintro">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>选课 > <span id="precourse_name"></span> > 课程导读</span>
        </div>
    </div>
    <form action="" class="layui-form my-form">
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">课程导读名称</label>
                <span>铁路</span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">原创者</label>
                <span>铁路</span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">是否可被引用</label>
                <span>是</span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">建议分数</label>
                <span>150</span>
            </div>

        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">创建时间</label>
                <span>2019-01-01 10:10:10</span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label ">课程导读内容</label>
                <div class="layui-col-md9">
                    <textarea name="desc" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>

<style>
    #checkcourse-preintro {}
</style>