<div id="checkcourse-test-details">
    <div class="test-title"><i id="name"></i>理论测试试卷</div>
    <div class="test-info">
        <div class="test-info-item">
            <span>试卷满分为<i id="score"></i>分</span>
            <span>考试时间为<i id="testTime"></i>分钟</span>
            <span>本次测试的考试时间：</span>
            <span>从<i id="startTime"></i>至<i id="endTime"></i></span>
        </div>
        <div class="test-info-item">
            <span>考生：<i id="userName"></i></span>
            <span>本次试卷成绩：<i>0</i>分</span>
            <span>测试用时：<i id="diffTime">0</i>分钟</span>
        </div>
    </div>
    <div class="test-details" id="test_details"></div>
</div>
<div class="checkcourse-test-btn">
    <div class="layui-btn  primary-btn" id="checkcourse-test-submit">
        提交
    </div>
    <div
        class="layui-btn layui-btn-primary back-btn"
        id="checkcourse-test-back"
    >
        返回
    </div>
</div>

<script>
    layui.use([], function() {
        var $ = layui.jquery,
            form = layui.form,
            admin = layui.admin,
            route = layui.router(),
            id = route.search.id,
            endTime = route.search.endTime,
            startTime = route.search.startTime,
            now = new Date().getTime()

        form.render()
        $('#checkcourse-test-back').on('click', function() {
            window.history.go(-1)
        })

        $('#checkcourse-test-submit').click(function() {
            var list = []
            $('.test-item').each(function() {
                var obj = {
                    id: $(this)
                        .find('input')
                        .data('num'),
                    value: []
                }
                $(this)
                    .find('ul li')
                    .each(function(index) {
                        //
                        if ($(this).attr('data-type') === '多选') {
                            if (
                                $(this).find('.layui-form-checked').length > 0
                            ) {
                                obj.value.push(
                                    $(this)
                                        .find('input')
                                        .val()
                                )
                            }
                        } else {
                            if (
                                $(this).find('.layui-form-radioed').length > 0
                            ) {
                                obj.value.push(
                                    $(this)
                                        .find('input')
                                        .val()
                                )
                            }
                        }
                    })

                list.push(obj)
            })

            var arr = {}
            for (var j = 0; j < list.length; j++) {
                var obj = {}
                arr[list[j].id] = list[j].value.join(',')
            }

            admin.post({
                url: '/theoryTesting/add',
                data: JSON.stringify({
                    answerOptions: JSON.stringify(arr),
                    examinationPaperId: id
                }),
                success: function(res) {
                    if (res.code === 200) {
                        layer.msg('提交成功！')
                        window.location.href =
                            'index.html#/checkCourse/testDetails/id=' +
                            id +
                            '/endTime=' +
                            new Date(res.data.endTime).getTime() +
                            '/startTime=' +
                            new Date(res.data.startTime).getTime()
                    }
                }
            })
        })

        $('#userName').html(layui.data('userInfo').userInfo.userName)

        getList()

        function getList() {
            admin.get({
                url: '/testQuestions/info?id=' + id,
                success: function(res) {
                    if (res.code === 200) {
                        var str = ''
                        var name = ''
                        for (var key in res.data.map) {
                            var list = res.data.map[key],
                                listStr = ''

                            var tip =
                                '<div class="test-tip">' +
                                key +
                                '题 (请选择正确答案，本题共计<i>' +
                                list.length +
                                '</i>个小题)' +
                                '</div> '

                            var itemStr = ''
                            for (var i = 0; i < list.length; i++) {
                                name = list[i].name
                                var opt = JSON.parse(list[i].option),
                                    optStr = ''

                                for (var v in opt) {
                                    optStr +=
                                        '<li data-type="' +
                                        key +
                                        '">\n' +
                                        '   <input type="' +
                                        (key === '多选'
                                            ? 'checkbox'
                                            : 'radio') +
                                        '" lay-skin="primary" name="check" title="' +
                                        v +
                                        '、' +
                                        opt[v] +
                                        '" value="' +
                                        v +
                                        '"  data-num="' +
                                        list[i].exercisesId +
                                        '"/>\n' +
                                        '</li>\n'
                                }

                                itemStr +=
                                    '            <div class="test-item">\n' +
                                    '                <div class="test-question">\n' +
                                    '                    <i>' +
                                    (+i + 1) +
                                    '、' +
                                    list[i].content +
                                    '.</i>' +
                                    // '(分值：<i>5</i>分)\n' +
                                    '                </div>\n' +
                                    '                <form action="" class="layui-form">\n' +
                                    '                    <ul>\n' +
                                    optStr +
                                    '                    </ul>\n' +
                                    '                </form>\n' +
                                    '            </div>\n'
                            }

                            var inner =
                                '<div id="test-details-inner">' +
                                itemStr +
                                '</div>'

                            str += tip + inner
                        }
                        $('#test_details').html(str)
                        $('#score').html(res.data.score)
                        $('#testTime').html(res.data.testTime)
                        $('#startTime').html(formatTime(res.data.startTime))
                        $('#endTime').html(formatTime(res.data.endTime))
                        $('#name').html(name)

                        form.render()
                    }
                }
            })
        }

        function formatTime(time) {
            var d = new Date(time)
            var times =
                d.getFullYear() +
                '-' +
                (d.getMonth() + 1) +
                '-' +
                d.getDate() +
                ' ' +
                d.getHours() +
                ':' +
                d.getMinutes() +
                ':' +
                d.getSeconds()
            return times
        }
        time()
        function time() {
            var dateEnd = new Date().getTime()
            var dateDiff = dateEnd - now //时间差的毫秒数
            var leave1 = dateDiff % (24 * 3600 * 1000) //计算天数后剩余的毫秒数
            // var hours=Math.floor(leave1/(3600*1000))//计算出小时数
            //计算相差分钟数
            var leave2 = leave1 % (3600 * 1000) //计算小时数后剩余的毫秒数
            var minutes = Math.floor(leave2 / (60 * 1000)) //计算相差分钟数
            $('#diffTime').html(minutes)
            setTimeout(function() {
                time()
            }, 60000) //设定函数自动执行时间为 1000 ms(1 s)
        }
    })
</script>

<style>
    #checkcourse-test-details {
        border: 1px solid #ededed;
        border-bottom: 0;
        margin: 20px 0;
    }

    #checkcourse-test-details i {
        font-style: normal;
    }

    .test-title {
        background: rgba(244, 245, 250, 1);
        padding: 20px 0;
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .test-info {
        text-align: center;
        font-size: 16px;
        padding: 10px 0;
        border-bottom: 1px solid #ededed;
    }

    .test-info-item {
        margin-bottom: 10px;
    }

    .test-info-item span {
        margin-right: 10px;
    }

    .test-details {
        padding: 20px;
        font-size: 16px;
    }

    .test-details .test-tip {
        margin-bottom: 10px;
    }

    .test-details .test-item {
        padding: 30px 0;
        border-bottom: 1px solid #ededed;
    }

    .test-question {
        margin-bottom: 10px;
    }

    .test-details ul li {
        padding: 0 20px;
        margin-bottom: 10px;
    }

    .test-details ul li span {
        margin-right: 30px;
    }

    .checkcourse-test-btn {
        text-align: center;
        padding-bottom: 30px;
    }
</style>
