<div id="virtualTest-details">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span
                >选课 > 铁路信号知识 > 虚拟实验 > 虚拟实验列表 >
                虚拟实验信息</span
            >
        </div>
    </div>
    <div class="source-details-inner">
        <div class="layui-row">
            <div class="layui-col-md4 layui-form-item">
                <label class="layui-form-label ">实验名称</label>
                <span id="curriculumExperimentName"></span>
            </div>
            <div class="layui-col-md4 layui-form-item">
                <label class="layui-form-label ">实验类型</label>
                <span id="experimentType"></span>
            </div>
            <div class="layui-col-md4 layui-form-item">
                <label class="layui-form-label ">所属课程名称</label>
                <span id="courseName"></span>
            </div>
        </div>

        <div class="layui-row" id="noadd">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">实验成绩</label>
                <span id="experimentRatio"></span>
            </div>
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">报告成绩</label>
                <span id="reportRatio"></span>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">实验要求</label>
                <div class="layui-col-md9">
                    <textarea
                        name="desc"
                        class="layui-textarea"
                        id="require"
                    ></textarea>
                </div>
            </div>
        </div>
        <div class="source-display" id="fileUrl"></div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">实验内容</label>
                <div class="layui-col-md9">
                    <textarea
                        name="desc"
                        class="layui-textarea"
                        id="testContent"
                    ></textarea>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">实验报告</label>
                <div class="layui-col-md9">
                    <textarea
                        name="desc"
                        class="layui-textarea"
                        id="labReport"
                    ></textarea>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">实验累计用时</label>
                <span id="testTotleTime"></span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label "></label>
                <div>
                    <button class="layui-btn primary-btn" lay-submit id="save">
                        暂存
                    </button>
                    <button
                        class="layui-btn primary-btn"
                        lay-submit
                        id="submit"
                    >
                        提交
                    </button>
                    <button
                        class="layui-btn layui-btn-primary cancel-btn"
                        id="back"
                    >
                        返回
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'admin'], function() {
        var $ = layui.jquery,
            admin = layui.admin,
            conf = layui.conf,
            route = layui.router(),
            id = route.search.id,
            type = route.search.type,
            details = {}
        getDetails()
        $('#save').on('click', function() {
            // todo
            save()
        })
        $('#submit').on('click', function() {
            // todo
            submit()
        })
        $('#back').on('click', function() {
            window.history.go(-1)
        })

        function getDetails() {
            admin.get({
                url:
                    '/vsMpTestRecord/startReLookTest?curriculumExperimentId=' +
                    id,
                success: function(res) {
                    var data = JSON.parse(res.data)
                    details = data
                    $('#curriculumExperimentName').html(
                        data.curriculumExperimentName
                    )
                    $('#experimentType').html(data.experimentType)
                    $('#courseName').html(data.courseName)
                    $('#require').html(data.require)
                    $('#labReport').html(data.labReport)
                    $('#testContent').html(data.testContent)
                    $('#testTotleTime').html(data.testTotleTime)
                    $('#fileUrl').html(
                        '<img src="' +
                            data.resourceIds +
                            '" style="width: 100%; height: 100%;">'
                    )

                    if (type == 'check' || type == 'review') {
                        $('#experimentRatio').html(data.experimentRatio)
                        $('#reportRatio').html(data.reportRatio)
                        $('#save').attr('style', 'display:none;')
                        $('#submit').attr('style', 'display:none;')
                    } else {
                        $('#noadd').attr('style', 'display:none;')
                    }
                }
            })
        }

        function save() {
            //todo
            var data = {
                id: Number(id)
            }
            admin.post({
                url: '/vsMpTestRecord/addMpObject',
                data: JSON.stringify(formData),
                success: function(res) {
                    layer.msg('暂存成功')
                    window.history.back(-1)
                }
            })
        }

        function submit() {
            //todo
            admin.post({
                url: '/vsMpTestRecord/addMpObject',
                data: JSON.stringify(formData),
                success: function(res) {
                    layer.msg('提交成功')
                    window.history.back(-1)
                }
            })
        }
    })
</script>
<style>
    #virtualTest-details {
    }

    .source-details-inner {
        padding: 20px 0;
    }

    .source-display {
        width: 100%;
        height: 415px;
        background: rgba(0, 0, 0, 0.2);
    }

    #virtualTest-details .layui-form-item span {
        display: inline-block;
        padding: 9px 0px;
        font-size: 16px;
    }

    .layui-textarea {
        width: 100%;
    }
</style>
