<div id="examine-addknow"
     lay-title="添加知识点">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span id="knowledgePoint-add">题库管理 > 知识点 > 添加知识点</span>
            <span id="knowledgePoint-edit">题库管理 > 知识点 > 编辑知识点</span>
        </div>
    </div>
    <form action=""
          class="layui-form my-add-form">
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label">所属课程名称</label>
                <select name="curriculumId"
                        id="curriculumId"
                        lay-filter="checkCourse">
                    <option value="">选择课程</option>
                </select>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label">父知识点</label>
                <!--<select name="pName"
                        id="pName">
                    <option value="">请选择</option>
                    <option value="1">根知识点</option>
                </select>-->
                <div id="pName" name="pName" class="select-tree layui-form-select">
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label">知识点名称</label>
                <input class="common-form-input"
                       type="text"
                       name="name"
                       id="name"
                       placeholder="请输入知识点名称" />
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">知识点描述</label>
                <div class="layui-col-md9">
                    <textarea id="describe"
                              name="describe"
                              placeholder="请输入内容"
                              class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label"></label>
                <div>
                    <div class="layui-btn primary-btn"
                         lay-submit
                         id="add_know"
                         lay-filter="submit">
                        保存
                    </div>
                    <div class="layui-btn layui-btn-primary cancel-btn"
                         id="examine-addknow-back">
                        返回
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<link href="src/plugins/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="src/plugins/ztree/js/jquery-1.4.4.min.js"></script>
<script src="src/plugins/ztree/js/jquery.ztree.all.js"></script>

<script>
    layui.use(['form'], function () {
        var form = layui.form,
            $ = layui.jquery,
            admin = layui.admin,
            id = layui.admin.route.search.id

        form.render()

        $('#add_know').click(function () {
            var data = {
                curriculumId: Number($('#curriculumId').val()),
                parentId: $('#pNameHide').val(),
                name: $('#name').val(),
                describe: $('#describe').val()
            }

            id ? updateData(data) : addData(data)
            return false;
        })


        form.on('select(checkCourse)', function (obj) {
            getKnowList(obj.value)
        })

        $('#examine-addknow-back').on('click', function () {
            admin.navigate('/examine/knowledge')
        })

        if (id) {
            $('#knowledgePoint-add').attr('style', 'display:none;')
            getDetails()
        } else {
            $('#knowledgePoint-edit').attr('style', 'display:none;')
            getCourseList()
        }

        function getDetails() {
            admin.get({
                url: '/knowledgePoint/queryById?id=' + id,
                success: function (res) {
                    $('#name').val(res.data.pName)
                    $('#describe').val(res.data.describe)
                    getCourseList(res.data.curriculumId)
                    getKnowList(res.data.curriculumId, res.data.pId)
                }
            })
        }

        function updateData(data) {
            data.id = id
            admin.put({
                url: '/knowledgePoint/update',
                data: JSON.stringify(data),
                success: function () {
                    layer.msg('修改成功！')
                    admin.navigate('/examine/knowledge')

                }
            })
        }

        function addData(data) {
            admin.post({
                url: '/knowledgePoint/add',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.code == 200) {
                        layer.msg('添加成功！')
                        admin.navigate('/examine/knowledge')

                    } else {
                        layer.msg(res.msg || '添加失败！')
                        return
                    }
                },
                error: function (res) {
                    layer.msg(res.msg || '添加失败！')
                    return
                }
            })
        }

        function getCourseList(chosenId) {
            var data = {
                page: 1,
                rows: 1000000
            }
            admin.post({
                url: '/vsMpCurriculum/getList',
                data: JSON.stringify(data),
                success: function (res) {
                    if( res.data && res.data.items) {
                        for(var i = 0; i < res.data.items.length; i++) {
                            var item = res.data.items[i];
                            $('#curriculumId').append('<option '+(chosenId==item.id?'selected':'')+' value="' + item.id + '">' + item.curriculumName + '</option>')
                        }
                    }
                    form.render()
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getKnowList(id, chosenId) {
            var data = {
                key: '|'+id,
                page: 1,
                rows: 100000
            }
            admin.get({
                url: '/knowledgePoint/queryChildrenByPid?id='+id,
                success: function (res) {
                    initSelectTree(treeToArray(res.data), chosenId)
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

    })

    $(document).ready(function(){
        init();
        initSelectTree();
        hideMenu();
    })

    // ztree
    // 初始化下拉
    function init() {
        var id = 'pName'
        var html = '<div class = "layui-select-title" >' +
            '<input id="' + id + 'Show"' + 'type = "text" placeholder = "请选择" value = "" class = "layui-input" readonly>' +
            '<i class= "layui-edge" ></i>' +
            '</div>';
        $("#" + id).append(html);
        $("#" + id).parent().append('<div class="tree-content scrollbar">' +
            '<input hidden id="' + id + 'Hide" ' +
            'name="' + $(".select-tree").attr("id") + '">' +
            '<ul id="' + id + 'Tree" class="ztree scrollbar" style="margin-top:0;"></ul>' +
            '</div>');
        $("#" + id).bind("click", function () {
            if ($(this).parent().find(".tree-content").css("display") !== "none") {
                hideMenu()
            } else {
                $(this).addClass("layui-form-selected");
                var position = $(this).position();
                var width = $(this).width() - 2;
                $(this).parent().find(".tree-content").css({
                    left: position.left + "px",
                    top: position.top + $(this).height() + "px",
                    width: width,
                    position: 'absolute',
                    border: '1px solid',
                    'z-index': 999,
                    background: 'white'
                }).slideDown("fast");
                $("body").bind("mousedown", onBodyDown);
            }
        });
    }
    function initSelectTree(zNodes, chosenId) {
        var id = 'pName'
        var setting = {
            view: {
                dblClickExpand: false,
                showLine: false
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            check: {
                enable: false,
                chkboxType: {"Y": "ps", "N": "s"}
            },
            callback: {
                onClick: onClick
            }
        };
        var zTree = $.fn.zTree.init($("#" + id + "Tree"), setting, zNodes);
        if(zNodes && chosenId) {
            var chosenNode = zTree.getNodeByParam("id", chosenId)
            assignment([chosenNode])
            zTree.checkNode(chosenNode, true)
        }

    }
    // 点击节点
    function onClick(event, treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj(treeId);
        assignment(zTree.getSelectedNodes());
        hideMenu();
    }
    // 隐藏下拉
    function hideMenu() {
        $(".select-tree").removeClass("layui-form-selected");
        $(".tree-content").fadeOut("fast");
        $("body").unbind("mousedown", onBodyDown);
    }
    function onBodyDown(event) {
        if ($(event.target).parents(".tree-content").html() == null) {
            hideMenu();
        }
    }
    // input回显
    function assignment(nodes) {
        $('#pNameShow').val(nodes[0].name)
        $('#pNameHide').val(nodes[0].id)
    }
    // 树转列表
    function treeToArray(data) {
        var l = [{id: data.id, name: data.name, pId: 0}] // 根节点
        if(data.children && data.children.length > 0) {
            _treeToArray(data.id, data.children).forEach(function (sl) {
                l.push(sl)
            })
        }
        return l
    }
    function _treeToArray(pId, data) {
        var l = []
        if(data && data.length > 0) {
            data.forEach(function(d) {
                l.push({
                    id: d.id,
                    name: d.name,
                    pId: pId
                })
                if(d.children && d.children.length > 0) {
                    _treeToArray(d.id, d.children).forEach(function (sl) {
                        l.push(sl)
                    })
                }
            })
        }
        return l;
    }
</script>

<style>
    #examine-addknow {}

    .my-add-form {
        padding: 25px 0;
    }

</style>
