<div id="examine-addknow" lay-title="添加知识点">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span id="knowledgePoint-add">题库管理 > 知识点 > 添加知识点</span>
            <span id="knowledgePoint-edit">题库管理 > 知识点 > 编辑知识点</span>
        </div>
    </div>
    <form action="" class="layui-form my-add-form">
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label">所属课程名称</label>
                <select
                    name="curriculumId"
                    id="curriculumId"
                    lay-filter="checkCourse"
                >
                    <option value="">选择课程</option>
                </select>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label">父知识点</label>
                <select name="pName" id="pName" lay-verify="">
                    <option value="">请选择</option>
                    <option value="1">根知识点</option>
                </select>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label">知识点名称</label>
                <input
                    class="common-form-input"
                    type="text"
                    name="name"
                    id="name"
                    placeholder="请输入知识点名称"
                />
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">知识点描述</label>
                <div class="layui-col-md9">
                    <textarea
                        id="describe"
                        name="describe"
                        placeholder="请输入内容"
                        class="layui-textarea"
                    ></textarea>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label"></label>
                <div>
                    <button
                        class="layui-btn primary-btn"
                        lay-submit
                        lay-filter="submit"
                    >
                        保存
                    </button>
                    <button
                        class="layui-btn layui-btn-primary cancel-btn"
                        id="examine-addknow-back"
                    >
                        返回
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['form'], function() {
        var form = layui.form,
            $ = layui.jquery,
            admin = layui.admin,
            id = layui.admin.route.search.id

        form.render()

        form.on('submit(submit)', function(data) {
            userInfo = data.field
            userInfo.curriculumId = Number($('#curriculumId').val())

            id ? updateData(userInfo) : addData(userInfo)
            // $('#login-user').addClass('show')
            return false
        })

        form.on('select(checkCourse)', function(obj) {
            getKnowList(function() {}, obj.value)
        })

        $('#examine-addknow-back').on('click', function() {
            location.href = 'index.html#/examine/knowledge'
        })

        getCourseList(function() {})
        // getKnowList(function() {})
        if (id) {
            $('#knowledgePoint-add').attr('style', 'display:none;')
            getDetails()
        } else {
            $('#knowledgePoint-edit').attr('style', 'display:none;')
        }

        function getDetails() {
            admin.get({
                url: '/knowledgePoint/queryById?id=' + id,
                success: function(res) {
                    $('#name').val(res.data.pName)
                    $('#pName').val(res.data.pId)
                    $('#curriculumId').val(res.data.curriculumId)
                    $('#describe').val(res.data.describe)
                }
            })
        }

        function updateData(data) {
            var formData = {
                parentId: $('#pName').val(),
                name: data.name,
                curriculumId: data.curriculumId,
                describe: data.describe,
                id: id
            }
            admin.put({
                url: '/knowledgePoint/update',
                data: JSON.stringify(formData),
                success: function() {
                    layer.msg('修改成功！')
                    location.href = 'index.html#/examine/knowledge'
                    window.location.reload()
                }
            })
        }

        function addData(data) {
            var formData = {
                parentId: $('#pName').val(),
                name: data.name,
                curriculumId: data.curriculumId,
                describe: data.describe
            }

            admin.post({
                url: '/knowledgePoint/add',
                data: JSON.stringify(formData),
                success: function(res) {
                    if (res.code == 200) {
                        layer.msg('添加成功！')
                        location.href = 'index.html#/examine/knowledge'
                        window.location.reload()
                    } else {
                        layer.msg(res.msg || '添加失败！')
                        return
                    }
                },
                error: function(res) {
                    layer.msg(res.msg || '添加失败！')
                    return
                }
            })
        }

        function getCourseList(callback) {
            var data = {
                page: 1,
                rows: 1000000
            }
            admin.post({
                url: '/vsMpCurriculum/getList',
                data: JSON.stringify(data),
                success: function(res) {
                    res.data &&
                        res.data.items &&
                        res.data.items.forEach(item => {
                            $('#curriculumId').append(
                                '<option value="' +
                                    item.id +
                                    '">' +
                                    item.curriculumName +
                                    '</option>'
                            )
                        })
                    form.render()
                    callback && typeof callback === 'function' && callback()
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getKnowList(callback, id) {
            var data = {
                key: id,
                page: 1,
                rows: 100000
            }
            admin.post({
                url: '/knowledgePoint/list',
                data: JSON.stringify(data),
                success: function(res) {
                    for (var i = 0; i < res.data.items.length; i++) {
                        var item = res.data.items[i]
                        $('#pName').append(
                            '<option value="' +
                                item.cId +
                                '">' +
                                item.cName +
                                '</option>'
                        )
                    }
                    // res.data &&
                    //     res.data.items &&
                    //     res.data.items.forEach(item => {
                    //         $('#pName').append(
                    //             '<option value="' +
                    //                 item.cId +
                    //                 '">' +
                    //                 item.cName +
                    //                 '</option>'
                    //         )
                    //     })
                    form.render()
                    // $('#pName').jstree({
                    //     core: {
                    //         data: res.data.items,
                    //         check_callback: true,
                    //         multiple: false
                    //     },
                    //     force_text: true,
                    //     plugins: [
                    //         'sort',
                    //         'types',
                    //         'checkbox',
                    //         'themes',
                    //         'html_data'
                    //     ],
                    //     checkbox: {
                    //         keep_selected_style: false, //是否默认选中
                    //         three_state: false, //父子级别级联选择
                    //         tie_selection: false
                    //     }
                    // })

                    callback && typeof callback === 'function' && callback()
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }
    })
</script>

<style>
    #examine-addknow {
    }

    .my-add-form {
        padding: 25px 0;
    }
</style>
