<div id="examine-examadd">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>题库管理 > 习题库 > 查看习题</span>
        </div>
    </div>
    <form action=""
          class="layui-form my-add-form">
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">所属课程</label>
                <span id="curriculumName"></span>
            </div>
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">所属知识点</label>
                <span id="knowledgeName"></span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">习题类型</label>
                <span id="typeName"></span>
            </div>
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">认知类型</label>
                <span id="cognitiveTypeName"></span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">难度系数</label>
                <span id="difficultyName"></span>
            </div>
            <!-- <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">分数</label>
                <span id="score"></span>
            </div> -->
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">创建时间</label>
                <span id="createTime"></span>
            </div>
        </div>
        <div class="layui-row">
            <!-- <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">创建人</label>
                <span id=""></span>
            </div> -->
            <!-- <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">创建时间</label>
                <span>单选</span>
            </div> -->
        </div>
        <!--<div class="layui-row">-->
            <!--<div class="layui-col-md6 layui-form-item">-->
                <!--<label class="layui-form-label ">习题快照</label>-->
                <!--<span id="snapshot"></span>-->
            <!--</div>-->
            <!--<div class="layui-col-md6 layui-form-item">-->
                <!--<label class="layui-form-label ">所属实验</label>-->
                <!--<span id="experimentName"></span>-->
            <!--</div>-->
        <!--</div>-->
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label ">习题内容</label>
                <span id="content"></span>
            </div>
        </div>
        <div id="option_list"></div>
        <!-- <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label ">选项 B</label>
                <span>松动</span>>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label ">选项 C</label>
                <span>坚固</span>>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label ">选项 D</label>
                <span>太紧</span>>
            </div>
        </div> -->
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label ">答案</label>
                <span id="answer"></span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">习题帮助</label>
                <span id="annotation"></span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-col-md9">
                    <button class="layui-btn primary-btn"
                            lay-submit
                            lay-filter="submit"
                            id="examine-examdetail-add"> 继续添加 </button>
                    <button class="layui-btn layui-btn-primary cancel-btn"
                            id="examine-examdetail-back"> 返回习题列表 </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layedit'], function () {
        var form = layui.form,
            layedit = layui.layedit,
            $ = layui.jquery,
            admin = layui.admin,
            route = layui.router(),
            id = route.search.id,
            layeditIndex
        form.render()
        layeditIndex = layedit.build('exam-add-edit', {
            tool: ['strong', //加粗
                'italic', //斜体
                'underline', //下划线
                'del', //删除线
                '|', //分割线
                'left', //左对齐
                'center', //居中对齐
                'right', //右对齐
                'link', //超链接
                'image' //插入图片
            ]
        })
        getDetails()
        $('#examine-examdetail-back').on('click', function () {
            window.location.href = 'index.html#/examine/examList'
            window.location.reload()
        })
        $('#examine-examdetail-add').on('click ', function () {
            window.location.href = 'index.html#/examine/examAdd'
            window.location.reload()
        })

        function getDetails() {
            admin.get({
                url: '/exercises/get?id=' + id,
                success: function (res) {
                    $('#snapshot').html(res.data.snapshot)
                    $('#knowledgeName').html(res.data.knowledgeName)
                    $('#curriculumName').html(res.data.curriculumName)
                    $('#describe').html(res.data.describe)
                    $('#difficultyName').html(res.data.difficultyName)
                    $('#typeName').html(res.data.typeName)
                    $('#cognitiveTypeName').html(res.data.cognitiveTypeName)
                    $('#experimentName').html(res.data.experimentName)
                    $('#snapshot').html(res.data.snapshot)
                    $('#annotation').html(res.data.annotation)
                    var answer = res.data.answer;
                    $('#answer').html(answer)
//                    for (var k in answer) {
//                        $('#answer').append(k + ':' + answer[k])
//                    }
                    $('#content').html(res.data.content)
                    $('#createTime').html(admin.dateFormat(new Date(res.data.createTime) / 1000))
                    var optionList = JSON.parse(res.data.option)
                    for (var key in optionList) {
                        $('#option_list').append('<div class="layui-row">\n' +
                            '            <div class="layui-col-md12 layui-form-item">\n' +
                            '                <label class="layui-form-label ">选项 ' + key +
                            '</label>\n' + '                <span>' + optionList[key] +
                            '</span>\n' + '            </div>\n' + '        </div>')
                    }
                }
            })
        }
    })
</script>
<style>
    #examine-examadd {}

    #examine-examadd .my-add-form {
        padding: 25px 0;
    }

    #examine-examadd .layui-layedit {
        width: 83%;
        float: left;
        background: #fff;
    }

    #examine-examadd .layui-form-item span {
        line-height: 38px;
    }
</style>