<div id="examine-examlist"
     layui-title="习题库">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>题库管理 > 习题库</span>
        </div>
        <div class="course-title-search">
            <span class="search-project">所属知识点</span>
            <select name=""
                    id="knowledgePoint">
                <option value="">请选择知识点</option>
            </select>
            <span class="search-project">创建人</span>
            <input type="text"
                   id="createdBy" />
            <button class="search-confirm"
                    id="cource-search">
                <img src="src/images/search.png" />
            </button>
        </div>
    </div>
    <div class="course-add">
        <button class="primary-btn"
                id="download-temple">下载模板</button>
        <button class="primary-btn"
                id="examine-examlist-import">导入</button>
        <button class="primary-btn"
                id="examine-examlist-add">添加习题</button>
    </div>
    <table id="examine-examlist-table"
           lay-filter="examlist"></table>
    <script type="text/html"
            id="examine-examlist-opt">
        {{#if(d.state != 2) { }}
        <button class="course-set-btn" id="examine-examlist-edit" lay-event="edit">编辑</button>
        <button class="course-set-btn" id="examine-examlist-delete" lay-event="delete">删除</button>
        <!--<button class="course-set-btn" id="examine-examlist-copy" lay-event="copy">复制</button>-->
        <button class="course-set-btn" id="examine-examlist-push" lay-event="publish">发布</button>
        <button class="course-set-btn" id="examine-examlist-check" lay-event="check">查看</button>
        {{# } else {  }}
        <button class="course-set-btn" id="examine-examlist-check" lay-event="check">查看</button>
        {{# }  }}
    </script>
    <div class="app-table-page"
         id="examine-examlist-page"></div>
</div>
<script>
    layui.use(['table', 'form' ,'upload'], function (table) {
        var $ = layui.jquery,
            laypage = layui.laypage,
            form = layui.form,
            tableFilter = 'examlist',
            table = layui.table,
            admin = layui.admin,
            conf = layui.conf,
            upload = layui.upload,
            pageLimit = 20,
            layPageOption = {
                elem: 'examine-examlist-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: ['first', 'prev', 'page', 'next', 'last', 'count', 'currLimit', 'curr', 'pageCount'],
                jump: function (obj, first) {
                    //首次不执行
                    if (!first) {
                        getList(obj.curr)
                    }
                }
            },
            tableOption = {
                page: false,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [{
                        title: '序号',
                        field: 'id',
                        align: 'center',
                        type:'numbers'
                    }, {
//                        title: '习题快照',
//                        field: 'snapshot',
//                        align: 'center'
//                    }, {
//                        title: '所属实验',
//                        field: 'name',
//                        align: 'center'
//                    }, {
                        title: '所属课程',
                        field: 'curriculumName',
                        align: 'center'
                    }, {
                        title: '习题类型',
                        field: 'typeName',
                        align: 'center'
                    }, {
                        title: '认知类型',
                        field: 'cognitiveTypeName',
                        align: 'center'
                    }, {
                        title: '难易程度',
                        field: 'difficultyName',
                        align: 'center'
                    }, {
                        title: '状态',
                        field: 'state',
                        align: 'center',
                        templet: function(d) {
                            return d.state==2?'已发布':'未发布'
                        }
                    }, {
                        title: '操作',
                        align: 'center',
                        templet: '#examine-examlist-opt',
                        width: 350,
                        fixed: 'right'
                    }]
                ]
            },
            modalTemplate =
            '<form action="" class="layui-form my-add-form">'+
            '   <div class="layui-row">'+
            '       <div class="layui-col-md12 layui-form-item">'+
            '           <label class="layui-form-label">所属部门</label>'+
            '           <select class="layui-unselect layui-form-select">'+
            '               <option value="">选择</option>'+
            '               <option value="021">部门1</option>'+
            '               <option value="022">部门2</option>'+
            '               <option value="023">部门3</option>'+
            '           </select>'+
            '   </div>'+
            '</div>'+
            '<div class="layui-row">'+
            '   <div class="layui-col-md12 layui-form-item">'+
            '       <label class="layui-form-label">上传</label>'+
            '       <button type="button" class="layui-btn layui-btn-primary">上传表格</button>'+
            '       <button type="button" class="layui-btn " style="background: rgba(0,193,222,1)">下载模版</button>'+
            '   </div>'+
            '</div>'+
            '<div class="layui-row">'+
            '   <div class="layui-col-md12 layui-form-item">'+
            '       <input type="file"><span style="color: red">删除</span>'+
            '   </div>'+
            '</div>'+
            '<div class="layui-row">'+
            '   <div class="layui-col-md12 layui-form-item">'+
            '       温馨提示：清先下载模版，然后根据模版填入员工信息。'+
            '   </div>'+
            '</div>'+
            '</form>'
        form.render()
        getList(1)
        table.on('tool(examlist)', function (obj) {
            var data = obj.data //获得当前行数据
            var layEvent = obj.event
            if (layEvent === 'check') {
                admin.navigate('/examine/examDetail/id=' + data.id)
            } else if (layEvent === 'edit') {
                admin.navigate('/examine/examAdd/id=' + data.id)
            } else if (layEvent === 'publish') {
                publishData(data.id)
            } else if (layEvent === 'copy') {
                copyData(data.id)
            } else if (layEvent === 'delete') {
                layer.open({
                    type: 1,
                    offset: 'auto',
                    title: '系统提示',
                    content: '该信息为重要信息，是否删除？',
                    area: ['300px', '200px'],
                    shade: 0.4,
                    skin: 'system-modal',
                    shadeClose: true,
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        layer.close(index)
                        deleteData(data.id)
                    },
                    cancel: function (index) {
                        layer.close(index)
                    }
                })
            }
        })
        $(document).off('mousedown', '.layui-table-grid-down').on('mousedown', '.layui-table-grid-down',
            function (event) {
                table._tableTrCurr = $(this).closest('td')
            })
        $(document).off('click', '.layui-table-tips-main [lay-event]').on('click',
            '.layui-table-tips-main [lay-event]',
            function (event) {
                var elem = $(this)
                var tableTrCurr = table._tableTrCurr
                if (!tableTrCurr) {
                    return
                }
                var layerIndex = elem.closest('.layui-table-tips').attr('times')
                // 关闭当前这个显示更多的tip
                layer.close(layerIndex)
                table._tableTrCurr.find('[lay-event="' + elem.attr('lay-event') + '"]').first().click()
            })

        function getList(page) {
            var knowledgePoint = $('#knowledgePoint').val(),
                createdBy = $('#createdBy').val(),
                data = {
                    page: page,
                    rows: pageLimit,
                    key: knowledgePoint + '|' + createdBy
                }
            admin.post({
                url: '/exercises/getList',
                data: JSON.stringify(data),
                success: function (res) {
                    tableOption.data = (res.data && res.data.items) || []
                    layPageOption.count = (res.data && res.data.total) || 0
                    layPageOption.curr = page
                    table.render(tableOption)
//                    layPageOption.jump = function(obj, first) {
//                        console.log(2222, obj, first)
//                    }
                    laypage.render(layPageOption)
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function deleteData(id) {
            admin.delete({
                url: '/exercises/delete?id=' + id,
                success: function (res) {
                    layer.msg('删除成功')
                    getList(1)
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function publishData(id) {
            admin.put({
                url: '/exercises/press?id=' + id,
                success: function (res) {
                    layer.msg('发布成功')
                    getList(1)
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '发布失败')
                }
            })
        }

        function copyData(id) {
            var id = {
                id: id
            }
            admin.post({
                url: '/exercises/copy',
                data: JSON.stringify(id),
                success: function (res) {
                    layer.msg('复制成功')
                    getList(1)
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '复制失败')
                }
            })
        }
        $('#examine-examlist-add').on('click', function () {
            admin.navigate('/examine/examAdd')
        })


        $('#download-temple').on('click', function () {
            window.open(conf.requestUrl +"/excel/习题.xls")
        })
        $('#examine-examlist-import').on('click', function () {
            // layer.open({
            //     type: 1,
            //     offset: 'auto',
            //     title: '批量导入',
            //     content: modalTemplate,
            //     area: ['500px', '400px'],
            //     skin: 'import-modal',
            //     shade: 0.4,
            //     shadeClose: true,
            //     btn: ['提交', '取消'],
            //     yes: function (index, layero) {
            //         // 提交
            //     }
            // })
        })

        upload.render({
            elem: '#examine-examlist-import',
            url: conf.requestUrl + '/exercises/importExp',
            field: 'file',
            accept: 'file',
            exts: 'xls|xlsx',
            before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                layer.load(); //上传loading
            },
            done: function(res, index, upload) {
                //上传后的回调
                layer.closeAll('loading'); //关闭loading
                layer.msg(res.msg)
                getList(1)
            },
            error: function(index, upload){
                layer.closeAll('loading'); //关闭loading
                layer.msg(res.msg || '导入失败')
            },
        })
        // 知识点列表
        function getKnowledgePointList(callback) {
            var data = {
                page: 1,
                rows: 1000
            }
            admin.post({
                url: '/knowledgePoint/list',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.data && res.data.items && res.data.items.length > 0) {
                        var options = ''
                        res.data.items && res.data.items.forEach(function (item) {
                            options += '<option value="' + item.cId + '">' + item.cName +
                                '</option>'
                        })
                        $('#knowledgePoint').html('<option value="">请选择知识点</option>')
                        $('#knowledgePoint').append(options)
                        callback && typeof callback === 'function' && callback(res)
                    }
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }
        getKnowledgePointList(function (res) {})
        $('#cource-search').click(function () {
            getList(1)
        })
    })
</script>
<style>
    .layui-form-label {
        width: 80px;
    }

    .layui-layer-content {
        padding: 20px;
    }

    .layui-form input[type='checkbox'],
    .layui-form input[type='radio'],
    .layui-form select {
        /* display: block; */
        height: 30px;
        line-height: 30px;
    }
</style>