<div id="examine-examadd">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>题库管理 > 习题库 > 添加习题</span>
        </div>
    </div>
    <form action=""
          class="layui-form my-add-form">
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label require">习题类型</label>
                <select name="type"
                        id="type"
                        lay-verify="">
                    <option value="">请选择</option>
                    <option value="1">单选</option>
                    <option value="2">多选</option>
                </select>
            </div>
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label require">习题难度</label>
                <select name="difficulty"
                        id="difficulty"
                        lay-verify="">
                    <option value="">选择</option>
                    <option value="4">非常难</option>
                    <option value="3">难</option>
                    <option value="2">中等</option>
                    <option value="1">易</option>
                </select>
                <span style="color: red">说明：易1分，一般2分，中等3分，难4分，非常难5分</span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">所属课程</label>
                <select id="curriculumId"
                        name="curriculumId"
                        lay-filter="curriculumChange"> </select>
            </div>
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label require">所属知识点</label>
                <select name="knowledgePointId"
                        id="knowledgePoint"
                        lay-verify="">
                    <option value="">选择知识点</option>
                </select>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">认知类型</label>
                <select name="cognitiveType"
                        id="cognitiveType">
                    <option value="">请选择</option>
                    <option value="1">了解</option>
                    <option value="2">熟悉</option>
                    <option value="3">掌握</option>
                </select>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label require">题目</label>
                <div class="layui-col-md10"
                     id="exam-add-edit"></div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">注释/帮助</label>
                <div class="layui-col-md9">
                    <textarea id="annotation"
                              name="annotation"
                              placeholder="请输入内容"
                              class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-col-md9">
                    <button class="layui-btn layui-btn-primary"
                            id="addOpt"> 添加选项 </button>
                    <button class="layui-btn layui-btn-primary"
                            id="deleteOpt"> 减少选项 </button>
                </div>
            </div>
        </div>
        <!-- Option -->
        <div id="optionWrapper"></div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-col-md9">
                    <button class="layui-btn primary-btn"
                            id="addData"> 提交 </button>
                    <button class="layui-btn layui-btn-primary cancel-btn"
                            id="examine-addknow-back"> 返回 </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['layedit'], function () {
        var form = layui.form,
            layedit = layui.layedit,
            $ = layui.jquery,
            admin = layui.admin,
            layEditIndex,
            route = layui.router(),
            id = route.search.id,
            optionList = [{
                opt: 'A',
                content: ''
            }, {
                opt: 'B',
                content: ''
            }, {
                opt: 'C',
                content: ''
            }, {
                opt: 'D',
                content: ''
            }]
        renderOption()
        if (id) {
            getDetails()
        }
        form.on('select(curriculumChange)', function (obj) {
            getKnowledgeList(Number(obj.value))
        })

        function renderOption() {
            $('#optionWrapper').html('')
            optionList.forEach(item => {
                $('#optionWrapper').append('<div class="layui-row option-item">\n' +
                    '            <div class="layui-col-md12 layui-form-item">\n' +
                    '                <label class="layui-form-label">选项<span class="option-my-title">' +
                    item.opt + '</span></label>\n' +
                    '                <div class="layui-col-md9">\n' +
                    '                    <input type="radio" name="option" data-opt="' + item.opt +
                    '" value="' + item.content + '" title="">\n' +
                    '                    <input type="text" class="common-form-input" value="' +
                    item.content + '" style="width: 90%;" name="optContent">\n' +
                    '                </div>\n' + '            </div>\n' + '        </div>')
            })
            form.render()
        }

        function getDetails() {
            admin.get({
                url: '/exercises/get?id=' + id,
                success: function (res) {
                    $('#type').val(res.data.type)
                    $('#snapshot').val(res.data.snapshot)
                    $('#annotation').val(res.data.annotation)
                    $('#difficulty').val(res.data.difficulty)
                    $('#curriculumId').val(res.data.curriculumId)
                    $('#knowledgePoint').val(res.data.knowledgePointId)
                    $('#cognitiveType').val(res.data.cognitiveType)
                    layedit.setContent(layEditIndex, res.data.content)
                    optionList = []
                    var option = JSON.parse(res.data.option)
                    for (key in option) {
                        optionList.push({
                            opt: key,
                            content: option[key]
                        })
                    }
                    renderOption()
                }
            })
        }
        $('#addOpt').on('click', function () {
            var count1 = 0
            var arr1 = []
            for (var i = 65; i < 91; i++) {
                arr1[count1] = String.fromCharCode(i)
                count1++
            }
            optionList.push({
                opt: arr1[optionList.length],
                content: ''
            })
            renderOption()
            return false
        })
        $('#deleteOpt').on('click', function () {
            optionList.splice(optionList.length - 1, 1)
            renderOption()
            return false
        })
        $('#addData').on('click', function () {
            if (id) {
                updateData()
            } else {
                addData()
            }

            return false
        })
        layEditIndex = layedit.build('exam-add-edit', {
            tool: ['strong', //加粗
                'italic', //斜体
                'underline', //下划线
                'del', //删除线
                '|', //分割线
                'left', //左对齐
                'center', //居中对齐
                'right', //右对齐
                'link', //超链接
                'image' //插入图片
            ]
        })
        getAllCourses()
        $('#examine-addknow-back').on('click', function () {
            window.location.href = 'index.html#/examine/examList'
        })
        function getAllCourses() {
            admin.post({
                url: '/vsMpCurriculum/getList',
                data: JSON.stringify({
                    page: 1,
                    rows: 100000
                }),
                success: function (res) {
                    $('#curriculumId').html('<option value="">请选择</option>')
                    res.data && res.data.items && res.data.items.forEach(item => {
                        $('#curriculumId').append('<option value="' + item.id + '">' + item
                            .curriculumName + '</option>')
                    })
                    form.render()
                }
            })
        }

        function getKnowledgeList(id) {
            admin.get({
                url: '/knowledgePoint/listByCurriculumId?curriculumId=' + id,
                success: function (res) {
                    $('#knowledgePoint').html('<option value="">请选择</option>')
                    if (!res.data) return;
                    for (var k = 0; k < res.data.length; k++) {
                        $('#knowledgePoint').append('<option value="' + res.data[k].id + '">' + res
                            .data[k].name + '</option>')
                    }
                    form.render()
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function addData() {
            var optionObj = {}
            var answer = {}
            optionList.forEach((item, index) => {
                $('input[name=optContent]').each(function (k) {
                    if (index === k) {
                        item.content = $(this).val()
                        optionObj[item.opt] = item.content
                    }
                })
            })
            var key = $('input[name=option]:checked').attr('data-opt')
            answer['' + key] = optionObj[key]
            var data = {
                type: $('#type').val(),
                difficulty: Number($('#difficulty').val()),
                curriculumId: Number($('#curriculumId').val()),
                knowledgePointId: Number($('#knowledgePoint').val()),
                cognitiveType: Number($('#cognitiveType').val()),
                content: layedit.getContent(layEditIndex),
                annotation: $('#annotation').val(),
                option: JSON.stringify(optionObj),
                answer: JSON.stringify(answer)
            }
            admin.post({
                url: '/exercises/add',
                data: JSON.stringify(data),
                success: function (res) {
                    layer.msg('添加成功')
                    window.history.back(-1)
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function updateData() {
            var optionObj = {}
            var answer = {}
            optionList.forEach((item, index) => {
                $('input[name=optContent]').each(function (k) {
                    if (index === k) {
                        item.content = $(this).val()
                        optionObj[item.opt] = item.content
                    }
                })
            })
            var key = $('input[name=option]:checked').attr('data-opt')
            answer['' + key] = optionObj[key]
            var data = {
                id: id,
                type: $('#type').val(),
                difficulty: Number($('#difficulty').val()),
                curriculumId: Number($('#curriculumId').val()),
                knowledgePointId: Number($('#knowledgePoint').val()),
                cognitiveType: Number($('#cognitiveType').val()),
                content: layedit.getContent(layEditIndex),
                annotation: $('#annotation').val(),
                option: JSON.stringify(optionObj),
                answer: JSON.stringify(answer)
            }
            admin.put({
                url: '/exercises/update',
                data: JSON.stringify(data),
                success: function (res) {
                    layer.msg('更新成功')
                    window.history.back(-1)
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }
    })
</script>
<style>
    #examine-examadd {}

    #examine-examadd .my-add-form {
        padding: 25px 0;
    }

    #examine-examadd .layui-layedit {
        width: 83%;
        float: left;
        background: #fff;
    }
</style>