<div class="examine-knowledge">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>题库管理 > 知识点</span>
        </div>
        <div class="course-title-search">
            <span class="search-project">所属课程</span>
            <input type="text">
            <select name="" id="">
                <option value="">选择课程</option>
                <option value="">课程1</option>
                <option value="">课程2</option>
            </select>
            <button class="search-confirm">
                <img src="src/images/search.png">
            </button>
        </div>
    </div>
    <div class="course-add">
        <button class="add-btn" id="examine-knowledge-add">添加</button>
    </div>
    <table id="examine-knowledge-table" lay-filter="examine-knowledge-table"></table>
    <script type="text/html" id="examine-knowledge-opt">
        <button class="course-set-btn" id="examine-knowledge-check">查看</button>
    </script>
    <div class="app-table-page" id="examine-knowledge-page"></div>
</div>

<script>
    layui.use(['table', 'jquery'], function (table, $) {

        var $ = layui.jquery,
            laypage = layui.laypage,
            tableFilter = 'examine-knowledge-table',
            table = layui.table,
            router = layui.router();

        table.render({
            page: false,
            data: [{
                id: 1,
                courceName: '发电机哈哈',
                courseCode: 20190101,
                responsor: '王小虎',
                time: '第一学期',
                class: '所有年级',
                isCommon: false,
                score: 1
            }],
            elem: '[lay-filter="' + tableFilter + '"]',
            height: 'full-300',
            cols: [
                [{
                        title: '序号',
                        field: 'id',
                        width: 80,
                        align: 'center'
                    },
                    {
                        title: '父知识点',
                        field: 'courseCode',
                        align: 'center'
                    },
                    {
                        title: '知识点名称',
                        field: 'courceName',
                        align: 'center'

                    },
                    {
                        title: '所属课程',
                        field: 'courseCode',
                        align: 'center'
                    },
                    {
                        title: '操作',
                        align: 'center',
                        templet: '#examine-knowledge-opt',
                    }
                ]
            ]
        })

        //执行一个laypage实例
        laypage.render({
            elem: 'examine-knowledge-page', //注意，这里的 test1 是 ID，不用加 # 号
            count: 50, //数据总数，从服务端得到
            limit: 10,
            first: '首页',
            last: '尾页',
            hash: 'page',
            curr: location.hash.replace('index.html#/examine/examdetails&page=', ''),
            layout: ['first', 'prev', 'page', 'next', 'last', 'count', 'currLimit', 'curr', 'pageCount']
        });


        $('#examine-knowledge-check').on('click', function () {
            location.href = 'index.html#/examine/knowdetails'
        })

        $('#examine-knowledge-add').on('click', function () {
            location.href = 'index.html#/examine/addknow'
        })

    })
</script>

<style>
    #examine-knowledge {}
</style>