<div id="examine-knowdetails" lay-title="查看知识点">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>题库管理 > 知识点 > 查看知识点</span>
        </div>
    </div>
    <div class="examine-knowdetails-content">
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label">所属课程名称</label>
                <span class="info-details" id="curriculumId"></span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label">父知识点</label>
                <span
                    style="color: blue;"
                    class="info-details"
                    id="parentId"
                ></span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label">知识点名称</label>
                <span class="info-details" id="name"></span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">知识点描述</label>
                <span class="info-details" id="describe"></span>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label"></label>
                <button
                    class="layui-btn layui-btn-primary cancel-btn"
                    id="examine-knowdetails-back"
                >
                    返回
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use([], function() {
        var $ = layui.jquery,
            admin = layui.admin,
            route = layui.router(),
            id = route.search.id

        getDetails()

        $('#examine-knowdetails-back').on('click', function() {
            window.history.back(-1)
        })

        function getDetails() {
            admin.get({
                url: '/knowledgePoint/queryById?id=' + id,
                success: function(res) {
                    $('#name').html(res.data.cName)
                    $('#parentId').html(res.data.pName)
                    $('#curriculumId').html(res.data.curriculumName)
                    $('#describe').html(res.data.describe)
                }
            })
        }
    })
</script>

<style>
    #examine-knowdetails {
    }

    #examine-knowdetails .examine-knowdetails-content {
        padding: 20px 0;
    }

    #examine-knowdetails .info-details {
        line-height: 38px;
    }
</style>
