<div class="examine-knowledge">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>题库管理 > 知识点</span>
        </div>
        <div class="course-title-search">
            <span class="search-project">所属课程</span>
            <input type="text" id="course"/>
            <!--<select name="" id="">-->
                <!--<option value="">选择课程</option>-->
                <!--<option value="">课程1</option>-->
                <!--<option value="">课程2</option>-->
            <!--</select>-->
            <button class="search-confirm" id="knowledge-search">
                <img src="src/images/search.png" />
            </button>
        </div>
    </div>
    <div class="course-add">
        <button class="add-btn" id="examine-knowledge-add">添加</button>
    </div>
    <table
        id="examine-knowledge-table"
        lay-filter="examine-knowledge-table"
    ></table>
    <script type="text/html" id="examine-knowledge-opt">
        <button class="course-set-btn" lay-event="check">查看</button>
        <button class="course-set-btn" lay-event="edit">编辑</button>
        <!--<button class="course-set-btn" lay-event="delete">删除</button>-->
    </script>
    <div class="app-table-page" id="examine-knowledge-page"></div>
</div>

<script>
    layui.use(['table', 'jquery'], function(table, $) {
        var $ = layui.jquery,
            laypage = layui.laypage,
            tableFilter = 'examine-knowledge-table',
            table = layui.table,
            router = layui.router(),
            admin = layui.admin,
            pageLimit = 20,
            layPageOption = {
                elem: 'examine-knowledge-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: [
                    'first',
                    'prev',
                    'page',
                    'next',
                    'last',
                    'count',
                    'currLimit',
                    'curr',
                    'pageCount'
                ],
                jump: function(obj, first) {
                    //首次不执行
                    if (!first) {
                        getList(obj.curr)
                    }
                }
            },
            tableOption = {
                page: false,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [
                        {
                            title: '序号',
                            field: 'id',
                            width: 80,
                            align: 'center',
                            type: 'numbers'
                        },
                        {
                            title: '父知识点',
                            field: 'pName',
                            align: 'center'
                        },
                        {
                            title: '知识点名称',
                            field: 'cName',
                            align: 'center'
                        },
                        {
                            title: '所属课程',
                            field: 'curriculumName',
                            align: 'center'
                        },
                        {
                            title: '操作',
                            align: 'center',
                            templet: '#examine-knowledge-opt'
                        }
                    ]
                ]
            }

        getList(1)

        table.on('tool(examine-knowledge-table)', function(obj) {
            var data = obj.data //获得当前行数据
            var layEvent = obj.event

            if (layEvent === 'check') {
                location.href = 'index.html#/examine/knowDetails/id=' + data.cId
            } else if (layEvent === 'edit') {
                location.href = 'index.html#/examine/addKnow/id=' + data.cId
            } else if (layEvent === 'delete') {
                layer.open({
                    type: 1,
                    offset: 'auto',
                    title: '系统提示',
                    content: '该信息为重要信息，是否删除？',
                    area: ['300px', '200px'],
                    shade: 0.4,
                    skin: 'system-modal',
                    shadeClose: true,
                    btn: ['确定', '取消'],
                    yes: function(index, layero) {
                        if (data.pId === 0) {
                            layer.msg('父知识点不可删除！')
                            return
                        }
                        layer.close(index)
                        deleteData(data.pId)
                    },
                    cancel: function(index) {
                        layer.close(index)
                    }
                })
            }
        })

        function getList(page) {
            var course = $('#course').val(),
                data = {
                    page: page,
                    rows: pageLimit,
                    key: course
                }
            admin.post({
                url: '/knowledgePoint/list',
                data: JSON.stringify(data),
                success: function(res) {
                    tableOption.data = (res.data && res.data.items) || []
                    layPageOption.count = (res.data && res.data.total) || 0
                    table.render(tableOption)
                    laypage.render(layPageOption)
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function deleteData(id) {
            admin.delete({
                url: '/knowledgePoint/del?id=' + id,
                success: function() {
                    layer.msg('删除成功！')
                    getList(1)
                }
            })
        }

        $('#examine-knowledge-add').on('click', function() {
            location.href = 'index.html#/examine/addKnow'
        })
        $('#knowledge-search').click(function() {
            getList(1)
        })
    })
</script>

<style>
    #examine-knowledge {
    }
</style>
