<div id="examine-ploy" layui-title="试卷策略">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>题库管理 > 试卷策略</span>
        </div>
    </div>
    <div class="course-add">
        <button class="primary-btn" id="examine-ploy-add">添加策略</button>
    </div>
    <table id="examine-ploy-table" lay-filter="examine-ploy-table"></table>
    <script type="text/html" id="examine-ploy-opt">
        <button class="course-set-btn" lay-event="edit">编辑</button>
        <button class="course-set-btn" lay-event="check">查看</button>
        <button class="course-set-btn" lay-event="delete">删除</button>
    </script>
    <div class="app-table-page" id="examine-ploy-page"></div>
</div>

<script>
    layui.use(['table'], function(table) {
        var table = layui.table,
            $ = layui.jquery,
            laypage = layui.laypage,
            tableFilter = 'examine-ploy-table',
            router = layui.router(),
            admin = layui.admin,
            pageLimit = 20,
            layPageOption = {
                elem: 'examine-ploy-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: [
                    'first',
                    'prev',
                    'page',
                    'next',
                    'last',
                    'count',
                    'currLimit',
                    'curr',
                    'pageCount'
                ],
                jump: function(obj, first) {
                    if (!first) {
                        getList(obj.curr)
                    }
                }
            },
            tableOption = {
                page: false,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [
                        {
                            title: '序号',
                            field: 'id',
                            width: 80,
                            align: 'center'
                            // type: 'number'
                        },
                        {
                            title: '策略名称',
                            field: 'strategyName',
                            align: 'center'
                        },
                        {
                            title: '所属课程',
                            field: 'curriculumName',
                            align: 'center'
                        },
                        {
                            title: '创建时间',
                            field: 'createTime',
                            align: 'center',
                            templet: function(d) {
                                return admin.dateFormat(
                                    new Date(d.createTime).getTime() / 1000
                                )
                            }
                        },
                        {
                            title: '制定人',
                            field: 'userName',
                            align: 'center'
                        },
                        {
                            title: '操作',
                            align: 'center',
                            templet: '#examine-ploy-opt'
                        }
                    ]
                ]
            }

        getList(1)

        function getList(page) {
            var data = {
                page: page,
                rows: pageLimit
            }
            admin.post({
                url: '/strategy/list',
                data: JSON.stringify(data),
                success: function(res) {
                    tableOption.data = (res.data && res.data.items) || []
                    layPageOption.count = (res.data && res.data.total) || 0
                    table.render(tableOption)
                    laypage.render(layPageOption)
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function deleteData(id) {
            admin.delete({
                url: '/strategy/del?id=' + id,
                success: function() {
                    layer.msg('删除成功！')
                    getList(1)
                }
            })
        }

        table.on('tool(examine-ploy-table)', function(obj) {
            var data = obj.data //获得当前行数据
            var layEvent = obj.event

            if (layEvent === 'check') {
                location.href = 'index.html#/examine/ploydetail/id=' + data.id
            } else if (layEvent === 'delete') {
                layer.confirm(
                    '您确定要删除么?',
                    {
                        icon: 3,
                        title: '提示',
                        shade: 0.5
                    },
                    function(confirm) {
                        layer.close(confirm)
                        deleteData(data.id)
                    },
                    function(cancel) {
                        layer.close(cancel)
                    }
                )
            } else if (layEvent === 'edit') {
                location.href = 'index.html#/examine/ployadd/id=' + data.id
            }
        })

        $('#examine-ploy-add').on('click', function() {
            location.href = 'index.html#/examine/ployadd'
        })
    })
</script>
