<div id="examine-ploy-add" layui-title="添加试卷策略">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>题库管理 > 试卷策略 > 添加策略</span>
        </div>
    </div>
    <form action="" class="layui-form my-add-form">
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">所属课程</label>
                <select name="curriculumId" id="curriculumId">
                    <option value="">请选择课程</option>
                </select>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label require">策略名称</label>
                <input type="text" name="strategyName" class="common-form-input">
            </div>
        </div>
    </form>
    <div class="ploy-title">试卷策略条目</div>
    <form action="" class="layui-form my-add-form">
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label require">策略条目</label>
                <div class="ploy-content">
                    <div class="ploy-content-title">
                        <button class="layui-btn layui-btn-primary" id="add_ploy">添加策略条目</button>
                        <span style="color: red;">说明：易1分，一般2分，中等3分，难4分，非常难5分</span>
                    </div>
                    <table class="layui-table" id="ploy_add_table">
                        <thead>
                            <tr>
                                <th lay-data="{field:'sign', width:'50%', event: 'knowlegePoint', style:'cursor: pointer;'}">知识点</th>
                                <th>习题类型</th>
                                <th>习题难度</th>
                                <th>参考题数</th>
                                <th>抽题数量</th>
                                <th>总分</th>
                                <th>操作</th>
                                </th>
                            </tr>
                        <tbody id="poly-add-strategy"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn primary-btn">保存</button>
                <button class="layui-btn layui-btn-primary cancel-btn" id="ploy-add-back">返回</button>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label"></label>
                <span style="color: red;">注：本试卷满分100分时，方可保存。</span>
            </div>
        </div>
    </form>
</div>

<script>
    layui.use(['table'], function (table) {
        var table = layui.table,
            $ = layui.jquery,
            form = layui.form,
            admin = layui.admin,
            strategyEntries = [],
            option = {
                'exercisesDifficulty': '',
                'exercisesSize': 0,
                'exercisesType': '',
                'knowledgePoint': '',
                totalExercisNums: '',
                totalScore: ''
            },
            knowlegeList = [];

        getAllCourses()
        getKnowlegeList()
        getExamInfo(function (data) {

        }, 1, 0, 4)

        $('#ploy-add-back').on('click', function () {
            window.history.back(-1);
        })
        table.render({
            elem: 'ploy_add_table'
        })

        $(document).on({
            types: 'change',
            selector: 'input[name=knowledgePoint]'
        })

        table.on('tool(ploy_add_table)', function (obj) { //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
            console.log(1, obj.value); //得到修改后的值
            console.log(2, obj.field); //当前编辑的字段名
            console.log(3, obj.data); //所在行的所有相关数据  
            var event = obj.event;

            console.log(444, event)
        });

        $('#poly-add-strategy').append(getTemplate(option));

        $('#add_ploy').on('click', function () {
            $('select[name=knowledgePoint]').html('')
            setTimeout(function () {
                knowlegeList.forEach(item => {
                    $('select[name=knowledgePoint]').append('<option value="' + item.id +
                        '">' + item
                        .curriculumName +
                        '</option>')
                    form.render()
                })
            }, 0)
            strategyEntries.push(option)
            $('#poly-add-strategy').append(getTemplate(option));

            return false;
        })

        form.render()

        function getTemplate(data) {
            return '<tr>\n' +
                '                                <td>\n' +
                '                                    <select name="knowledgePoint">\n' +
                '                                        <option value="">请选择知识点</option>\n' +
                '                                    </select>\n' +
                '                                </td>\n' +
                '                                <td>\n' +
                '                                    <select name="exercisesType">\n' +
                '                                        <option value=""></option>\n' +
                '                                        <option value="1">单选</option>\n' +
                '                                        <option value="2">多选</option>\n' +
                '                                        <option value="3">判断</option>\n' +
                '                                    </select>\n' +
                '                                </td>\n' +
                '                                <td>\n' +
                '                                    <select name="exercisesDifficulty">\n' +
                '                                        <option value="">选择</option>\n' +
                '                                        <option value="4">非常难</option>\n' +
                '                                        <option value="3">难</option>\n' +
                '                                        <option value="2">中等</option>\n' +
                '                                        <option value="1">易</option>\n' +
                '                                    </select>\n' +
                '                                </td>\n' +
                '                                <td style="width: 80px;">\n' +
                '                                     <span>' + data.totalExercisNums + '</span>' +
                '                                </td>\n' +
                '                                <td>\n' +
                '                                    <input type="text" class="common-form-input" name="exercisesSize" value="' +
                data.exercisesSize + '">\n' +
                '                                </td>\n' +
                '                                <td style="width: 80px;">\n' +
                '                                     <span>' + data.totalScore + '</span>' +
                '                                </td>\n' +
                ' <td>\n' +
                '     <i style="width: 20px;height:20px;cursor:pointer" class="layui-icon layui-icon-delete"></i>\n' +
                ' </td>'
        }

        function getAllCourses() {
            admin.post({
                url: '/vsMpCurriculum/getList',
                data: JSON.stringify({
                    page: 1,
                    rows: 100000,
                }),
                success: function (res) {
                    res.data && res.data.items && res.data.items.forEach(item => {
                        $('#curriculumId').append('<option value="' + item.id +
                            '">' + item
                            .curriculumName +
                            '</option>')
                        form.render()
                    })
                }
            })
        }

        function getExamInfo(callback, kp, type, diff) {
            var data = {
                page: 1,
                rows: 10000,
                key: (kp || '') + '|' + (type) + '|' + (diff || '')
            }
            admin.post({
                url: '/exercises/getListBy',
                data: JSON.stringify(data),
                success: function (res) {
                    callback && typeof callback === 'function' && callback(res.data)
                }
            })
        }

        function getKnowlegeList() {
            var data = {
                page: 1,
                rows: 100000,
            }
            admin.post({
                url: '/knowledgePoint/list',
                data: JSON.stringify(data),
                success: function (res) {
                    knowlegeList = (res.data && res.data.items) || []
                    $('select[name=knowledgePoint]').html('')
                    res.data && res.data.items && res.data.items.forEach(item => {
                        $('select[name=knowledgePoint]').append('<option value="' + item.id +
                            '">' + item
                            .curriculumName +
                            '</option>')
                        form.render()
                    })
                },
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        };
    })
</script>

<style>
    .my-add-form {
        padding: 25px 0;
    }

    .ploy-title {
        width: 90%;
        padding: 15px;
        color: #126093;
        background: rgba(244, 245, 250, 1);
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .layui-form input[type=checkbox],
    .layui-form input[type=radio],
    .layui-form select {
        display: block;
        height: 30px;
        line-height: 30px;
    }

    .layui-table {
        width: 60%;
        margin-left: 170px;
    }

    .common-form-input {
        width: 150px;
    }
</style>