<div id="examine-ploy-add"
     layui-title="添加试卷策略">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>题库管理 > 试卷策略 > 添加策略</span>
        </div>
    </div>
    <form action=""
          class="layui-form my-add-form">
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">所属课程</label>
                <select name="curriculumId"
                        id="curriculumId"
                        lay-filter="checkCourse">
                    <option value="">请选择课程</option>
                </select>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label require">策略名称</label>
                <input type="text"
                       name="strategyName"
                       id="strategyName"
                       class="common-form-input" />
            </div>
        </div>
    </form>
    <div class="ploy-title">试卷策略条目</div>
    <form action=""
          class="layui-form my-add-form">
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label require">策略条目</label>
                <div class="ploy-content">
                    <div class="ploy-content-title">
                        <div class="layui-btn layui-btn-primary"
                                id="add_ploy">
                            添加策略条目
                        </div>
                        <span style="color: red;">说明：易1分，中等2分，难3分，非常难4分</span>
                    </div>

                    <table id="ploy_add_table"
                           lay-filter="ploy_add_table"
                           lay-event="change">
                        <!-- <thead>
                            <tr>
                                <th lay-data="{field:'sign', width:120, event: 'knowlegePoint', style:'width: 120px;cursor: pointer;'}">知识点</th>
                                <th>习题类型</th>
                                <th>习题难度</th>
                                <th lay-data="{width: 120}">参考题数</th>
                                <th>抽题数量</th>
                                <th style="width: 120px;">总分</th>
                                <th>操作</th>
                                </th>
                            </tr>
                        <tbody id="poly-add-strategy"></tbody> -->
                    </table>
                    <script type="text/html" id="knowlegePoint">
                        <div class="select-tree layui-form-select">
                            <div class = "layui-select-title" >
                                <input type="text" placeholder="请选择" value="{{ d.knowledgePointName }}" class="layui-input">
                                <i class= "layui-edge" ></i>
                            </div>
                        </div>
                    </script>
                    <script type="text/html"
                            id="askType">
                        <select name="exercisesType"
                                class="exercisesType ploy-select"
                                lay-filter="exercisesTypeChange">
                            <option value=""></option>
                            <option value="1">单选</option>
                            <option value="2">多选</option>
                            <option value="3">判断</option>
                        </select>

                    </script>
                    <script type="text/html"
                            id="askDiff">
                        <select name="exercisesDifficulty"
                                class="exercisesDifficulty ploy-select"
                                lay-filter="exercisesDifficultyChange">
                            <option value="">选择</option>
                            <option value="4">非常难</option>
                            <option value="3">难</option>
                            <option value="2">中等</option>
                            <option value="1">易</option>
                        </select>

                    </script>
                    <script type="text/html"
                            id="referNums">
                        <span class="referNums"></span>

                    </script>
                    <script type="text/html"
                            id="checkedNums">
                        <input type="number"
                               class="common-form-input exercisesSize"
                               name="exercisesSize"
                               layui-filter="checkedNums">

                    </script>
                    <script type="text/html"
                            id="allScores">
                        <span class="allScores"></span>

                    </script>
                    <script type="text/html"
                            id="delete">
                        <i style="width: 20px;height:20px;cursor:pointer"
                           class="layui-icon layui-icon-delete"
                           lay-event="delete"></i>

                    </script>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-btn primary-btn"
                     id="save_ploy">
                    保存
                </div>
                <div class="layui-btn layui-btn-primary cancel-btn"
                     id="ploy-add-back">
                    返回
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label"></label>
                <span style="color: red;">注：本试卷满分100分时，方可保存。</span>
            </div>
        </div>
    </form>
    <div id="tree-content" class="scrollbar" style="display: none;">
        <input type="text" placeholder="请选择" value="" class="layui-input pNameHide">
        <ul class="ztree scrollbar pNameTree" id="pNameTree" style="margin-top:0;"></ul>
    </div>
</div>

<link href="src/plugins/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="src/plugins/ztree/js/jquery-1.4.4.min.js"></script>
<script src="src/plugins/ztree/js/jquery.ztree.all.js"></script>

<script>
    var tableOption, option = {
            exercisesDifficulty: '',
            exercisesSize: '',
            exercisesType: '',
            knowledgePoint: '',
            knowledgePointName: '',
            referNums: '',
            totalScore: ''
        },
        chosenTrIndex,
        strategyEntries = [JSON.parse(JSON.stringify(option))];

    layui.use(['form', 'table'], function (table) {
        var form = layui.form,
            admin = layui.admin,
            table = layui.table,
            $ = layui.jquery,
            kechengId = layui.data('techSet').kechengId,

            tableFilter = 'ploy_add_table',
            route = layui.router(),
            id = route.search.id;

        tableOption = {
            page: false,
            skin: 'row,line',
            elem: '[lay-filter="' + tableFilter + '"]',
            data: strategyEntries,
            cols: [
                [{
                    title: '知识点',
                    // width: 130,
                    align: 'center',
                    templet: '#knowlegePoint',
                    event: "knowlegePointChange"
                // },{
                //     title: '知识点id',
                //     align: 'center',
                //     style:'display:none;',
                //     field: 'knowledgePoint',
                },
                    {
                        title: '习题类型',
                        // width: 130,
                        align: 'center',
                        templet: '#askType'
                    },
                    {
                        title: '习题难度',
                        // width: 130,
                        align: 'center',
                        templet: '#askDiff'
                    },
                    {
                        title: '参考题数',
                        align: 'center',
                        width: 80,
                        templet: '#referNums'
                    },
                    {
                        title: '抽题数量',
                        align: 'center',
                        // width: 120,
                        templet: '#checkedNums',
                        edit: 'number'
                    },
                    {
                        title: '总分',
                        align: 'center',
                        width: 80,
                        templet: '#allScores'
                    },
                    {
                        title: '操作',
                        width: 80,
                        align: 'center',
                        templet: '#delete'
                    }
                ]
            ],
            done: function (res, curr, count) {
                // merge(res, curr, count)
            }
        }


        if (id) {
            setTimeout(function() {
                getDetails()
            }, 1000)
        }

        form.render()

        table.render(tableOption)

        form.on('select(checkCourse)', function (obj) {
            getKnowlegeList(obj.value)
        })

        getAllCourses()

        $('#ploy-add-back').on('click', function () {
            window.history.back(-1)
        })

        function knowlegePointChange(obj) {
            chosenTrIndex = obj.tr.data('index')
            $('.layui-table-body').css('overflow', 'visible')
            $('.layui-table-box').css({
                overflow: 'visible',
                'min-height': '300px'
            })
            $('.layui-table-view').css('overflow', 'visible')
            openZTree(obj.elem)
        }

        form.on('select(exercisesTypeChange)', function (obj) {
            $('.layui-table-body').css('overflow', 'visible')
            $('.layui-table-box').css({
                overflow: 'visible',
                'min-height': '300px'
            })
            $('.layui-table-view').css('overflow', 'visible')
            var value = obj.value
            var tr = $(obj.elem).parents('tr')
            var index = tr.data('index')

            strategyEntries[index].exercisesType = Number(value)

            if (
                strategyEntries[index].knowledgePoint &&
                strategyEntries[index].exercisesDifficulty &&
                strategyEntries[index].exercisesType
            ) {
                getExerciseInfo(index)
            }
        })

        form.on('select(exercisesDifficultyChange)', function (obj) {
            $('.layui-table-body').css('overflow', 'visible')
            $('.layui-table-box').css({
                overflow: 'visible',
                'min-height': '300px'
            })
            $('.layui-table-view').css('overflow', 'visible')
            var value = obj.value
            var tr = $(obj.elem).parents('tr')
            var index = tr.data('index')

            strategyEntries[index].exercisesDifficulty = Number(value)

            if (
                strategyEntries[index].knowledgePoint &&
                strategyEntries[index].exercisesDifficulty &&
                strategyEntries[index].exercisesType
            ) {
                getExerciseInfo(index)
            }
        })

        table.on('edit(ploy_add_table)', function (obj) {
            var value = Number(obj.value)
            var data = $(obj.tr.selector).data(index)
            var index = data.index

            strategyEntries[index].exercisesSize = value

            if (
                value >
                $('.referNums')
                .eq(index)
                .html()
            ) {
                layer.msg('抽题数量应不大于参考题数')
                return
            }

            if (
                strategyEntries[index] &&
                strategyEntries[index].exercisesDifficulty
            ) {
                strategyEntries[index].totalScore =
                    value * Number(strategyEntries[index].exercisesDifficulty)
                $('.allScores')
                    .eq(index)
                    .html(
                        value *
                        Number(strategyEntries[index].exercisesDifficulty)
                    )
            }
        })

        table.on('tool(ploy_add_table)', function (obj) {
            var leyEvent = obj.event
            if(leyEvent === 'knowlegePointChange') {
                // 编辑知识点
                knowlegePointChange(obj)
            }

            if (leyEvent === 'delete') {
                var index = $(obj.tr.selector).data(index).index
                if (strategyEntries.length === 1) {
                    layer.msg('请输入至少一条策略条目')
                    return
                }
                strategyEntries.splice(index, 1)
                tableOption.data = strategyEntries
                table.render(tableOption)

                $('.knowledgePoint').each(function (index) {
                    $(this).val(strategyEntries[index].knowledgePoint)
                })

                $('.exercisesType').each(function (index) {
                    $(this).val(strategyEntries[index].exercisesType)
                })

                $('.exercisesDifficulty').each(function (index) {
                    $(this).val(strategyEntries[index].exercisesDifficulty)
                })

                $('.exercisesSize').each(function (index) {
                    $(this).val(strategyEntries[index].exercisesSize)
                })

                $('.allScores').each(function (index) {
                    $(this).html(strategyEntries[index].totalScore)
                })

                $('.referNums').each(function (index) {
                    $(this).html(strategyEntries[index].referNums)
                })

                form.render()
            }
        })

        $('#add_ploy').on('click', function () {

            strategyEntries.push(JSON.parse(JSON.stringify(option)))
            tableOption.data = strategyEntries
            table.render(tableOption)

             $('.layui-table-body').css('overflow', 'visible')
             $('.layui-table-box').css({
             overflow: 'visible',
             'min-height': '300px',
             })
             $('.layui-table-view').css('overflow', 'visible')

            $('.exercisesType').each(function (index) {
                if (index !== strategyEntries.length - 1) {
                    $(this).val(strategyEntries[index].exercisesType)
                    form.render()
                }
            })

            $('.exercisesDifficulty').each(function (index) {
                if (index !== strategyEntries.length - 1) {
                    $(this).val(strategyEntries[index].exercisesDifficulty)
                    form.render()
                }
            })

            $('.exercisesSize').each(function (index) {
                if (index !== strategyEntries.length - 1) {
                    $(this).val(strategyEntries[index].exercisesSize)
                    form.render()
                }
            })

            $('.allScores').each(function (index) {
                if (index !== strategyEntries.length - 1) {
                    $(this).html(strategyEntries[index].totalScore)
                    form.render()
                }
            })

            $('.referNums').each(function (index) {
                if (index !== strategyEntries.length - 1) {
                    $(this).html(strategyEntries[index].referNums)
                    form.render()
                }
            })

            form.render()
            return false
        })

        $('.layui-table-body').css('overflow', 'visible')
        $('.layui-table-box').css({
            overflow: 'visible',
            'min-height': '300px'
        })
        $('.layui-table-view').css('overflow', 'visible')

        $('#save_ploy').click(function () {
            if (!$('input[name="strategyName"]').val()) {
                layer.msg('请填写策略名称')
                return
            }
            var list = []
            strategyEntries.forEach(function (item) {
                list.push({
                    exercisesDifficulty: item.exercisesDifficulty,
                    exercisesSize: item.exercisesSize,
                    exercisesType: item.exercisesType,
                    knowledgePoint: item.knowledgePoint
                })
            })
            var data = {
                curriculumId: Number($('#curriculumId').val()),
                strategyName: $('input[name="strategyName"]')
                    .val()
                    .trim(),
                // strategyEntries: list
                strategyEntries: JSON.stringify(list)
            }

            admin.post({
                url: '/strategy/add',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.code === 200) {
                        layer.msg('添加成功')
                        admin.navigate('/examine/ploy')
//                        window.location.reload()
                    } else {
                        layer.msg(res.msg || '添加失败')
                    }
                }
            })
            return false
        })

        function getExerciseInfo(index) {
            var data = strategyEntries[index]

            var formData = {
                page: 1,
                rows: 10000,
                key: data.knowledgePoint +
                    '|' +
                    data.exercisesType +
                    '|' +
                    data.exercisesDifficulty
            }
            admin.post({
                url: '/exercises/getListBy',
                data: JSON.stringify(formData),
                success: function (res) {
                    if (res.code === 200) {
                        data.referNums = res.data.total
                        $('.referNums')
                            .eq(index)
                            .html(data.referNums)
                    }
                }
            })
        }

        function getAllCourses() {
            admin.post({
                url: '/vsMpCurriculum/getList',
                data: JSON.stringify({
                    page: 1,
                    rows: 100000
                }),
                success: function (res) {
                    var list =
                        (res.data &&
                            res.data.items.length > 0 &&
                            res.data.items) || []

                    for (var i = 0; i < list.length; i++) {
                        var item = list[i]
                        $('#curriculumId').append(
                            '<option value="' +
                            item.id +
                            '">' +
                            item.curriculumName +
                            '</option>'
                        )
                    }
                    form.render()
                }
            })
        }

        function getKnowlegeList(id) {
            admin.get({
                url: '/knowledgePoint/queryChildrenByPid?id='+id,
                success: function (res) {
                    cleanAssignment()
                    initSelectTree(treeToArray(res.data))
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getDetails() {
            admin.get({
                url: '/strategy/queryById?id=' + id,
                success: function(res) {
                    if (res.code === 200) {
                        $('#strategyName').val(res.data.strategyName || '')
                        $('#curriculumId').val(res.data.curriculumId || '')
                        getKnowlegeList(res.data.curriculumId, function() {
                            tableOption.data = res.data.list
                            table.render(tableOption)
                            form.render()
                        })
                        form.render()
                    }
                }
            })
        }
    })

    $(document).ready(function(){
        initSelectTree();
        hideMenu();
    })

    // ztree
    // 初始化下拉
    function initSelectTree(zNodes) {
        var setting = {
            view: {
                dblClickExpand: false,
                showLine: false
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            check: {
                enable: false,
                chkboxType: {"Y": "ps", "N": "s"}
            },
            callback: {
                onClick: onClick
            }
        };
        $.fn.zTree.init($("#pNameTree"), setting, zNodes);
    }
    // 下拉树
    function openZTree(obj) {
        $(obj).addClass("layui-form-selected");
        var position = $(obj).position();
        var width = $(obj).width() - 2;
        $("#tree-content").css({
            // @TODO 位置
            // left: position.left + "px",
            // top: position.top + $(obj).height() + "px",
            // width: width,
            height: '200px',
            position: 'absolute',
            border: '1px solid',
            'z-index': 999,
            background: 'white',
            display: 'block'
        }).slideDown("fast");
        $("body").bind("mousedown", onBodyDown);
    }
    // 点击节点
    function onClick(event, treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj(treeId);
        assignment(zTree.getSelectedNodes());
        hideMenu();

        $('.layui-table-body').css('overflow', 'visible')
        $('.layui-table-box').css({
            overflow: 'visible',
            'min-height': '300px',
        })
        $('.layui-table-view').css('overflow', 'visible')
        // if (
        //     strategyEntries[chosenTrIndex].knowledgePoint &&
        //     strategyEntries[chosenTrIndex].exercisesDifficulty &&
        //     strategyEntries[chosenTrIndex].exercisesType
        // ) {
        //     getExerciseInfo(chosenTrIndex)
        // }
    }
    // 隐藏下拉
    function hideMenu() {
        // $(".select-tree").removeClass("layui-form-selected");
        // $("#tree-content").fadeOut("fast");
        $("#tree-content").hide();
        // $("body").unbind("mousedown", onBodyDown);
    }
    function onBodyDown(event) {
        if ($("#tree-content").html() == null) {
            hideMenu();
        }
    }
    // input回显
    function assignment(nodes) {
        strategyEntries[chosenTrIndex].knowledgePointName = nodes[0].name;
        strategyEntries[chosenTrIndex].knowledgePoint = nodes[0].id;
        layui.table.render(tableOption)
    }
    // 删除回显
    function cleanAssignment() {
        strategyEntries.forEach(function (s) {
            s.knowledgePointName = ''
            s.knowledgePoint = ''
        })
        console.log(strategyEntries)
        layui.table.render(tableOption)
    }
    // 树转列表
    function treeToArray(data) {
        var l = [{id: data.id, name: data.name, pId: 0}] // 根节点
        if(data.children && data.children.length > 0) {
            _treeToArray(data.id, data.children).forEach(function (sl) {
                l.push(sl)
            })
        }
        return l
    }
    function _treeToArray(pId, data) {
        var l = []
        if(data && data.length > 0) {
            data.forEach(function(d) {
                l.push({
                    id: d.id,
                    name: d.name,
                    pId: pId
                })
                if(d.children && d.children.length > 0) {
                    _treeToArray(d.id, d.children).forEach(function (sl) {
                        l.push(sl)
                    })
                }
            })
        }
        return l;
    }
</script>

<style>
    .my-add-form {
        padding: 25px 0;
    }

    .ploy-title {
        width: 90%;
        padding: 15px;
        color: #126093;
        background: rgba(244, 245, 250, 1);
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    /* .layui-form input[type=checkbox],
    .layui-form input[type=radio],
    .layui-form select {
        display: block;
        height: 30px;
        line-height: 30px;
    } */

    .layui-table {
        width: 60%;
        margin-left: 170px;
    }

    .common-form-input {
        width: 150px;
    }

    #poly-add-strategy .layui-input,
    #poly-add-strategy .layui-form-select {
        width: 120px;
    }

    #poly-add-strategy .ploy-value {
        display: inline-block;
        width: 120px;
    }

    #examine-ploy-add .layui-form-select {
        width: 130px;
    }

    #examine-ploy-add .layui-select-title {
        width: 130px;
    }

    #poly-add-strategy .layui-input .layui-unselect {
        width: 120px;
    }

    #examine-ploy-add .layui-input,
    #examine-ploy-add .layui-textarea {
        width: 130px;
    }

    #examine-ploy-add .layui-table-cell {
        overflow: visible;
    }

    #ploy-content .layui-table-box {
        height: 500px;
    }

</style>
