<div id="examine-ploy-detail"
     layui-title="添加试卷策略">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>题库管理 > 试卷策略 > 查看策略</span>
        </div>
    </div>
    <form action=""
          class="layui-form my-add-form">
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">所属课程</label>
                <span id="curriculumName"
                      class="info-details"></span>
            </div>
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">策略名称</label>
                <span id="strategyName"
                      class="info-details"></span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">原创者</label>
                <span id="userName"
                      class="info-details"></span>
            </div>
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">创建时间</label>
                <span id="createTime"
                      class="info-details"></span>
            </div>
        </div>
    </form>
    <div class="ploy-title">试卷策略条目</div>
    <form action=""
          class="layui-form my-add-form">
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label ">策略条目</label>
                <div class="ploy-content">
                    <div class="ploy-content-title">
                        <span style="color: red;">说明：易1分，中等2分，难3分，非常难4分</span>
                    </div>
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th>知识点</th>
                                <th>习题类型</th>
                                <th>习题难度</th>
                                <th>参考题数</th>
                                <th>抽题数量</th>
                                <th>总分</th>
                            </tr>
                        </thead>
                        <tbody id="ploy_details_table"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-btn layui-btn-primary cancel-btn"
                     id="ploy-detail-back"> 返回 </div>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['table', 'form'], function (table) {
        var table = layui.table,
            form = layui.form,
            $ = layui.jquery,
            admin = layui.admin,
            route = layui.router(),
            id = route.search.id,
            strategyEntries = []
        $('#ploy-detail-back').on('click', function () {
            window.history.back(-1)
        })
        getDetails()

        function getDetails() {
            admin.get({
                url: '/strategy/queryById?id=' + id,
                success: function (res) {
                    $('#curriculumName').html(res.data.curriculumName)
                    $('#strategyName').html(res.data.strategyName)
                    $('#userName').html(res.data.userName)
                    $('#createTime').html(res.data.createTime)
                    strategyEntries = res.data.list
                    strategyEntries.forEach(function (item) {
                        $('#ploy_details_table').append('<tr>\n' + '   <td>\n' + '      ' +
                            item.knowledgePointName + '\n' + '   </td>\n' +
                            '   <td>\n' +
                            '      ' + item.exercisesTypeName + '\n' + '   </td>\n' +
                            '   <td>\n' + '      ' + item.exercisesDifficultyName +
                            '\n' +
                            '   </td>\n' + '   <td>\n' + '      ' + item.allExercises +
                            '\n' + '   </td>\n' + '   <td>\n' + '      ' + item
                            .exercisesSize +
                            '\n' + '   </td>\n' + '   <td>\n' + '      ' + item
                            .totleCourse +
                            '\n' + '   </td>\n' + '</tr>')
                    })
                    form.render()
                }
            })
        }
    })

</script>
<style>
    #examine-ploy-detail .info-details {
        line-height: 38px;
    }

    .my-add-form {
        padding: 25px 0;
    }

    .ploy-title {
        width: 90%;
        padding: 15px;
        color: #126093;
        background: rgba(244, 245, 250, 1);
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .layui-form input[type='checkbox'],
    .layui-form input[type='radio'],
    .layui-form select {
        /* display: block; */
        height: 30px;
        line-height: 30px;
    }

    .layui-table {
        width: 77%;
        margin-left: 170px;
    }

    .common-form-input {
        width: 150px;
    }

</style>
