<div id="source-manage-mylist" class="layui-fluid" lay-title="我的资源库">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>系统管理 > 数据备份</span>
        </div>
    </div>
    <div class="course-add">
        <button class="primary-btn" id="add_data-backup">手动备份</button>
    </div>
    <table
        id="data-backup-mylist-table"
        lay-filter="data-backup-mylist-table"
    ></table>
    <script type="text/html" id="sourcelist-opt"></script>
    <div class="app-table-page" id="data-backup-mylist-page"></div>
</div>

<script>
    layui.use(['table', 'jquery', 'form', 'admin'], function(table, $) {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            tableFilter = 'data-backup-mylist-table',
            table = layui.table,
            admin = layui.admin,
            pageLimit = 20,
            layPageOption = {
                elem: 'data-backup-mylist-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: [
                    'first',
                    'prev',
                    'page',
                    'next',
                    'last',
                    'count',
                    'currLimit',
                    'curr',
                    'pageCount'
                ],
                jump: function(obj, first) {
                    //首次不执行
                    if (!first) {
                        getList(obj.curr)
                    }
                }
            },
            tableOption = {
                page: false,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [
                        {
                            title: '序号',
                            field: 'id',
                            width: 80,
                            align: 'center'
                        },
                        {
                            title: '数据备份日期',
                            field: 'backupDate',
                            align: 'center',
                            templet: function(d) {
                                return admin
                                    .dateFormat(
                                        new Date(d.backupDate).getTime() / 1000
                                    )
                                    .substring(0, 11)
                            }
                        },
                        {
                            title: '版本',
                            field: 'versions',
                            align: 'center'
                        },
                        {
                            title: '操作',
                            align: 'center',
                            templet: '#sourcelist-opt'
                        }
                    ]
                ]
            },
            formData = {
                id: '',
                backupDate: '',
                versions: ''
            }

        getList(1)

        $('#add_data-backup').on('click', function() {
            layer.open({
                type: 1,
                offset: 'auto',
                title: '系统提示',
                content: '是否要手动备份？',
                area: ['300px', '200px'],
                shade: 0.4,
                skin: 'system-modal',
                shadeClose: true,
                btn: ['确定', '取消'],
                yes: function(index, layero) {
                    // 提交
                    layer.close(index)
                    backupData()
                },
                cancel: function(index) {
                    layer.close(index)
                }
            })
        })

        function getList(page) {
            var data = {
                page: page,
                rows: pageLimit
            }
            admin.post({
                url: '/dataBackup/list',
                data: JSON.stringify(data),
                success: function(res) {
                    tableOption.data = (res.data && res.data.items) || []
                    layPageOption.count = (res.data && res.data.total) || 0
                    table.render(tableOption)
                    laypage.render(layPageOption)
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function backupData(id) {
            admin.post({
                url: '/dataBackup/backupData',
                success: function(res) {
                    if (res.code === 200) {
                        layer.msg('备份成功！')
                        getList(1)
                    }
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }
    })
</script>

<style>
    #source-manage-mylist {
    }
    .data-backup-edit-modal .layui-layer-content {
        padding: 20px;
    }
    .data-backup-remark {
        width: 63%;
    }
</style>
