<div id="source-manage-mylist" class="layui-fluid" lay-title="我的资源库">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>系统管理 > 实验室管理</span>
        </div>
        <div class="course-title-search">
            <input type="text" placeholder="请输入关键字" id="labName" />
            <button class="search-confirm" id="searchLabList">
                <img src="src/images/search.png" />
            </button>
        </div>
    </div>
    <div class="course-add">
        <button class="primary-btn" id="add_lab">添加</button>
    </div>
    <table id="lab-mylist-table" lay-filter="lab-mylist-table"></table>
    <script type="text/html" id="sourcelist-opt">
        <button class="course-set-btn" lay-event="edit">编辑</button>
        <button class="course-set-btn" lay-event="delete">删除</button>
        <button class="course-set-btn" lay-event="check">查看</button>
    </script>
    <div class="app-table-page" id="lab-mylist-page"></div>
</div>

<script>
    layui.use(['table', 'jquery', 'form', 'admin'], function (table, $) {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            tableFilter = 'lab-mylist-table',
            table = layui.table,
            admin = layui.admin,
            pageLimit = 20,
            layPageOption = {
                elem: 'lab-mylist-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: [
                    'first',
                    'prev',
                    'page',
                    'next',
                    'last',
                    'count',
                    'currLimit',
                    'curr',
                    'pageCount'
                ],
                jump: function (obj, first) {
                    //首次不执行
                    if (!first) {
                        getList(obj.curr)
                    }
                }
            },
            tableOption = {
                page: false,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
	                [
	                    {
	                        title: '序号',
	                        field: 'id',
	                        width: 80,
	                        align: 'center',
                            type: 'numbers'
	                    },
	                    {
	                        title: '实验室名称',
	                        field: 'labName',
	                        align: 'center'
	                    },
	                    {
	                        title: '实验室地址',
	                        field: 'labAddress',
	                        align: 'center'
	                    },
	                    {
	                        title: '操作',
	                        align: 'center',
	                        templet: '#sourcelist-opt'
	                    }
	                ]
	            ]
            },
            formData = {
                id: '',
                labName: '',
		        labAddress: ''
            };


        getList(1)
        $("#searchLabList").click(function () {
            getList(1)
        })

        table.on('tool(lab-mylist-table)', function (obj) {
        	
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event,
                type = '';

            if (layEvent === 'delete') {
                layer.open({
                    type: 1,
                    offset: 'auto',
                    title: '系统提示',
                    content: '该信息为重要信息，是否删除？',
                    area: ['300px', '200px'],
                    shade: 0.4,
                    skin: 'system-modal',
                    shadeClose: true,
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        // 提交
                        layer.close(index)
                        deleteData(data.id)
                    },
                    cancel: function (index) {
                        layer.close(index)
                    }
                })
                return;
            }
            if (layEvent === 'edit') { //编辑
                formData = data;
                type = 'edit';
            } else if (layEvent === 'check') {
                formData = data;
                type = 'check';
            }

            var layerOption = {
                type: 1,
                offset: 'auto',
                title: type==='edit'?'编辑':'查看',
                content: getTemplate(formData, type),
                area: ['700px', '70%'],
                shade: 0.4,
                shadeClose: true,
                btn: (type === 'check') ? [] : ['确定', '取消'],
                yes: function (index, layero) {
                    layer.close(index)
                    getFormData()
                    if (type === 'check') {
                        getData(data.id)
                    } else if (type === 'edit') {
                        formData.id = data.id
                        updateData(formData)
                    }
                },
                cancel: function(index) {
                    layer.close(index)
                }
            }

            layer.open(layerOption);
            form.render();
        })

        $('#add_lab').on('click', function () {
            formData = {
                id: '',
                labName: '',
                labAddress: ''
            };
            layer.open({
                type: 1,
                offset: 'auto',
                title: '添加',
                content: getTemplate(formData),
                area: ['700px', '70%'],
                shade: 0.4,
                skin: 'lab-edit-modal',
                shadeClose: true,
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                	getFormData()
                    layer.close(index)
                    addData(formData)
                },
                cancel: function(index) {
                    layer.close(index)
                }
            })
            form.render()
        });

        function getList(page) {
            var labName = $("#labName").val(),
                data = {
                page: page,
                rows: pageLimit,
                key: labName
            }
            admin.post({
                url: '/mpLab/vsMpLabList',
                data: JSON.stringify(data),
                success: function (res) {
                    tableOption.data = (res.data && res.data.items) || [];
                    layPageOption.count = (res.data && res.data.total) || 0;
                    table.render(tableOption)
                    laypage.render(layPageOption)
                },
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        };

        function deleteData(id) {
            admin.deleteOpt({
                url: '/mpLab/del?id=' + id,
                success: function (res) {
                    getList(layPageOption.curr)
                },
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        }

        function updateData(data) {
            var data = {
                id: data.id,
                labName: data.labName,
		        labAddress: data.labAddress
            }
            admin.put({
                url: '/mpLab/update',
                data: JSON.stringify(data),
                success: function (res) {
                    getList(layPageOption.curr)
                },
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        }

        function getData(id) {
            admin.get({
                url: '/mpLab/queryById?id=' + id,
                success: function (res) {},
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        }

        function addData(data) {
            var data = {
                labName: data.labName,
		        labAddress: data.labAddress
            }
            admin.post({
                url: '/mpLab/add',
                data: JSON.stringify(data),
                success: function (res) {
                    getList(1)
                },
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        }

        function getFormData() {
            formData = {
                id: $('#id').val(),
		        labName: $('#labNameAdd').val(),
		        labAddress: $('#labAddress').val()
            }
        }


        function getTemplate(formData, type) {
            return '<div id="lab_details_modal">\n' +
            '        <form action="" class="layui-form">\n' +
            '            <div class="layui-row">\n' +
            '                <div class="layui-col-md12 layui-form-item">\n' +
            '                    <label class="layui-form-label">实验室名称：</label>\n' +
            '                    <input\n' +
            '                        type="text"\n' +
            '                        name="userName"\n' +
	        '                        id="labNameAdd"\n' +
            '                        class="common-form-input"\n' +
            '                        value="' +
                formData.labName +
                                    '"\n' +
            '                    />\n' +
            '                </div>\n' +
            '            </div>\n' +
            '            <div class="layui-row">\n' +
            '                <div class="layui-col-md12 layui-form-item">\n' +
            '                    <label class="layui-form-label">实验室地址:</label>\n' +
            '                    <textarea\n' +
            '                        name="desc"\n' +
	        '                        id="labAddress"\n' +
            '                        class="layui-textarea lab-remark"\n' +
            '                    >' +
                formData.labAddress +
                '</textarea>\n' +
            '                </div>\n' +
            '            </div>\n' +
            '        </form>\n' +
            '    </div>';
        }
    })
</script>

<style>
    #source-manage-mylist {
    }
    .lab-edit-modal .layui-layer-content {
        padding: 20px;
    }
    .lab-remark {
        width: 63%;
    }
</style>
