<div id="source-manage-mylist"
     class="layui-fluid"
     lay-title="角色管理">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>系统管理 > 角色列表</span>
        </div>
        <div class="course-title-search">
            <input type="text"
                   placeholder="请输入关键字"
                   id="roleName" />
            <button class="search-confirm"
                    id="searchRoleList">
                <img src="src/images/search.png" />
            </button>
        </div>
    </div>
    <div class="course-add">
        <button class="primary-btn"
                id="add_role">添加</button>
    </div>
    <div id="test1"></div>
    <table id="role-mylist-table"
           lay-filter="role-mylist-table"></table>
    <script type="text/html"
            id="role-manage-opt">
        <button class="course-set-btn"
                lay-event="edit">编辑</button>
        <button class="course-set-btn"
                lay-event="delete">删除</button>
        <button class="course-set-btn"
                lay-event="check">查看</button>

    </script>
    <div class="app-table-page"
         id="role-mylist-page"></div>
</div>
<script>
    layui.use(['element', 'table', 'jquery', 'form', 'tree', 'admin'], function (table, $) {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            tableFilter = 'role-mylist-table',
            table = layui.table,
            admin = layui.admin,
            tree = layui.tree,
            formData = {
                roleName: '',
                name: '',
                id: '',
                desc: ''
            },
            layPageOption = {
                elem: 'role-mylist-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: ['first', 'prev', 'page', 'next', 'last', 'count', 'currLimit', 'curr', 'pageCount'],
                jump: function (obj, first) {
                    //首次不执行
                    if (!first) {
                        getList(obj.curr, obj.limit)
                    }
                }
            },
            tableOption = {
                page: false,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [{
                            title: '序号',
                            field: 'id',
                            width: 80,
                            align: 'center',
                            type: 'numbers'
                        }, {
                            title: '角色名称',
                            field: 'roleName',
                            align: 'center'
                        },
                        // {
                        //     title: '英文名称',
                        //     field: 'courceName',
                        //     align: 'center'
                        // },
                        // {
                        //     title: '显示顺序',
                        //     field: 'id',
                        //     align: 'center',
                        // },
                        // {
                        //     title: '创建用户',
                        //     field: 'responsor',
                        //     align: 'center',
                        // },
                        {
                            title: '创建时间',
                            field: 'createTime',
                            align: 'center'
                        }, {
                            title: '操作',
                            align: 'center',
                            templet: '#role-manage-opt',
                            fixed: 'right',
                            width: 200
                        }
                    ]
                ]
            }
        getList(1, 20)
        $('#searchRoleList').click(function () {
            getList(1)
        })
        table.on('tool(role-mylist-table)', function (obj) {
            var data = obj.data //获得当前行数据
            var layEvent = obj.event,
                type = ''
            if (layEvent === 'delete') {
                layer.open({
                    type: 1,
                    offset: 'auto',
                    title: '系统提示',
                    content: '该信息为重要信息，是否删除？',
                    area: ['300px', '200px'],
                    shade: 0.4,
                    skin: 'system-modal',
                    shadeClose: true,
                    btn: ['确定', '取消'],
                    yes: function (index) {
                        // 提交
                        layer.closeAll(index)
                        deleteData(data.id)
                    },
                    cancel: function (index) {
                        layer.closeAll(index)
                    }
                })
                return
            }
            if (layEvent === 'edit') {
                //编辑
                formData = data
                type = 'edit'
            } else if (layEvent === 'check') {
                formData = data
                type = 'check'
            }
            var list = data.menuPermissions.split(',')
            var newList = []
            getMenuList(function (allList) {
                allList.menuTrees.forEach(function (item) {
                    newList.push(item)
                })
                renderTree(newList, 'update')
            },data.id)

            var layerOption = {
                type: 1,
                offset: 'auto',
                title: type === 'edit' ? '编辑' : '查看',
                content: getTemplate(formData, type),
                area: ['700px', '70%'],
                shade: 0.4,
                shadeClose: true,
                btn: type === 'check' ? [] : ['确定', '取消'],
                yes: function (index) {
                    layer.close(index)
                    getFormData()
                    if (type === 'check') {
                        getData(data.id)
                    } else if (type === 'edit') {
                        formData.id = data.id
                        updateData(formData)
                    }
                },
                cancel: function (index) {
                    layer.close(index)
                }
            }
            layer.open(layerOption)
            $('#home_url').val(data.skipIndex)
            form.render()
        })

        function getTemplate(formData, type) {
            return ('<div id="college_details_modal">\n' + '        <form action="" class="layui-form">\n' +
                '            <div class="layui-row">\n' +
                '                <div class="layui-col-md12 layui-form-item">\n' +
                '                    <label class="layui-form-label">角色名称：</label>\n' +
                '                    <input\n' + '                        type="text"\n' +
                '                        name="roleName"\n' +
                '                        class="common-form-input"\n' +
                '                        id="roleNameUpdate"\n' + '                        value="' + (
                    formData.roleName || '') + '"\n' + (type === 'check' ? 'disabled' : '') +
                '                    />\n' + '                </div>\n' + '            </div>\n' +
                // '            <div class="layui-row">\n' +
                // '                <div class="layui-col-md12 layui-form-item">\n' +
                // '                    <label class="layui-form-label">英文名称:</label>\n' +
                // '                    <input\n' +
                // '                        type="text"\n' +
                // '                        name="usName"\n' +
                // '                        class="common-form-input"\n' +
                // '                        id="usName"\n' +
                // '                        value="' + (formData.name || '') + '"\n' +
                // (type === 'check' ? 'disabled' : '') +
                // '                    />\n' +
                // '                </div>\n' +
                // '            </div>\n' +
                // '            <div class="layui-row">\n' +
                // '                <div class="layui-col-md12 layui-form-item">\n' +
                // '                    <label class="layui-form-label">显示顺序:</label>\n' +
                // '                    <input\n' +
                // '                        type="text"\n' +
                // '                        name="userName"\n' +
                // '                        class="common-form-input"\n' +
                // '                        id="showId"\n' +
                // '                        value="' + formData.id + '"\n' +
                // (type === 'check' ? 'disabled' : '') +
                // '                    />\n' +
                // '                </div>\n' +
                // '            </div>\n' +
                '            <div class="layui-row">\n' +
                '                <div class="layui-col-md12 layui-form-item">\n' +
                '                    <label class="layui-form-label">分配权限:</label>\n' +
                '                    <div id="auth_list" class="auth-list-tree col-md-8"></div>\n' +
                '                </div>\n' + 
                '            </div>\n' +
                '            <div class="layui-row">\n' +
                '            <div class="layui-col-md12 layui-form-item required">\n' +
                '                    <label class="layui-form-label ">首页地址:</label>\n' +
                '                    <select id="home_url">' +
                '                         <option value="">请选择</option>'+
                '                         <option value="/user/all"'+
                 (formData && formData.skipIndex === "/user/all" ? " selected" : "")+ '>管理员首页'+
                '                         </option>'+
                '                         <option value="/"'+
                (formData && formData.skipIndex === "/" ? " selected" : "")+'">老师首页'+
                '                         </option>'+
                '                         <option value="/student"'+
                (formData && formData.skipIndex === "/student" ? " selected" : "")+'">学生首页'+
                '                         </option>'+
                '                         <option value="/applyReport/applyList"'+
                (formData && formData.skipIndex === "/applyReport/applyList" ? " selected" : "")+'">申报实验首页'+
                '                         </option>'+
                '                         <option value="/applyReport/applyList"'+
                (formData && formData.skipIndex === "/checkCourse/virtualTest" ? " selected" : "")+'">虚拟实验列表'+
                '                         </option>'+
                '                    </select>\n' +
                '                </div>\n' + 
                '            </div>\n' +
                '            <div class="layui-row">\n' +
                '                <div class="layui-col-md12 layui-form-item">\n' +
                '                    <label class="layui-form-label">角色描述:</label>\n' +
                '                    <textarea\n' + '                        name="desc"\n' +
                '                        class="layui-textarea role-remark"\n' +
                '                        id="role-remark"\n' + '                        value="' + (
                    formData.desc || '') + '"\n' + (type === 'check' ? 'disabled' : '') +
                '                    ></textarea>\n' + '                </div>\n' + '            </div>\n' +
                '        </form>\n' + '    </div>')
        }

        function getFormData() {
            formData = {
                roleName: $('#roleNameUpdate').val(),
                // name: $('#usName').val(),
                id: $('#showId').val(),
                desc: $('#role-remark').val()
            }
        }

        function getList(page, rows) {
            var roleName = $('#roleName').val(),
                data = {
                    page: page,
                    rows: 20,
                    key: roleName
                }
            admin.post({
                url: '/role/queryRoleList',
                data: JSON.stringify(data),
                success: function (res) {
                    tableOption.data = (res.data && res.data.items) || []
                    layPageOption.count = (res.data && res.data.total) || 0
                    table.render(tableOption)
                    laypage.render(layPageOption)
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function addData() {
            if (!$('#home_url').val()) {
                layer.msg('请选择首页地址')
                return;
            }
            var data = {
                roleName: $('#roleNameUpdate').val(),
                menuPermissions: '',
                skipIndex: $('#home_url').val()
            }
            var menuList = tree.getChecked('1')
            var list = []
            for (var i = 0; i < menuList.length; i++) {
                list.push(menuList[i].id)
                if (menuList[i].children.length > 0) {
                    for (var j = 0; j < menuList[i].children.length; j++) {
                        var item = menuList[i].children[j]
                        list.push(item.id)
                        if (item.children.length > 0) {
                            for (var m = 0; m < item.children.length; m++) {
                                var c = item.children[m]
                                list.push(c.id)
                            }
                        }
                    }
                }
            }
            data.menuPermissions = list.join(',')
            admin.post({
                url: '/role/addRole',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.code === 200) {
                        layer.msg('添加成功！')
                        getList(1, 20)
                    }
                }
            })
        }

        function updateData(formData) {
            if (!$('#home_url').val()) {
                layer.msg('请选择首页地址')
                return;
            }
            var menuList = tree.getChecked('1')
            console.log(111, menuList);
            var list = []
            for (var i = 0; i < menuList.length; i++) {
                list.push(menuList[i].id)
                if (menuList[i].children && menuList[i].children.length > 0) {
                    for (var j = 0; j < menuList[i].children.length; j++) {
                        var item = menuList[i].children[j]
                        list.push(item.id)
                        if (item.children && item.children.length > 0) {
                            for (var m = 0; m < item.children.length; m++) {
                                var c = item.children[m]
                                list.push(c.id)
                            }
                        }
                    }
                }
            }
            formData.menuPermissions = list.join(',')
            formData.roleName = $('#roleNameUpdate').val()
            formData.skipIndex = $('#home_url').val()
            admin.put({
                url: '/role/upDateRole',
                data: JSON.stringify(formData),
                success: function (res) {
                    if (res.code === 200) {
                        layer.msg('更新成功！')
                        getList(layPageOption.curr)
                    }
                }
            })
        }

        function deleteData(id) {
            admin.delete({
                url: '/role/deleteRole?id=' + id,
                success: function (res) {
                    if (res.code === 200) {
                        layer.msg('删除成功！')
                        getList(1, 20)
                    }
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function initLayerOpen() {
            formData = {
                    roleName: '',
                    id: '',
                    desc: ''
                },
                layer.open({
                    type: 1,
                    offset: 'auto',
                    title: '添加',
                    content: getTemplate(formData),
                    area: ['700px', '70%'],
                    shade: 0.4,
                    skin: 'user-edit-modal',
                    shadeClose: true,
                    btn: ['确定', '取消'],
                    yes: function (index) {
                        addData()
                        layer.close(index)
                    },
                    cancel: function (index) {
                        layer.close(index)
                    }
                })
            form.render()
            // 渲染权限列表
            getMenuList(function (data) {
                if (data.menuTrees && data.menuTrees.length > 0){
                    renderTree(data.menuTrees)
                }
            },0)
        }

        function getMenuList(callback,id) {
            admin.get({
                url: '/role/queryRole?id='+id,
                success: function (res) {
                    callback(res.data)
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function renderTree(treeData, type) {
            for (var i = 0; i < treeData.length; i++) {
                treeData[i].title = treeData[i].menuName
                treeData[i].spread = true
                if (treeData[i].child.length > 0) {
                    for (var j = 0; j < treeData[i].child.length; j++) {
                        var item = treeData[i].child[j]
                        item.title = item.menuName
                        item.spread = true
                        if (item.child.length > 0) {
                            for (var m = 0; m < item.child.length; m++) {
                                var c = item.child[m]
                                c.title = c.menuName
                                c.checked = c.select
                            }
                        } else {
                            item.checked = item.select
                        }
                        item.children = item.child
                    }
                } else {
                    treeData[i].checked = treeData[i].select
                }
                treeData[i].children = treeData[i].child
            }
            tree.render({
                elem: '#auth_list',
                data: treeData,
                showCheckbox: true, //是否显示复选框
                id: '1'
            })
        }
        $('#add_role').on('click', function () {
            initLayerOpen()
        })
    })

</script>
<style>
    .role-edit-modal .layui-layer-content {
        padding: 20px;
    }

    .role-remark {
        width: 63%;
    }
    
    .auth-list-tree {
        float: left;
    }

</style>
