<div id="source-manage-mylist" class="layui-fluid" lay-title="我的资源库">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>系统管理 > 实验类型管理</span>
        </div>
        <div class="course-title-search">
            <input type="text" value="请输入关键字" />
            <button class="search-confirm">
                <img src="src/images/search.png" />
            </button>
        </div>
    </div>
    <div class="course-add">
        <button class="primary-btn" id="add_test-type">添加</button>
    </div>
    <table
        id="test-type-mylist-table"
        lay-filter="test-type-mylist-table"
    ></table>
    <script type="text/html" id="sourcelist-opt">
        <button class="course-set-btn" id="test-type-mylist-edit">编辑</button>
        <button class="course-set-btn" id="test-type-mylist-delete">删除</button>
        <button class="course-set-btn" id="test-type-mylist-check">查看</button>
    </script>
    <div class="app-table-page" id="test-type-mylist-page"></div>
    <!--  -->
</div>

<script>
    layui.use(['table', 'jquery', 'form', 'tree'], function(table, $) {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            tableFilter = 'test-type-mylist-table',
            table = layui.table

        table.render({
            page: false,
            data: [
                {
                    id: 1,
                    courceName: '发电机哈哈',
                    courseCode: 20190101,
                    responsor: '王小虎',
                    time: '第一学期',
                    class: '所有年级',
                    isCommon: false,
                    score: 1
                }
            ],
            elem: '[lay-filter="' + tableFilter + '"]',
            height: 'full-300',
            cols: [
                [
                    {
                        title: '序号',
                        field: 'id',
                        width: 80,
                        align: 'center'
                    },
                    {
                        title: '实验类型名称',
                        field: 'courceName',
                        align: 'center'
                    },
                    {
                        title: '实验类型描述',
                        field: 'responsor',
                        align: 'center'
                    },
                    {
                        title: '操作',
                        align: 'center',
                        templet: '#sourcelist-opt'
                    }
                ]
            ]
        })

        //执行一个laypage实例
        laypage.render({
            elem: 'test-type-mylist-page', //注意，这里的 test1 是 ID，不用加 # 号
            count: 50, //数据总数，从服务端得到
            limit: 10,
            first: '首页',
            last: '尾页',
            hash: 'page',
            curr: location.hash.replace('#/test-type/mylist&page=', ''),
            layout: [
                'first',
                'prev',
                'page',
                'next',
                'last',
                'count',
                'currLimit',
                'curr',
                'pageCount'
            ]
        })

        addModalTemp =
            '<div id="college_details_modal">\n' +
            '        <form action="" class="layui-form">\n' +
            '            <div class="layui-row">\n' +
            '                <div class="layui-col-md12 layui-form-item">\n' +
            '                    <label class="layui-form-label">实验类型名称：</label>\n' +
            '                    <input\n' +
            '                        type="text"\n' +
            '                        name="userName"\n' +
            '                        class="common-form-input"\n' +
            '                        value="虚拟实验"\n' +
            '                    />\n' +
            '                </div>\n' +
            '            </div>\n' +
            '            <div class="layui-row">\n' +
            '                <div class="layui-col-md12 layui-form-item">\n' +
            '                    <label class="layui-form-label">实验类型描述:</label>\n' +
            '                    <textarea\n' +
            '                        name="desc"\n' +
            '                        class="layui-textarea test-type-remark"\n' +
            '                    ></textarea>\n' +
            '                </div>\n' +
            '            </div>\n' +
            '        </form>\n' +
            '    </div>'

        $('#add_test-type').on('click', function() {
            layer.open({
                type: 1,
                offset: 'auto',
                title: '添加',
                content: addModalTemp,
                area: ['700px', '70%'],
                shade: 0.4,
                skin: 'user-edit-modal',
                shadeClose: true,
                btn: ['确定', '取消'],
                yes: function(index, layero) {
                    // 提交
                    layer.close(index)
                },
                cancel: function(index) {
                    layer.close(index)
                }
            })
            form.render()
        })

        $('#test-type-mylist-delete').on('click', function() {
            layer.open({
                type: 1,
                offset: 'auto',
                title: '系统提示',
                content: '该信息为重要信息，是否删除？',
                area: ['300px', '200px'],
                shade: 0.4,
                skin: 'system-modal',
                shadeClose: true,
                btn: ['确定', '取消'],
                yes: function(index, layero) {
                    // 提交
                    layer.close(index)
                },
                cancel: function(index) {
                    layer.close(index)
                }
            })
        })

        $('#test-type-mylist-edit').on('click', function() {
            layer.open({
                type: 1,
                offset: 'auto',
                title: '编辑',
                content: addModalTemp,
                area: ['700px', '70%'],
                shade: 0.4,
                skin: 'test-type-edit-modal',
                shadeClose: true,
                btn: ['确定', '取消'],
                yes: function(index, layero) {
                    // 提交
                    layer.close(index)
                },
                cancel: function(index) {
                    layer.close(index)
                }
            })
            form.render()
        })

        $('#test-type-mylist-check').on('click', function() {
            layer.open({
                type: 1,
                offset: 'auto',
                title: '编辑',
                content: addModalTemp,
                area: ['700px', '70%'],
                shade: 0.4,
                skin: 'test-type-edit-modal',
                shadeClose: true,
                btn: ['确定', '取消'],
                yes: function(index, layero) {
                    // 提交
                    layer.close(index)
                },
                cancel: function(index) {
                    layer.close(index)
                }
            })
            form.render()
        })

        //开启复选框
        // tree.render({
        //     elem: '#test7',
        //     data: data2,
        //     showCheckbox: true
        // })
    })
</script>

<style>
    .test-type-edit-modal .layui-layer-content {
        padding: 20px;
    }
    .test-type-remark {
        width: 63%;
    }
</style>
