<div id="tech_manege_details" lay-title="课程管理详情">
    <div class="course-title">
        <div class="course-title-location">
            <span>查看开课计划</span>
        </div>
    </div>
    <div class="course-add-content">
        <form action="" class="layui-form">
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">开课编号</label>
                    <span class="info-details">2020010005</span>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">选择单双周</label>
                    <span class="info-details">全部</span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">所开课程</label>
                    <span class="info-details">铁路信号知识</span>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">开课单位</label>
                    <span class="info-details">土木工程学院</span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">适合学生类别</label>
                    <span class="info-details">本科生</span>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">满分</label>
                    <span class="info-details">100</span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">学时</label>
                    <span class="info-details">30</span>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">学分</label>
                    <span class="info-details">1</span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">任课老师</label>
                    <span class="info-details">王老师</span>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">上课地点</label>
                    <span class="info-details">科教1-102</span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">校区</label>
                    <span class="info-details">--</span>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">面向全校开课</label>
                    <span class="info-details">否</span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">上课周次</label>
                    <span class="info-details">第1周 至 第23周</span>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">上课时间</label>
                    <span class="info-details">星期二1至2节</span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">实际选课人数</label>
                    <span class="info-details">0</span>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item layui-col-md12">
                    <label class="layui-form-label"></label>
                    <div>
                        <button class="layui-btn primary-btn" id="add-tech-manage">
                            添加开课计划
                        </button>
                        <button class="layui-btn primary-btn" id="update-tech-manage">
                            修改开课计划
                        </button>
                        <button class="layui-btn layui-btn-primary cancel-btn " id="source-add-cancle">
                            返回
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['form', 'layedit'], function () {
        var form = layui.form,
            layedit = layui.layedit,
            $ = layui.jquery,
            admin = layui.admin
        route = layui.router()
        id = route.search.id;

        form.render()
        layedit.build('techManage-intro-edit', {
            tool: [
                'strong', //加粗
                'italic', //斜体
                'underline', //下划线
                'del', //删除线
                '|', //分割线
                'left', //左对齐
                'center', //居中对齐
                'right', //右对齐
                'link', //超链接
                'image' //插入图片
            ]
        })

        //监听提交
        form.on('submit(submit)', function (data) {
            layer.msg(JSON.stringify(data.field))
            return false
        })

        $('#source-add-cancle').on('click', function () {
            window.history.back(-1)
        })

        $('#add-tech-manage').on('click', function () {
            location.href = 'index.html#/techManage/update'
        })
        $('#update-tech-manage').on('click', function () {
            location.href = 'index.html#/techManage/update'
        })
        $('#add-tech-manage').on('click', function () {
            location.href = 'index.html#/techManage/update'
        })

        getDetails();

        function getDetails() {
            admin.get({
                url: '/coursePlan/queryById?id=' + id,
                success: function (res) {
                    // todo: 结果赋值
                    // console.log(222, res)
                }
            })
        }
    })
</script>

<style>
    #tech_manege_details .course-add-content {
        padding: 20px 0;
    }

    #tech_manege_details .info-details {
        display: inline-block;
        line-height: 38px;
    }
</style>