<div id="tech-manage-display">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>开课管理 > 开课统计</span>
        </div>
    </div>
    <div class="display-course-item">
        <div class="display-title">开课数量及占比情况</div>
        <div class="display-chart" id="course-nums-chart"></div>
    </div>
    <div class="display-course-item">
        <div class="display-title">课程人数统计</div>
        <div class="display-chart" id="course-stu-chart"></div>
    </div>

    <div class="display-course-item">
        <div class="display-title">开课情况明细分析</div>
        <table id="tech-status" lay-filter="tech-status"></table>
    </div>
</div>

<script>
    layui.use(['table', 'echarts'], function(table) {
        var $ = layui.jquery,
            tableFilter = 'tech-status',
            tableOption = {
                page: false,
                data: [],
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [
                        {
                            title: '序号',
                            field: 'id',
                            width: 80,
                            align: 'center',
                            type: 'numbers'
                        },
                        {
                            title: '开课名称',
                            field: 'courseName',
                            align: 'center'
                        },
                        {
                            title: '开课类型',
                            field: 'courseCode',
                            align: 'center',
                            templet: function(d) {
                                return d.school == 1 ? '选修' : '必修'
                            }
                        },
                        {
                            title: '学习总时长（min）',
                            field: 'countTime',
                            align: 'center'
                        },
                        {
                            title: '学习总人数',
                            align: 'center',
                            field: 'countStu'
                        }
                    ]
                ]
            },
            admin = layui.admin

        function initChart(id, option) {
            echarts
                .init(document.getElementById(id), layui.echartsTheme)
                .setOption(option)
        }

        queryTeacherMonthAndCount()
        queryCourseAndStuCount()

        // 开课数量及占比情况
        function queryTeacherMonthAndCount() {
            admin.post({
                url: '/report/queryTeacherMonthAndCount',
                success: function(res) {
                    var monList = []
                    var dataList = []

                    res.data.forEach(function(item) {
                        monList.push(item.mon)
                        dataList.push(item.totleCount)
                    })
                    var option = {
                        tooltip: {
                            trigger: 'axis'
                        },
                        xAxis: {
                            name: '月份',
                            type: 'category',
                            data: monList
                        },
                        yAxis: {
                            name: '数量',
                            type: 'value'
                        },
                        series: [
                            {
                                data: dataList,
                                type: 'bar',
                                barWidth: 70
                            }
                        ]
                    }

                    initChart('course-nums-chart', option)
                }
            })
        }

        // 课程及课程人数统计
        function queryCourseAndStuCount() {
            admin.post({
                url: '/report/queryCourseAndStuCount',
                success: function(res) {
                    var courseNameList = []
                    var countStuList = []

                    res.data.forEach(function(item) {
                        courseNameList.push(item.courseName)
                        countStuList.push(item.countStu)
                    })
                    var option = {
                        tooltip: {
                            trigger: 'axis'
                        },
                        xAxis: {
                            name: '课程',
                            type: 'category',
                            data: courseNameList
                        },
                        yAxis: {
                            name: '人数',
                            type: 'value'
                        },
                        series: [
                            {
                                data: countStuList,
                                type: 'bar',
                                barWidth: 70
                            }
                        ]
                    }

                    initChart('course-stu-chart', option)
                }
            })
        }

        getList()

        function getList() {
            admin.post({
                url: '/report/queryCourseInfo',
                // data: {},
                success: function(res) {
                    tableOption.data = res.data || []
                    table.render(tableOption)
                }
            })
        }
    })
</script>

<style>
    #tech-manage-display {
    }

    .display-course-item {
        border: 1px solid rgba(204, 204, 204, 1);
        margin-top: 15px;
        background: #fff;
    }

    .display-title {
        height: 40px;
        line-height: 40px;
        background: rgba(213, 234, 255, 1);
        padding: 0 10px;
    }

    .display-chart {
        height: 300px;
        padding: 20px;
    }
</style>
