<div id="techManage-add"
     lay-title="添加课程管理">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>开课管理 > 开课计划 > 添加开课计划</span>
        </div>
    </div>
    <div class="course-add-content">
        <form action=""
              class="layui-form">
            <div class="ploy-title">对应课程</div>
            <div style="padding: 20px 0;">
                <div class="layui-row">
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label require">课程名称</label>
                        <select name="curriculumId"
                                id="plan_course_list" lay-verify = "required">
                            <option value="">选择课程</option>
                        </select>
                    </div>
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">开课单位</label>
                        <select name="collegeId"
                                id="collegeId">
                            <option value="">选择开课单位</option>
                        </select>
                        <!-- <input type="text" require name="collegeId" class="common-form-input" /> -->
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">开课名称</label>
                        <input class="common-form-input"
                               type="text"
                               name="courseName"
                               id="courseName"
                               placeholder="请输入课程名称" />
                    </div>
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">学时</label>
                        <input type="text"
                               name="period"
                               id="period"
                               class="common-form-input" />
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">学分</label>
                        <input type="text"
                               name="creditHour"
                               id="creditHour"
                               class="common-form-input" />
                    </div>
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">满分</label>
                        <input type="text"
                               name="fullMark"
                               id="fullMark"
                               class="common-form-input" />
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md12 layui-form-item">
                        <label class="layui-form-label">可选专业</label>
                        <ul class="techManage-good-at layui-col-md9"
                            name="profession"
                            id="techManage_good_at">
                            <!-- <li>
                                <input id="good-at-tech" type="checkbox" lay-skin="primary" name="goodAt[tech]" title="土木工程" />
                            </li>
                            <li>
                                <input type="checkbox" id="good-at-compu" lay-skin="primary" name="goodAt[compu]" title="交通运输" />
                            </li>
                            <li>
                                <input type="checkbox" id="good-at-tumu" lay-skin="primary" name="goodAt[tumu]" title="电子与信息工程" />
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ploy-title">上课时间</div>
            <div style="padding: 20px 0;">
                <div class="layui-row">
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label require">学年</label>
                        <select name="schoolYearId" lay-verify = "required"
                                id="schoolYear">
                            <option value="">请选择学年</option>
                        </select>
                    </div>
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">学期</label>
                        <select name="semester"
                                id="semester">
                            <option value="1">第一学期</option>
                            <option value="2">第二学期</option>
                        </select>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">上课周次</label>
                        <div>
                            <input type="text"
                                   name="weekStart"
                                   id="weekStart"
                                   class="common-form-input short" />
                            <span>至</span>
                            <input type="text"
                                   name="weekEnd"
                                   id="weekEnd"
                                   class="common-form-input short" />
                        </div>
                    </div>
                    <!-- <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">选择单双周</label>
                    <input type="text" name="score" class="common-form-input" />
                </div> -->
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">选择单双周</label>
                        <div class="layui-input-block">
                            <input type="radio"
                                   name="singleDoubleWeek"
                                   value="1"
                                   title="全部"
                                   checked />
                            <input type="radio"
                                   name="singleDoubleWeek"
                                   value="2"
                                   title="单周" />
                            <input type="radio"
                                   name="singleDoubleWeek"
                                   value="3"
                                   title="双周" />
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md12 layui-form-item">
                        <label class="layui-form-label">上课时间</label>
                        <div>
                            <div class="short">
                                <select name="weekDay"
                                        id="weekDay">
                                    <option value="7">星期日</option>
                                    <option value="1">星期一</option>
                                    <option value="2">星期二</option>
                                    <option value="3">星期三</option>
                                    <option value="4">星期四</option>
                                    <option value="5">星期五</option>
                                    <option value="6">星期六</option>
                                </select>
                                <span class="tech-update-details">第</span>
                            </div>
                            <div class="short">
                                <select name="schooltimeStart"
                                        id="schooltimeStart">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <span class="tech-update-details">节 至 第</span>
                            </div>
                            <div class="short">
                                <select name="schooltimeEnd"
                                        id="schooltimeEnd">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <span class="tech-update-details">节 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ploy-title">基本信息</div>
            <div style="padding: 20px 0;">
                <div class="layui-row">
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label require">开课教师</label>
                        <input type="text"
                               lay-verify = "required"
                               name="userName"
                               id="userName"
                               class="common-form-input" />
                    </div>
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label require">试用学生类别</label>
                        <select name="studentTypeId" lay-verify = "required"
                                id="studentTypeId">
                            <option value="">请选择学生类别</option>
                        </select>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">校区</label>
                        <select name="campusId"
                                id="campus">
                            <option value="">请选择校区</option>
                        </select>
                    </div>
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">上课地点</label>
                        <select name="siteId"
                                id="siteId">
                            <option value="">请选择上课地点</option>
                        </select>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md12 layui-form-item">
                        <label class="layui-form-label">面向全校选课</label>
                        <div class="layui-input-block">
                            <input type="radio"
                                   name="school"
                                   value="1"
                                   title="是"
                                   lay-filter="schoolChange"
                                   checked />
                            <input type="radio"
                                   name="school"
                                   value="0"
                                   lay-filter="schoolChange"
                                   title="否" />
                        </div>
                    </div>
                </div>
                <div class="layui-row"
                     style="display: none;"
                     id="show_all">
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">行政班级</label>
                        <div class="layui-col-md7">
                            <div>
                                <label>搜索：</label>
                                <input type="text"
                                       id="classListChange">
                                <span>(</span>
                                <input type="radio"
                                       disabled>
                                <span>)</span><span>是否选择整个班级</span>
                            </div>
                            <div id="classList"></div>
                        </div>
                    </div>
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">学生</label>
                        <div class="layui-col-md7">
                            <div>
                                <label>搜索：</label>
                                <input type="text"
                                       id="studentListChange">
                            </div>
                            <div id="studentList"></div>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">最少选课人数</label>
                        <input type="text"
                               require
                               name="minStudent"
                               id="minStudent"
                               class="common-form-input" />
                    </div>
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">最多选课人数</label>
                        <input type="text"
                               require
                               id="maxStudent"
                               name="maxStudent"
                               class="common-form-input" />
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-form-item layui-col-md12">
                        <label class="layui-form-label"></label>
                        <div>
                            <button class="layui-btn primary-btn"
                                    lay-submit
                                    lay-filter="updatePlan"> 提交 </button>
                            <button class="layui-btn layui-btn-primary cancel-btn"
                                    id="source-add-cancle"> 取消 </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            $ = layui.jquery,
            admin = layui.admin,
            classList = [],
            studentList = [],
            route = layui.router(),
            id = route.search.id;
        $('#userName').val(layui.data('userInfo').userInfo.userName)
        form.render()
        form.on('radio(schoolChange)', function (a) {
            if (a.value === '0') {
                $('#show_all').css({
                    display: 'block'
                })
            } else {
                $('#show_all').css({
                    display: 'none'
                })
            }
        })
        //监听提交
        form.on('submit(updatePlan)', function (data) {
            addCoursePlan(data.field)
            return false
        })
        $('#source-add-cancle').on('click', function () {
            // window.history.back(-2)
            window.location.href = 'index.html#/techManage/plan'
        })
        $('#classListChange').keyup(function (ev) {
            var reg = new RegExp(ev.currentTarget.value.trim(), 'ig')
            $('#classList').html('')
            for (var i = 0; i < classList.length; i++) {
                if (classList[i].className.match(reg)) {
                    $('#classList').append('<div class="class-item">' +
                        '<input type="checkbox"  name="className" lay-skin="primary"  lay-filter="classListChange">' +
                        '<span class="class-item-name" data-id="' + classList[i].id + '">' +
                        classList[i].className + '</span>' + '<input type="radio"' +
                        'name="isChecked' + classList[i].id + '"' + 'value="1"' +
                        'title="是"  lay-filter="classStatus"/>' + '<input type="radio"' +
                        'name="isChecked' + classList[i].id + '"' + 'value="0"' +
                        'title="否"  lay-filter="classStatus"/>' + '</div>')
                    form.render()
                    classListRender()
                }
            }
        })
        $('#studentListChange').keyup(function (ev) {
            var reg = new RegExp(ev.currentTarget.value.trim(), 'ig')
            $('#studentList').html('')
            for (var i = 0; i < studentList.length; i++) {
                if (studentList[i].userName.match(reg)) {
                    $('#studentList').append('<div class="class-item">' +
                        '<input type="checkbox" lay-skin="primary" name="student" title="' +
                        studentList[i].userName + '" value="' + studentList[i].id + '">' + '</div>'
                    )
                    form.render()
                    classListRender()
                }
            }
        })
        getAllCourse()
        getCampusList()
        getAllProfess(function () {})
        getSchoolYearList()
        getStudentTypeList()
        getCollegeList()
        getClassList()
        getClassRoom()
        if (id) {
            getDetails()
        }

        function getDetails() {
            admin.get({
                url: '/coursePlan/queryById?id=' + id,
                success: function (res) {
                    $('#plan_course_list').val(res.data.curriculumId)
                    $('#collegeId').val(res.data.collegeId)
                    $('#courseName').val(res.data.courseName)
                    $('#fullMark').val(res.data.fullMark)
                    $('#period').val(res.data.period)
                    $('#creditHour').val(res.data.creditHour)
                    var professionList = res.data.profession.split(',')
                    $('input[name=profession]').each(function (index) {
                        if (professionList.indexOf($(this).val()) > -1) {
                            $(this).attr('checked', true)
                        }
                    })
                    $('input[name=singleDoubleWeek]').each(function (index) {
                        if ($(this).val() == res.data.singleDoubleWeek) {
                            $(this).attr('checked', true)
                        }
                    })
                    $('#schoolYear').val(String(res.data.schoolYearId))
                    $('#semester').val(res.data.semester)
                    $('#weekStart').val(res.data.weekStart)
                    $('#weekEnd').val(res.data.weekEnd)
                    $('#schooltimeStart').val(res.data.schooltimeStart)
                    $('#schooltimeEnd').val(res.data.schooltimeEnd)
                    $('#studentTypeId').val(res.data.studentTypeId)
                    $('#campus').val(res.data.campusId)
                    $('#siteId').val(res.data.siteId)
                    $('input[name=school][value=' + res.data.school + ']').attr('checked', true)
                    $('#minStudent').val(res.data.minStudent)
                    $('#maxStudent').val(res.data.maxStudent)
                }
            })
        }

        function classListRender() {
            $('#classList').find('.class-item').each(function (index) {
                if (!$(this).find('input[type=checkbox]').checked) {
                    $(this).find('input[type=radio]').attr('disabled', 'true')
                }
            })
            form.on('checkbox(classListChange)', function (obj) {
                var curElem = $(obj.elem);
                var item = curElem.parents('.class-item')
                var radio = curElem.parents('.class-item').find('input[type=radio]');
                if (obj.elem.checked) {
                    radio.removeAttr('disabled')
                } else {
                    radio.attr('checked', false)
                    radio.attr('disabled', 'disabled')
                }
                $('#studentList').html('')
                studentList = []
                $('#classList .class-item').each(function (index) {
                    if ($(this).find('input[type=radio]:checked').val() === '0') {
                        getStudentList(null, $(this).find('.class-item-name').data('id'))
                    }
                })
                form.render()
            });
            form.on('radio(classStatus)', function (obj) {
                var classItem = $(obj.elem).parents('.class-item')
                var id = classItem.find('.class-item-name').data('id')
                if (obj.value === '0') {
                    $('#studentList').html('')
                    studentList = []
                    $('#classList .class-item').each(function (index) {
                        if ($(this).find('input[type=radio]:checked').val() === '0') {
                            getStudentList(null, $(this).find('.class-item-name').data('id'))
                        }
                    })
                }
            })
        }

        function getStudentList(callback, classId) {
            var data = {
                page: 1,
                rows: 10000,
                key: '||||||' + classId
            }
            admin.post({
                url: '/user/getUserList',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.code === 200) {
                        studentList = studentList.concat(res.data.items)
                        res.data.items.forEach(item => {
                            $('#studentList').append('<div class="class-item">' +
                                '<input type="checkbox" lay-skin="primary" name="student" title="' +
                                item.userName + '" value="' + item.id + '">' + '</div>'
                            )
                        })
                        form.render()
                        callback && typeof callback === 'function' && callback(res)
                    }
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getCampusList(callback) {
            var data = {
                page: 1,
                rows: 10000
            }
            admin.post({
                url: '/campus/list',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.code === 200) {
                        $('#campus').html('<option>请选择校区</option>')
                        res.data.items.forEach(item => {
                            $('#campus').append('<option value="' + item.id + '">' + item.campusName +
                                '</option>')
                        })
                        form.render()
                        callback && typeof callback === 'function' && callback(res)
                    }
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getClassList(callback) {
            var data = {
                page: 1,
                rows: 10000
            }
            admin.post({
                url: '/vsMpClass/getList',
                data: JSON.stringify(data),
                success: function (res) {
                    classList = res.data.items
                    $('#classList').html('')
                    res.data.items.forEach(function (item) {
                        $('#classList').append('<div class="class-item">' +
                            '<input type="checkbox" name="className" lay-skin="primary" lay-filter="classListChange">' +
                            '<span class="class-item-name" data-id="' + item.id + '">' +
                            item.className + '</span>' + '<input type="radio"' +
                            'name="isChecked' + item.id + '"' + 'value="1"' +
                            'title="是" lay-filter="classStatus"/>' +
                            '<input type="radio"' + 'name="isChecked' + item.id + '"' +
                            'value="0"' + 'title="否"  lay-filter="classStatus"/>' +
                            '</div>')
                    })
                    form.render()
                    classListRender()
                    callback && typeof callback === 'function' && callback()
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getCollegeList(callback) {
            var data = {
                page: 1,
                rows: 10000
            }
            admin.post({
                url: '/college/queryCollegeList',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.code === 200) {
                        $('#collegeId').html('<option>请选择学院</option>')
                        res.data.items.forEach(item => {
                            $('#collegeId').append('<option value="' + item.id + '">' +
                                item.collegeName + '</option>')
                        })
                        form.render()
                        callback && typeof callback === 'function' && callback()
                    }
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getClassRoom(callback) {
            var data = {
                page: 1,
                rows: 10000
            }
            admin.post({
                url: '/classroom/list',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.code === 200) {
                        $('#siteId').html('<option>请选择</option>')
                        res.data.items.forEach(item => {
                            $('#siteId').append('<option value="' + item.id + '">' + item.classroomName +
                                '</option>')
                        })
                        form.render()
                        callback && typeof callback === 'function' && callback(res)
                    }
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function addLearn() {
            var data = {}
            admin.post({
                url: '/coursePlan/add',
                data: JSON.stringify(data),
                success: function (res) {
                    layer.msg('添加成功')
                    window.history.back(-1)
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getSchoolYearList() {
            var data = {
                page: 1,
                rows: 100
            }
            admin.post({
                url: '/schoolYear/getList',
                data: JSON.stringify(data),
                success: function (res) {
                    res.data && res.data.items && res.data.items.forEach(item => {
                        $('#schoolYear').append('<option value="' + item.id + '">' + item.schoolYear +
                            '</option>')
                        form.render()
                    })
                }
            })
        }

        function getAllCourse() {
            admin.post({
                url: '/vsMpCurriculum/getList',
                data: JSON.stringify({
                    page: 1,
                    rows: 100
                }),
                success: function (res) {
                    res.data && res.data.items && res.data.items.forEach(function (item) {
                        $('#plan_course_list').append('<option value="' + item.id + '">' +
                            item.curriculumName + '</option>')
                        form.render()
                    })
                }
            })
        }

        function getAllProfess(callback) {
            admin.post({
                url: '/vsMpProfession/getList',
                data: JSON.stringify({
                    page: 1,
                    rows: 100
                }),
                success: function (res) {
                    $('#techManage_good_at').html('')
                    res.data.items.forEach(item => {
                        $('#techManage_good_at').append(
                            '<li><input type="checkbox" class="checked-forcess" lay-skin="primary" name="profession" value="' +
                            item.id + '" title="' + item.professionName + '"></li>')
                    })
                    form.render()
                    callback()
                }
            })
        }

        function getStudentTypeList() {
            var data = {
                page: 1,
                rows: 100
            }
            admin.post({
                url: '/studentType/studentTypeList',
                data: JSON.stringify(data),
                success: function (res) {
                    res.data && res.data.items && res.data.items.forEach(item => {
                        $('#studentTypeId').append('<option value="' + item.id + '">' +
                            item.studentTypeName + '</option>')
                        form.render()
                    })
                }
            })
        }

        function addCoursePlan(formData) {
            var data = formData,
                classIdList = [],
                studentIdList = [],
                professionList = [];
            data.period = Number(data.period)
            data.creditHour = Number(data.creditHour)
            data.fullMark = Number(data.fullMark)
            data.semester = Number(data.semester)
            if(data.schoolYearId == undefined || data.schoolYearId == null || data.schoolYearId == "" ){
                layer.msg('学年数据不能为空！')
                return
            }
            data.schoolYearId = Number(data.schoolYearId)
            data.weekStart = Number(data.weekStart)
            data.weekEnd = Number(data.weekEnd)
            data.singleDoubleWeek = Number(data.singleDoubleWeek)
            data.weekDay = Number(data.weekDay)
            data.schooltimeStart = Number(data.schooltimeStart)
            data.schooltimeEnd = Number(data.schooltimeEnd)
            data.studentTypeId = Number(data.studentTypeId)
            data.minStudent = Number(data.minStudent)
            data.maxStudent = Number(data.maxStudent)
            data.school = Number(data.school)
            data.siteId = Number(data.siteId) || 0
            data.campusId = Number(data.campusId)
            if (data.school == 0) {
                // todo:
                data.wholeClass = 0
            }
            $('#techManage_good_at li').each(function (index) {
                var item = $(this).find('input[type=checkbox]');
                if ($(this).find('.layui-form-checked').length > 0) {
                    professionList.push(item.val())
                }
            })
            data.profession = professionList.join(',')
            $('#classList .class-item').each(function (index) {
                if ($(this).find('input[type=checkbox]:checked').length >= 1 && $(this).find(
                        'input[type=radio]:checked').val() === '1') {
                    classIdList.push($(this).find('.class-item-name').data('id'))
                }
            })
            data.classId = classIdList.join(',')
            $('#studentList .class-item').each(function (index) {
                if ($(this).find('input[type=checkbox]:checked').length > 0) {
                    studentIdList.push($(this).find('input[type=checkbox]').val())
                }
            })
            data.studentIds = studentIdList.join(',')
            if (id) {
                data.id = id
                admin.put({
                    url: '/coursePlan/update',
                    data: JSON.stringify(formData),
                    success: function (res) {
                        if (res.code === 200) {
                            layer.msg('更新成功！')
                            window.history.back(-1)
                        } else {
                            layer.msg(res.msg || '更新失败')
                        }
                    }
                })
                return
            }
            admin.post({
                url: '/coursePlan/add',
                data: JSON.stringify(formData),
                success: function (res) {
                    if (res.code === 200) {
                        layer.msg('添加成功！')
                        window.location.href = 'index.html#/techManage/plan'
                        window.location.reload()
                    } else {
                        layer.msg(res.msg || '添加失败')
                    }
                }
            })
        }
    })
</script>
<style>
    #techManage-add .course-add-content {
        padding: 20px 0;
    }

    #techManage-add .techManage-add-content {
        padding: 15px 0;
    }

    #techManage-add .techManage-good-at>li {
        float: left;
        margin-right: 20px;
    }

    #techManage-add .pre-techManage {
        float: left;
        width: calc(100 - 230px);
    }

    #techManage-add .pre-techManage .pre-techManage-checkbox {
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-top: 10px;
        padding: 10px;
    }

    #techManage-add .layui-layedit {
        width: 83%;
        float: left;
        background: #fff;
    }

    #techManage-add .tech-update-details {
        line-height: 38px;
    }

    .ploy-title {
        width: 90%;
        padding: 15px;
        color: #126093;
        background: rgba(244, 245, 250, 1);
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .common-form-input.short {
        width: 100px;
    }

    .short .layui-form-select {
        width: 100px;
    }

    .short {
        display: inline-block;
    }

    .short .layui-input,
    .layui-textarea {
        width: 100px;
    }

    .class-item-name {
        display: inline-block;
        width: 200px;
    }
</style>