<div id="techManage-add" lay-title="添加课程管理">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>开课管理 > 开课计划 > 添加开课计划</span>
        </div>
    </div>
    <div class="course-add-content">
        <form action="" class="layui-form">
            <div class="ploy-title">对应课程</div>
            <div style="padding: 20px 0;">
                <div class="layui-row">
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label require">课程名称</label>
                        <select name="courseName" id="plan_course_list">
                            <option value="">选择课程</option>
                        </select>
                    </div>
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">开课单位</label>
                        <input type="text" require name="collegeId" class="common-form-input" />
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">开课名称</label>
                        <input class="common-form-input" type="text" name="courseName" id="courseName" placeholder="请输入课程名称" />
                    </div>
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">学时</label>
                        <input type="text" name="period" class="common-form-input" />
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">学分</label>
                        <input type="text" name="creditHour" class="common-form-input" />
                    </div>
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">满分</label>
                        <input type="text" name="fullMark" class="common-form-input" />
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md12 layui-form-item">
                        <label class="layui-form-label">可选专业</label>
                        <ul class="techManage-good-at" name="profession" id="techManage_good_at">
                            <!-- <li>
                                <input id="good-at-tech" type="checkbox" lay-skin="primary" name="goodAt[tech]" title="土木工程" />
                            </li>
                            <li>
                                <input type="checkbox" id="good-at-compu" lay-skin="primary" name="goodAt[compu]" title="交通运输" />
                            </li>
                            <li>
                                <input type="checkbox" id="good-at-tumu" lay-skin="primary" name="goodAt[tumu]" title="电子与信息工程" />
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ploy-title">上课时间</div>
            <div style="padding: 20px 0;">
                <div class="layui-row">
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label require">学年</label>
                        <select name="schoolYearId" id="">
                            <option value="">请选择学年</option>
                        </select>
                    </div>
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">学期</label>
                        <select name="semester" id="semester">
                            <option value="1">第一学期</option>
                            <option value="2">第二学期</option>
                        </select>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">上课周次</label>
                        <div>
                            <input type="text" name="weekStart" class="common-form-input short" />
                            <span>至</span>
                            <input type="text" name="weekEnd" class="common-form-input short" />
                        </div>
                    </div>
                    <!-- <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">选择单双周</label>
                    <input type="text" name="score" class="common-form-input" />
                </div> -->
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">选择单双周</label>
                        <div class="layui-input-block">
                            <input type="radio" name="singleDoubleWeek" value="1" title="全部" checked />
                            <input type="radio" name="singleDoubleWeek" value="2" title="单周" />
                            <input type="radio" name="singleDoubleWeek" value="3" title="双周" />
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md12 layui-form-item">
                        <label class="layui-form-label">上课时间</label>
                        <div>
                            <div class="short">
                                <select name="weekDay" id="">
                                    <option value="7">星期日</option>
                                    <option value="1">星期一</option>
                                    <option value="2">星期二</option>
                                    <option value="3">星期三</option>
                                    <option value="4">星期四</option>
                                    <option value="5">星期五</option>
                                    <option value="6">星期六</option>
                                </select>
                                <span class="tech-update-details">第</span>
                            </div>
                            <div class="short">
                                <select name="schooltimeStart" id="start_learn_time">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <span class="tech-update-details">节 至 第</span>
                            </div>
                            <div class="short">
                                <select name="schooltimeEnd" id="end_learn_time">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <span class="tech-update-details">节 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ploy-title">基本信息</div>
            <div style="padding: 20px 0;">
                <div class="layui-row">
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label require">开课教师</label>
                        <input type="text" require name="userName" id="userName" class="common-form-input" />
                    </div>
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label require">试用学生类别</label>
                        <select name="studentTypeId" id="student_type_list">
                            <option value="">请选择学生类别</option>
                        </select>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">校区</label>
                        <input class="common-form-input" type="text" name="campus" />
                    </div>
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">上课地点</label>
                        <select name="siteId" id="student_learn_addr">
                            <option value="">请选择上课地点</option>
                            <!-- <option value="0">无</option>
                            <option value="1">教室</option>
                            <option value="2">实验室</option> -->
                        </select>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md12 layui-form-item">
                        <label class="layui-form-label">面向全校选课</label>
                        <div class="layui-input-block">
                            <input type="radio" name="school" value="1" title="是" checked />
                            <input type="radio" name="school" value="0" title="否" />
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">最少选课人数</label>
                        <input type="text" require name="minStudent" class="common-form-input" />
                    </div>
                    <div class="layui-col-md6 layui-form-item">
                        <label class="layui-form-label">最多选课人数</label>
                        <input type="text" require name="maxStudent" class="common-form-input" />
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-form-item layui-col-md12">
                        <label class="layui-form-label"></label>
                        <div>
                            <button class="layui-btn primary-btn" lay-submit lay-filter="updatePlan">
                                提交
                            </button>
                            <button class="layui-btn layui-btn-primary cancel-btn" id="source-add-cancle">
                                取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['form'], function () {
        var form = layui.form,
            $ = layui.jquery,
            admin = layui.admin;

        $('#userName').val(layui.data('userInfo').userInfo.userName)

        form.render()

        // for (var i = 0; i < 12; i++) {
        //     $('#start_learn_time').append('<option value="' + (i + 1) + '>' + (i + 1) + '</option>')
        //     $('#end_learn_time').append('<option value="' + (i + 1) + '>' + (i + 1) + '</option>')
        // }
        // form.render()


        //监听提交
        form.on('submit(updatePlan)', function (data) {
            // layer.msg(JSON.stringify(data.field))
            console.log(data.field)
            getLearnAddr(data.field)
            return false
        })

        $('#source-add-cancle').on('click', function () {
            window.history.back(-2)
        })




        getAllCourse()

        getAllProfess(function () {})


        getSchoolYearList()

        getStudentList()


        function addLearn() {
            var data = {}
            admin.post({
                url: '/coursePlan/add',
                data: JSON.stringify(data),
                success: function (res) {
                    layer.msg('添加成功');
                    window.history.back(-1);
                },
                error: function (err) {
                    layer.msg(err && err.msg || '数据请求失败');
                }
            })
        }

        function getSchoolYearList() {
            var data = {
                page: 1,
                rows: 100,
                key: 'schoolYear'
            }
            admin.post({
                url: '/schoolYear/getList',
                data: JSON.stringify(data),
                success: function (res) {}
            })
        }

        function getAllCourse() {
            admin.post({
                url: '/vsMpCurriculum/getList',
                data: JSON.stringify({
                    page: 1,
                    rows: 100,
                }),
                success: function (res) {
                    res.data && res.data.items && res.data.items.forEach(item => {
                        $('#plan_course_list').append('<option value="' + item.id + '">' +
                            item.curriculumName + '</option>')
                        form.render()
                    })
                }
            })
        }

        function getAllProfess(callback) {
            admin.post({
                url: '/vsMpProfession/getList',
                data: JSON.stringify({
                    page: 1,
                    rows: 100
                }),
                success: function (res) {
                    $("#techManage_good_at").html('')
                    res.data.items.forEach(item => {
                        $("#techManage_good_at").append(
                            '<li><input type="checkbox" class="checked-forcess" lay-skin="primary" name="profession" value="' +
                            item.id + '" title="' +
                            item.professionName +
                            '"></li>'
                        );
                    })
                    form.render()
                    callback()
                }
            })
        }

        function getStudentList() {
            var data = {
                page: 1,
                rows: 100
            }
            admin.post({
                url: '/studentType/studentTypeList',
                data: JSON.stringify(data),
                success: function (res) {
                    res.data && res.data.items && res.data.items.forEach(item => {
                        $('#student_type_list').append('<option value="' + item.id + '">' +
                            item.studentTypeName + '</option>')
                        form.render()
                    })
                }
            })
        }

        function getLearnAddr(formData) {
            var data = formData;
            data.period = Number(data.period)
            data.creditHour = Number(data.creditHour)
            data.fullMark = Number(data.fullMark)
            data.semester = Number(data.semester)
            data.schoolYearId = Number(data.schoolYearId)
            data.weekStart = Number(data.weekStart)
            data.weekEnd = Number(data.weekEnd)
            data.singleDoubleWeek = Number(data.singleDoubleWeek)
            data.weekDay = Number(data.weekDay)
            data.schooltimeStart = Number(data.schooltimeStart)
            data.schooltimeEnd = Number(data.schooltimeEnd)
            data.studentTypeId = Number(data.studentTypeId)
            data.minStudent = Number(data.minStudent)
            data.maxStudent = Number(data.maxStudent)
            data.school = Number(data.school)
            data.siteId = Number(data.siteId)

            admin.post({
                url: '/coursePlan/add',
                data: JSON.stringify(formData),
                success: function (res) {
                    console.log(4444, res)
                    layer.msg('添加成功！')
                    window.history.back(-1);
                }
            })
        }
    })
</script>

<style>
    #techManage-add .course-add-content {
        padding: 20px 0;
    }

    #techManage-add .techManage-add-content {
        padding: 15px 0;
    }

    #techManage-add .techManage-good-at>li {
        float: left;
        margin-right: 20px;
    }

    #techManage-add .pre-techManage {
        float: left;
        width: calc(100 - 230px);
    }

    #techManage-add .pre-techManage .pre-techManage-checkbox {
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-top: 10px;
        padding: 10px;
    }

    #techManage-add .layui-layedit {
        width: 83%;
        float: left;
        background: #fff;
    }

    #techManage-add .tech-update-details {
        line-height: 38px;
    }

    .ploy-title {
        width: 90%;
        padding: 15px;
        color: #126093;
        background: rgba(244, 245, 250, 1);
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .common-form-input.short {
        width: 100px;
    }

    .short .layui-form-select {
        width: 100px;
    }

    .short {
        display: inline-block;
    }

    .short .layui-input,
    .layui-textarea {
        width: 100px;
    }
</style>