<div id="techManage-add" lay-title="添加课程管理">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>开课管理 > 开课计划 > 添加开课计划</span>
        </div>
    </div>
    <div class="course-add-content">
        <form action="" class="layui-form">
            <div class="ploy-title">对应课程</div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">课程名称</label>
                    <select name="" id="">
                        <option value="">选择课程</option>
                    </select>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">开课单位</label>
                    <input type="text" require name="techManageCode" class="common-form-input" />
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">开课名称</label>
                    <input class="common-form-input" type="text" name="techManageTime" placeholder="请输入课程名称" />
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">学时</label>
                    <input type="text" name="score" class="common-form-input" />
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">学分</label>
                    <input type="text" name="score" class="common-form-input" />
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">满分</label>
                    <input type="text" name="score" class="common-form-input" />
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">可选专业</label>
                    <ul class="techManage-good-at">
                        <li>
                            <input id="good-at-tech" type="checkbox" lay-skin="primary" name="goodAt[tech]" title="土木工程" />
                        </li>
                        <li>
                            <input type="checkbox" id="good-at-compu" lay-skin="primary" name="goodAt[compu]" title="交通运输" />
                        </li>
                        <li>
                            <input type="checkbox" id="good-at-tumu" lay-skin="primary" name="goodAt[tumu]" title="电子与信息工程" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ploy-title">上课时间</div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">学年</label>
                    <select name="" id="">
                        <option value="">请选择学年</option>
                    </select>
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">学时</label>
                    <select name="" id="">
                        <option value="">第一学期</option>
                    </select>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">上课周次</label>
                    <div>
                        <input type="text" class="common-form-input short" />
                        <span>至</span>
                        <input type="text" class="common-form-input short" />
                    </div>
                </div>
                <!-- <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">选择单双周</label>
                    <input type="text" name="score" class="common-form-input" />
                </div> -->
                <div class="layui-form-item">
                    <label class="layui-form-label">选择单双周</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="全部" title="全部" checked />
                        <input type="radio" name="sex" value="单周" title="单周" />
                        <input type="radio" name="sex" value="双周" title="双周" />
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">上课时间</label>
                    <div>
                        <div class="short">
                            <select name="" id="">
                                <option value="">星期日</option>
                            </select>
                            <span>第</span>
                        </div>
                        <div class="short">
                            <select name="" id="">
                                <option value="">1</option>
                            </select>
                            <span>节 至 第</span>
                        </div>
                        <div class="short">
                            <select name="" id="">
                                <option value="">1</option>
                            </select>
                            <span>节 </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ploy-title">基本信息</div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">开课教师</label>
                    <input type="text" require name="techManageCode" class="common-form-input" />
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label require">试用学生类别</label>
                    <select name="" id="">
                        <option value="">请选择学生类别</option>
                    </select>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">校区</label>
                    <input class="common-form-input" type="text" name="techManageTime" />
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">上课地点</label>
                    <select name="" id="">
                        <option value="">请选择上课地点</option>
                    </select>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-form-item">
                    <label class="layui-form-label">面向全校选课</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="是" title="是" checked />
                        <input type="radio" name="sex" value="否" title="否" />
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">最少选课人数</label>
                    <input type="text" require name="techManageCode" class="common-form-input" />
                </div>
                <div class="layui-col-md6 layui-form-item">
                    <label class="layui-form-label">最多选课人数</label>
                    <input type="text" require name="techManageCode" class="common-form-input" />
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item layui-col-md12">
                    <label class="layui-form-label"></label>
                    <div>
                        <button class="layui-btn primary-btn" lay-submit lay-filter="submit">
                            提交
                        </button>
                        <button class="layui-btn layui-btn-primary cancel-btn" id="source-add-cancle">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['form', 'layedit'], function () {
        var form = layui.form,
            layedit = layui.layedit,
            $ = layui.jquery

        form.render()
        layedit.build('techManage-intro-edit', {
            tool: [
                'strong', //加粗
                'italic', //斜体
                'underline', //下划线
                'del', //删除线

                '|', //分割线

                'left', //左对齐
                'center', //居中对齐
                'right', //右对齐
                'link', //超链接
                'image' //插入图片
            ]
        })

        //监听提交
        form.on('submit(submit)', function (data) {
            layer.msg(JSON.stringify(data.field))
            return false
        })

        $('#source-add-cancle').on('click', function () {
            window.history.back(-2)
        })

        function getAllCourse() {
            admin.post({
                url: '/vsMpCurriculum/getList',
                data: JSON.stringify({
                    page: 1,
                    rows: 20,
                    key: '||'
                }),
                success: function (res) {
                    cosnole.log(555, res)
                }
            })
        }

        getAllCourse()


        // form.on('submit(back)', function () {
        //     window.history.back(-1);
        // })
    })
</script>

<style>
    #techManage-add {}

    #techManage-add .techManage-add-content {
        padding: 15px 0;
    }

    #techManage-add .techManage-good-at>li {
        float: left;
        margin-right: 20px;
    }

    #techManage-add .pre-techManage {
        float: left;
        width: calc(100 - 230px);
    }

    #techManage-add .pre-techManage .pre-techManage-checkbox {
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-top: 10px;
        padding: 10px;
    }

    #techManage-add .layui-layedit {
        width: 83%;
        float: left;
        background: #fff;
    }

    .ploy-title {
        width: 90%;
        padding: 15px;
        color: #126093;
        background: rgba(244, 245, 250, 1);
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .common-form-input.short {
        width: 100px;
    }

    .short .layui-form-select {
        width: 100px;
    }

    .short {
        display: inline-block;
    }

    .short .layui-input,
    .layui-textarea {
        width: 100px;
    }
</style>