<div id="chat">
    <div class="chat-inner">
        <div class="chat-history-list">
            <div class="history-search">
                <input
                    id="search_course"
                    type="text"
                    placeholder="搜索课程"
                    class="layui-input"
                />
                <i
                    class="layui-icon layui-icon-search search-icon"
                    id="get_search"
                ></i>
            </div>
            <div class="history-list" id="published_course"></div>
        </div>
        <div class="chating-list">
            <div class="chating-title">
                <span>答疑库</span>
                <span class="chating-title-center" id="courseName"></span>
                <ul class="chating-add-btn">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="chating-content" id="chat_list"></div>
            <div class="chating-replay">
                <textarea
                    name=""
                    id="chat_content"
                    cols="30"
                    rows="10"
                    class="layui-textarea"
                    placeholder="请输入你的回答"
                ></textarea>
                <div class="chating-btn">
                    <!-- <button class="layui-btn layui-btn-primary replay-btn left">
                        搜索
                    </button> -->
                    <button
                        class="layui-btn layui-btn-primary replay-btn right"
                        id="send_message"
                    >
                        发送
                    </button>
                </div>
            </div>
        </div>
        <div class="chat-member-list" style="display: none;">
            <div class="history-search">
                <input
                    type="text"
                    placeholder="搜索课程成员"
                    class="layui-input"
                />
                <i class="layui-icon layui-icon-search search-icon"></i>
            </div>
            <div class="member-list">
                <div class="member-item">
                    <img src="src/images/user_logo.png" class="member-avator" />
                    <span>同学1</span>
                </div>
                <div class="member-item">
                    <img src="src/images/user_logo.png" class="member-avator" />
                    <span>同学2</span>
                </div>
                <div class="member-item">
                    <img src="src/images/user_logo.png" class="member-avator" />
                    <span>同学3</span>
                </div>
            </div>
            <div class="get-more">点击查看更多成员</div>
        </div>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-md12 layui-form-item">
        <div style="text-align:center">
            <button class="layui-btn layui-btn-primary cancel-btn" id="back">
                返回
            </button>
        </div>
    </div>
</div>

<script>
    layui.use([], function() {
        var $ = layui.jquery,
            admin = layui.admin,
            publishedCourseList = [],
            userId = layui.data('userInfo').userInfo.id,
            ws = new WebSocket('ws://39.104.97.6:8088/netty3?userId=' + userId),
            checkedItem = null,
            curChatList = [],
            message = {
                contentText: '',
                toUserId: 0,
                type: 0,
                fromUserId: Number(userId),
                isTeacher: 1,
                userName: layui.data('userInfo').userInfo.userName
            }

        if ('WebSocket' in window) {
            console.log(12222, window.WebSocket)
        } else {
            alert('您的浏览器不支持websocket')
        }

        getList()

        if (!checkedItem) {
            $('.chating-content').html('')
            $('#send_message').css('display', 'none')
        }

        $('#get_search').click(function() {
            search()
        })
        $('#send_message').click(function() {
            $('#send_message').css('display', 'block')
            if (!$('#chat_content').val()) {
                layer.msg('请输入')
                return
            }
            message.contentText = $('#chat_content')
                .val()
                .trim()
            wsHandler(message)
            $('#chat_content').val('')
        })

        // $('.chating-add-btn').click(function() {
        //     $('.chat-member-list').css({ display: 'block' })
        // })

        ws.onopen = function() {}

        ws.onmessage = function(evt) {
            var msg = JSON.parse(evt.data)
            console.log('收到消息-----', evt.data, checkedItem)
            checkedItem && getChatHistory(checkedItem.id)
        }

        ws.onclose = function() {
            // 关闭 websocket
            alert('连接已关闭...')
        }
        $('#back').on('click', function() {
            window.history.go(-1)
        })

        function chatTemplate(chatList) {
            var str = ''
            chatList.forEach(function(item) {
                str +=
                    '<span class="chat-time">' +
                    item.sendTime +
                    '</span>' +
                    '<div class="chat-dialog ' +
                    (item.sendUserId == userId
                        ? 'chat-myself'
                        : 'chat-others') +
                    '">' +
                    '<img src="src/images/user_logo.png" class="member-avator" />' +
                    '<div class="member-info">' +
                    '<div>' +
                    item.userName +
                    '</div>' +
                    '<div class="chat-info">' +
                    item.content +
                    '</div>' +
                    '<div class="triangle"></div>' +
                    '</div>' +
                    '</div>'
            })

            $('#chat_list').html(str)

            var timer = setInterval(function() {
                var iScrollTop = $('#chat_list').scrollTop() + 10

                if (
                    iScrollTop >=
                    document.getElementById('chat_list').scrollHeight -
                        $('#chat_list').innerHeight()
                ) {
                    clearInterval(timer)
                }
                $('#chat_list').scrollTop((iScrollTop += 50))
            }, 20)
        }

        function wsHandler(sendMessage) {
            var timer = null
            // CONNECTING === 0 连接还没开启。
            // OPEN === 1 连接已开启并准备好进行通信。
            // CLOSING === 2 连接正在关闭的过程中。
            // CLOSED === 3 连接已经关闭，或者连接无法建立。
            console.log('ws-------')
            if (ws.readyState === 1) {
                console.log('发送消息体-----', sendMessage)
                ws.send(JSON.stringify(sendMessage))
                clearTimeout(timer)
            } else if (ws.readyState === 2) {
                timer = setTimeout(function () {
                    wsHandler(sendMessage)
                }, 500)
            } else if (ws.readyState === 3) {
                clearTimeout(timer)
            }
        }

        function initWS() {}

        function getList() {
            var data = {
                page: 1,
                rows: 10000
            }
            admin.post({
                url: 'coursePlan/listCourse',
                data: JSON.stringify(data),
                success: function(res) {
                    var arr = []
                    var courseItem = ''

                    res.data &&
                        res.data.items &&
                        res.data.items.forEach(function(item) {
                            // if (item.publish == 1) {
                            arr.push(item)
                            courseItem +=
                                '<div class="member-item">' +
                                '<img src="src/images/user_logo.png" class="member-avator" />' +
                                '<span>' +
                                item.courseName +
                                '</span>' +
                                '</div>'
                            // }
                        })
                    publishedCourseList = arr
                    $('#published_course').html(courseItem)
                    $('#published_course .member-item').click(function() {
                        checkedItem = publishedCourseList[$(this).index()]
                        message.fromUserId = 0
                        message.toUserId = Number(checkedItem.id)
                        $('#courseName').html(checkedItem.courseName)
                        $('#send_message').css('display', 'block')
                        // 聊天室ID：开课计划ID
                        getChatHistory(checkedItem.id)
                        $(this).addClass('active')
                        $(this)
                            .siblings()
                            .removeClass('active')
                    })
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getChatHistory(targetId) {
            var data = {
                sendTargetType: 1,
                sendTargetId: targetId,
                page: 1,
                rows: 10000
            }
            admin.get({
                cache: 'false',
                url:
                    '/chattingRecords/getList?desc=false&sendTargetType=1&sendTargetId=' +
                    targetId +
                    '&page=1&rows=10000',
                success: function(res) {
                    if (res.data && res.data.items) {
                        curChatList = res.data.items
                    }
                    chatTemplate(curChatList)
                },
                error: function() {}
            })
        }

        function search() {
            var keyWord = $('#search_course').val()
            var len = publishedCourseList.length
            var arr = []
            var reg = new RegExp(keyWord)
            if (keyWord === '') {
                getList()
                return
            }
            for (var i = 0; i < len; i++) {
                //如果字符串中不包含目标字符会返回-1
                if (publishedCourseList[i].courseName.match(reg)) {
                    console.log(222, reg, publishedCourseList[i].courseName)
                    arr.push(publishedCourseList[i])
                }
            }

            var courseItem = ''
            arr.forEach(function(item) {
                arr.push(item)
                courseItem +=
                    '<div class="member-item">' +
                    '<img src="src/images/user_logo.png" class="member-avator" />' +
                    '<span>' +
                    item.courseName +
                    '</span>' +
                    '</div>'
            })
            $('#published_course').html(courseItem)
        }
    })
</script>

<style>
    #chat {
        height: 600px;
        box-sizing: border-box;
    }

    #chat .chat-inner {
        width: 1350px;
        height: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    #chat .chat-history-list {
        width: 246px;
        height: 100%;
        background: #ebe9e8;
        float: left;
        overflow-y: auto;
        overflow-x: hidden;
        border: 1px solid rgba(204, 204, 204, 1);
    }

    #chat .chating-list {
        width: 850px;
        height: 100%;
        float: left;
        overflow-y: auto;
        overflow-x: hidden;
        background: gba(242, 242, 242, 1);
        border-right: 1px solid rgba(204, 204, 204, 1);
        border-bottom: 1px solid rgba(204, 204, 204, 1);
        position: relative;
    }

    #chat .chat-member-list {
        width: 250px;
        height: 100%;
        background: #eee;
        float: left;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
    }

    .history-search {
        padding: 20px 10px;
        position: relative;
    }

    .history-search .search-icon {
        position: absolute;
        right: 20px;
        top: 26px;
        padding: 4px;
        cursor: pointer;
        width: 20px;
        height: 20px;
    }

    .member-item {
        padding: 10px 20px;
        font-size: 16px;
    }

    .member-item .member-avator {
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }

    .member-item:hover,
    .member-item:active,
    .member-item:visited,
    .member-item.active {
        background: #c5c4c4;
    }

    .get-more {
        color: #999;
        text-align: center;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .chating-title {
        padding: 0 10px;
        font-size: 18px;
        height: 78px;
        line-height: 78px;
        border-bottom: 1px solid #999;
        position: relative;
    }

    .chating-title-center {
        position: absolute;
        left: 40%;
    }

    .chating-add-btn {
        position: absolute;
        right: 10px;
        top: 20px;
        padding: 20px;
        cursor: pointer;
    }

    .chating-add-btn li {
        float: left;
        width: 6px;
        height: 6px;
        margin-right: 4px;
        background: #000;
    }

    .chating-replay {
        width: 100%;
        height: 150px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .chating-replay textarea {
        padding: 15px;
        height: 150px;
    }

    .replay-btn {
        position: absolute;
        bottom: 10px;
        background-color: #ebe8e9 !important;
    }

    .replay-btn.left {
        left: 10px;
        right: none;
    }

    .replay-btn.right {
        left: none;
        right: 10px;
    }

    .chating-content {
        padding: 20px;
        height: 372px;
        overflow-y: auto;
        box-sizing: border-box;
    }

    .chating-content .chat-time {
        display: block;
        max-width: 140px;
        text-align: center;
        border-radius: 4px;
        padding: 6px 10px;
        background: #dadada;
        color: #fff;
        margin: 10px auto;
        clear: right;
    }

    .chating-content .chat-dialog {
        width: 400px;
        clear: both;
        overflow: hidden;
        margin: 15px 0;
    }

    .chating-content .chat-dialog .member-avator {
        float: left;
    }

    .chating-content .chat-dialog.chat-myself,
    .chating-content .chat-dialog.chat-myself .member-avator,
    .chating-content .chat-dialog.chat-myself .member-info {
        float: right;
        text-align: right;
    }

    .member-info {
        position: relative;
    }

    .chat-myself .member-info .triangle {
        position: absolute;
        top: 40%;
        right: -6px;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #99ccff;
    }

    .chat-others .member-info .triangle {
        position: absolute;
        top: 40%;
        left: -6px;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #fff;
    }

    .chat-myself .member-info {
        float: right;
    }

    .chat-others .member-info {
        float: left;
    }

    .chating-content .member-avator {
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }

    .chat-myself .member-avator {
        margin-left: 10px;
    }

    .chat-myself .chat-info {
        background: #99ccff;
        width: 300px;
        padding: 20px 10px;
    }

    .chat-others .chat-info {
        background: #fff;
        width: 300px;
        padding: 20px 10px;
    }
</style>
