<div class="layui-fluid" lay-title="首页" id="VIEW-index">
    <table id="list-table" lay-filter="list-table"></table>
    <script type="text/html" id="course-opt">
        <button class="course-set-btn ">课程设置</button>
    </script>
    <div class="app-table-page" id="home-table-page">

    </div>
</div>

<!-- 侧边菜单 -->
<div class="layui-side" id="app-sidebar">
    <div class="layui-side-scroll">
        <div class="layui-logo">
            <img src="src/images/logo_1.png" class="layui-logo-img">
        </div>
        <div class="sidebar-user">
            <img src="src/images/user_logo.png" class="user-logo">
            <div class="user-info">
                <div class="user-info-name">王小虎</div>
                <div>老师</div>
            </div>
        </div>
        <div id="home-welcome" class="home-welcome">
            <span>Welcome!</span>
            <p>欢迎您使用虚拟仿真实验教学平台！</p>
            <p>教师在任课期间点击主菜单栏的“答疑室”可接受学生的咨询、整理常见问题、维护答疑库。当您不在答疑室期间，学生针对您所任课程的问题将直接发往您本人登记的电子邮件，请您及时回答学生的问题。</p>
        </div>
    </div>
</div>

<style>
    .course-set-btn {
        padding: 4px 10px;
        border: 1px solid #ccc;
        cursor: pointer;
    }
</style>


<script>
    layui.use(['table', 'jquery'], function (table, $) {
        var tableFilter = 'list-table';
        var laypage = layui.laypage;

        table.render({
            page: false,
            data: [{
                id: 1,
                courceName: '发电机哈哈',
                times: 2,
                time: '星期一',
                address: '三角',
                count: 10,
                score: 80
            }],
            elem: '[lay-filter="' + tableFilter + '"]',
            height: 'full-165',
            cols: [
                [{
                        title: '序号',
                        field: 'id',
                        width: 80,
                        align: 'center'
                    },
                    {
                        title: '课程名称',
                        field: 'courceName',
                        width: 120,
                        align: 'center'

                    },
                    {
                        title: '上课周次',
                        field: 'times',
                        minWidth: 120,
                        align: 'center'
                    },
                    {
                        title: '上课时间',
                        minWidth: 120,
                        field: 'time',
                        align: 'center',
                    },
                    {
                        title: '上课地点',
                        align: 'center',
                        field: 'address',
                        minWidth: 120
                    },
                    {
                        title: '选课人数',
                        align: 'center',
                        field: 'count',
                        minWidth: 120
                    },
                    {
                        field: 'score',
                        title: '学分',
                        align: 'center',
                        width: 80
                    },
                    {
                        title: '操作',
                        align: 'center',
                        templet: '#course-opt'
                    }
                ]
            ]
        })


        //执行一个laypage实例
        laypage.render({
            elem: 'home-table-page', //注意，这里的 test1 是 ID，不用加 # 号
            count: 50, //数据总数，从服务端得到
            limit: 10,
            first: '首页',
            last: '尾页',
            hash: 'page',
            curr: location.hash.replace('#!page=', ''),
            layout: ['first', 'prev', 'page', 'next', 'last', 'count', 'currLimit', 'curr', 'pageCount']
        });

    })
</script>