<div class="layui-fluid" lay-title="首页" id="VIEW-index">
</div>

<!-- 侧边菜单 -->
<div class="layui-side" id="app-sidebar">
    <div class="layui-side-scroll">
        <div class="layui-logo">
            <img src="src/images/logo_1.png" class="layui-logo-img">
        </div>
        <div class="sidebar-user">
            <img src="src/images/user_logo.png" class="user-logo">
            <div class="user-info">
                <div class="user-info-name">王小虎</div>
                <div>老师</div>
            </div>
        </div>
        <div id="home-welcome" class="home-welcome">
            <span>Welcome!</span>
            <p>欢迎您使用虚拟仿真实验教学平台！</p>
            <p>教师在任课期间点击主菜单栏的“答疑室”可接受学生的咨询、整理常见问题、维护答疑库。当您不在答疑室期间，学生针对您所任课程的问题将直接发往您本人登记的电子邮件，请您及时回答学生的问题。</p>
        </div>
    </div>
</div>