<div class="layui-fluid"
     lay-title="首页"
     id="VIEW-index">
    <div class="home-title">
        <span>您本学期在虚拟实验中心承担<i id="course-count"></i>门课程</span>
        <span class="home-title-time"
              id="curSchollYear"></span>
    </div>
    <table id="list-table"
           lay-filter="list-table"></table>
    <script type="text/html"
            id="course-opt"> <button class="course-set-btn " id="course-set" lay-event="courseSet">课程设置</button>
    </script>
    <div class="app-table-page"
         id="home-table-page"></div>
</div>
<style>
    .course-set-btn {
        padding: 4px 10px;
        border: 1px solid #ccc;
        cursor: pointer;
    }

    .home-title {
        padding: 20px;
        font-size: 16px;
    }

    .home-title .home-title-time {
        color: red;
        float: right;
    }

    .home-title i {
        font-weight: bold;
        font-style: normal;
    }
</style>
<script>
    layui.use(['table', 'jquery', 'admin'], function (table, $) {
        var tableFilter = 'list-table'
        var laypage = layui.laypage
        var admin = layui.admin,
            route = layui.router(),
            table = layui.table,
            admin = layui.admin,
            pageLimit = 20,
            layPageOption = {
                elem: 'home-table-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: ['first', 'prev', 'page', 'next', 'last', 'count', 'currLimit', 'curr', 'pageCount'],
                jump: function (obj, first) {
                    //首次不执行
                    if (!first) {
                        getList(obj.curr)
                    }
                }
            },
            tableOption = {
                page: false,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [{
                        title: '序号',
                        field: 'id',
                        width: 80,
                        align: 'center',
                        type: 'numbers'
                    }, {
                        title: '课程名称',
                        field: 'courseName',
                        width: 120,
                        align: 'center'
                    }, {
                        title: '上课周次',
                        field: 'startEndTIME',
                        minWidth: 120,
                        align: 'center'
                    }, {
                        title: '上课时间',
                        minWidth: 120,
                        field: 'startEndTIME',
                        align: 'center'
                    }, {
                        title: '上课地点',
                        align: 'center',
                        field: 'classroomName',
                        minWidth: 120
                    }, {
                        title: '选课人数',
                        align: 'center',
                        field: 'selectStuNum',
                        minWidth: 120
                    }, {
                        field: 'creditHour',
                        title: '学分',
                        align: 'center',
                        width: 80
                    }, {
                        title: '操作',
                        align: 'center',
                        templet: '#course-opt'
                    }]
                ]
            }
        getList(1)

        function getList(page) {
            var data = {
                page: page,
                rows: pageLimit,
                key: '|||' + layui.data('userInfo').userInfo.id + '|'
            }
            admin.post({
                url: '/coursePlan/listCourse',
                data: JSON.stringify(data),
                success: function (res) {
                    tableOption.data = (res.data && res.data.items) || []
                    layPageOption.count = (res.data && res.data.total) || 0
                    table.render(tableOption)
                    laypage.render(layPageOption)
                    $('#curSchoolYear').html(res.data.schoolYear)
                    $('#course-count').html(layPageOption.count)
                },
                error: function (err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }
        table.on('tool(list-table)', function (obj) {
            var data = obj.data //获得当前行数据
            var layEvent = obj.event
            if (layEvent === 'courseSet') {
                //编辑
                window.location.href = 'index.html#/techSet/techPre/id=' + data.id
                layui.data('techSet', {
                    key: 'techSetId',
                    value: data.id
                })
                layui.data('techSet', {
                    key: 'techSetName',
                    value: data.courseName
                })
                layui.data('techSet', {
                    key: 'kechengId',
                    value: data.kechengId
                })
                window.location.reload()
            }
        })
    })
</script>