<div class="common-layout">
    <div class="layout-sider">
        <div class="layui-logo">
            <img src="src/images/logo_1.png"
                 class="layui-logo-img" />
        </div>
        <div class="sidebar-user">
            <img src="src/images/user_logo.png"
                 class="user-logo" />
            <div class="user-info">
                <div class="user-info-name"
                     id="nav_user_name"></div>
                <div id="nav_user_role"></div>
            </div>
        </div>
        <!-- 配置部分 -->
        <div id="home_welcome"
             class="home-welcome">
            <span>Welcome!</span>
            <p>欢迎您使用虚拟仿真实验教学平台！</p>
            <p> 教师在任课期间点击主菜单栏的“答疑室”可接受学生的咨询、整理常见问题、维护答疑库。当您不在答疑室期间，学生针对您所任课程的问题将直接发往您本人登记的电子邮件，请您及时回答学生的问题。 </p>
        </div>
        <ul id="side_nav"
            class="layui-nav"
            layui-filter="side_nav"></ul>
    </div>
    <div class="layout-right">
        <div class="layout-header">
            <div class="layout-header-left">虚拟仿真实验教学管理平台</div>
            <ul class="layui-nav layout-header-right"
                id="header_nav"
                lay-filter="header_nav">
                <li class="layui-nav-item"
                    id="logout">退出系统</li>
            </ul>
        </div>
        <div class="layout-containner"
             id="app-body"></div>
    </div>
</div>
<script>
    layui.config({
        base: 'src/plugins/' //自定义layui组件的目录
    }).use(['element', 'layer', 'navbar', 'admin'], function () {
        var element = layui.element,
            $ = layui.jquery,
            layer = layui.layer,
            navbar = layui.navbar(),
            admin = layui.admin,
            route = layui.router(),
            path = route.href, // 路由后缀
            firstPath = route.path[0], // 一级路由地址
            menuList = layui.data('role').role.menuTrees;

        initHeaderNav()
        setSideNav()

        function initHeaderNav() {
            var menuStr = ''
            for (var i = 0; i < menuList.length; i++) {
                var status = '',
                    menuUrlList = menuList[i].menuUrl.split('/')
                // 当前页面与此nav的一级路由相同时，设置header_nav的选中状态, 并设置侧边栏
                if (menuUrlList[1] === firstPath) {
                    status = 'active'
                }
                if (menuList[i].menuName !== '课程内容') {
                    menuStr += '<li class="layui-nav-item ' + status + '"' + 'data-path="' + menuList[i]
                        .menuUrl +
                        '"> ' + menuList[i].menuName + '</li>'
                }
            }
            $('#header_nav').prepend(menuStr)
        }

        function setSideNav() {
            // 根据一级路由找到对应的侧边列表，渲染
            // 找到与当前页面路由一致的菜单，若该菜单无二级，则设置为选中状态；若该菜单有二级，则设置该一级菜单展开二级，并将与当前路由一致的二级菜单设为选中状态
            for (var j = 0; j < menuList.length; j++) {
                var menuUrlList = menuList[j].menuUrl.split('/')
                if (menuUrlList[1] === firstPath) {
                    var child = menuList[j].child
                    var childNav = ''
                    if (child.length === 0) {
                        setHomeSide()
                        return
                    }
                    for (var k = 0; k < child.length; k++) {
                        var dlStr = ''
                        var childFirstPath = child[k].menuUrl.split('/')[1]
                        if (child[k].child.length > 0) {
                            var list = child[k].child
                            var ddStr = ''
                            var showDl = false
                            var pathReg = new RegExp('^' + path, 'ig')
                            for (var f = 0; f < list.length; f++) {
                                var isMatch = pathReg.test(list[f].menuUrl)
                                ddStr += '<dd class="' + (isMatch ? 'active' : '') + '">' + '   <a target="' +
                                    ('' || '') + '" ' + '      lay-href="' + (list[f].menuUrl || '') +
                                    '" data-url="' + (list[f].menuUrl || '') + '">' + list[f].menuName +
                                    '   </a>' + '</dd>'
                            }
                            showDl = firstPath === childFirstPath ? 'show' : ''
                            dlStr = '<dl class="layui-nav-child ' + showDl + '">' + ddStr + '</dd>'
                        }
                        childNav += '<li class="layui-nav-item">' + '   <a href="/index.html#' + child[k]
                            .menuUrl +
                            '"data-url="' + child[k].menuUrl + '">' + '       <cite>' + child[k].menuName +
                            '</cite>' + '   </a>' + dlStr + '</li>'
                    }
                    $('#home_welcome').css({
                        display: 'none'
                    })
                    $('#side_nav').css({
                        display: 'block'
                    })
                    $('#side_nav').html(childNav)
                    $('#side_nav .layui-nav-item').each(function () {
                        var index = $(this).index()
                        var urlReg = new RegExp('^' + $(this).find('a').data('url'), 'ig')
                        if (urlReg.test(path)) {
                            $(this).addClass('layui-this')
                        }
                    })
                    $('#side_nav .layui-nav-item').click(function () {
                        $(this).addClass('layui-this')
                        $(this).siblings().removeClass('layui-this')
                        var dl = $(this).find('dl')
                        if (dl) {
                            $(this).find('dl').css('display', 'block')
                            if ($(this).siblings().find('dl')) {
                                $(this).siblings().find('dl').css('display', 'none')
                            }
                        }
                    })
                    $('#side_nav').find('.layui-nav-item  dd').on('click', function () {
                        $(this).css('background', '#fff')
                        $(this).find('a').css('color', '#1a3471')
                        $(this).siblings().css('background', '#1a3471')
                        $(this).siblings().find('a').css('color', '#fff')
                        $(this).addClass('active')
                        $(this).siblings().removeClass('active')
                        window.location.href = 'index.html#' + $(this).find('a').data('url')
                        path = $(this).find('a').data('url')
                    })
                }
            }
        }

        function setHomeSide() {
            if (path === '/student') {
                $('#home_welcome').css('display', 'block')
                $('#side_nav').css('display', 'none')
                $('#home_welcome').html('<span>Welcome!</span>' + '<p>欢迎您使用虚拟仿真实验教学平台！</p>' +
                    '<p>如有困难请点击主菜单栏的“答疑室”搜索常见问题或者向网上值班的老师提问。如果教师不在线你的问题将自动发送到教师的邮箱中。</p>')
            } else if (path === '/') {
                $('#home_welcome').css('display', 'block')
                $('#side_nav').css('display', 'none')
                $('#home_welcome').html('<span>Welcome!</span>' + '<p>欢迎您使用虚拟仿真实验教学平台！</p>' +
                    '<p>教师在任课期间点击主菜单栏的“答疑室”可接受学生的咨询、整理常见问题、维护答疑库。当您不在答疑室期间，学生针对您所任课程的问题将直接发往您本人登记的电子邮件，请您及时回答学生的问题。</p>'
                )
            } else {
                $('#home_welcome').css('display', 'none')
                $('#side_nav').css('display', 'block')
            }
        }
        $(document).on('click', '#header_nav li', function () {
            var curPath = $(this).data('path')
            // 设置一级菜单的状态
            $(this).addClass('active')
            $(this).siblings().removeClass('active')
            window.location.href = 'index.html#' + curPath
            path = curPath
            firstPath = path.split('/')[1]
            location.reload()
            setSideNav()
        })
        $('#logout').on('click', function () {
            admin.logout()
        })
        $('#nav_user_name').html(layui.data('userInfo').userInfo.userName)
        $('#nav_user_role').html(layui.data('userInfo').userInfo.roleName || '')
    })

</script>
<style>
    #app-body {
        /* width: 1130px; */
        width: 100%;
        height: calc(100% - 50px);
        max-height: 80%;
        overflow: auto;
        box-sizing: border-box;
    }

    .common-layout {
        /* width: 1350px; */
        width: 100%;
        min-width: 1400px;
        height: 100%;
        margin: 0 auto;
    }

    .common-layout .layout-sider {
        width: 220px;
        height: 100%;
        background: rgba(26, 52, 113, 1);
        float: left;
        overflow: auto;
        position: relative;
        z-index: 1000;
    }

    .layui-logo {
        line-height: 50px;
        text-align: center;
        color: #009688;
        font-size: 16px;
        background: rgba(10, 96, 147, 1);
    }

    .layui-logo .layui-logo-img {
        width: 158px;
        height: 44px;
        margin-right: 10px;
    }

    .sidebar-user {
        background: rgba(26, 52, 113, 1);
        border: 1px solid #333;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 20px 40px;
        color: #fff;
    }

    .sidebar-user .user-logo {
        width: 40px;
        height: 40px;
        margin: 0 10px 0 30px;
    }

    .home-welcome {
        background: rgba(0, 176, 202, 1);
        padding: 20px 20px 80px;
        color: #fff;
    }

    .common-layout .layout-right {
        /* width: 1130px; */
        width: 100%;
        /* position: */
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding-left: 220px;
        height: 100%;
        background: #fff;
        float: right;
        box-sizing: border-box;
    }

    .common-layout .layout-right .layout-header {
        background: rgba(26, 52, 113, 1);
        height: 50px;
        padding: 0 0 0 20px;
    }

    .layout-header-left {
        float: left;
        font-size: 18px;
        color: #fff;
        height: 50px;
        line-height: 50px;
    }

    .layout-header-right {
        float: right;
        height: 50px;
        line-height: 50px;
        background: rgba(26, 52, 113, 1);
        padding: 0;
    }

    .layui-nav .layui-nav-item {
        float: left;
        /* height: 50px; */
        line-height: 50px;
        cursor: pointer;
        padding: 0 12px;
    }

    .layui-nav .layui-nav-item.active {
        background: #00b0ca;
    }

    .layout-header-right .layui-nav-item:hover {
        background: #00b0ca;
    }

    .layout-containner {
        padding: 20px;
    }

    #side_nav .layui-nav-item {
        box-sizing: border-box;
        width: 220px;
    }

    #side_nav .layui-nav-item a {
        height: 50px;
        line-height: 50px;
    }

    #side_nav.layui-nav .layui-nav-item {
        padding: 0;
    }

    #side_nav .layui-nav-child {
        background: rgba(26, 52, 113, 1);
        color: #fff;
        display: none;
        position: static;
    }

    #side_nav .layui-nav-child.show {
        display: block;
    }

    #side_nav .layui-nav-child dd.active {
        background: #fff;
        color: rgba(26, 52, 113, 1);
    }

    #side_nav .layui-nav-child dd.active a {
        color: rgba(26, 52, 113, 1);
    }

    #side_nav .layui-nav-child a {
        color: #fff;
        padding-left: 50px;
    }

    #side_nav .layui-nav-child dd a:hover {
        color: #fff;
        background: rgba(0, 176, 202, 1);
    }

</style>
