<div class="common-layout">
    <div class="layout-sider">
        <div class="layui-logo">
            <img src="src/images/logo_1.png"
                 class="layui-logo-img" />
        </div>
        <div class="sidebar-user">
            <img src="src/images/user_logo.png"
                 class="user-logo" />
            <div class="user-info">
                <div class="user-info-name"
                     id="nav_user_name"></div>
                <div id="nav_user_role"></div>
            </div>
        </div>
        <!-- 配置部分 -->
        <div id="home_welcome"
             class="home-welcome">
            <span>Welcome!</span>
            <p>欢迎您使用虚拟仿真实验教学平台！</p>
            <p>
                教师在任课期间点击主菜单栏的“答疑室”可接受学生的咨询、整理常见问题、维护答疑库。当您不在答疑室期间，学生针对您所任课程的问题将直接发往您本人登记的电子邮件，请您及时回答学生的问题。
            </p>
        </div>
        <ul id="side_nav"
            class="layui-nav"
            layui-filter="side_nav"></ul>
    </div>
    <div class="layout-right">
        <div class="layout-header">
            <div class="layout-header-left">虚拟仿真实验教学管理平台</div>
            <ul class="layui-nav layout-header-right"
                id="header_nav"
                lay-filter="header_nav">
                <li class="layui-nav-item layui-nav-item-logout"
                    id="logout">退出系统</li>
            </ul>
        </div>
        <div class="layout-containner"
             id="app-body"></div>
    </div>
</div>
<script>
    layui
        .config({
            base: 'src/plugins/' //自定义layui组件的目录
        })
        .use(['element', 'layer', 'navbar', 'admin'], function () {
            var element = layui.element,
                $ = layui.jquery,
                layer = layui.layer,
                navbar = layui.navbar(),
                admin = layui.admin,
                route = layui.router(),
                path = route.href, // 路由后缀
                firstPath = route.path[0], // 一级路由地址
                menuList = layui.data('role').role.menuTrees
            initHeaderNav()
            admin.setSideNav()

            function initHeaderNav() {
                var menuStr = ''
                for (var i = 0; i < menuList.length; i++) {
                    var status = '',
                        menuUrlList = menuList[i].menuUrl.split('/')
                    // 当前页面与此nav的一级路由相同时，设置header_nav的选中状态, 并设置侧边栏
                    if (menuUrlList[1] === firstPath) {
                        status = 'active'
                    }
                    if (
                        menuList[i].menuName !== '课程内容' &&
                        menuList[i].menuName !== '课程设置'
                    ) {
                        menuStr +=
                            '<li class="layui-nav-item ' +
                            status +
                            '"' +
                            'data-path="' +
                            menuList[i].menuUrl +
                            '">' +
                            '   <a href="javascript:;">'+ menuList[i].menuName +'</a>'+
                            '   <dl class="layui-nav-child">'+
                            '       <dd><a href="">电商平台</a></dd>'+
                            '   </dl>'+
                            '</li>'
                    }
                }
                $('#header_nav').prepend(menuStr)
            }

            $(document).on('click', '#header_nav li', function () {
                var curPath = $(this).data('path')
                // 设置一级菜单的状态
                $(this).addClass('active')
                $(this)
                    .siblings()
                    .removeClass('active')
                admin.navigate(curPath)
                path = curPath
                firstPath = path.split('/') && path.split('/').length > 0 && path.split('/')[1]
                admin.setSideNav()
            })
            $('#logout').on('click', function () {
                admin.logout()
            })
            $('#nav_user_name').html(layui.data('userInfo').userInfo.userName)
            $('#nav_user_role').html(layui.data('role').role.roleName || '')
        })

</script>
<style>
    #app-body {
        width: 100%;
        min-width: 1300px;
        height: calc(100% - 70px);
        overflow: auto;
        box-sizing: border-box;
    }

    .nepadmin-tabs-item {
        /* overflow: auto; */
    }

    .common-layout {
        width: 100%;
        /* min-width: 1300px; */
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    .common-layout .layout-sider {
        width: 220px;
        height: 100%;
        background: rgba(18, 96, 147, 1);
        float: left;
        overflow: auto;
        position: relative;
        z-index: 1000;
    }

    .layui-logo {
        line-height: 70px;
        text-align: center;
        color: #009688;
        font-size: 16px;
        background: rgba(26, 52, 113, 1);
    }

    .layui-logo .layui-logo-img {
        width: 199px;
        /* height: 42px; */
        margin-right: 10px;
    }

    .sidebar-user {
        background: rgba(18, 96, 147, 1);
        /* display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; */
        color: #fff;
        text-align: center;
    }

    .sidebar-user .user-logo {
        width: 80px;
        height: 80px;
        margin: 20px auto;
    }

    .home-welcome {
        background: rgba(0, 176, 202, 1);
        padding: 20px 20px 80px;
        color: #fff;
    }

    .common-layout .layout-right {
        width: 100%;
        /* min-width: 1300px; */
        overflow: auto;
        position: absolute;
        left: 0;
        /* right: 0; */
        top: 0;
        /* bottom: 0; */
        padding-left: 220px;
        height: 100%;
        background: #fff;
        float: right;
        box-sizing: border-box;
    }

    .common-layout .layout-right .layout-header {
        min-width: 1300px;
        background: rgba(18, 96, 147, 1);
        height: 70px;
        padding: 0 35px 0 20px;
    }

    .layout-header-left {
        float: left;
        font-size: 20px;
        color: #fff;
        height: 70px;
        line-height: 70px;
    }

    .layout-header-right {
        float: right;
        height: 70px;
        line-height: 70px;
        background: rgba(18, 96, 147, 1);
        padding: 0;
    }

    .layui-nav .layui-nav-item {
        float: left;
        /* height: 50px; */
        line-height: 70px;
        cursor: pointer;
        padding: 0 12px;
    }

    .layui-nav .layui-nav-item.active {
        background: #00b0ca;
    }

    .layout-header-right .layui-nav-item:hover {
        background: #00b0ca;
    }

    .layout-header-right .layui-nav-item a {
        color: #fff;
    }

    /* .layout-header-right .layui-nav-item.active:hover .layui-nav-child{
        display: block;
    }

    .layout-header-right .layui-nav-item.active .layui-nav-child{
        display: block;
    } */

    .layout-header-right .layui-nav-item .layui-nav-child dd {
        height: 40px;
        line-height: 40px;
        color: #fff;
        background: rgba(18, 96, 147, 1);
        border-bottom: 1px solid rgba(33, 67, 146, 1);
    }

    .layout-header-right .layui-nav-item .layui-nav-child dd a:hover {
        background: #00b0ca;
        height: 40px;
        line-height: 40px;
        color: #fff;
    }


    .layout-header-right .layui-nav-item.active a {
        font-weight: 900;
    }

    .layout-header-right .layui-nav-item.layui-nav-item-logout:hover {
        background: #ff6600;
    }

    .layout-header-right .layui-nav-item:hover .layui-nav-child {
        display: block;
    }

    .layout-containner {
        padding: 20px;
    }

    #side_nav .layui-nav-item {
        box-sizing: border-box;
        width: 220px;
    }

    #side_nav .layui-nav-item.sider-nav-item {
        line-height: 50px;
        height: 50px;
    }

    #side_nav .layui-nav-item.sider-nav-item .cite {
        font-size: 16px;
    }


    #side_nav .layui-nav-item a {
        line-height: 50px;
        height: 50px;
    }

    #side_nav.layui-nav .layui-nav-item {
        padding: 0;
    }

    #side_nav .layui-nav-child {
        background: rgba(18, 96, 147, 1);
        color: #fff;
        display: none;
        position: static;
    }

    #side_nav .layui-nav-child.show {
        display: block;
    }

    #side_nav .layui-nav-child dd a{
        height: 45px;
        line-height: 45px;
    }

    #side_nav .layui-nav-child dd.active {
        background: #fff;
        color: rgba(26, 52, 113, 1);
    }

    #side_nav .layui-nav-child dd.active a {
        color: rgba(26, 52, 113, 1);
        font-size: 14px;
    }

    #side_nav .layui-nav-child a {
        color: #fff;
        padding-left: 50px;
    }

    #side_nav .layui-nav-child a .cite  {
        font-size: 16px;
    }

    #side_nav .layui-nav-child dd a:hover {
        color: #fff;
        background: rgba(0, 176, 202, 1);
    }

</style>
