<div id="class_time_edit"
     class="layui-fluid">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>学期配置 > 上课时间</span>
        </div>
        <!-- <div class="course-title-search">
            <input type="text" value="请输入关键字" />
            <button class="search-confirm">
                <img src="src/images/search.png" />
            </button>
        </div> -->
    </div>
    <table id="class-time-edit-table"
           lay-filter="class-time-edit-table"></table>
    <div class="course-add">
        <div class="layui-btn primary-btn"
             id="confirm">确定</div>
        <div class="layui-btn cancel-btn"
             id="cancel">取消</div>
    </div>
    <script type="text/html"
            id="classStart">
        <input class="class-time-{{d.id}}-1"
               style="padding: 6px 10px;"
               type="text"
               name="startTime"
               value="{{d.startTime}}"
               lay-filter="startTime">

    </script>
    <script type="text/html"
            id="classEnd">
        <input class="class-time-{{d.id}}-2"
               style="padding: 6px 10px;"
               type="text"
               name="endTime"
               value="{{d.endTime}}"
               lay-filter="endTime">

    </script>
</div>

<script>
    layui.use(['table', 'form', 'tree', 'laydate'], function (table) {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            tableFilter = 'class-time-edit-table',
            table = layui.table,
            laydate = layui.laydate,
            admin = layui.admin,
            tableOption = {
                page: false,
                skin: 'row,line',
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [
                        // {
                        //     title: '大节次',
                        //     field: 'id',
                        //     width: 80,
                        //     align: 'center',
                        //     type: 'numbers'
                        // },
                        {
                            title: '小节次',
                            field: 'studentTypeId',
                            align: 'center'
                        },
                        {
                            title: '上课时间',
                            field: 'startTime',
                            align: 'center',
                            templet: '#classStart'
                        },
                        {
                            title: '下课时间',
                            field: 'endTime',
                            align: 'center',
                            templet: '#classEnd'
                        }
                    ]
                ],
                done: function (res, curr, count) {
                    merge(res, curr, count)
                }
            },
            classTimeList = []

        getList()

        $('#confirm').click(function () {
            updateData(classTimeList)
        })

        $('#cancel').click(function () {
            window.history.go(-1)
        })

        // todo:
        function updateData(data) {
            admin.put({
                url: '/schoolTime/update',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.code === 200) {
                        layer.msg('更新成功！')
                        admin.navigate('/termDeploy/classTime')
                    } else {
                        layer.msg(res.msg || '更新失败')
                    }
                }
            })
        }

        function getList() {
            admin.get({
                url: '/schoolTime/get',
                success: function (res) {
                    tableOption.data = res.data || []
                    table.render(tableOption)
                    classTimeList = res.data

                    res.data.forEach(function (item) {
                        laydate.render({
                            elem: '.class-time-' + item.id + '-1',
                            type: 'time',
                            change: function (value, date, endDate) {
                                item.startTime = value
                            }
                        })
                        laydate.render({
                            elem: '.class-time-' + item.id + '-2',
                            type: 'time',
                            change: function (value, date, endDate) {
                                item.endTime = value
                            }
                        })
                    })
                }
            })
        }

        function merge(res) {
            var data = res.data
            var mergeIndex = 0 //定位需要添加合并属性的行数
            var mark = 1 //这里涉及到简单的运算，mark是计算每次需要合并的格子数
            var columsName = ['id'] //需要合并的列名称
            var columsIndex = [0] //需要合并的列索引值

            for (var k = 0; k < columsName.length; k++) {
                //这里循环所有要合并的列
                var trArr = $('.layui-table-body>.layui-table').find('tr') //所有行
                for (var i = 1; i < res.data.length; i++) {
                    //这里循环表格当前的数据
                    var tdCurArr = trArr
                        .eq(i)
                        .find('td')
                        .eq(columsIndex[k]) //获取当前行的当前列
                    var tdPreArr = trArr
                        .eq(mergeIndex)
                        .find('td')
                        .eq(columsIndex[k]) //获取相同列的第一列

                    if (data[i][columsName[k]] === data[i - 1][columsName[k]]) {
                        //后一行的值与前一行的值做比较，相同就需要合并
                        mark += 1
                        tdPreArr.each(function () {
                            //相同列的第一列增加rowspan属性
                            $(this).attr('rowspan', mark)
                        })
                        tdCurArr.each(function () {
                            //当前行隐藏
                            $(this).css('display', 'none')
                        })
                    } else {
                        mergeIndex = i
                        mark = 1 //一旦前后两行的值不一样了，那么需要合并的格子数mark就需要重新计算
                    }
                }
                mergeIndex = 0
                mark = 1
            }
        }
    })

</script>

<style>
    #class_time_edit .class-time {
        padding: 6px 10px;
    }

</style>
