<div id="source-manage-mylist" class="layui-fluid" lay-title="我的资源库">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>机构管理 > 机构管理 > 系管理</span>
        </div>
        <div class="course-title-search">
            <input type="text" placeholder="请输入关键字" id="schoolName"/>
            <button class="search-confirm" id="searchSchoolList">
                <img src="src/images/search.png" />
            </button>
        </div>
    </div>
    <div class="course-add">
        <button class="primary-btn" id="add_school">添加</button>
    </div>
    <table id="school-mylist-table" lay-filter="school-mylist-table"></table>
    <script type="text/html" id="sourcelist-opt">
        <button class="course-set-btn" lay-event="edit">编辑</button>
        <button class="course-set-btn" lay-event="delete">删除</button>
        <button class="course-set-btn" lay-event="check">查看</button>
    </script>
    <div class="app-table-page" id="school-mylist-page"></div>
</div>

<script>
    layui.use(['table', 'jquery', 'form', 'admin'], function(table, $) {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            tableFilter = 'school-mylist-table',
            table = layui.table,
            admin = layui.admin,
            pageLimit = 20,
            layPageOption = {
                elem: 'school-mylist-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: [
                    'first',
                    'prev',
                    'page',
                    'next',
                    'last',
                    'count',
                    'currLimit',
                    'curr',
                    'pageCount'
                ],
                jump: function(obj, first) {
                    //首次不执行
                    if (!first) {
                        getList(obj.curr)
                    }
                }
            },
            tableOption = {
                page: false,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [
                        {
                            title: '序号',
                            field: 'id',
                            width: 80,
                            align: 'center',
                            type: 'numbers'
                        },
                        {
                            title: '系名称',
                            field: 'facultyName',
                            align: 'center'
                        },
                        {
                            title: '系编码',
                            field: 'facultyCode',
                            align: 'center'
                        },
                        {
                            title: '所属学院',
                            field: 'collegeName',
                            align: 'center'
                        },
                        {
                            title: '操作',
                            align: 'center',
                            templet: '#sourcelist-opt'
                        }
                    ]
                ]
            },
            formData = {
                id: '',
                facultyName: '',
                collegeId: '',
                facultyCode: ''
            }

        getList(1)
        $("#searchSchoolList").click(function () {
            getList(1)
        })

        table.on('tool(school-mylist-table)', function(obj) {
            var data = obj.data //获得当前行数据
            var layEvent = obj.event,
                type = ''

            if (layEvent === 'delete') {
                layer.open({
                    type: 1,
                    offset: 'auto',
                    title: '系统提示',
                    content: '该信息为重要信息，是否删除？',
                    area: ['300px', '200px'],
                    shade: 0.4,
                    skin: 'system-modal',
                    shadeClose: true,
                    btn: ['确定', '取消'],
                    yes: function(index, layero) {
                        // 提交
                        layer.close(index)
                        deleteData(data.id)
                    },
                    cancel: function(index) {
                        layer.close(index)
                    }
                })
                return
            }
            if (layEvent === 'edit') {
                //编辑
                formData = data
                type = 'edit'
            } else if (layEvent === 'check') {
                formData = data
                type = 'check'
            }

            getCollegeList(function() {
                $('#collegeId').val(formData.collegeId)
                $('#facultyName').val(formData.facultyName)
                $('#facultyCode').val(formData.facultyCode)
                form.render()
            })

            var layerOption = {
                type: 1,
                offset: 'auto',
                title: type==='edit'?'编辑':'查看',
                content: getTemplate(formData, type),
                area: ['700px', '70%'],
                shade: 0.4,
                shadeClose: true,
                btn: type === 'check' ? [] : ['确定', '取消'],
                yes: function(index, layero) {
                    layer.close(index)
                    getFormData()
                    if (type === 'check') {
                        getData(data.id)
                    } else if (type === 'edit') {
                        formData.id = data.id
                        updateData(formData)
                    }
                },
                cancel: function(index) {
                    layer.close(index)
                }
            }

            layer.open(layerOption)
            form.render()
        })

        $('#add_school').on('click', function() {
            formData = {}
            layer.open({
                type: 1,
                offset: 'auto',
                title: '添加',
                content: getTemplate(formData),
                area: ['700px', '70%'],
                shade: 0.4,
                skin: 'school-edit-modal',
                shadeClose: true,
                btn: ['确定', '取消'],
                yes: function(index, layero) {
                    getFormData()
                    layer.close(index)
                    addData(formData)
                },
                cancel: function(index) {
                    layer.close(index)
                }
            })
            getCollegeList()
            form.render()
        })

        function getList(page) {
            var schoolName = $('#schoolName').val(),
                data = {
                page: page,
                rows: pageLimit,
                key: schoolName
            }
            admin.post({
                url: '/vsMpFaculty/getList',
                data: JSON.stringify(data),
                success: function(res) {
                    tableOption.data = (res.data && res.data.items) || []
                    layPageOption.count = (res.data && res.data.total) || 0
                    table.render(tableOption)
                    laypage.render(layPageOption)
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function deleteData(id) {
            admin.delete({
                url: '/vsMpFaculty/delete?id=' + id,
                success: function(res) {
                    getList(1)
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function updateData(data) {
            var data = {
                id: data.id,
                facultyName: data.facultyName,
                collegeId: data.collegeId,
                facultyCode: data.facultyCode
            }
            admin.put({
                url: '/vsMpFaculty/update',
                data: JSON.stringify(data),
                success: function(res) {
                    getList(1)
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getData(id) {
            admin.get({
                url: '/vsMpFaculty/get?id=' + id,
                success: function(res) {},
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function addData(data) {
            var data = {
                facultyName: data.facultyName,
                collegeId: data.collegeId,
                facultyCode: data.facultyCode
            }
            admin.post({
                url: '/vsMpFaculty/add',
                data: JSON.stringify(data),
                success: function(res) {
                    if (res.code === 200) {
                        layer.msg('添加成功')
                        getList(1)
                    } else {
                        layer.msg((res && res.msg) || '添加失败')
                    }
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '添加失败')
                }
            })
        }

        function getFormData() {
            formData = {
                id: $('#id').val(),
                facultyName: $('#facultyName').val(),
                collegeId: $('#collegeId').val(),
                facultyCode: $('#facultyCode').val()
            }
        }

        function getCollegeList(callback) {
            var data = {
                page: 1,
                rows: 10000
            }
            admin.post({
                url: '/college/queryCollegeList',
                data: JSON.stringify(data),
                success: function(res) {
                    if (res.code === 200) {
                        $('#collegeId').html('<option>请选择学院</option>')
                        res.data.items.forEach(item => {
                            $('#collegeId').append(
                                '<option value="' +
                                    item.id +
                                    '">' +
                                    item.collegeName +
                                    '</option>'
                            )
                        })
                        form.render()
                        callback && typeof callback === 'function' && callback()
                    }
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getTemplate(formData, type) {
            return (
                '<div id="school_details_modal">\n' +
                '        <form action="" class="layui-form">\n' +
                '            <div class="layui-row">\n' +
                '                <div class="layui-col-md12 layui-form-item">\n' +
                '                    <label class="layui-form-label">所属学院:</label>\n' +
                '                    <select id="collegeId" value="' +
                formData.collegeId +
                '">\n' +
                '                    </select>\n' +
                '                </div>\n' +
                '            </div>\n' +
                '            <div class="layui-row">\n' +
                '                <div class="layui-col-md12 layui-form-item">\n' +
                '                    <label class="layui-form-label">系名称:</label>\n' +
                '                    <input\n' +
                '                        type="text"\n' +
                '                        name="userName"\n' +
                '                        id="facultyName"\n' +
                '                        class="common-form-input"\n' +
                '                        value=""\n' +
                '                    />\n' +
                '                </div>\n' +
                '            </div>\n' +
                '            <div class="layui-row">\n' +
                '                <div class="layui-col-md12 layui-form-item">\n' +
                '                    <label class="layui-form-label">系编码:</label>\n' +
                '                    <input\n' +
                '                        type="text"\n' +
                '                        name="facultyCode"\n' +
                '                        id="facultyCode"\n' +
                '                        class="common-form-input"\n' +
                '                        value=""\n' +
                '                    />\n' +
                '                </div>\n' +
                '            </div>\n' +
                '        </form>\n' +
                '    </div>'
            )
        }
    })
</script>

<style>
    #source-manage-mylist {
    }
    .school-edit-modal .layui-layer-content {
        padding: 20px;
    }

    .school-remark {
        width: 63%;
    }
</style>
