.course-title {
    overflow: hidden;
    clear: both;
    padding-bottom: 20px;
    line-height: 30px;
    border-bottom: 1px solid rgba(231, 235, 244, 1);
}

.layui-input,
.layui-textarea {
    width: 230px;
}

.layui-form-select {
    width: 230px;
    float: left;
}

.layui-form-item {
    clear: none;
}

.layui-form-label {
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    display: inline-block;
}

.common-form-input {
    width: 230px;
    height: 30px;
    line-height: 30px;
    padding: 2px 4px;
}

.layui-form-label.require::before {
    content: '*';
    color: red;
}

.layui-layer-btn .layui-layer-btn0 {
    padding: 0px 20px;
    line-height: 30px;
    height: 30px;
    background: #ff6600;
    color: #fff;
    text-align: center;
    border: none;
}

/* .layui-layer-btn a {
    height
} */


.primary-btn {
    padding: 0px 30px;
    line-height: 38px;
    background: #ff6600;
    color: #fff;
    text-align: center;
}

.cancel-btn {
    padding: 0px 30px;
    line-height: 38px;
    background: #fff;
    color: #666;
    text-align: center;
}