<div id="schedule-all-list" lay-title="总课程表">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>课程表 > 总课程表</span>
        </div>
    </div>
    <div class="layui-tab layui-tab-card" lay-filter="weekTab">
        <ul class="layui-tab-title">
            <li class="layui-this">周一</li>
            <li>周二</li>
            <li>周三</li>
            <li>周四</li>
            <li>周五</li>
            <li>周六</li>
            <li>周日</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item  layui-show">
                <table
                    id="schedule-all-table"
                    lay-filter="schedule-all-table"
                ></table>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['element', 'table'], function(table) {
        var element = layui.element,
            table = layui.table,
            admin = layui.admin,
            tableFilter = 'schedule-all-table',
            tableOption = {
                page: false,
                elem: '[lay-filter="' + tableFilter + '"]',
                cols: [
                    [
                        {
                            title: '课程名称',
                            field: 'courseName',
                            align: 'center'
                        },
                        {
                            title: '上课周次',
                            field: 'weekEnd',
                            align: 'center',
                            templet: function(d) {
                                return '第'+d.weekStart+'~'+d.weekEnd+'周'
                            }
                        },
                        {
                            title: '上课时间',
                            field: 'schoolTimeEnd',
                            align: 'center',
                            templet: function(d) {
                                return '第'+d.schoolTimeStart+'~'+d.schoolTimeEnd+'节'
                            }
                        },
                        {
                            title: '上课地点',
                            field: 'classroomName',
                            align: 'center'
                        },
                        {
                            title: '授课老师',
                            field: 'teacherName',
                            align: 'center'
                        }
                    ]
                ]
            }

        getList(1)

        function getList(week) {
            admin.get({
                url: '/vsMpSchelule/getAllList',
                success: function(res) {
                    tableOption.data = (res.data && res.data[week]) || []
                    table.render(tableOption)
                }
            })
        }

//        function formatWeek(index) {
//            var week = ''
//            switch (index) {
//                case 1:
//                    week = '星期一'
//                    break
//                case 2:
//                    week = '星期二'
//                    break
//                case 3:
//                    week = '星期三'
//                    break
//                case 4:
//                    week = '星期四'
//                    break
//                case 5:
//                    week = '星期五'
//                    break
//                case 6:
//                    week = '星期六'
//                    break
//                case 7:
//                    week = '星期日'
//                    break
//            }
//            return week
//        }

        element.on('tab(weekTab)', function(obj) {
            var week = obj.index + 1
            getList(week)
        })
    })
</script>

<style>
    #schedule-all-list {
    }

    .layui-badge-rim,
    .layui-colla-content,
    .layui-colla-item,
    .layui-collapse,
    .layui-elem-field,
    .layui-form-pane .layui-form-item[pane],
    .layui-form-pane .layui-form-label,
    .layui-input,
    .layui-layedit,
    .layui-layedit-tool,
    .layui-quote-nm,
    .layui-select,
    .layui-tab-bar,
    .layui-tab-card,
    .layui-tab-title,
    .layui-tab-title .layui-this:after,
    .layui-textarea {
        border-color: #999;
    }
</style>
