<div id="user_all" lay-title="所有用户">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>用户管理 > 所有用户</span>
        </div>
        <div class="course-title-search">
            <span class="search-project">姓名</span>
            <input type="text">
            <span class="search-project">账号</span>
            <input type="text">
            <span class="search-project">学院</span>
            <select name="" id="">
                <option value="">请选择学院</option>
                <option value="">学院1</option>
                <option value="">学院2</option>
            </select>
            <span class="search-project">用户类型</span>
            <select name="" id="">
                <option value="">请选择类型</option>
                <option value="">类型1</option>
                <option value="">类型2</option>
            </select>
            <button class="search-confirm">
                <img src="src/images/search.png">
            </button>
        </div>
    </div>
    <div class="course-add">
        <button class="add-btn" id="add_cource">添加</button>
        <button class="add-btn" id="import-cource">导入</button>
        <button class="add-btn" id="export-cource">导出</button>
    </div>
    <table id="user_all_table" lay-filter="user_all_table"></table>
    <script type="text/html" id="user_all_opt">
        <button class="course-set-btn" id="user_all_disable">停用</button>
        <button class="course-set-btn" id="user_all_edit">编辑</button>
        <button class="course-set-btn" id="user_all_delete" lay-event="delete">删除</button>
        <button class="course-set-btn" id="user_all_check">查看</button>
        <button class="course-set-btn" id="user_all_reset">重置密码</button>
    </script>
</div>

<script>
    layui.use(['form', 'table', 'admin'], function (table) {
        var $ = layui.jquery,
            form = layui.form,
            modalTemplate = '',
            importModalTemplate = '',
            table = layui.table,
            tableFilter = 'user_all_table',
            admin = layui.admin


        modalTemplate =
            '<div class="system-tip-modal">' +
            '<div class="system-tips">根据虚拟仿真实验教学管理平台的要求，您需要进一步完善个人的手机和邮箱信息，才能保证正常使用本平台课程的学习和实验操作功能。</div>' +
            '<form action="" class="layui-form">' +
            '<div class="system-tip-form">' +
            '<label for="">手机：</label>' +
            '<input type="text" name="phone">' +
            '</div>' +
            '<div class="system-tip-form">' +
            '<label for="">邮箱：</label>' +
            '<input type="text" name="email">' +
            '</div>' +
            '</form>' +
            '</div>'

        addModalTemp =
            '<div id="user_details_modal">' +
            '<form action="" class="layui-form">' +
            '<div class="layui-row">' +
            '<div class="layui-col-md12 layui-form-item">' +
            '<label class="layui-form-label">学(工)号:</label>' +
            '<input type="text" name="userId" class="common-form-input">' +
            ' </div>' +
            '</div>' +
            '<div class="layui-row">' +
            '<div class="layui-col-md12 layui-form-item">' +
            '<label class="layui-form-label">姓名:</label>' +
            '<input type="text" name="userName" class="common-form-input">' +
            '</div>' +
            '</div>' +
            '<div class="layui-row">' +
            '<div class="layui-col-md12 layui-form-item">' +
            '<label class="layui-form-label">性别:</label>' +
            '<div class="layui-input-block">' +
            '<input type="radio" name="sex" value="男" title="男">' +
            '<input type="radio" name="sex" value="女" title="女">' +
            '</div>' +
            ' </div>' +
            '</div>' +
            '<div class="layui-row">' +
            '<div class="layui-col-md12 layui-form-item">' +
            '<label class="layui-form-label">行政班级:</label>' +
            '<div class="user-class">' +
            '<select name="class1">' +
            '<option value=""></option>' +
            '<option value="土木工程学1">土木工程学1</option>' +
            '<option value="土木工程学2">土木工程学2</option>' +
            '</select>' +
            '<select name="class2">' +
            '<option value=""></option>' +
            '<option value="工程管理1">工程管理1</option>' +
            '<option value="工程管理2">工程管理2</option>' +
            '</select>' +
            '<select name="class3">' +
            ' <option value=""></option>' +
            '<option value="工程管理1">工程管理1</option>' +
            '<option value="工程管理2">工程管理1</option>' +
            '</select>' +
            '<select name="class4">' +
            '<option value=""></option>' +
            '<option value="一班">一班</option>' +
            '<option value="一班">一班</option>' +
            '</select>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<div class="layui-row">' +
            '<div class="layui-col-md12 layui-form-item">' +
            '<label class="layui-form-label">手机:</label>' +
            '<input type="text" name="userName" class="common-form-input">' +
            '</div>' +
            '</div>' +
            '<div class="layui-row">' +
            '<div class="layui-col-md12 layui-form-item">' +
            '<label class="layui-form-label">邮箱:</label>' +
            '<input type="text" name="userName" class="common-form-input">' +
            '</div>' +
            '</div>' +
            '<div class="layui-row">' +
            '<div class="layui-col-md12 layui-form-item">' +
            '<label class="layui-form-label">初始密码:</label>' +
            '<span>123456</span>' +
            '</div>' +
            '</div>' +
            '<div class="layui-row">' +
            '<div class="layui-col-md12 layui-form-item">' +
            '<label class="layui-form-label">状态:</label>' +
            '<div class="layui-input-block">' +
            '<input type="radio" name="status" value="启用" title="启用">' +
            '<input type="radio" name="status" value="停用" title="停用">' +
            '</div>' +
            ' </div>' +
            '</div>' +
            '<div class="layui-row">' +
            '<div class="layui-col-md12 layui-form-item">' +
            '<label class="layui-form-label">备注:</label>' +
            '<textarea name="desc" class="layui-textarea user-remark"></textarea>' +
            '</div>' +
            '</div>' +
            '</form>' +
            '</div>'

        importModalTemplate =
            `<form action="" class="layui-form my-add-form">
                <div class="layui-row">
                    <div class="layui-col-md12 layui-form-item">
                        <label class="layui-form-label">所属部门</label>
                        <select class="layui-unselect layui-form-select">
                            <option value="">选择</option>
                            <option value="021">部门1</option>
                            <option value="022">部门2</option>
                            <option value="023">部门3</option>
                        </select>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md12 layui-form-item">
                        <label class="layui-form-label">上传</label>
                        <button type="button" class="layui-btn layui-btn-primary">上传表格</button>
                        <button type="button" class="layui-btn " style="background: rgba(0,193,222,1)">下载模版</button>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md12 layui-form-item">
                        <input type="file"><span style="color: red">删除</span>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md12 layui-form-item">
                        温馨提示：清先下载模版，然后根据模版填入员工信息。
                    </div>
                </div>
            </form>`;

        admin.get({
            url: '/user/getUserList?page=1&rows=20',
            success: function (res) {},
            error: function (err) {}
        })

        layer.open({
            type: 1,
            offset: 'auto',
            title: '系统提示',
            content: modalTemplate,
            area: ['500px', '400px'],
            skin: 'import-modal',
            shade: 0.4,
            shadeClose: true,
            btn: ['提交'],
            yes: function (index, layero) {
                // 提交
                layer.close(index);
            }
        })

        table.render({
            elem: '#user_all_table',
            page: true,
            data: [{
                id: 1,
                courceName: '发电机哈哈',
                courseCode: 20190101,
                responsor: '未发布',
                time: '第一学期',
                class: '所有年级',
                isCommon: false,
                score: 1
            }],
            elem: '[lay-filter="' + tableFilter + '"]',
            height: 'full-300',
            cols: [
                [{
                        title: '序号',
                        field: 'id',
                        width: 80,
                        align: 'center'
                    },
                    {
                        title: '姓名',
                        field: 'courseCode',
                        align: 'center'
                    },
                    {
                        title: '学（工）号',
                        field: 'courceName',
                        align: 'center'

                    },
                    {
                        title: '性别',
                        field: 'courseCode',
                        align: 'center'
                    },
                    {
                        title: '账号',
                        field: 'responsor',
                        align: 'center',
                    },
                    {
                        title: '年级',
                        field: 'responsor',
                        align: 'center',
                    },
                    {
                        title: '学院',
                        field: 'responsor',
                        align: 'center',
                    },
                    {
                        title: '系',
                        field: 'responsor',
                        align: 'center',
                    },
                    {
                        title: '专业',
                        field: 'responsor',
                        align: 'center',
                    },
                    {
                        title: '班级',
                        field: 'responsor',
                        align: 'center',
                    },
                    {
                        title: '状态',
                        field: 'responsor',
                        align: 'center',
                    },
                    {
                        title: '操作',
                        align: 'center',
                        templet: '#user_all_opt',
                        width: 300,
                    }
                ]
            ]
        })

        $('#add_cource').on('click', function () {
            layer.open({
                type: 1,
                offset: 'auto',
                title: '添加',
                content: addModalTemp,
                area: ['700px', '70%'],
                shade: 0.4,
                skin: 'user-edit-modal',
                shadeClose: true,
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                    // 提交
                    layer.close(index);
                },
                cancel: function (index) {
                    layer.close(index);
                }
            })
            form.render();
        })

        $('#user_all_edit').on('click', function () {
            layer.open({
                type: 1,
                offset: 'auto',
                title: '编辑',
                content: addModalTemp,
                area: ['700px', '70%'],
                shade: 0.4,
                skin: 'user-edit-modal',
                shadeClose: true,
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                    // 提交
                    layer.close(index);
                },
                cancel: function (index) {
                    layer.close(index);
                }
            })
            form.render();
        })

        $('#user_all_check').on('click', function () {
            layer.open({
                type: 1,
                offset: 'auto',
                title: '查看',
                content: addModalTemp,
                area: ['700px', '70%'],
                shade: 0.4,
                shadeClose: true,
                skin: 'user-edit-modal',
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                    // 提交
                    layer.close(index);
                },
                cancel: function (index) {
                    layer.close(index);
                }
            })
            form.render();
        })

        $('#user_all_delete').on('click', function () {
            layer.open({
                type: 1,
                offset: 'auto',
                title: '系统提示',
                content: '该信息为重要信息，是否删除？',
                area: ['300px', '200px'],
                shade: 0.4,
                skin: 'system-modal',
                shadeClose: true,
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                    // 提交
                    layer.close(index);
                },
                cancel: function (index) {
                    layer.close(index);
                }
            })
        })


        $('#import-cource').on('click', function () {
            layer.open({
                type: 1,
                offset: 'auto',
                title: '批量导入',
                content: importModalTemplate,
                area: ['500px', '400px'],
                skin: 'import-modal',
                shade: 0.4,
                shadeClose: true,
                btn: ['提交', '取消'],
                yes: function (index, layero) {
                    // 提交
                    layer.close(index);
                }
            })
            form.render();
        })

    })
</script>

<style>
    #user_all {}

    .my-add-form {
        padding: 25px;
    }

    .system-tip-modal {
        padding: 50px;
        font-size: 16px;
    }

    .system-tip-modal .system-tips {
        margin-bottom: 50px;
    }

    .system-tip-modal .system-tip-form {
        text-align: center;
        margin-bottom: 20px;
    }

    .system-tip-modal .system-tip-form input {
        padding: 5px;
    }

    .layui-form-label {
        width: 80px;
    }

    .user-class .layui-select-title .layui-input,
    .layui-textarea {
        width: 100px;
    }

    .user-class .layui-form-select {
        width: 100px;
    }

    .user-remark {
        width: 63%;
    }

    .system-modal .layui-layer-content {
        text-align: center;
        line-height: 100px;
    }

    .user-edit-modal .layui-layer-content {
        padding: 20px;
    }
</style>