<div id="user_all" lay-title="所有用户">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>用户管理 > 所有用户</span>
        </div>
        <div class="course-title-search">
            <span class="search-project">姓名</span>
            <input type="text" id="userName" />
            <span class="search-project">账号</span>
            <input type="text" id="userCount" />
            <span class="search-project">学院</span>
            <select name="" id="college" lay-filter="collegeAll">
                <option value="">请选择学院</option>
            </select>
            <span class="search-project">用户类型</span>
            <select name="" id="userType">
                <option value="">请选择类型</option>
            </select>
            <button class="search-confirm" id="user-search">
                <img src="src/images/search.png" />
            </button>
        </div>
    </div>
    <div class="course-add">
        <button class="add-btn" id="add_cource">添加</button>
        <button class="add-btn" id="import-cource">导入</button>
        <button class="add-btn" id="export-cource">导出</button>
    </div>
    <table id="user_all_table" lay-filter="user_all_table"></table>
    <div class="app-table-page" id="all-mylist-page"></div>
    <script type="text/html" id="user_all_opt">
        {{#if(d.state === 1){ }}
            <button class="course-set-btn" lay-event="disabledUser">停用</button>
        {{# } else if (d.state === 2) {}}
            <button class="course-set-btn" lay-event="disabledUser">启用</button>
        {{#}  }}
        <button class="course-set-btn" lay-event="edit">编辑</button>
        <button class="course-set-btn" lay-event="delete">删除</button>
        <button class="course-set-btn" lay-event="check">查看</button>
        <button class="course-set-btn" lay-event="resetPwd">重置密码</button>
    </script>
</div>

<script>
    layui.use(['form', 'table', 'admin', 'upload'], function(table) {
        var $ = layui.jquery,
            form = layui.form,
            admin = layui.admin,
            importModalTemplate = '',
            table = layui.table,
            conf = layui.conf,
            tableFilter = 'user_all_table',
            tableOption = {
                elem: '[lay-filter="' + tableFilter + '"]',
                page: false,
                data:[],
                cols: [
                    [
                        {
                            title: '序号',
                            field: 'id',
                            width: 80,
                            align: 'center',
                            type: 'numbers'
                        },
                        {
                            title: '姓名',
                            field: 'userName',
                            align: 'center'
                        },
                        {
                            title: '学（工）号',
                            field: 'snoOrJno',
                            align: 'center'
                        },
                        {
                            title: '性别',
                            field: 'sex',
                            align: 'center',
                            templet: function(data) {
                                return data.sex == 1 ? '男' : '女'
                            }
                        },
                        {
                            title: '账号',
                            field: 'snoOrJno',
                            align: 'center'
                        },
                        {
                            title: '学院',
                            field: 'collegeName',
                            align: 'center'
                        },
                        {
                            title: '系',
                            field: 'facultyName',
                            align: 'center'
                        },
                        {
                            title: '专业',
                            field: 'professionName',
                            align: 'center'
                        },
                        {
                            title: '班级',
                            field: 'className',
                            align: 'center'
                        },
                        {
                            title: '状态',
                            field: 'stateName',
                            align: 'center'
                        },
                        {
                            title: '操作',
                            align: 'center',
                            templet: '#user_all_opt',
                            width: 300,
                            fix: 'right'
                        }
                    ]
                ]
            },
            layPageOption = {
                elem: 'all-mylist-page', //注意，这里的 test1 是 ID，不用加 # 号
                limit: 20,
                first: '首页',
                last: '尾页',
                layout: [
                    'first',
                    'prev',
                    'page',
                    'next',
                    'last',
                    'count',
                    'currLimit',
                    'curr',
                    'pageCount'
                ],
                jump: function(obj, first) {
                    //首次不执行
                    if (!first) {
                        getList(obj.curr, obj.limit)
                    }
                }
            },
            laypage = layui.laypage,
            upload = layui.upload,
            collegeList = [],
            seriesList = [],
            classesList = [],
            professList = [],
            addModalTemp = '',
            formData,
            importModalTemplate = `<form action="" class="layui-form my-add-form">
                            <div class="layui-row">
                                <div class="layui-col-md12 layui-form-item">
                                    <label class="layui-form-label">所属部门</label>
                                    <select class="layui-unselect layui-form-select">
                                        <option value="">选择</option>
                                        <option value="021">部门1</option>
                                        <option value="022">部门2</option>
                                        <option value="023">部门3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-row">
                                <div class="layui-col-md12 layui-form-item">
                                    <label class="layui-form-label">上传</label>
                                    <button type="button" class="layui-btn layui-btn-primary">上传表格</button>
                                    <button id="uploadModel" type="button" class="layui-btn " style="background: rgba(0,193,222,1)">下载模版</button>
                                </div>
                            </div>
                            <div class="layui-row">
                                <div class="layui-col-md12 layui-form-item">
                                    <input type="file" id="upload"><span style="color: red">删除</span>
                                </div>
                            </div>
                            <div class="layui-row">
                                <div class="layui-col-md12 layui-form-item">
                                    温馨提示：清先下载模版，然后根据模版填入员工信息。
                                </div>
                            </div>
                        </form>`
        /*$("#uploadModel").click(function () {
            admin.get({
                url:
                    '/excel/用户模板.xls'
                /!*+ '?collegeId=' +
                $('#college').val() +
                '&facultyId=' +
                $('#series_model').val()*!/,
                success: function(res) {

                }
            })
        })*/

        getCollegeList(function(res) {
            var options = ''
            res.data &&
                res.data.items &&
                res.data.items.forEach(item => {
                    options +=
                        '<option value="' +
                        item.id +
                        '">' +
                        item.collegeName +
                        '</option>'
                })
            $('#college').val('')
            $('#college').append(options)
            setSelectOptions()
        })

        getRoleList(function(res) {
            var options = ''
            res.data &&
                res.data.items &&
                res.data.items.forEach(function(item){
                    options +=
                        '<option value="' +
                        item.id +
                        '">' +
                        item.roleName +
                        '</option>'
                })
            $('#userType').append(options)
//            form.render()
        })

        getList(1)

        $('#user-search').click(function() {
            getList(1)
        })

        $('#college').change(function(e) {
            getSeriesList(function(res) {
                var options = ''
                res.data &&
                    res.data.items &&
                    res.data.items.forEach(item => {
                        options +=
                            '<option value="' +
                            item.id +
                            '">' +
                            item.facultyName +
                            '</option>'
                    })
                $('#series_model').append(options)
            }, Number(e.currentTarget.value))
        })

        $('#series_model').change(function(e) {
            getProfessList(function(res) {
                var options = ''
                res.data &&
                    res.data.items &&
                    res.data.items.forEach(item => {
                        options +=
                            '<option value="' +
                            item.id +
                            '">' +
                            item.professionName +
                            '</option>'
                    })
                $('#profession').append(options)
            }, Number(e.currentTarget.value))
        })

        $('#profession').change(function(e) {
            getClassList(function(res) {
                var options = ''
                res.data &&
                    res.data.items &&
                    res.data.items.forEach(item => {
                        options +=
                            '<option value="' +
                            item.id +
                            '">' +
                            item.className +
                            '</option>'
                    })
                $('#classes').append(options)
            }, Number(e.currentTarget.value))
        })

        // 用户列表
        function getList(page) {
            var userName = $('#userName').val(),
                userCount = $('#userCount').val(),
                college = $('#college').val(),
                userType = $('#userType').val(),
                data = {
                    page: page,
                    rows: 20,
                    key:
                        userName +
                        '|' +
                        userCount +
                        '|' +
                        college +
                        '|' +
                        userType +
                        '|' +
                        '|' +
                        '|'
                }

            admin.post({
                url: '/user/getUserList',
                data: JSON.stringify(data),
                success: function(res) {
                    tableOption.data = (res.data && res.data.items) || []
                    layPageOption.count = (res.data && res.data.total) || 0
                    table.render(tableOption)
                   laypage.render(layPageOption)
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        // 学院列表
        function getCollegeList(callback) {
            var data = {
                page: 1,
                rows: 100
            }
            admin.post({
                url: '/college/queryCollegeList',
                data: JSON.stringify(data),
                success: function(res) {
                    if (
                        res.data &&
                        res.data.items &&
                        res.data.items.length > 0
                    ) {
                        collegeList = res.data.items
                        var options = ''

                        res.data.items &&
                            res.data.items.forEach(item => {
                                options +=
                                    '<option value="' +
                                    item.id +
                                    '">' +
                                    item.collegeName +
                                    '</option>'
                            })
                        $('#college').html(
                            '<option value="">请选择学院</option>'
                        )
                        $('#college').append(options)
                        $('#teacher_college_list').html(
                            '<option value="">请选择学院</option>'
                        )
                        $('#teacher_college_list').append(options)
                        setSelectOptions()
                        callback && typeof callback === 'function' && callback(res)
                    }
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        // 用户类型列表
        function getRoleList(callback) {
            var data = {
                page: 1,
                rows: 100
            }
            admin.post({
                url: '/role/queryRoleList',
                data: JSON.stringify(data),
                success: function(res) {
                    if (
                        res.data &&
                        res.data.items &&
                        res.data.items.length > 0
                    ) {
                        collegeList = res.data.items
                        var options = ''
                        res.data.items.forEach(item => {
                            options +=
                                '<option value="' +
                                item.id +
                                '">' +
                                item.roleName +
                                '</option>'
                        })
                        $('#userType').html(
                            '<option value="">请选择用户类型</option>'
                        )
                        $('#userType').append(options)
                        $('#userType_list').html(
                            '<option value="">请选择用户类型</option>'
                        )
                        $('#userType_list').append(options)
                        setSelectOptions()
                        callback && typeof callback === 'function' && callback(res)
                    }
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        // 系列表
        function getSeriesList(callback, collegeId) {
            var data = {
                page: 1,
                rows: 20
            }
            if (collegeId) {
                data.key = collegeId
            }
            admin.post({
                url: '/vsMpFaculty/getList',
                data: JSON.stringify(data),
                success: function(res) {
                    $('#series_model').val('<option value="">请选择</option>')
                    if (
                        res.data &&
                        res.data.items &&
                        res.data.items.length > 0
                    ) {
                        seriesList = res.data.items
                        res.data.items.forEach(function(item) {
                            $('#series_model').append(
                                '<option value="' +
                                    item.id +
                                    '">' +
                                    item.facultyName +
                                    '</option>'
                            )
                        })
                    }
                    callback && typeof callback === 'function' && callback(res)
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        // 专业列表
        function getProfessList(callback, seriesId) {
            var data = {
                page: 1,
                rows: 20
            }
            if (seriesId) {
                data.key = seriesId
            }
            admin.post({
                url: '/vsMpProfession/getList',
                data: JSON.stringify(data),

                success: function(res) {
                    $('#profess_model').val('')
                    if (
                        res.data &&
                        res.data.items &&
                        res.data.items.length > 0
                    ) {
                        professList = res.data.items
                        res.data.items.forEach(function(item) {
                            $('#profess_model').append(
                                '<option value="' +
                                    item.id +
                                    '">' +
                                    item.professionName +
                                    '</option>'
                            )
                        })
                    }
                    callback && typeof callback === 'function' && callback(res)
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        // 班级列表
        function getClassList(callback, professionId) {
            var data = {
                page: 1,
                rows: 20
            }
            if (professionId) {
                data.key = professionId
            }
            admin.post({
                url: '/vsMpClass/getList',
                data: JSON.stringify(data),
                success: function(res) {
                    $('#classes_model').val('')
                    if (
                        res.data &&
                        res.data.items &&
                        res.data.items.length > 0
                    ) {
                        classesList = res.data.items
                        res.data.items.forEach(function(item) {
                            $('#classes_model').append(
                                '<option value="' +
                                    item.id +
                                    '">' +
                                    item.className +
                                    '</option>'
                            )
                        })
                    }
                    callback && typeof callback === 'function' && callback(res)
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        function getTemplate(formData, type) {
            return (
                '<div>' +
                '<form action="" id="user_details_modal" class="layui-form">' +
                '<div class="layui-row">' +
                '<div class="layui-col-md12 layui-form-item">' +
                '<label class="layui-form-label">学(工)号:</label>' +
                '<input type="text" name="snoOrJno" id="snoOrJno" value="' +
                (formData.snoOrJno || '') +
                '"' +
                (type === 'check' ? 'disabled' : '') +
                ' class="common-form-input">' +
                ' </div>' +
                '</div>' +
                '<div class="layui-row">' +
                '<div class="layui-col-md12 layui-form-item">' +
                '<label class="layui-form-label">姓名:</label>' +
                '<input type="text" id="userNameAdd" name="userName" value="' +
                (formData.userName || '') +
                '"' +
                (type === 'check' ? 'disabled' : '') +
                ' class="common-form-input">' +
                '</div>' +
                '</div>' +
                '<div class="layui-row">' +
                '<div class="layui-col-md12 layui-form-item">' +
                '<label class="layui-form-label">性别:</label>' +
                '<div class="layui-input-block">' +
                '<input type="radio" name="sex" value="1" title="男"' +
                (type === 'check' ? 'disabled ' : '') +
                (formData.sex == 1 ? 'checked' : '') +
                '>' +
                '<input type="radio" name="sex" value="0" title="女"' +
                (type === 'check' ? 'disabled' : '') +
                (formData.sex === 0 ? 'checked' : '') +
                '>' +
                '</div>' +
                ' </div>' +
                '</div>' +
                '<div class="layui-row">' +
                '<div class="layui-col-md12 layui-form-item">' +
                '<label class="layui-form-label">角色:</label>' +
                '<div class="user-class">' +
                '<select name="roleId" id="roleId" lay-filter="roleChange" class="common-form-input" value="' +
                formData.roleId +
                '"' +
                (type === 'check' ? 'disabled' : '') +
                '>' +
                '<option value="">请选择角色</option>' +
                '</select>' +
                '</div>' +
                '</div>' +
                '</div>' +
                // '<div class="layui-row role-teacher">' +
                // '<div class="layui-col-md12 layui-form-item">' +
                // '<label class="layui-form-label">学院:</label>' +
                // '<div class="user-class">' +
                // '<select name="teacherCollege" id="teacher_college_list" class="common-form-input" value="' +
                // formData.college +
                // '"' +
                // (type === 'check' ? 'disabled' : '') +
                // '>' +
                // '<option value="">请选择学院</option>' +
                // '</select>' +
                // '</div>' +
                // '</div>' +
                // '</div>' +
                '<div class="layui-row role-student">' +
                '<div class="layui-col-md12 layui-form-item">' +
                '<label class="layui-form-label">学生类型:</label>' +
                '<div class="user-class">' +
                '<select name="studentTypeId" id="studentTypeId" class="common-form-input" value="' +
                formData.studentTypeId +
                '"' +
                (type === 'check' ? 'disabled' : '') +
                '>' +
                '<option value="">请选择学生类型</option>' +
                '</select>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '<div class="layui-row">' +
                '<div class="layui-col-md12 layui-form-item">' +
                '<label class="layui-form-label">行政班级:</label>' +
                '<div class="user-class">' +
                '<select name="collegeId" id="college_model" lay-filter="college" value="' +
                formData.collegeId +
                '"' +
                (type === 'check' ? 'disabled' : '') +
                '>' +
                '<option value="">请选择学院</option>' +
                '</select>' +
                '<select name="facultyId" id="series_model" lay-filter="series" value="' +
                formData.facultyId +
                '"' +
                (type === 'check' ? 'disabled' : '') +
                '>' +
                '<option value="">请选择系</option>' +
                '</select>' +
                '<select name="professionId" id="profess_model" lay-filter="profess"' +
                (type === 'check' ? 'disabled' : '') +
                '>' +
                ' <option value="">请选择专业</option>' +
                '</select>' +
                '<select name="classId" id="classes_model" lay-filter="classes"' +
                (type === 'check' ? 'disabled' : '') +
                '>' +
                '<option value="">请选择班级</option>' +
                '</select>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '<div class="layui-row">' +
                '<div class="layui-col-md12 layui-form-item">' +
                '<label class="layui-form-label">手机:</label>' +
                '<input type="text"  id="phone" class="common-form-input" value="' +
                (formData.phonenumber || '') +
                '"' +
                (type === 'check' ? 'disabled' : '') +
                '>' +
                '</div>' +
                '</div>' +
                '<div class="layui-row">' +
                '<div class="layui-col-md12 layui-form-item">' +
                '<label class="layui-form-label">邮箱:</label>' +
                '<input type="text" name="email"  id="email" class="common-form-input" value="' +
                (formData.email || '') +
                '"' +
                (type === 'check' ? 'disabled' : '') +
                '>' +
                '</div>' +
                '</div>' +
                '<div class="layui-row">' +
                '<div class="layui-col-md12 layui-form-item">' +
                '<label class="layui-form-label">初始密码:</label>' +
                '<span style="line-height: 38px;">123456</span>' +
                '</div>' +
                '</div>' +
                '<div class="layui-row">' +
                '<div class="layui-col-md12 layui-form-item">' +
                '<label class="layui-form-label">状态:</label>' +
                '<div class="layui-input-block">' +
                '<input type="radio" name="status" value="1" title="启用"' +
                (formData.state === 1 ? ' checked' : '') +
                (type === 'check' ? ' disabled' : '') +
                '>' +
                '<input type="radio" name="status" value="2" title="停用"' +
                (formData.state === 2 ? ' checked' : '') +
                (type === 'check' ? ' disabled' : '') +
                '>' +
                '</div>' +
                ' </div>' +
                '</div>' +
                // '<div class="layui-row">' +
                // '<div class="layui-col-md12 layui-form-item">' +
                // '<label class="layui-form-label">备注:</label>' +
                // '<textarea name="desc" id="remark" class="layui-textarea user-remark" value="' +
                // (formData.remark || '') +
                // ' " ' +
                // (type === 'check' ? 'disabled' : '') +
                // '></textarea>' +
                // '</div>' +
                // '</div>' +
                '</form>' +
                '</div>'
            )

        }

        function getFormData() {
            formData = {
                roleId: Number($('#roleId').val()),
                sex: Number($('input[name=sex]:checked').val()),
                phonenumber: $('#phone').val(),
                userName: $('#userNameAdd').val(),
                facultyId: Number($('#series_model').val()),
                classId: Number($('#classes_model').val()),
                collegeId: $('#college_model').val(),
                snoOrJno: $('#snoOrJno').val(),
                email: $('#email').val(),
                professionId: Number($('#profess_model').val()),
                state: Number($('input[name=status]:checked').val()),
                studentTypeId: Number($('#studentTypeId').val())
            }
        }

        function resetFormData() {
            formData = {
                roleId: '',
                sex: '',
                phonenumber: '',
                userName: '',
                facultyId: '',
                classId: '',
                collegeId: '',
                snoOrJno: '',
                email: '',
                professionId: '',
                state: ''
            }
        }

        function setSelectOptions() {
            $('#college_model').html('<option value="">请选择</option>')
            $('#series_model').html('<option value="">请选择</option>')
            $('#profess_model').html('<option value="">请选择</option>')
            $('#classes_model').html('<option value="">请选择</option>')
            var col = '<option value="">请选择</option>',
                series = '',
                classes = '',
                profe = ''

            collegeList.forEach(item => {
                col +=
                    '<option value="' +
                    item.id +
                    '">' +
                    item.collegeName +
                    '</option>'
            })
            $('#college_model').html(col)

            form.render('select')

            form.on('select(college)', function(data) {
                getSeriesList(function(res) {
                    $('#series_model').html('<option value="">请选择</option>')
                    res.data &&
                        res.data.items &&
                        res.data.items.forEach(item => {
                            series +=
                                '<option value="' +
                                item.id +
                                '">' +
                                item.facultyName +
                                '</option>'
                        })
                    $('#series_model').html(series)
                    form.render('select')
                }, data.value)
            })

            form.on('select(series)', function(data) {
                getProfessList(function(res) {
                    $('#profess_model').html('<option value="">请选择</option>')
                    res.data &&
                        res.data.items &&
                        res.data.items.forEach(item => {
                            profe +=
                                '<option value="' +
                                item.id +
                                '">' +
                                item.professionName +
                                '</option>'
                        })
                    $('#profess_model').html(profe)
                    form.render('select')
                }, data.value)
            })

            form.on('select(profess)', function(data) {
                getClassList(function(res) {
                    $('#classes_model').html('<option value="">请选择</option>')
                    res.data &&
                        res.data.items &&
                        res.data.items.forEach(item => {
                            classes +=
                                '<option value="' +
                                item.id +
                                '">' +
                                item.className +
                                '</option>'
                        })
                    $('#classes_model').html(classes)
                    form.render('select')
                }, data.value)
            })
        }

        $('#add_cource').on('click', function() {
            resetFormData()
            // 加载学院/系/班级/专业列表
            var temp = getTemplate(formData)

            layer.closeAll()
            layer.open({
                type: 1,
                offset: 'auto',
                title: '添加',
                content: temp,
                area: ['700px', '70%'],
                shade: 0.4,
                skin: 'user-edit-modal',
                shadeClose: true,
                btn: ['确定', '取消'],
                yes: function(index, layero) {
                    // var data = getFormData()
                    addData(function() {
                        layer.close(index)
                    })
                },
                cancel: function(index) {
                    layer.close(index)
                }
            })


            form.on('select(roleChange)', function(obj) {
                if (obj.value == 2) {
                    $('.role-student').css({display: 'none'})
                    
                } else if (obj.value == 3)  {
                    $('.role-student').css({display: 'none'})

                } else {
                    $('.role-student').css({display: 'block'})
                }
            })
            form.render()
            getRoleList()
            getStudentTypeList()
            getCollegeList()
            // 隐藏学院/学生类型/行政班级
            // $('.role-teacher').css({ display: 'none' })
            // $('.role-student').css({ display: 'none' })

            $('#roleId').change(function(val) {
                console.log(1222, val)
            })

           

           
        })

        $('#export-cource').on('click', function() {
            $('#export-cource').on('click', function () {
                var collegeId = $("#college").val()==''?'':$("#college").val(),
                    roleId = $("#userType").val()==''?'':$("#userType").val(),
                    url = conf.requestUrl + "/user/exportExcel?roleId="+roleId+"&collegeId=" + collegeId
                debugger
                window.open(url)
            })
        })

        function addData(callback) {
            getFormData()
            admin.post({
                url: '/user/addUser',
                data: JSON.stringify(formData),
                success: function(res) {
                    if (res.code === 200) {
                        callback()
                        layer.msg('添加成功！')
                        getList(1, 20)
                    } else {
                        layer.msg((res && res.msg) || '数据请求失败')
                    }
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        // 停用
        function stopData(id, callback) {
            admin.delete({
                url: '/user/stopUse?id=' + id,
                success: function(res) {
                    layer.msg('停用成功！')
                    getList(1, 20)
                    callback()
                }
            })
        }

        // 启用
        function startData(id, callback) {
            admin.delete({
                url: '/user/startUse?id=' + id,
                success: function(res) {
                    layer.msg('启用成功！')
                    getList(1, 20)
                    callback()
                }
            })
        }

        // 删除
        function deleteData(id) {
            admin.delete({
                url: '/user/deleteUser?id=' + id,
                success: function(res) {
                    layer.msg('删除成功！')
                    getList(1, 20)
                }
            })
        }

        // 重置密码
        function resetPwd(id, callback) {
            var data = {
                id
            }
            admin.put({
                url: '/user/resetPassWord?id=' + id,
                data: JSON.stringify(data),
                success: function(res) {
                    layer.msg('重置密码成功！')
                    getList(1, 20)
                    callback()
                }
            })
        }

        //获取角色列表
        function getRoleList(callback) {
            var data = {
                page: 1,
                rows: 10000
            }
            admin.post({
                url: '/role/queryRoleList',
                data: JSON.stringify(data),
                success: function(res) {
                    callback && typeof callback === 'function' && callback(res)
                    $('#roleId').html('<option value="">请选择角色</option>')
                    res.data &&
                        res.data.items &&
                        res.data.items.forEach(function(item){
                            $('#roleId').append(
                                '<option value="' +
                                    item.id +
                                    '">' +
                                    item.roleName +
                                    '</option>'
                            )
                        })
                    form.render()
                }
            })
        }

        function getStudentTypeList(callback) {
            var data = {
                page: 1,
                rows: 10000
            }
            admin.post({
                url: '/studentType/studentTypeList',
                data: JSON.stringify(data),
                success: function(res) {
                    $('#studentTypeId').html(
                        '<option value="">请选择学生类型</option>'
                    )
                    res.data &&
                        res.data.items &&
                        res.data.items.forEach(function(item) {
                            $('#studentTypeId').append(
                                '<option value="' +
                                    item.id +
                                    '">' +
                                    item.studentTypeName +
                                    '</option>'
                            )
                        })
                    form.render()
                    callback && typeof callback === 'function' && callback(res)
                }
            })
        }

        function updateData(formData) {
            admin.put({
                url: '/user/updateUser',
                data: JSON.stringify(formData),
                success: function(res) {
                    if (res.code === 200) {
                        layer.msg('修改成功')
                        getList(1)
                    } else {
                        layer.msg(res.msg || '修改失败')
                    }
                }
            })
        }

        table.on('tool(user_all_table)', function(obj) {
            var data = obj.data //获得当前行数据
            var layEvent = obj.event,
                type = ''

            layer.closeAll()

            if (layEvent === 'delete') {
                layer.open({
                    type: 1,
                    offset: 'auto',
                    title: '系统提示',
                    content: '该信息为重要信息，是否删除？',
                    area: ['300px', '200px'],
                    shade: 0.4,
                    skin: 'system-modal',
                    shadeClose: true,
                    btn: ['确定', '取消'],
                    yes: function(index, layero) {
                        // 提交
                        layer.close(index)
                        deleteData(data.id, -1)
                    },
                    cancel: function(index) {
                        layer.close(index)
                    }
                })
                return
            }
            if (layEvent === 'disabledUser') {
                layer.open({
                    type: 1,
                    offset: 'auto',
                    title: '系统提示',
                    content:
                        '该信息为重要信息，是否' +
                        (data.state === 1 ? '停用？' : '启用？'),
                    area: ['300px', '200px'],
                    shade: 0.4,
                    skin: 'system-modal',
                    shadeClose: true,
                    btn: ['确定', '取消'],
                    yes: function(index, layero) {
                        // 提交
                        if (data.state === 1) {
                            stopData(data.id, function() {
                                layer.close(index)
                            })
                        } else {
                            startData(data.id, function() {
                                layer.close(index)
                            })
                        }
                    },
                    cancel: function(index) {
                        layer.close(index)
                    }
                })
                return
            }
            if (layEvent === 'resetPwd') {
                layer.open({
                    type: 1,
                    offset: 'auto',
                    title: '系统提示',
                    content: '确定重置密码？',
                    area: ['300px', '200px'],
                    shade: 0.4,
                    skin: 'system-modal',
                    shadeClose: true,
                    btn: ['确定', '取消'],
                    yes: function(index, layero) {
                        resetPwd(data.id, function() {
                            layer.close(index)
                        })
                    },
                    cancel: function(index) {
                        layer.close(index)
                    }
                })
                return
            }
            if (layEvent === 'edit') {
                //编辑
                formData = data
                type = 'edit'
            } else if (layEvent === 'check') {
                formData = data
                type = 'check'
            }

            getRoleList(function() {
                $('#roleId').val(formData.roleId)
                form.render()
            })
            getStudentTypeList(function() {
                $('#studentTypeId').val(formData.studentTypeId)
                form.render()
            })
            getCollegeList(function() {
                $('#college_model').val(formData.collegeId)
                form.render()
            })

            getSeriesList(function() {
                $('#series_model').val(formData.facultyId)
                form.render()
            })

            getProfessList(function() {
                $('#profess_model').val(formData.professionId)
                form.render()
            })

            getClassList(function() {
                $('#classes_model').val(formData.classId)
                form.render()
            })

            var layerOption = {
                type: 1,
                offset: 'auto',
                title: type==='edit'?'编辑':'查看',
                content: getTemplate(formData, type),
                area: ['700px', '70%'],
                shade: 0.4,
                shadeClose: true,
                btn: type === 'check' ? [] : ['确定', '取消'],
                yes: function(index, layero) {
                    layer.close(index)
                    getFormData()
                    if (type === 'check') {
                        getData(data.id)
                    } else if (type === 'edit') {
                        formData.id = data.id
                        updateData(formData)
                    }
                },
                cancel: function(index) {
                    layer.close(index)
                }
            }

            layer.open(layerOption)
            form.render()
        })

        $('#import-cource').on('click', function() {
            layer.closeAll()
            layer.open({
                type: 1,
                offset: 'auto',
                title: '批量导入',
                content: importModalTemplate,
                //              url: "http://127.0.0.1:8080/user/importExp",
                url: 'http://39.104.97.6:8080/user/importExp',
                area: ['500px', '400px'],
                skin: 'import-modal',
                shade: 0.4,
                shadeClose: true,
                btn: ['提交', '取消'],
                yes: function(index, layero) {
                    layer.close(index)
                }
            })
            form.render()

            $('#upload').change(function(e) {
                var formData = new FormData()
                formData.append('file', e.target.files[0])

                upload.render({
                    elem: '#upload',
                    url: '/user/importExp',
                    data: {
                        file: formData
                    },
                    done: function(res, index, upload) {
                        //上传后的回调
                        layer.msg(res.msg)
                    },
                    accept: 'file'
                })
            })
        })

        $('#export-cource').click(function() {
            $.ajax({
                type: 'get',
                //              url: "http://127.0.0.1:8080/user/exportExcel",
                url: 'http://39.104.97.6:8080/user/exportExcel',
                async: false,
                success() {
                    // layout("111");
                }
            })
        })
    })
</script>

<style>
    #user_all {
    }

    .my-add-form {
        padding: 25px;
    }

    .system-tip-modal {
        padding: 50px;
        font-size: 16px;
    }

    .system-tip-modal .system-tips {
        margin-bottom: 50px;
    }

    .system-tip-modal .system-tip-form {
        text-align: center;
        margin-bottom: 20px;
    }

    .system-tip-modal .system-tip-form input {
        padding: 5px;
    }

    .layui-form-label {
        width: 80px;
    }

    .user-class .layui-select-title .layui-input,
    .layui-textarea {
        width: 100px;
    }

    .user-class .layui-form-select {
        width: 100px;
    }

    .user-remark {
        width: 63%;
    }

    .system-modal .layui-layer-content {
        text-align: center;
        line-height: 100px;
    }

    .user-edit-modal .layui-layer-content {
        padding: 20px;
    }
</style>
