<div id="virtualTest-details">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span
                >选课 > <span id="courseNameNav"></span> > 虚拟实验 >
                虚拟实验列表 > 虚拟实验信息 > <span id=""></span>></span
            >
        </div>
    </div>
    <div class="source-details-inner">
        <div class="layui-row">
            <div class="layui-col-md4 layui-form-item">
                <label class="layui-form-label ">实验名称</label>
                <span id="curriculumExperimentName"></span>
            </div>
            <div class="layui-col-md4 layui-form-item">
                <label class="layui-form-label ">实验类型</label>
                <span id="experimentType"></span>
            </div>
            <div class="layui-col-md4 layui-form-item">
                <label class="layui-form-label ">所属课程名称</label>
                <span id="courseName"></span>
            </div>
        </div>

        <div class="layui-row" id="noadd">
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">实验成绩</label>
                <span id="experimentRatio"></span>
            </div>
            <div class="layui-col-md6 layui-form-item">
                <label class="layui-form-label ">报告成绩</label>
                <span id="reportRatio"></span>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">实验要求</label>
                <div class="layui-col-md9">
                    <div id="require" style="line-height: 38px;"></div>
                    <div class="source-display unScorm-inner">
                        <div id="fileUrl"
                             style="width: 100%; height: 780px;"></div>
                        <div class="webgl-content"
                             id="u3dFileUrl"
                             style="width: 100%; height: 780px;display: none;"></div>
                    </div>
                    <div style=" display: none; color: red;"
                         id="showTip">
                        <div>推荐使用360浏览器兼容模式或者IE9以上</div>
                        <a href="http://47.105.130.130:8100/dataBank/exportCult3D"
                           style="color: red;text-decoration: underline;">若加载失败，点击安装Cult3D插件</a>
                    </div>    
                    <div
                        class="source-display"
                        id="scorm_fileUrl"
                        style="display: none"
                    >
                        <div id="mune_area">
                            <div class="tab_a" id="tab_b">
                                <ul class="tab_con tabcon_sy">
                                    <li id="tabcon1">
                                        <div
                                            class="munebtnlist"
                                            id="tabcon1_menulist"
                                        ></div>
                                    </li>
                                    <li id="tabcon2" class="hidden">
                                        <div class="munebtnlist">
                                            <div id="tabcon2_menulist"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="mune_btn" class="munebtna" data-zt="a"></div>
                        <div
                            id="pagecon"
                            style=" min-width: 900px; height: 500px;float: left">
                            <iframe
                                frameBorder="0"
                                id="innerTarget"
                                name="innerTarget"
                                src="iframe2.htm"
                                style="width: 100%; height: 100%"
                            ></iframe>
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
        <div class="layui-row" id="labReportDiv">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">实验报告</label>
                <div class="layui-col-md9">
                    <div class="layui-col-md10" id="labReport"></div>
                </div>
            </div>
        </div>
        <div class="layui-row" id="labReportAddressDiv">
                <div id="labReportFileUrl"
                 style="width: 100%; height: 500px;display: none;"></div>
            <span id="file_path" style="display: none;"></span>
            <!--<div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">上传实验报告</label>
                <div class="layui-col-md9">
                    <button
                        type="button"
                        class="layui-btn"
                        id="labReportAddress"
                    >
                        <i class="layui-icon">&#xe67c;</i>上传PDF
                        &lt;!&ndash;<span id="file_path" style="display: none;"></span>&ndash;&gt;
                    </button>
                    <span style="margin-left: 50px; color: red;"
                          id="typeTip"></span>
                </div>
            </div>-->
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label">实验累计用时</label>
                <span id="testTotleTime"></span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-form-item">
                <label class="layui-form-label "></label>
                <div>
                    <!--<div class="layui-btn primary-btn"
                         lay-submit
                         id="download">
                        下载
                    </div>
                    <div class="layui-btn primary-btn"
                         lay-submit
                         id="save">
                        暂存
                    </div>
                    <div class="layui-btn primary-btn" lay-submit id="submit">
                        提交
                    </div>-->
                    <div
                        class="layui-btn layui-btn-primary cancel-btn"
                        id="back"
                    >
                        返回
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="src/plugins/UnityLoader.js"></script>
<script src="src/plugins/UnityProgress.js"></script>
<script src="src/plugins/resource_url.js"></script>
<script src="src/plugins/menuTree.js"></script>
<script>
    layui.use(['form', 'admin', 'layedit', 'upload'], function() {
        var $ = layui.jquery,
            admin = layui.admin,
            layedit = layui.layedit,
            upload = layui.upload,
            conf = layui.conf,
            route = layui.router(),
            curriculumExperimentId = layui.sessionData('course')
                .curriculumExperimentId, // 实验课程课程id
            experimentId = layui.sessionData('course').experimentId, // 实验id
            curriculumId = layui.sessionData('course').coursePlanId, // 课程id
            type = route.search.type,
            startDate = new Date(),
            reportIndex, // 实验报告富文本
            testContent, // 资源快照状态
            dataType = 0, // 资源类型
            labReportAddress = '',//实验报告地址
            scromeChosenNode // scrome 选中node信息
            ,details = {}

        $('#save').on('click', function (){
            save()
        })
        $('#submit').on('click', function () {
            submit()
        })
        $('#back').on('click', function () {
            window.history.go(-1)
        })

        function getDetails ()  {
            admin.get({
                url:
                    '/vsMpTestRecord/startReLookTest?curriculumExperimentId=' +
                    curriculumExperimentId,
                success: function(res) {
                    if (!res.data) return
                    var data = res.data
                    details = data
                    $('#curriculumExperimentName').html(
                        data.curriculumExperimentName
                    )
                    $('#experimentType').html(data.experimentType)
                    $('#courseName').html(data.courseName)
                    $('#courseNameNav').html(data.courseName)
                    $('#require').html(data.require)
                    // $('#labReport').html(data.labReport)
                    $('#testTotleTime').html(data.testTotleTime)
                    dataType = res.data.dataType

                    // debugger
                    if (data.labReportAddress) {
                        //加载上传的实验报告
                        $('#labReportFileUrl').show()
                        var labReportFileUrl = conf.fileRequestUrl + '/' + labReportAddress
                        $('#labReportFileUrl').html(
                            '<iframe src="' +
                            labReportFileUrl +
                            '" width="100%" height="100%" frameborder="1"></iframe>'
                        )
                    }

                    //点击下载
                    $('#download').on('click', function () {
                        if (data.dataType != 5) {
                            layer.msg('此类型不支持下载')
                            return
                        }
                        download()

                    })
                    if (dataType !== 7) {
                        $('.unScorm-inner').show()
                    } else {
                        $('#showTip').show()
                    }

                    if (dataType == 5) {
                        $('#download').show()
                    } else {
                        $('#download').hide()                        
                    }
                    
                    if (res.data.dataType == 1) {
                        // 文档
                        var fileUrl =
                            conf.fileRequestUrl +
                            '/' +
                            JSON.parse(res.data.resourceIds)[0].url
                        $('#fileUrl').html(
                            '<iframe src="' +
                                fileUrl +
                                '" width="100%" height="100%" frameborder="1"></iframe>'
                        )
                    } else if (res.data.dataType == 2) {
                        // 图片
                        var list = JSON.parse(res.data.resourceIds),
                            str = ''
                        for (var i = 0; i < list.length; i++) {
                            str +=
                                '<img src="' +
                                conf.fileRequestUrl +
                                '/' +
                                list[i].url +
                                '" style="width: 100%; margin-bottom: 10px;">'
                        }
                        $('#fileUrl').html(str)
                    } else if (res.data.dataType == 3) {
                        // 视频
                        renderVideo(res.data)
                    } else if (res.data.dataType == 4) {
                        // flash
                        var fileUrl =
                            conf.fileRequestUrl +
                            '/' +
                            JSON.parse(res.data.resourceIds)[0].url
                        var width = $('.source-details-inner').width()
                        $('#fileUrl').html(
                            '<object class="flash_object"  width="' + width +'" height="' + $('#fileUrl').height() +'">'+
                            '<param name="src" value="'+ fileUrl +'" />'+
                            '<param name="quality" value="high" />'+
                            '<param value="transparent">'+
                            '<embed wmode="transparent" class="flash_object" src="' +
                            fileUrl +
                            '" type="application/x-shockwave-flash" width="' + width +'" height="' +
                            $('#fileUrl').height() +'" quality="high" /><object>'
                        )
                    } else if (res.data.dataType == 5) {
                        // exe
                        $('.unScorm-inner').hide();
                    } else if (res.data.dataType == 6) {
                        // U3D
                        $('#fileUrl').hide()
                        $('#u3dFileUrl').show()
                        var jsonFile = conf.fileRequestUrl + '/' + JSON.parse(res.data.resourceIds)[0].url.json
                        UnityLoader.instantiate('u3dFileUrl', jsonFile, {
                            onProgress: UnityProgress
                        })
                    } else if (res.data.dataType == 7) {
                        renderScrome(res.data)
                    }

                    if (res.data.correctType == 1) {
                        $('#labReportDiv').attr('style', 'display:none;')
                    }
                    if (res.data.correctType == 0) {
                        $('#labReportAddressDiv').attr('style', 'display:none;')
                    }
                    if (type === 'add') {
                        // 开始实验
                        $('#noadd').attr('style', 'display:none;')
                        reportIndex = layedit.build('labReport', {
                            tool: [
                                'strong', //加粗
                                'italic', //斜体
                                'underline', //下划线
                                'del', //删除线
                                '|', //分割线
                                'left', //左对齐
                                'center', //居中对齐
                                'right', //右对齐
                                'link' //超链接
                                //                    , 'image' //插入图片
                            ]
                        })
                        layedit.setContent(reportIndex, data.labReport)
                    } else if (type === 'review') {
                        // 复习实验
                        $('#noadd').attr('style', 'display:none;')
                        $('#save').attr('style', 'display:none;')
                        $('#submit').attr('style', 'display:none;')
                        /*$('#require').attr('disabled', 'true;')*/
                        $('#testContent').attr('disabled', 'true;')
                        $('#labReport').html(data.labReport)
                    } else if (type === 'check') {
                        // 查看成绩
                        $('#experimentRatio').html(data.experimentRatio)
                        $('#reportRatio').html(data.reportRatio)

                        $('#save').attr('style', 'display:none;')
                        $('#submit').attr('style', 'display:none;')
                        /*$('#require').attr('disabled', 'true;')*/
                        // $('#labReport').attr('disabled', 'true;')
                        $('#testContent').attr('disabled', 'true;')
                        $('#labReport').html(data.labReport)
                    }
                }
            })
        }
        getDetails()

        // 渲染视频
        // function renderVideo(data) {
        //     // debugger
        //     testContent = data.testContent || 0
        //     var fileUrl =
        //         conf.fileRequestUrl + '/' + JSON.parse(data.resourceIds)[0].url
        //     $('#fileUrl').html(
        //         '<video src="' +
        //             fileUrl +
        //             '" controls="controls" id="file_video_detail" style="width: 100%; height: 100%;" />'
        //     )
        //     var fileVideoDetail = document.getElementById('file_video_detail')
        //     fileVideoDetail.currentTime = testContent
        //     fileVideoDetail.onpause = function () {
        //         return (testContent = fileVideoDetail.currentTime)
        //     }
        //     fileVideoDetail.onended = function () {
        //         return (testContent = 0)
        //     }
            
        // }

        function renderVideo(data) {
            testContent = Number(data.testContent) || 0
            var fileUrl =
                conf.fileRequestUrl + '/' + JSON.parse(data.resourceIds)[0].url

            try {
                $('#fileUrl').html(
                    '<video src="' + fileUrl + '" controls="controls" id="file_video_detail" style="width: 100%; height: 100%;"></video>'
                )
                var fileVideoDetail = document.getElementById('file_video_detail')
                fileVideoDetail.currentTime = testContent
                fileVideoDetail.onpause = function () {
                    testContent = fileVideoDetail.currentTime
                }
                fileVideoDetail.onended = function () {
                    testContent = 0
                }
            } catch (error) {
                $('#fileUrl').html(
                    '<object src="'+ fileUrl +'" id="file_video_detail" style="width: 100%; height: 100%;">'+
                    '   <embed src="' + fileUrl + '" style="width: 100%; height: 100%;">'+
                    '   </embed>'+
                    '</object>'
                )
            }
        }

        // 渲染scrome
        function renderScrome(data) {
            $('#scorm_fileUrl').show()
            // scorm课件
            var sourceList = JSON.parse(JSON.parse(data.resourceIds)[0].url)
            var munebtn = document.getElementById('mune_btn')
            var mune = document.getElementById('mune_area')
            testContent = JSON.parse(data.testContent || '{}')

            for (var i = 0; i < sourceList.length; i++) {
                var floor = ''
                var list = sourceList[i].resourceName.split('.');
                var type = list[list.length - 1]
                for (var k = 0; k < Number(sourceList[i].floor); k++) {
                    floor += '-'
                }

                var nameRate = ''
                if (
                    sourceList.filter(function(s){s.parentId === sourceList[i].id})
                        .length == 0
                ) {
                    var nameStudented = Math.min(
                        testContent[sourceList[i].id] || 0,
                        sourceList[i].countTime
                    )
                    nameRate =
                        '(' +
                        (
                            (nameStudented * 100) /
                            sourceList[i].countTime
                        ).toFixed(2) +
                        '%)'
                }

                if (!type || (type !== 'html' && type !== 'htm')) {
                    addtree(
                        floor + sourceList[i].name + nameRate
                    )
                } else {
                    addtree(
                        floor + sourceList[i].name + nameRate,
                        conf.fileRequestUrl + '/' +
                        sourceList[i].resourceName,
                        'innerTarget',sourceList[i].id
                    )
                }
            }
            createtree('tabcon1_menulist')
            $('.menu-list').click(function() {
                changeScromeNode($(this).data('id'), $(this).data('href'))
            })
            var minWidth = ($('#scorm_fileUrl')[0].offsetWidth - $('#mune_area')[0].offsetWidth -
            $('#mune_btn')[0].offsetWidth) + 'px'
            var maxWidth = ($('#scorm_fileUrl')[0].offsetWidth - $('#mune_btn')[0].offsetWidth) + 'px'
            $('#pagecon').width(minWidth)
            munebtn.onclick = function() {
                var p = $('#pagecon')
                if (this.getAttribute('data-zt') == 'a') {
                    mune.style.display = 'none'
                    this.className = 'munebtnb'
                    this.setAttribute('data-zt', 'b')
                    p.css({
                        'min-width': maxWidth
                    })
                } else {
                    mune.style.display = 'block'
                    this.className = 'munebtna'
                    this.setAttribute('data-zt', 'a')
                    p.css({
                        'min-width': minWidth
                    })
                }
            }
        }

        // scrome 切换节点
        function changeScromeNode(id, href) {
            var list = sourceList[0].sourceName.split('.')
            var type = list[list.length - 1]
            if (type === 'swf') {
                getSWFUrl('pagecon', href)
            } else if (type === 'co') {
                getCODCRUrl('pagecon', href)
            }
            var now = new Date()
            if (scromeChosenNode) {
                // 非初次点击叶子节点
                testContent[scromeChosenNode.id] =
                    (now.getTime() - scromeChosenNode.startTime.getTime()) /
                        1000 +
                    (testContent[scromeChosenNode.id] || 0)
            }
            scromeChosenNode = {
                id: id,
                startTime: now
            }
        }

        // 暂存
        function save() {
            var endDate = new Date()
            var labReport = layedit.getContent(reportIndex) || ''
            var data = {
                curriculumExperimentId: curriculumExperimentId,
                curriculumId: curriculumId,
                experimentId: experimentId,
                dataType: dataType,
                startTimeStr: admin.dateFormat(startDate / 1000),
                endTimeStr: admin.dateFormat(endDate / 1000),
                useTime: (endDate.getTime() - startDate.getTime()) / 1000,
                testContent: dataType==7? JSON.stringify(testContent): testContent,
                labReport: labReport,
                labReportAddress: $('#file_path').html()
            }

            admin.post({
                url: '/testStaging/add',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.code === 200) {
                        layer.msg('暂存成功！')
                        window.history.back(-1)
                    } else {
                        layer.msg((res && res.msg) || '添加失败')
                    }
                },
                error: function (err){
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }

        // 提交
        function submit() {
            // debugger
            var endDate = new Date()
            var labReport = layedit.getContent(reportIndex) || ''
            var data = {
                testContent: JSON.stringify(testContent),
                curriculumExperimentId: curriculumExperimentId,
                curriculumId: curriculumId,
                experimentId: experimentId,
                totalTime: (endDate.getTime() - startDate.getTime()) / 1000,
                startTime: startDate.getTime(),
                endTime: endDate.getTime(),
                labReportAddress: labReportAddress,
                labReport: labReport
            }
            admin.post({
                url: '/vsMpTestRecord/addMpObject',
                data: JSON.stringify(data),
                success: function (res) {
                    layer.msg('提交成功')
                    window.history.back(-1)
                },
                error: function (err){
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }
        //文件上传
        var uploadInst = upload.render({
            elem: '#labReportAddress', //绑定元素
            url: conf.requestUrl + '/dataBank/oneFileUpload', //上传接口
            field: 'file',
            method: 'post',
            data: {
                type: 1
            },
            done: function(res) {
                if (res.code === 401) {
                    admin.logout()
                } else if (res.code === 200) {
                    $('#labReportFileUrl').show()
                    var labReportFileUrl = conf.fileRequestUrl + '/' + labReportAddress
                    $('#labReportFileUrl').html(
                        '<iframe src="' +
                        labReportFileUrl +
                        '" width="100%" height="100%" frameborder="1"></iframe>'
                    )
                    $('#file_path').html(res.data)
                    labReportAddress = res.data
                    layer.msg('上传成功')
                    $('#typeTip').html(res.data)
                } else {
                    layer.msg(res.msg || '上传失败')
                }
                layer.closeAll('loading') //关闭loading
            },
            error: function(err) {
                layer.msg(err.msg || '上传失败')
                layer.closeAll('loading') //关闭loading
            }
        })

        function getCODCRUrl(id, url) {
            var fileName = url
            document.getElementById(id).innerHTML =
                '<object classid="clsid:31B7EB4E-8B4B-11D1-A789-00A0CC6651A8" style = "width: 100%; height:100%;" codebase="http://www.cult3d.com/download/cult.cab#version=5,2,0,99" > ' +
                '<param name="SRC" value="' +
                fileName +
                '">' +
                '<param name="ANTIALIASING" value="0">' +
                '<embed pluginspage="http://www.cult3d.com/newuser/index.html"' +
                'style = "width: 100%; height:100%;"' +
                'src = "' +
                fileName +
                '" antialiasing="0" type="application/x-cult3d-object"></embed>' +
                '</object>'
        }

        function download() {
            
            window.open(
                conf.requestUrl +
                '/dataBank/downloadFile?filePath=' +
                JSON.parse(details.resourceIds)[0].url+
                '&id=' +
                JSON.parse(details.resourceIds)[0].id
            )
        }
    })
</script>
<style>
    #virtualTest-details {
    }

    .source-details-inner {
        padding: 20px 0;
    }

    #virtualTest-details .source-display {
        width: 100%;
        height: 780px;
        background: rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        position: relative;
    }

    #virtualTest-details .source-display.unScorm-inner{
        display: none;
        overflow: auto;
    }

    #virtualTest-details .source-display::-webkit-scrollbar {
        width: 12px;
    }

    #virtualTest-details .layui-form-item span {
        display: inline-block;
        padding: 9px 0px;
        font-size: 16px;
    }

    .layui-textarea {
        width: 100%;
    }

    #mune_area {
        width: 326px;
        height: 500px;
        float: left;
        overflow-x: hidden;
        overflow-y: auto;
        background: #a7b7c9;
    }

    #mune_btn {
        width: 16px;
        height: 500px;
        float: left;
    }

    .munebtna {
        background: url('pic/left.png') center center #4a5279 no-repeat;
        cursor: pointer;
    }

    .munebtnb {
        background: url('pic/right.png') center center #4a5279 no-repeat;
        cursor: pointer;
    }

    .hidden {
        display: none;
    }

    .tab1ys {
        width: 326px;
        height: 60px;
        border-bottom: #0d0f14 solid 5px;
    }

    .tab1ys li {
        width: 163px;
        float: left;
    }

    .tab1ys li a {
        width: 73px;
        height: 60px;
        background: #4b4b4b;
        display: block;
        position: relative;
        color: #fff;
        padding-left: 90px;
    }

    .tab1ys li a img {
        position: absolute;
        top: 7px;
        left: 40px;
        border: none;
    }

    .tab1ys li a.active {
        background: #f95900;
    }

    .munebtnlist {
        width: 280px;
        margin: 0px 0 0 0px;
    }

    .munebtnlist h4 {
        height: 16px;
        padding-left: 20px;
        background: url('pic/1_open.png') no-repeat;
    }

    #tabcon1 {
        padding: 20px 10px;
    }

    .blockhide {
        display: block;
    }

    .blockmove {
        overflow: hidden;
        height: 1px;
        display: block;
    }

    .blockshow {
        overflow: visible;
        display: none;
    }

    .hideme {
        overflow: visible;
        display: none;
    }

    .showme {
        overflow: visible;
        display: block;
    }
</style>
