<div id="score">
    <div class="score-title">
        <div class="score-title-location">
            <span>您的位置：</span>
            <span>统计管理 > 成绩统计分析</span>
        </div>
    </div>
    <div class="score-content">
        <div class="score-item">
            <div class="score-content-title">
                <h4><span id="collegeName"></span>所有学生成绩统计</h4>
                <div class="score-content-search">
                    <button class="search-confirm" id="score_detail_btn">
                        <img src="src/images/search.png">
                    </button>
                    <span class="search-project">所属专业</span>
                    <select name="" id="professionList" lay-filter="professionList">
                        <option value="">请选择所在专业</option>
                    </select>
                    <span class="search-project">所属班级</span>
                    <select name="" id="classList" lay-filter="classList">
                        <option value="">请选择所在行政班级</option>
                    </select>
                    <button class="layui-btn layui-btn-primary cancel-btn " id="source-add-cancle">
                        返回
                    </button>
                </div>
            </div>
            <table id="score_table" lay-filter="score_table"></table>
            <div class="app-table-page" id="score_page"></div>
        </div>
    </div>
</div>

<script>
    layui.use(['table'], function (table) {
        var $ = layui.jquery,
            table = layui.table,
            admin = layui.admin,
            laypage = layui.laypage,
            route = layui.router(),
            facultyId = route.search.facultyId
            collegeId = layui.sessionData('userInfo').userInfo.collegeId || 0,
            tableFilter = 'score_table';

        admin.get({
            url: '/vsMpFaculty/get?id=' + collegeId,
            success: function(res) {
                $('#collegeName').html(res.data.collegeName)
            },
            error: function(err) {
                layer.msg((err && err.msg) || '数据请求失败')
            }
        })

        // 所有学生成绩统计
        scoreTableOption = {
            page: false,
            skin: 'row, line',
            elem: '[lay-filter="' + tableFilter + '"]',
            cols: [
                [{
                    title: '序号',
                    field: 'id',
                    width: 80,
                    align: 'center',
                    type: 'numbers'
                }, {
                    title: '姓名',
                    field: 'userName',
                    align: 'center',
                }, {
                    title: '学（工）号',
                    field: 'snoOrJno',
                    align: 'center',
                }, {
                    title: '性别',
                    field: 'sex',
                    align: 'center',
                    templet: function(d) {return d.sex == 1? '男': '女'}
                }, {
                //     title: '账号',
                //     align: 'center',
                //     field: 'noPassStu',
                // }, {
                    title: '院系',
                    align: 'center',
                    field: 'facultyName',
                }, {
                    title: '操作',
                    align: 'center',
                    templet: function (d) {
                        return '<button class="course-set-btn" lay-event="check">查看</button>'
                    }
                }]
            ]
        }
        scorePageOption = {
            elem: 'score_page',
            limit: 10,
            first: '首页',
            last: '尾页',
            layout: ['first', 'prev', 'page', 'next', 'last', 'count', 'currLimit', 'curr', 'pageCount'],
            jump: function (obj, first) {
                //首次不执行
                if (!first) {
                    getScoreList(obj.curr)
                }
            }
        }
        function getScoreList(page) {
            admin.post({
                url: '/report/queryAllStuInfo',
                data: JSON.stringify({
                    rows: 10,
                    page: page,
                    collegeId: collegeId,
                    professionId: $('#professionList').val(),
                    classId: $('#classList').val(),
                    facultyId: facultyId
                }),
                success: function (res) {
                    scoreTableOption.data = (res.data && res.data.items) || [];
                    table.render(scoreTableOption)
                    scorePageOption.count = (res.data && res.data.total) || 0;
                    laypage.render(scorePageOption)
                },
                error: function(err) {layer.msg((err && err.msg) || '数据请求失败')}
            })
        }
        getScoreList(1)
        table.on('tool(score_table)', function (obj) {
            var data = obj.data //获得当前行数据
            var layEvent = obj.event;
            if(layEvent == 'check') {
                layui.sessionData('collegeSet', {key: 'studentId', value: data.id})
                admin.navigate('/statistics/stuExpe/v=' + Math.ceil(Math.random()*10000))
            }
        })

        // 专业列表
        function getProfessionList() {
            admin.get({
                url: '/vsMpProfession/getAllProByCollegeId?collegeId=' + collegeId,
                success: function(res) {
                    var options = '<option value="">请选择所在专业</option>'
                    res.data && res.data.forEach(function (item) {
                        options += '<option value="' + item.id + '">' + item.professionName + '</option>'
                    })
                    $('#professionList').val('')
                    $('#professionList').html(options)
                },
                error: function(err) {layer.msg((err && err.msg) || '数据请求失败')}
            })
        }

        getProfessionList()
        $('#professionList').change(function(e) {getClassList(e.currentTarget.value)})

        // 班级列表
        function getClassList(professionId) {
            admin.post({
                url: '/vsMpClass/getList',
                data: JSON.stringify({page: 1, rows: 20, key: professionId}),
                success: function(res) {
                    var options = '<option value="">请选择所在行政班级</option>'
                    res.data &&res.data.items && res.data.items.forEach(function (item) {
                        options += '<option value="' + item.id + '">' + item.className + '</option>'
                    })
                    $('#classList').val('')
                    $('#classList').html(options)
                },
                error: function(err) {layer.msg((err && err.msg) || '数据请求失败')}
            })
        }

        $('#score_detail_btn').click(function(){getScoreList(1)} )

        $('#source-add-cancle').on('click', function () {
            admin.navigate('/statistics/score')
        })

    })
</script>

<style>
    #score {
        padding: 20px;
    }

    #score .score-content {
        padding: 20px;
    }

    #score .score-item {
        border: 1px solid #ededed;
    }

    #score .score-content-title {
        padding: 10px;
        background: #d5eaff;
        font-weight: bold;
    }

    .score-content-title {
        clear: both;
        overflow: hidden;
    }

    .score-content-title h4 {
        float: left;
        padding: 10px;
        background: #d5eaff;
        font-weight: bold;
    }

    .score-content-title .score-content-search {
        float: right;
    }

    .score-content-title .search-confirm {
        float: right;
        height: 37px;
        /* lin */
    }

    .score-content-title .layui-input {
        float: right;
    }

    .search-project {
        height: 38px;
    }
</style>