<div id="statistics_score">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>统计管理 > 成绩统计分析</span>
        </div>
    </div>
    <div class="statistics-tech-content">
        <div class="tech-item">
            <div class="tech-item-title">各系学生在各个成绩区间所占人数的百分比趋势</div>
            <div id="statistics_score_count" style="height:400px;"></div>
        </div>
        <div class="tech-item">
            <div class="tech-item-title">各系学生在各个成绩区间所占人数的百分比趋势</div>
            <div id="statistics_score_status" style="height:400px;"></div>
        </div>
        <div class="tech-item">
            <div class="tech-item-title">各系开课成绩明细分析</div>
            <table id="statistics_score_table" lay-filter="statistics_score_table"></table>
            <div class="app-table-page" id="statistics_score_page"></div>
        </div>
        <div class="tech-item">
            <div class="tech-item-title">各系及格率和优秀率升降比例</div>
            <table id="statistics_score_rate_table" lay-filter="statistics_score_rate_table"></table>
            <div class="app-table-page" id="statistics_score_rate_page"></div>
        </div>
        <div class="tech-item">
            <div class="tech-item-title">各系学生及格人数和优秀人数对比分析</div>
            <div id="statistics_score_rate" style="height:400px;"></div>
        </div>
        <div class="tech-item">
            <div class="tech-item-title">实验成绩统计</div>
            <div id="test_score" style="height:400px;"></div>
            <div class="app-table-page" id="test_score_page"></div>
        </div>
    </div>
</div>

<script>
    layui.use(['echarts', 'table'], function (table) {

        var $ = layui.jquery,
            table = layui.table,
            admin = layui.admin,
            laypage = layui.laypage,
            collegeId = layui.data('userInfo').userInfo.collegeId,
            tableFilter = 'statistics_score_table',
            tableFilter1 = 'statistics_score_rate_table'

        function initChart(id, option) {
            echarts.init(document.getElementById(id), layui.echartsTheme).setOption(option);
        }

        // 各学院学生在各个成绩区间所占人数的百分比趋势
         function initStatisticsScoreCount (statisticsScoreCountList) {
            var xAxisData = [], goodList = [], passList = [];
            statisticsScoreCountList.forEach(function (score) {
                xAxisData.push(score.facultyName)
                goodList.push(score.goodStu)
                passList.push(score.passStu)
            })
            var scoreOption = {
                xAxis: {
                    data: xAxisData,
                },
                yAxis: {},
                tooltip: {
                    trigger: 'axis',
                    axisPointer: { // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                    },
                },
                legend: {
                    type: 'scroll',
                    orient: 'horizontal',
                    top: 10,
                    data: ['及格', '优秀'],
                },
                series: [{
                    name: '及格人数',
                    type: 'bar',
                    stack: '堆叠',
                    data: passList,
                    barGap: '-100%',
                }, {
                    name: '优秀人数',
                    type: 'bar',
                    stack: '堆叠',
                    data: goodList
                }]
            }
            initChart('statistics_score_count', scoreOption)
        }

        // 各学院学生在各个成绩区间所占人数的百分比趋势
         function initStatisticsScoreStatus(statisticsScoreStatusList) {
            var legendData = [], series = [];
            statisticsScoreStatusList.forEach(function (sl) {
                legendData.push(sl.facultyName)
                series.push({
                    name: sl.facultyName,
                    type: 'line',
                    stack: '堆叠',
                    data: [sl.aaa, sl.bbb, sl.ccc, sl.ddd, sl.eee]
                })
            })
            var scoreLinkOption = {
                legend: {
                    bottom: -20,
                    data: legendData,
                },
                tooltip: {
                    trigger: 'axis'
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['0-20', '20-40', '40-60', '60-80', '80-100']
                },
                yAxis: {
                    type: 'value'
                },
                series: series
            }
            initChart('statistics_score_status', scoreLinkOption)
        }

        // 各学院开课成绩明细分析
        statisticsScoreTableOption = {
            page: false,
            skin: 'row, line',
            data: [],
            elem: '[lay-filter="' + tableFilter + '"]',
            cols: [
                [{
                    title: '序号',
                    field: 'id',
                    width: 80,
                    align: 'center',
                    type: 'numbers'
                },
                    {
                        title: '学院',
                        field: 'facultyName',
                        align: 'center',
                    },
                    // {
                    //     title: '开课数',
                    //     field: 'courseCode',
                    //     align: 'center',
                    // },
                    {
                        title: '学生人数',
                        field: 'totleStu',
                        align: 'center',
                    },
                    {
                        title: '不及格人数',
                        align: 'center',
                        field: 'noPassStu',
                    },
                    {
                        title: '优秀人数',
                        align: 'center',
                        field: 'goodStu',
                    },
                    {
                        title: '操作',
                        align: 'center',
                        templet: function (d) {
                           return '<button class="course-set-btn" lay-event="check">查看</button>'
                        }
                    }
                ]
            ]
        }
        statisticsScorePageOption = {
            elem: 'statistics_score_page',
            limit: 10,
            first: '首页',
            last: '尾页',
            layout: ['first', 'prev', 'page', 'next', 'last', 'count', 'currLimit', 'curr', 'pageCount'],
            jump: function (obj, first) {
                //首次不执行
                if (!first) {
                    getStatisticsScoreList(obj.curr)
                }
            }
        }
        function getStatisticsScoreList(page) {
            admin.post({
                url: '/report/queryFacultyThird',
                data: JSON.stringify({rows: 10, page: page, key: collegeId}),
                success: function (res) {
                    statisticsScoreTableOption.data = (res.data && res.data.items) || [];
                    table.render(statisticsScoreTableOption)
                    statisticsScorePageOption.count = (res.data && res.data.total) || 0;
                    laypage.render(statisticsScorePageOption)
                },
                error: function(err) {
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }
        getStatisticsScoreList(1)
        table.on('tool(statistics_score_table)', function (obj) {
            debugger
            var layEvent = obj.event;
            if(layEvent == 'check') {
                admin.navigate('/statistics/scoreDetails/v=' + Math.ceil(Math.random()*10000)+'?facultyId='+obj.data.id)
            }
        })

        // 各学院及格率和优秀率升降比例
        statisticsScoreRateTableOption = {
            page: false,
            skin: 'row, line',
            data: [],
            elem: '[lay-filter="' + tableFilter1 + '"]',
            cols: [
                [{
                    title: '序号',
                    field: 'id',
                    width: 80,
                    align: 'center',
                    type: 'numbers'
                },
                    {
                        title: '学院',
                        field: 'facultyName',
                        align: 'center',
                    },
                    {
                        title: '及格率',
                        field: 'passPercent1',
                        align: 'center',
                        templet: function (d){
                            return d.passPercent1 + '%'
                        }
                    },
                    {
                        title: '+升  -降  =平',
                        field: 'responsor',
                        align: 'center',
                        templet: function (d) {
                            if(d.passPercent1 == d.passPercent2) return '=0%'
                            else if (d.passPercent1 > d.passPercent2) return '+' + (d.passPercent1 - d.passPercent2) + '%'
                            else return (d.passPercent1 - d.passPercent2) + '%'
                        }
                    },
                    {
                        title: '优秀率',
                        align: 'center',
                        field: 'goodPercent1',
                        templet: function (d) {
                            return d.goodPercent1 + '%'
                        }
                    },
                    {
                        title: '+升  -降  =平',
                        field: 'responsor',
                        align: 'center',
                        templet: function (d) {
                            if(d.goodPercent1 == d.goodPercent2) return '=0%'
                            else if (d.goodPercent1 > d.goodPercent2) return '+' + (d.goodPercent1 - d.goodPercent2) + '%'
                            else return (d.goodPercent1 - d.goodPercent2) + '%'
                        }
                    }
                ]
            ]
        }
        statisticsScoreRatePageOption = {
            elem: 'statistics_score_rate_page',
            limit: 10,
            first: '首页',
            last: '尾页',
            layout: ['first', 'prev', 'page', 'next', 'last', 'count', 'currLimit', 'curr', 'pageCount'],
            jump: function (obj, first) {
                //首次不执行
                if (!first) {
                    getStatisticsScoreRateTableList(obj.curr)
                }
            }
        }
         function getStatisticsScoreRateTableList(page) {
            admin.post({
                url: '/report/queryFacultyFour',
                data: JSON.stringify({rows: 10, page: page, key: collegeId}),
                success: function (res) {
                    statisticsScoreRateTableOption.data = (res.data && res.data.items) || [];
                    table.render(statisticsScoreRateTableOption)
                    statisticsScoreRatePageOption.count = (res.data && res.data.total) || 0;
                    laypage.render(statisticsScoreRatePageOption)
                },
                error: function(err){
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }
        getStatisticsScoreRateTableList(1)

        // 各学院学生及格人数和优秀人数对比分析
        function initStatisticsScoreRate(statisticsScoreRateList) {
            var xAxisData = [], goodStuDYXQList = [], passStuDYXQList = [], goodStuJYXNList = [],
                passStuJYXNList = [], goodStuJYXQList = [], passStuJYXQList = [], goodStuJLXNList = [],
                passStuJLXNList = [], goodStuJSXNList = [], passStuJSXNList = []
            statisticsScoreRateList.forEach(function(score) {
                xAxisData.push(score.facultyName)
                goodStuDYXQList.push(score.DQXQgoodStu)
                passStuDYXQList.push(score.DQXQpassStu)
                goodStuJYXNList.push(score.JYXNgoodStu)
                passStuJYXNList.push(score.JLXNpassStu)
                goodStuJYXQList.push(score.JYXQgoodStu)
                passStuJYXQList.push(score.JYXQpassStu)
                goodStuJLXNList.push(score.JLXNgoodStu)
                passStuJLXNList.push(score.JLXNpassStu)
                goodStuJSXNList.push(score.JSXNgoodStu)
                passStuJSXNList.push(score.JSXNpassStu)
            })
            var rateOption = {
                legend: {
                    bottom: -10,
                    data: ['当前学期 及格人数', '当前学期 优秀人数', '近一学年 及格人数', '近一学年 优秀人数', '近一学期 及格人数',
                        '近一学期 优秀人数', '近两学年 及格人数', '近两学年 优秀人数', '近三学年 及格人数', '近三学年 优秀人数',],
                },
                tooltip: {
                    trigger: 'axis'
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: xAxisData,
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    name: '当前学期 及格人数',
                    type: 'line',
                    stack: '堆叠',
                    data: passStuDYXQList
                }, {
                    name: '当前学期 优秀人数',
                    type: 'line',
                    stack: '堆叠',
                    data: goodStuDYXQList
                }, {
                    name: '近一学年 及格人数',
                    type: 'line',
                    stack: '堆叠',
                    data: passStuJYXNList
                }, {
                    name: '近一学年 优秀人数',
                    type: 'line',
                    stack: '堆叠',
                    data: goodStuJYXNList
                }, {
                    name: '近一学期 及格人数',
                    type: 'line',
                    stack: '堆叠',
                    data: passStuJYXQList
                }, {
                    name: '近一学期 优秀人数',
                    type: 'line',
                    stack: '堆叠',
                    data: goodStuJYXQList
                }, {
                    name: '近两学年 及格人数',
                    type: 'line',
                    stack: '堆叠',
                    data: passStuJLXNList
                }, {
                    name: '近两学年 优秀人数',
                    type: 'line',
                    stack: '堆叠',
                    data: goodStuJLXNList
                }, {
                    name: '近三学年 及格人数',
                    type: 'line',
                    stack: '堆叠',
                    data: passStuJSXNList
                }, {
                    name: '近三学年 优秀人数',
                    type: 'line',
                    stack: '堆叠',
                    data: goodStuJSXNList
                }]
            }

            initChart('statistics_score_rate', rateOption)
        }

        // 实验成绩统计
         function initTestScoreTable(testScoreList) {
            var yAxisData = [], aaaList = [], bbbList = [], cccList = [];
            testScoreList.forEach(function(score) {
                yAxisData.push(score.expName)
                aaaList.push(score.aaa)
                bbbList.push(score.bbb)
                cccList.push(score.ccc)
            })
            var testScoreOption = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: { // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                legend: {
                    bottom: 10,
                    data: ['0-60分', '60-79分', '80-100分'],
                },
                xAxis: {

                },
                yAxis: {
                    data: yAxisData
                },
                series: [{
                    name: '0-60分',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'insideRight'
                        }
                    },
                    data: aaaList
                },
                    {
                        name: '60-79分',
                        type: 'bar',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'insideRight'
                            }
                        },
                        data: bbbList
                    }, {
                        name: '80-100分',
                        type: 'bar',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'insideRight'
                            }
                        },
                        data: cccList
                    }
                ]
            }

            initChart('test_score', testScoreOption)
        }
        testScoreRatePageOption = {
            elem: 'test_score_page',
            limit: 10,
            first: '首页',
            last: '尾页',
            layout: ['first', 'prev', 'page', 'next', 'last', 'count', 'currLimit', 'curr', 'pageCount'],
            jump: function (obj, first) {
                //首次不执行
                if (!first) {
                    getTestScoreList(obj.curr)
                }
            }
        }
        function getTestScoreList(page) {
            admin.post({
                url: '/report/queryCollegeExpAndScoreArea',
                data: JSON.stringify({rows: 10, page: page}),
                success: function(res) {
                    initTestScoreTable(res.data.items)
                    testScoreRatePageOption.count = (res.data && res.data.total) || 0;
                    laypage.render(testScoreRatePageOption)
                },
                error: function(err){
                    layer.msg((err && err.msg) || '数据请求失败')
                }
            })
        }
        getTestScoreList(1)

        // 初始化页面数据
        admin.get({
            url: '/report/queryXInfo?collegeId=' + collegeId,
            success: function(res) {
                if (res.data) {
                    initStatisticsScoreCount(res.data[0].first)
                    initStatisticsScoreStatus(res.data[0].second)
                    initStatisticsScoreRate(res.data[0].five)
                    // initTestScoreTable(res.data[0].six)
                }
            },
            error: function(err){layer.msg((err && err.msg) || '数据请求失败')}
        })

    })
</script>

<style>
    #statistics_score {}

    #statistics_score .statistics-tech-content {
        padding: 20px;
    }

    #statistics_score .tech-item {
        border: 1px solid #ededed;
    }

    #statistics_score .tech-item-title {
        padding: 10px;
        background: #d5eaff;
        font-weight: bold;
    }

    #statistics_score {
        padding: 20px;
    }
</style>