<div id="statistics_source">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>统计管理 > 资源统计管理</span>
        </div>
    </div>
    <div class="statistics-source-content">
        <div class="source-content-item">
            <h4>全系资源库数量及详细信息统计</h4>
            <table id="source_detail_table" lay-filter="source_detail_table"></table>
        </div>
        <div class="source-content-item">
            <div class="source-content-title">
                <h4>资源列表详情</h4>
                <div class="source-content-search">
                    <button class="search-confirm" id="source_detail_btn">
                        <img src="src/images/search.png">
                    </button>
                    <input type="text" class="layui-input" placeholder="请输入关键字" id="source_detail_key">
                </div>
            </div>
            <table id="sourcelist_detail_table" lay-filter="sourcelist_detail_table"></table>
            <div class="app-table-page" id="sourcelist_detail_page"></div>
        </div>
        <div class="source-content-item">
            <h4>各系资源库数量及详细信息统计</h4>
            <div>
                <span>选择系：</span>
                <select name="" id="facultyList" class="layui-select">
                    <option value="">全部</option>
                </select>
            </div>
            <table id="faculty_detail_table" lay-filter="faculty_detail_table"></table>
        </div>
        <div class="source-content-item">
            <div class="source-content-title">
                <h4>资源列表详情</h4>
                <div class="source-content-search">
                    <button class="search-confirm"  id="faculty_detail_btn">
                        <img src="src/images/search.png">
                    </button>
                    <input type="text" class="layui-input" placeholder="请输入关键字" id="faculty_detail_key">
                </div>
            </div>
            <table id="faculty_sourcelist_detail_table" lay-filter="faculty_sourcelist_detail_table"></table>
            <div class="app-table-page" id="faculty_sourcelist_detail_page"></div>
        </div>
    </div>
</div>

<script>
    layui.use(['table'], function (table) {
        var $ = layui.jquery,
            table = layui.table,
            laypage = layui.laypage,
            admin = layui.admin;

        // 获取学院管理员的学院id
        collageId = layui.data('userInfo').collageId

        // 查询系列表
        admin.post({
            url: '/vsMpFaculty/getList',
            data: JSON.stringify({page: 1, rows: 100, key: collageId}),
            success: res => {
                if (res.data && res.data.items && res.data.items.length > 0) {
                    facultyList = res.data.items
                    var options = '<option value="">全部</option>'
                    res.data.items && res.data.items.forEach(item => options += '<option value="' + item.id + '">' + item.facultyName + '</option>')
                    $('#facultyList').html(options)
                }
            },
            error: err => layer.msg((err && err.msg) || '数据请求失败')
        })
        $('#facultyList').change(e => {
            querySourceByFacultyId(e.currentTarget.value)
            // @TODO 更新资源列表详情
        })

        // 资源库数量及详细信息统计
        sourceDetailOption = (filterId, data) => {
            return {
                page: false,
                skin: 'row, line',
                data: data,
                elem: '[lay-filter="' + filterId + '"]',
                cols: [
                    [{
                        title: '资源总数',
                        field: 'allTimes',
                        align: 'center',
                        rowspan: 2
                    },
                        {
                            title: '资源类型',
                            field: 'courceName',
                            align: 'center',
                            colspan: 7
                        }
                    ],
                    [{
                        title: '文档资源',
                        align: 'center',
                        field: 'docTimes',
                    }, {
                        title: '图片资源',
                        align: 'center',
                        field: 'picTimes',
                    }, {
                        title: '视频资源',
                        align: 'center',
                        field: 'videoTimes',
                    }, {
                        title: 'flash资源',
                        align: 'center',
                        field: 'flashTimes',
                    }, {
                        title: 'EXE资源',
                        align: 'center',
                        field: 'exeTimes',
                    }, {
                        title: 'U3D资源',
                        align: 'center',
                        field: 'u3dTimes',
                    }, {
                        title: 'scorm课件资源',
                        align: 'center',
                        field: 'scormTimes',
                    }]
                ]
            }
        }
        querySourceByFacultyId = facultyId => {
            admin.get({
                url: '/report/querySourceByFacultyId' + (facultyId &&  facultyId != undefined && facultyId != ''? ('?facultyId=' + facultyId): ''),
                success: res => {
                    innerData = {
                        allTimes: 0,
                        docTimes: 0,
                        picTimes: 0,
                        videoTimes: 0,
                        flashTimes: 0,
                        exeTimes: 0,
                        u3dTimes: 0,
                        scormTimes: 0
                    };
                    if(res.code === 200) {
                        res.data.forEach(item => {
                            innerData.allTimes += item.COUNT
                            innerData[["", "docTimes", "picTimes", "videoTimes", "flashTimes", "exeTimes", "u3dTimes", "scormTimes"][item.type]] = item.COUNT
                        })
                    }
                    // 渲染全系
                    if(!facultyId || facultyId == undefined || facultyId == '') {
                        table.render(sourceDetailOption('source_detail_table', [innerData]))
                    }
                    // 渲染系
                    table.render(sourceDetailOption('faculty_detail_table', [innerData]))
                }
            })
        }
        querySourceByFacultyId();

        // 资源列表详情
        sourcelistDetailTableOption = (filter, data) => {
            return {
                page: false,
                skin: 'row, line',
                data: data,
                elem: '[lay-filter="' + filter + '"]',
                cols: [
                    [{
                        title: '序号',
                        field: 'insc_id',
                        width: 80,
                        align: 'center',
                    },
                        {
                            title: '资源名称',
                            field: 'name',
                            align: 'center',
                        },
                        {
                            title: '所属学院',
                            field: 'faculty_name',
                            align: 'center',
                        },
                        {
                            title: '资源类型',
                            field: 'type_name',
                            align: 'center',
                        },
                        {
                            title: '点击量',
                            align: 'center',
                            field: 'click_num',
                        },
                        {
                            title: '下载量',
                            align: 'center',
                            field: 'download_num',
                        }
                    ]
                ]
            }
        }
        sourcelistDetailPageOption = (tableFilter, pageFilter, inputVal, count) => {
            return {
                elem: pageFilter,
                count: count,
                limit: 10,
                first: '首页',
                last: '尾页',
                layout: ['first', 'prev', 'page', 'next', 'last', 'count', 'currLimit', 'curr', 'pageCount'],
                jump: (obj, first) => {
                    //首次不执行
                    if (!first) {
                        querySourceByFacultyIdInfo(tableFilter, pageFilter, obj.curr, inputVal)
                    }
                }
            }
        }

        querySourceByFacultyIdInfo = (tableFilter, pageFilter, page, key) => {
            admin.post({
                url: '/report/querySourceByFacultyIdInfo',
                data: JSON.stringify({
                    page: page,
                    rows: 10,
                    key: key,
                    desc: true
                }),
                success: res => {
                    // 测试数据
                    // var test = {
                    //     code: 200,
                    //     data: {
                    //         total: 53,
                    //         items: [
                    //             {
                    //                 "faculty_name": "兰大" + key,
                    //                 "name": "资源名称"+ key,
                    //                 "click_num": 12,
                    //                 "type": 1,
                    //                 "download_num": 20
                    //             }, {
                    //                 "faculty_name": "兰大+ key",
                    //                 "name": "1"+ key,
                    //                 "click_num": 0,
                    //                 "type": 2,
                    //                 "download_num": 0
                    //             }
                    //         ]
                    //     }
                    // }
                    // res = test
                    var count = 0, data = []
                    if(res.data && res.data.items) {
                        var startInscId = (page-1) * 10 + 1
                        res.data.items.forEach(item => {
                            item.insc_id = startInscId++
                            item.type_name = ["", "文档资源", "图片资源", "视频资源", "flash资源", "EXE资源", "U3D资源", "scorm课件资源"][item.type]
                        })
                        data = res.data.items
                        count = (res.data && res.data.total) || 0
                    }
                    table.render(sourcelistDetailTableOption(tableFilter, data))
                    laypage.render(sourcelistDetailPageOption(tableFilter, pageFilter, key, count))
                }
            })
        }
        querySourceByFacultyIdInfo('sourcelist_detail_table', 'sourcelist_detail_page', 1, '');
        querySourceByFacultyIdInfo('faculty_sourcelist_detail_table', 'faculty_sourcelist_detail_page', 1, '');
        $('#faculty_detail_btn').click(() => querySourceByFacultyIdInfo('faculty_sourcelist_detail_table', 'faculty_sourcelist_detail_page', 1, $('#faculty_detail_key').val()))
        $('#source_detail_btn').click(() => querySourceByFacultyIdInfo('sourcelist_detail_table', 'sourcelist_detail_page', 1, $('#source_detail_key').val()))
    })
</script>

<style>
    .statistics-source-content {
        padding: 0 20px 20px;
    }

    .statistics-source-content h4 {
        font-size: 16px;
        padding: 10px 10px 10px 0;
    }

    .source-content-title {
        clear: both;
        overflow: hidden;
    }

    .source-content-title h4 {
        float: left;
    }

    .source-content-title .source-content-search {
        float: right;
    }

    .source-content-title .search-confirm {
        float: right;
        height: 37px;
        /* lin */
    }

    .source-content-title .layui-input {
        float: right;
    }
</style>