<div id="statistics_test">
    <div class="course-title">
        <div class="course-title-location">
            <span>您的位置：</span>
            <span>统计管理 > 虚拟实验统计</span>
        </div>
    </div>

    <div class="statistics-tech-content">
        <div class="tech-item">
            <div class="tech-item-title">全院实验数量统计</div>
            <div id="statistics_test_count" style="height:400px;"></div>
        </div>
        <div class="tech-item">
            <div class="tech-item-title">全院实验使用情况统计</div>
            <div id="statistics_test_status" style="height:400px;"></div>
        </div>
        <!--<div class="tech-item">
            <div class="tech-item-title">各系实验数量统计</div>
            <div id="statistics_test_nums" style="height:400px;"></div>
        </div>-->
        <!--<div class="tech-item">
            <div class="tech-item-title">各系实验使用情况统计</div>
            <div id="college_test_count" style="height:400px;"></div>
        </div>-->
        <!--<div class="tech-item">
            <div class="tech-item-title">
                各系学生及格人数和优秀人数对比分析
            </div>
            <div id="result_count" style="height:400px;"></div>
        </div>-->
    </div>
</div>

<script>
    layui.use(['table', 'echarts'], function(table) {
        var $ = layui.jquery,
            table = layui.table,
            admin = layui.admin
        // tableFilter = 'tech_status_table'

        // 获取学院管理员的学院id
        collegeId = layui.data('userInfo').userInfo.collegeId

        function initChart(id, option) {
            echarts
                .init(document.getElementById(id), layui.echartsTheme)
                .setOption(option)
        }

        getAllNums()
        testUseStatus()
        // getCollegeTestNums()
        // getCollegeTestUseNums()
        // getStudentNums()

        // 全院实验数量统计
        function getAllNums() {
            admin.get({
                url: '/report/queryGlobleCollegeExpCount?collegeId=' + collegeId,
                success: function(res) {
                    var nameList = []
                    var dataList = []

                    res.data.forEach(function(item) {
                        nameList.push(item.experimentName)
                        dataList.push(item.experimentCount)
                    })
                    var option = {
                        tooltip: {
                            trigger: 'axis'
                        },
                        xAxis: {
                            name: '实验类型',
                            type: 'category',
                            data: nameList
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [
                            {
                                data: dataList,
                                type: 'bar',
                                barWidth: 70
                            }
                        ]
                    }

                    initChart('statistics_test_count', option)
                }
            })
        }

        // 全院实验使用情况统计
        function testUseStatus() {
            admin.get({
                url: '/report/queryGlobleCollegeUseInfo?collegeId=' + collegeId,
                success: function(res) {
                    var nameList = []
                    var studentCountList = []
                    var teacherCountList = []

                    res.data.forEach(function(item) {
                        nameList.push(item.typeName)
                        studentCountList.push(item.studentCount)
                        teacherCountList.push(item.teacherStudent)
                    })
                    var statusOption = {
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            }
                        },
                        xAxis: [
                            {
                                type: 'category',
                                axisTick: {
                                    show: false
                                },
                                data: nameList
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        legend: {
                            type: 'scroll',
                            orient: 'horizontal',
                            top: 10,
                            data: ['学生参与人数', '教师安排人次']
                        },
                        series: [
                            {
                                name: '学生参与人数',
                                type: 'bar',
                                barGap: 0,
                                data: studentCountList,
                                barWidth: 70
                            },
                            {
                                name: '教师安排人次',
                                type: 'bar',
                                data: teacherCountList,
                                barWidth: 70
                            }
                        ]
                    }
                    initChart('statistics_test_status', statusOption)
                }
            })
        }

        // 各系实验数量统计
        // function getCollegeTestNums() {
        //     admin.get({
        //         url: '/report/queryExperimentForCollege',
        //         success: res => {
        //             var xAxisData = [], legendData = [], series = []
        //             res.data.forEach(college => {
        //                 xAxisData.push(college.collegeName)
        //                 college.data.forEach(detail => !legendData.includes(detail.typeName || '错误数据') && legendData.push(detail.typeName || '错误数据'))
        //             })
        //
        //             series = legendData.map(legend => {
        //                 return {
        //                     name: legend,
        //                     type: 'bar',
        //                     stack: '总量',
        //                     label: {
        //                         normal: {
        //                             show: true,
        //                             position: 'insideRight',
        //                             formatter: function (params) {
        //                                 if (params.value > 0) {
        //                                     return params.value;
        //                                 } else {
        //                                     return '';
        //                                 }
        //                             }
        //                         }
        //                     },
        //                     data: xAxisData.map(collegeName => {
        //                         var t = res.data.filter(college => college.collegeName === collegeName)[0].data.filter(college => legend === college.typeName)
        //                         if(t && t.length > 0) return t[0].expCount
        //                         return 0
        //                     })
        //                 }
        //             })
        //
        //             var numsOption = {
        //                 tooltip: {
        //                     trigger: 'axis',
        //                     axisPointer: {
        //                         // 坐标轴指示器，坐标轴触发有效
        //                         type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
        //                     }, formatter: function(params, ticket, callback) {
        //                         return params[0].axisValue + "<br />" +
        //                             params.filter(p => p.value > 0).map(p => {
        //                                 return '<span style="color:'+p.color+'">●</span>'+p.seriesName + ': ' + p.value
        //                             }).join("<br />")
        //                     }
        //                 },
        //                 legend: {
        //                     type: 'scroll',
        //                     orient: 'horizontal',
        //                     top: 10,
        //                     data: legendData
        //                 },
        //                 xAxis: {
        //                     type : 'category',
        //                     data: xAxisData
        //                 },
        //                 yAxis: {
        //                     type : 'value'
        //                 },
        //                 series: series
        //             }
        //             initChart('statistics_test_nums', numsOption)
        //         }
        //     })
        // }

        // 各系实验使用情况统计
        // function getCollegeTestUseNums() {
        //     admin.get({
        //         url: '',
        //         success: res => {
        //             var xAxisData = [], studentCountList = [], teacherCountList = []
        //             res.data.forEach(college => {
        //                 xAxisData.push(college.collegeName)
        //                 studentCountList.push(college.studentCount)
        //                 teacherCountList.push(college.teacherCount)
        //             })
        //
        //             var collegeStatusOption = {
        //                 xAxis: {
        //                     data: xAxisData
        //                 },
        //                 yAxis: {},
        //                 tooltip: {
        //                     trigger: 'axis',
        //                     axisPointer: {
        //                         // 坐标轴指示器，坐标轴触发有效
        //                         type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
        //                     }
        //                 },
        //                 legend: {
        //                     type: 'scroll',
        //                     orient: 'horizontal',
        //                     top: 10,
        //                     data: ['学生参与人数', '教师安排人次']
        //                 },
        //                 series: [
        //                     {
        //                         name: '学生参与人数',
        //                         type: 'bar',
        //                         stack: '堆叠',
        //                         data: studentCountList,
        //                         barGap: '-100%'
        //                     },
        //                     {
        //                         name: '教师安排人次',
        //                         type: 'bar',
        //                         stack: '堆叠',
        //                         data: teacherCountList
        //                     }
        //                 ]
        //             }
        //             initChart('college_test_count', collegeStatusOption)
        //         }
        //     })
        // }

        // 各系学生及格人数和优秀人数对比分析
        // function getStudentNums() {
        //     admin.get({
        //         url: '',
        //         success: res => {
        //             var xAxisData = [], passCountList = [], goodCount = []
        //             res.data.forEach(college => {
        //                 xAxisData.push(college.collegeName)
        //                 passCountList.push(college.passCount)
        //                 goodCount.push(college.goodCount)
        //             })
        //
        //             var resultOption = {
        //                 xAxis: {
        //                     data: xAxisData
        //                 },
        //                 yAxis: {},
        //                 tooltip: {
        //                     trigger: 'axis',
        //                     axisPointer: {
        //                         // 坐标轴指示器，坐标轴触发有效
        //                         type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
        //                     }
        //                 },
        //                 legend: {
        //                     type: 'scroll',
        //                     orient: 'horizontal',
        //                     top: 10,
        //                     data: ['及格人数', '优秀人数']
        //                 },
        //                 series: [
        //                     {
        //                         name: '及格人数',
        //                         type: 'bar',
        //                         stack: '堆叠',
        //                         data: passCountList,
        //                         barGap: '-100%'
        //                     },
        //                     {
        //                         name: '优秀人数',
        //                         type: 'bar',
        //                         stack: '堆叠',
        //                         data: goodCount
        //                     }
        //                 ]
        //             }
        //             initChart('result_count', resultOption)
        //         }
        //     })
        // }

    })
</script>

<style>
    #statistics_test {
    }

    #statistics_test .statistics-tech-content {
        padding: 20px;
    }

    #statistics_test .tech-item {
        border: 1px solid #ededed;
    }

    #statistics_test .tech-item-title {
        padding: 10px;
        background: #d5eaff;
        font-weight: bold;
    }

    #statistics_test_count {
        padding: 20px;
    }
</style>
